.new-channel-dropdown.dropdown--menu.dropdown--menu--new-channel
  .new-channel-btn.iconic(data-glyph="plus").js-dropdown-trigger &nbsp;New channel
  .dropdown.new-channel-dropdown__container
    //- rendered by client