div(class="grid__block grid__block--#{block.get('class').toLowerCase()}")
  .grid__block__inner(class="grid__block__inner--privacy-#{ block.getVisibility() }")
    .grid__block__content.valign-outer
      .valign-inner
        - if(block.get('class') == 'Channel')
          input.grid__block__editable-title(type="text" value="")
          .grid__block__channel__stats
            ul.grid__block__channel__stats__list
              li by #{block.get('user').username}
              li #{block.get('length')} blocks


  .grid__block__privacy--setting
    label Privacy
    ul.breadcrumb.toggle-group(data-key="filter")
      li: a(href="#" data-key='privacy' data-value='public').metadata--selector__option.default.is-active Open
      li: a(href="#" data-key='privacy' data-value='closed').metadata--selector__option Closed
      li: a(href="#" data-key='privacy' data-value='private').metadata--selector__option Private

  button.new-connection__done-button.button--inblock.button--inblock--bottom Create Channel