div(class="grid__block grid__block--#{block.get('class').toLowerCase()}")
  .grid__block__inner(class="grid__block__inner--privacy-#{ block.getVisibility() }")
    .grid__block__content.valign-outer
      .valign-inner
        - if(block.get('class') == 'Channel')
          input.grid__block__editable-title(type="text" value="")
          .grid__block__channel__stats
            ul.grid__block__channel__stats__list
              li by #{block.get('user').username}
              li #{block.get('length')} blocks