header
  color: black
  margin-bottom: 4em
  text-shadow: 0 0 1px rgba(51,51,51,0.1);

  .username
    font-weight: 600

  .channel
    // text-decoration: underline

  .active
    color: black

  .separator
    margin: 0 0.25em
    font-weight: bold

  colors = 'closed' closed, 'public' public, 'private' private
  for color in colors
    {'.privacy-' + color[0]}
     color: color[1]