header
  color: black
  margin-bottom: 4em

  .username
    font-weight: 600

  .channel
    // text-decoration: underline

  .active
    color: black

  .separator
    margin: 0 0.25em

  .privacy-closed
    color: #FF6702