header.path
  h2
    span.root
      a(href='/') Are.na
    span.separator /
    span.username
      a(href="/" + user.get('slug'))=user.get('username')
    if channel
      span.separator /
      span.active.channel(class="privacy-#{channel.get('status')}")
        = channel.get('title')