header
  color: black
  margin-bottom: 4em

  .username
    font-weight: 600

  .channel
    // text-decoration: underline

  .active
    color: black

  .separator
    margin: 0 0.25em

  colors = 'closed' closed, 'public' public, 'private' private
  for color in colors
    {'.privacy-' + color[0]}
     color: color[1]