p.Type: span.Color--state-premium
  | PRIVACY

p.Type.Type--lh-tall: span.Color--state-premium
  | Unlimited private blocks
  br
  | Hide from search engines

p.Type: span.Color--state-premium
  | ACCESS

p.Type.Type--lh-tall: span.Color--state-premium
  | Early access to new products and features

p.Type: span.Color--state-premium
  | TEAMS AND STUDENTS

p.Type.Type--lh-tall: span.Color--state-premium
  | See our #[a(href="/education") education page] for students and teachers discounts.
  br
  | For business and other organizations plans please contact 
  a(href="mailto:help@are.na") help@are.na
