p.Type: span.Color--state-premium
  | PRIVACY

p.Type.Type--lh-tall: span.Color--state-premium
  | Unlimited private blocks
  br
  | Hide from search engines

p.Type: span.Color--state-premium
  | ACCESS

p.Type.Type--lh-tall: span.Color--state-premium
  | Early access to new products and features (mobile app coming this month))
  br
  | Custom research support and consultation session
