h3 Premium features you&rsquo;re missing out on

ul
  li Quick search
  li Channel mute
  li List view
  li Hide from search engines
  li Channel management tool
  li Custom profile info

.premium-cta__submit
  button.button--wide.button--border.js-cta
    | Register for Premium
