//- TODO: [premium_2] Delete
//- TODO: Insert links to, as of yet unwritten, blog posts

if user.get('is_premium')
  section.Section
    h5.Type.Type--size-h5: span.Color--state-premium
      | Announcing new plan structures

    p.Type.Type--lh-tall: span.Color--state-premium
      | Starting on August 23, Are.na is changing the way Basic and Premium plans work. Among other changes, free users will be limited to 100 total private blocks. Premium members will have all the same tools and features, along with early access to the new mobile app and additional support. To learn more about how plans and pricing are changing, visit here.

unless user.get('is_premium')
  if user.isEligibleForFreeYear()
    h5.Type.Type--size-h5: span.Color--state-premium
      | Congrats, you&rsquo;re eligible for 1 year of FREE Premium.

    p.Type.Type--lh-tall: span.Color--state-premium
      | Starting on August 23, Are.na is changing the way Basic and Premium plans work (learn more here). Among other changes, free users will be limited to 100 total private blocks. Since you’re affected by Are.na’s new pricing, we want to make the transition a little easier. Upgrade to Premium below, and use the code FREEYEAR.

  else
    h5.Type.Type--size-h5: span.Color--state-premium
      | Congrats, you’re eligible for 1 month of FREE Premium.

    p.Type.Type--lh-tall: span.Color--state-premium
      | Starting on August 23, Are.na is changing the way Basic and Premium plans work (learn more here). Among other changes, free users will be limited to 100 total private blocks. You’re not affected right now, but if you reach the limit we want to make the transition a little easier. Upgrade to Premium below, and use the code FREEMONTH.

  p.Type: strong.Color--state-premium
    | Premium Features

  include ./features

  button.Button.Button--divider.Color--state-premium.js-cta(
    data-plan= (user.isEligibleForFreeYear() ? 'premium_1' : 'monthly_premium')
    data-coupon= (user.isEligibleForFreeYear() ? 'freeyear' : 'freemonth')
  ) Upgrade to Premium
