.OnboardingGuide
  .OnboardingGuide__pane
    ol.OnboardingSteps
      li.OnboardingStep
        | <span>1.</span> Channels
      li.OnboardingStep
        | <span>2.</span> Connecting
      li.OnboardingStep.OnboardingStep--active
        | <span>3.</span> Profile and Feed
      li.OnboardingStep
        | <span>4.</span> Save to Are.na
      li.OnboardingStep
        | <span>5.</span> Find Friends

    .OnboardingGuide__actions
      a.Button.js-next
        | Next

  .OnboardingGuide__pane
    p Your profile shows all of your channels and everything you&rsquo;ve connected in one place.

    .OnboardingDemoPane__animation
      //-

    p Your feed shows new connections by everyone you follow on Are.na.
