.OnboardingGuide
  .OnboardingGuide__pane
    include ../steps

    .OnboardingGuide__actions
      a.Button.js-next
        | Next

  .OnboardingGuide__pane
    p Your profile shows all of your channels and everything you&rsquo;ve connected in one place.

    .OnboardingDemo
      <iframe width="1680" height="1050" src="https://www.youtube.com/embed/CNq4lEMdmww?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;version=3&amp;vq=hd1440" frameborder="0" allowfullscreen></iframe>
