.OnboardingGuide
  .OnboardingGuide__pane
    include ../steps

    .OnboardingGuide__actions
      a.Button.js-next
        | Next

  .OnboardingGuide__pane
    p Your profile shows all of your channels and everything you&rsquo;ve connected in one place.

    .OnboardingDemo
      <iframe src="https://player.vimeo.com/video/222230784?autoplay=1" width="1680" height="1050" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
