html.is-inverted
  filter invert(100%) hue-rotate(180deg)
  -webkit-filter @filter
  img
  canvas
  [style*='background-image']
    filter @filter
    -webkit-filter @filter
  // chrome
  @media screen and (-webkit-min-device-pixel-ratio:0)
    body
      background-color #000
  // safari 8+
  _::-webkit-full-page-media, _:future, :root .safari_only
    body
      background-color #fff
