html.is-inverted
  filter invert(100%) hue-rotate(180deg)
  -webkit-filter @filter
  body
    background-color #000
  img
  canvas
  [style*='background-image']
    filter @filter
    -webkit-filter @filter