footer.footer.footer--info
  .footer--info__menu
    a(href="mailto:everyone@are.na") Contact
    a(href="https://twitter.com/AREdotNA") Twitter
    a(href="/faqs") FAQs
    a(href="http://store.are.na") Store
    a(href="/terms") Terms
    a(href="/privacy") Privacy
    .footer--info__menu__logo
      a(href=homeHref).header--info__logo
        include ../../../../public/images/arena-mark.svg