if urlConnections
  h5 Blocks with this URL also appear in
  for channel in urlConnections
    - console.log('channel', channel)
    .block-connection-outer
      include ../../../components/list_view/templates/_connection
