extends ../../../components/layout/index--infinite

block vars
  - extraClasses = 'no-scroll-button no-banner'

block meta
  include meta

block body
  include block

block scripts
  script( src= asset('/assets/block.js') )
