extends ../../../components/layout/index

block vars
  - extraClasses = 'no-scroll-button'

block meta
  include _meta


block body
  include _block

block scripts
  script( src=asset('/assets/block.js') )
