extends ../../../components/path/templates/path

block path
  li.path__sub
    | Explore
    .path__below
      a(href="/") Feed

block metadata
  .metadata
    include metadata_pockets/view
    include metadata_pockets/sort
