extends ../../../components/layout/index

block styles
  link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'feed' + sd.CSS_EXT) )

block body
  include ../../../components/path/templates/path
  .list
    include ../../../components/block_collection/templates/list_block_collection

block scripts
  script( src=sd.ASSET_PATH + 'feed' + sd.JS_EXT )