extends ../../../components/layout/index

block body
  include ./explore_path

  .channel-container( class=blocks.length ? '' : 'is-empty' )
    .grid.grid--explore.flex-container
      include ../../../components/block_collection/templates/block_collection
    .channel-results-container
      .grid.grid--channel-filter.flex-container
        //- rendered client side
    include ../../../components/layout/loader/templates/infinite

block scripts
  script( src=asset('/assets/explore.js') )
