extends ../../../components/layout/index

block body
  include ./explore_path

  .channel-container( class=blocks.length ? '' : 'is-empty' )
    .explore-contents
      include ../../../components/blocks/container/templates/index
    .channel-results-container
      .grid.grid--channel-filter.flex-container
        //- rendered client side
    include ../../../components/layout/loader/templates/infinite

block scripts
  script( src=asset('/assets/explore.js') )
