extends ../../../components/layout/index

block styles
  link( type='text/css', rel='stylesheet', href=('/assets/root' + sd.CSS_EXT) )

block body
  .container.landing
    img.mark(src="../images/arena-mark.svg", alt="Arena", width=80)
    img(src="../images/arena-logo.svg", alt="Arena", width=200)

    p.introduction.
      Arena is a platform for private and collaborative research where you can save links, 
      images, and files as "blocks" and organize them into named "channels". People use Arena 
      to assemble references around a topic, collect images around a theme, share ideas with 
      collaborators, and more. 

    .login
      a(href="#login") Login 
      span / 
      a(href="#register") Register

    //- include ../../../components/block_collection/block_collection

block scripts
  script( src='/assets/root' + sd.JS_EXT )