extends ../../../components/layout/index

block styles
  link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'root' + sd.CSS_EXT) )

block body
  .landing
    .section-1
      // img.home-logo(src="images/arena-logo.svg", alt="Arena")
      img.home-mark(src="images/arena-mark.svg", alt="Arena")
      .login
        a(href="#log_in") Login 
        span / 
        a(href="#sign_up") Register
      .introduction
        p.
          Arena is a platform for private and collaborative research where you can save links, images, and files and organize them into collections.
        p(style="margin-top: 20px;").
          As an evolving archive where people create new concepts by combining found and original information, the platform is designed to support arbitrary applications: Arena is adopted professionally or for personal use to research projects, manage inventory, curate exhibitions, share inspiration, collect references...

      //- include ../../../components/block_collection/block_collection

  //  .section-2
      | Channel case studies: 
      strong 1, 
        span(style="color: #000") 2
        | , 3, 4, 5
      .freak-hack-div
        iframe.freak-hack(src="http://ervell.herokuapp.com/john-michael-boling/anime-cigs")

  .section-2
      | Examples:
      .section-2__links
        a(href='#sublime').home--small Notes on Ghosts 
        .section-2__images
          img(src='https://s3.amazonaws.com/arena_images/242903/original_bf324850b79e8af41e87fe9d6529a936.jpg')
          img(src='https://d2w9rnfcy7mm78.cloudfront.net/136222/original_744ca39dff932c0f6b5eac2ab055fccc.gif')
          img(src='https://d2w9rnfcy7mm78.cloudfront.net/115330/original_6bbd33fb76badf768008e675526e1637.jpg')
          img(src='https://d2w9rnfcy7mm78.cloudfront.net/2116/original_e2443a02afe6e09b7f1fc748603f2301.jpg')
        br
        a(href='#sublime').home--small Children Literature 
        .section-2__images
          img(src='https://d2w9rnfcy7mm78.cloudfront.net/182210/original_c2d2449a208a81bc343d0ea66c624a62.png')
          img(src='https://d2w9rnfcy7mm78.cloudfront.net/255619/original_9578c2bb291727e47ceb28fe9ee420ba.jpg')
          img(src='https://d2w9rnfcy7mm78.cloudfront.net/61204/original_86770483f6ce9d599044e034aa144329.jpg')
          img(src='https://d2w9rnfcy7mm78.cloudfront.net/75766/original_565407fd2bd06316f1688c871b79ee0f.jpg')        
        br
        a(href='#sublime').home--small Color Scheme
        .section-2__images
          img(src='https://d2w9rnfcy7mm78.cloudfront.net/117966/original_24441c4cfc32ec18eefb7d004c211977.jpg')
          img(src='https://d2w9rnfcy7mm78.cloudfront.net/6258/original_4c591add1acae09bf90d88937cfbb7ac.jpg')
          img(src='https://d2w9rnfcy7mm78.cloudfront.net/272088/original_fcd45d855d8f277b3f70dda016dd77e5.jpg')
          img(src='https://d2w9rnfcy7mm78.cloudfront.net/280209/original_d7de3232b0c4a897f82f9e68b0047b6d.jpg')        
        br
        a(href='#sublime').home--small Future
        .section-2__images
          img(src='https://d2w9rnfcy7mm78.cloudfront.net/149334/original_edc6376daefd7487f6dc037815d97e58.png')
          img(src='https://d2w9rnfcy7mm78.cloudfront.net/285911/original_a7abf714c70acdf9a377befe8af32fad.jpg')
          img(src='https://d2w9rnfcy7mm78.cloudfront.net/285862/original_037ac573f53260113e6d87a3b4d45f17.jpg')
          img(src='https://d2w9rnfcy7mm78.cloudfront.net/50751/original_5f5f600121b230e03b452abaf59fd580.jpg')
      .section-2__activity
        | Total channels:
        br
        a(href='#sublime').home--small 533'210
      .section-2__activity
        | Total blocks:
        br 
        a(href='#sublime').home--small 5'233'210
      .section-2__activity(style="width: 600px;")
        a(href='/about') Learn more 
        | about Arena or 
        a(href='#register') register.
        
 // .section-3
      .section-3__block
        img(src='images/add.svg')
        br
        .section-3__description Create channels or use public ones to organize your content.
      .section-3__block
        img(src='images/channels.svg')
        br
        .section-3__description Add content from the web and your computer, or interact with exhisting research. 
      .section-3__block
        img(src='images/collaborate.svg')
        br
        .section-3__description Collaborate on channels with other people, openly or as private projects.
      .section-3__block
        img(src='images/use.svg')
        br
        .section-3__description Use our premium set of tools to export, showcase, sell, synchronize your channels.

block scripts
  script( src=sd.ASSET_PATH + 'root' + sd.JS_EXT )