extends ../../../components/layout/index

block styles
  link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'root' + sd.CSS_EXT) )

block body
  .home__section-intro__background
  .home__section-stats__background
  .home__section-footer__background
  img.home__mark(src="images/arena-mark.svg", alt="Arena")
  h2.home__section-intro
    p.
      Arena is a platform for private and collaborative research where you can save links, images, and files and organize them into collections.
    br
    p.
      The platform is designed to support arbitrary applications: Arena is adopted professionally or for personal use to 
    a(href="#example1") research projects
    | , 
    a(href="#example2") manage inventory
    | , 
    a(href="#example3") curate exhibitions
    | , 
    a(href="#example4") share inspiration
    | , 
    a(href="#example5") collect references
    | .
    br
    br
    a(href="#sign_up").home__section-intro__menu Create an account
    a(href="#log_in").home__section-intro__menu--mobile Login
    a(href="/about").home__section-intro__menu--mobile About
    a(href="/tools").home__section-intro__menu--mobile Tools

  h3.static__menu
    a(href="#log_in").static__menu--dark Login
    br
    a(href="#sign_up").static__menu--dark Register
    br
    a(href="/about").static__menu--dark About
    br
    a(href="/tools").static__menu--dark Tools
  
  .home__section-stats
    .home__section-stats__column
      h1 19,971
      h2 Total channels
    .home__section-stats__column
      h1 302,047
      h2 Total blocks
    .home__section-stats__column.home__section-stats__column--connections
      h1 357,304
      h2 Total connections

  .home__section-channels
    h2 Example channels:
    .home__section-channels__channels
      h2#example1
        a(href='#sublime') Are.na / Gem Copeland 
          span(style="font-weight: normal;") + 2 more / 
          span.home__path--closed As We May Think
      .home__section-channels__images
        img(src='https://d2w9rnfcy7mm78.cloudfront.net/932/large_PTF2CLO8.JPG')
        img(src='https://d2w9rnfcy7mm78.cloudfront.net/298068/large_8eba0d6c925cefee7a9e35b01d867df3.jpg')
        img(src='https://d2w9rnfcy7mm78.cloudfront.net/285080/large_830900aabb3ed560d1f79545a2a997bc')
        img(src='https://d2w9rnfcy7mm78.cloudfront.net/217706/large_829f52e29e3543683e7d4cbfd6160e39')
      .home__section-channels__button
        .button--inblock +123 more blocks &rarr;

      h2#example2
        a(href='#sublime') Are.na / Michelle Ishikawa 
          span(style="font-weight: normal;") + 1 more / 
          span.home__path--closed Placid Place 
      .home__section-channels__images
        img(src='https://d2w9rnfcy7mm78.cloudfront.net/290192/large_0a6125fe53102a761868888b7bfd0c19.jpg')
        img(src='https://d2w9rnfcy7mm78.cloudfront.net/290190/large_e66b45ec053f4674cc11b50608a1a8e3.jpg')
        img(src='https://d2w9rnfcy7mm78.cloudfront.net/290188/large_0b5cf2c296fa53f7ca8eab97ffce9381.png')
        img(src='https://d2w9rnfcy7mm78.cloudfront.net/256197/large_cd91eb08df64148b6a55804baa35888f.jpg')        
      .home__section-channels__button
        .button--inblock +56 more blocks &rarr;

      h2#example3  
        a(href='#sublime') Are.na / Jaqueline Mabey 
          span(style="font-weight: normal;") + 7 more / 
          span.home__path--closed Notes on Ghosts
      .home__section-channels__images
        img(src='https://d2w9rnfcy7mm78.cloudfront.net/287398/large_9c8013264d5bd11051ab7f91d49d45bd')
        img(src='https://d2w9rnfcy7mm78.cloudfront.net/269238/large_7f6f23f3bf2a26dc0ab1e9001b5c199c.jpg')
        img(src='https://d2w9rnfcy7mm78.cloudfront.net/269237/large_e31c77a1a7495430755ff724de62cd2a.gif')
        img(src='https://d2w9rnfcy7mm78.cloudfront.net/268437/large_b60fc5b61988850df997b9711e325d82.jpg')        
      .home__section-channels__button
        .button--inblock +28 more blocks &rarr;

      h2#example4
        a(href='#sublime') Are.na / Morgan Sutherland 
          span(style="font-weight: normal;") / 
          span.home__path--public Future
      .home__section-channels__images
        img(src='https://d2w9rnfcy7mm78.cloudfront.net/137452/large_87b31756d09c107c73e10604b7b5fbce')
        img(src='https://d2w9rnfcy7mm78.cloudfront.net/295038/large_af7d9b67c47a8d38180602a65e30ea1a.png')
        img(src='https://d2w9rnfcy7mm78.cloudfront.net/287371/large_2f4231006b7eeb9f6537bd8c9ac0fab1.jpg')
        img(src='https://d2w9rnfcy7mm78.cloudfront.net/274996/large_96dd16eaee2526926ff72f7ab510f9ab')
      .home__section-channels__button
        .button--inblock +3 more blocks &rarr;

  .home__section-footer
    img.home__mark--footer(src="images/arena-mark.svg", alt="Arena")
    h2
      a(href='/about') Learn more
      |  about Arena or 
      a(href='#register') register.

    h3.static__menu--footer
      a(href="#log_in").static__menu--dark Login
      br
      a(href="#sign_up").static__menu--dark Register
      br
      a(href="/about").static__menu--dark About
      br
      a(href="/tools").static__menu--dark Tools

block scripts
  script( src=sd.ASSET_PATH + 'root' + sd.JS_EXT )