extends ../../../components/layout/index--bare

block vars
  - extraClasses = 'body--home'

block styles
  link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'all' + sd.CSS_EXT) )

block body
  .home__section.home__section--intro.flex-container
    p: h1.haarlemmer Are.na helps you build and organize ideas over time.
    p: h1.haarlemmer You can collect and recombine blocks of information – texts, images, links, and files – by yourself or with collaborators.
    p: h1.haarlemmer There is no wrong way to use Are.na.
    p: h2 #[a(href="#log_in") Log in]
    p: h2 #[a(href="#sign_up") Sign up]
    p: h2 #[a(href="/about") Learn more]

  .home__section.home__section--channels
    .grid.grid--channel.flex-container
      for block in blocks
        include ../../../components/block_collection/templates/block

  .home__section.home__section--footer
    .home__section__container.flex-container
      h2
        a(href='/about') Learn more
        |  about Are.na or&nbsp;
        a(href='#sign_up') sign up.

block scripts
  script( src=sd.ASSET_PATH + 'root' + sd.JS_EXT )