extends ../../../components/layout/index

block styles
  link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'root' + sd.CSS_EXT) )

block body
  .landing
    .section-1
      img.mark(src="../images/arena-mark.svg", alt="Arena", width=80)
      // img(src="../images/arena-logo.svg", alt="Arena", width=200)

      .login
        a(href="#log_in") Login 
        span / 
        a(href="#sign_up") Register
      .introduction
        p.
          Arena is a platform for private and collaborative research where you can save links, images, and files as "blocks" and organize them into collections. People use Arena to assemble references around a topic, collect images around a theme, share ideas with collaborators. 
        p(style="margin-top: 20px;").
          An evolving archive where people collaboratively create new concepts by combining new and existing material. 

      //- include ../../../components/block_collection/block_collection

    .section-2

    .section-3

    .section-4

block scripts
  script( src=sd.ASSET_PATH + 'root' + sd.JS_EXT )