extends ../../../components/layout/index

block styles
  link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'root' + sd.CSS_EXT) )

block body
  .landing
    .section-1
      img.home-logo(src="../images/arena-logo.svg", alt="Arena")
      img.home-mark(src="../images/arena-mark.svg", alt="Arena")
      .login
        a(href="#log_in") Login 
        span / 
        a(href="#sign_up") Register
      .introduction
        p.
          Arena is a platform for private and collaborative research where you can save links, images, and files as "blocks" and organize them into collections. People use Arena to assemble references around a topic, collect images around a theme, share ideas with collaborators. 
        p(style="margin-top: 20px;").
          An evolving archive where people collaboratively create new concepts by combining new and existing material. 

      //- include ../../../components/block_collection/block_collection

    .section-2
      | Channel examples:
      .home-link
        a(href='#sublime') Are.na / Morgan-Sutherland / Sublime
      .home-link  
        a.home-link(href='#dark-bliss') Are.na / Chris-Sherron / Dark Bliss
      .home-link  
        a(href='#fashion-images') Are.na / Dena-Yago / Fashion Images
      .home-link  
        a(href='#color-schemes') Are.na / Daniel-Bär / Color Schemes

    .section-3

    .section-4

block scripts
  script( src=sd.ASSET_PATH + 'root' + sd.JS_EXT )