extends ../../../components/path/templates/path

block path
  li
    .root__toggle
      if user
        .root__toggle__item(class="#{path == 'feed' ? 'active' : ''}"): a(href="/")   feed
        .root__toggle__item(class="#{path == 'explore' ? 'active' : ''}"): a(href="/explore") explore
        .root__toggle__item: a(href="/#{user.get('slug')}") profile
