.image-view
  text-align center
  &__img
    max-width 100%
    max-height 100vh

.image-modal
  .modalize-backdrop
    background-color black
  .modalize-close
    opacity 1
    background-color rgba(255, 255, 255, 0.5)
    border-radius 40px
    margin 10px
    width 40px
    height 40px
    padding 0
    text-align center
    line-height 42px
    display block
    span
      vertical-align middle