extends ../../../components/layout/index--bare

block scripts
  script( src= asset('/assets/ui.js') )

block body
  .Page
    .UI
      include ./sections/colors
      hr.Base
      include ./sections/typography
      hr.Base
      include ./sections/buttons
      hr.Base
      include ./sections/forms
      hr.Base
      include ./sections/tabs
      hr.Base
      include ./sections/badges
