doctype html
html( data-path= sd.CURRENT_PATH, data-logged-in=(user && true) )
  head
    block head

    include ../modules/title
    include ../modules/meta
    include ../modules/styles

  body
    block precontainer
    .Container.js-container
      .Container__content
        block container

      block footer

    block body

    include ../modules/analytics
    include ../modules/scripts
