.LoggedOutMenu
  position fixed
  top 3em
  padding 0 1em
  font-size font-size-base
  line-height line-height-tall

  > a
    display block
    text-decoration none

    &[data-state='active']
      font-weight bold
      color colors-gray-hover
