.Comment
  margin 0.5em 0 1.5em 0

  &__header
    //

  &__user
    font-weight bold
    font-size font-size-sm
    margin-right 0.5em

  &__datetime
  &__edited-datetime
    font-size font-size-xs
    text-transform uppercase
    color colors-gray-light

  &__body
    collapsed-margins(0.5em)
    display block
    font-size font-size-sm
    line-height line-height-tall

    a
      font-weight bold
