.comment
  margin-bottom unit * 2
  > .comment-user
    font-weight bold
    margin-right (unit/2)
  > .comment-date-time
    text-transform uppercase
    font-size 0.7rem
    color lightgray
  > .comment-body
    p()
