.PricingBrands
  padding 0 0.5em
  &__icons
    overflow-y scroll
    padding 2em 2em 0 0 
  img
    max-width 100%
    min-width 600px

@media (max-width: 50em)
  .PricingBrands
    &__icons
      margin 0 -4em
      padding 2em