.PricingBrands
  h3.Type.Type--size-h3.Utility--align-center
    | Are.na is used by people and teams at:
  br
  .PricingBrands__icons
    img(src="https://d2w9rnfcy7mm78.cloudfront.net/2034139/original_c3a3a9bbb15964f69af8cc2bfdbc28f7.png")