.PricingBrands
  h3.Type.Type--size-h3.Utility--align-center
    | Are.na is used by people and teams at:
  br
  .PricingBrands__icons
    img(src="https://d2w9rnfcy7mm78.cloudfront.net/3292656/original_33a711d0ffabc169566d37a824d74adf.png?1546460030")