.AboutPosts.AboutPosts--store.PageNarrowBreakout
  a.AboutPost( href='http://store.are.na/' )
    .AboutPost__cover(
      style='background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/1138606/large_b5391a98d8f5c07ae5974133bd923a57")'
    )

  a.AboutPost( href='http://store.are.na/' )
    .AboutPost__cover(
      style='background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/1138611/large_ec490d7e15e43ea24ca747d2fc9c37d1")'
    )

  a.AboutPost( href='http://store.are.na/' )
    .AboutPost__cover(
      style='background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/1138609/large_e6f2d2566fa40edfd3c112eefe4f0edf")'
    )
