#auth-body
  max-width 400px
  margin auto
  padding 0 unit

#auth-login, #auth-register, #auth-forgot, #auth-settings
  margin-top 8px
  line-height 45px
  border-top 1px solid bordergray

.auth-submit
  font-size 1em
  color textgray
  position relative

  &[data-state=loading]:before, &[data-state=success]:before
    background white
    position absolute
    left 0
    height 100%
    width 100%
    line-height 45px

  #auth-login&[data-state=loading]:before
    content "Logging in..."

  #auth-login&[data-state=success]:before
    content "Redirecting..."
    color public

  #auth-register&[data-state=loading]:before
    content "Submitting"

  #auth-register&[data-state=success]:before
    content "Success: logging in"
    color public

  #auth-forgot&[data-state=loading]:before
    content "Requesting..."

  #auth-forgot&[data-state=success]:before
    content "Success"
    color public

  #auth-settings&[data-state=loading]:before
    content "Updating your profile"

  #auth-settings&[data-state=success]:before
    content "Success"
    color public

#avatar-upload input[type="file"]
  display none

#avatar img.is-loading
  opacity 0.5

.avatar-upload-pointer
  text-align center
  margin-bottom 20px

.auth-logo
  text-align center
  height 20px

  svg
    width 28px
    height 100%

.auth-nav
  text-align center
  margin-bottom 50px

  .breadcrumb
    display inline-block
    margin (s_margin) auto 0
    font-size 1em

  li
    font-weight bold
    color #C7C7C7

  li.is-active
    color hovergray

.auth-errors
  font-size s_caption
  text-align center
  font-weight bold
  color alert

  &.is-active
    margin 20px 0 10px 0

.is-validated
  .auth-errors
    color alert

    &.is-success
      color public

@media (max-width:500px)
  .modal-body
    top 0
    padding 25% 0 0 0

  .modal-title
    top 4%
    left 5%

  .modal-close
    top 3.5%
    right 5%

  .auth-logo
    svg
      width 100px
