.OnboardingGuide
  .OnboardingGuide__pane
    include ../steps

    .OnboardingGuide__actions
      a.Button.js-next
        | Next

  .OnboardingGuide__pane
    .OnboardingDemo
      <iframe src="https://player.vimeo.com/video/222230733?background=1" width="1372" height="804" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
