.OnboardingGuide
  .OnboardingGuide__pane
    include ../steps

    .OnboardingGuide__actions
      a.Button.js-next
        | Next

  .OnboardingGuide__pane
    p
      | You can connect any kind of content to a channel by dragging files,
      | pasting a link, or using the Are.na bookmarklet.
      | Blocks of content can be connected to many different channels at once,
      | expanding their context across the Are.na community.

    .OnboardingDemo
      .OnboardingDemo__aspect
        <iframe src="https://player.vimeo.com/video/222230733?autoplay=1" width="1372" height="804" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
