.OnboardingGuide
  .OnboardingGuide__pane
    ol.OnboardingSteps
      li.OnboardingStep
        | <span>1.</span> Channels
      li.OnboardingStep.OnboardingStep--active
        | <span>2.</span> Connecting
      li.OnboardingStep
        | <span>3.</span> Profile and Feed
      li.OnboardingStep
        | <span>4.</span> Save to Are.na
      li.OnboardingStep
        | <span>5.</span> Find Friends

    .OnboardingGuide__actions
      a.Button.js-next
        | Next

  .OnboardingGuide__pane
    p
      | You can connect any kind of content to a channel by dragging files,
      | pasting a link, or using the Are.na bookmarklet.
      | Blocks of content can be connected to many different channels at once,
      | expanding their context across the Are.na community.

    .OnboardingDemo
      <iframe width="686" height="402" src="https://www.youtube.com/embed/BGzChllxK9Q?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;version=3&amp;vq=hd720" frameborder="0" allowfullscreen></iframe>
