.AboutPosts.AboutPosts--labs.PageNarrowBreakout
  a.AboutPost( href='http://azone.guggenheim.org/' )
    .AboutPost__cover(
      style='background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/1138511/large_cb627e5448e7530bb846577a137aa545.png")'
    )

    h3.Type
      | Guggenheim Azone Future Market

    p.Type
      | A digital exhibition and marketplace for trading predictions about the future.

  a.AboutPost( href='http://chicagoarchitecturebiennial.org/blog/' )
    .AboutPost__cover(
      style='background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/1138512/large_73450d9aa09dc96e0de98b6966121e57.png")'
    )

    h3.Type
      | Chicago Architecture Biennial Blog

    p.Type
      | A blog embedded with portals to explore related content and contribute new resources.

  a.AboutPost( href='http://pilgrim.are.na/' )
    .AboutPost__cover(
      style='background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/1138510/large_0ef72c17937500c36530eb6cbfb595fb.png")'
    )

    h3.Type
      | Pilgrim, a project funded by the Knight Foundation

    p.Type
      | An experimental tool that visualizes any browsing history.
