extends ../../../components/layout/index

block body
  - var range = '!~@#$%^&*()_-+=<>.,?/ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('')
  - range.unshift('0-9')  

  include ./path
  .channel-container.flex-container.channel-container--alpha
    - extraclass = count > 10 ? "alpha__two-columns" : ""
    .alpha(class=extraclass)
      for letter in range
        - group = alpha[letter]
        if group
          .alpha__group
            .alpha__group__letter= letter
            - sortedGroup = _.sortBy(group, function(channel, i){ return channel.title().toUpperCase() })
            for channel in sortedGroup
              include ../../../components/list_view/templates/_connection.jade

block scripts
  script( src=asset('/assets/user.js') )
