extends ../../../components/layout/index.jade

block body
  - var range = '!~@#$%^&*()_-+=<>.,?/ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('')
  - range.unshift('0-9')  

  include ./path.jade
  .channel-container.flex-container.channel-container--alpha
    include ./partials/_focus.jade
    .alpha
      for letter in range
        - group = alpha[letter]
        if group
          .alpha__group
            .alpha__group__letter= letter
            - sortedGroup = _.sortBy(group, function(channel, i){ return channel.title().toUpperCase() })
            for channel in sortedGroup
              include ../../../components/list_view/templates/_connection.jade

