extends ../../../components/layout/index

block body
  include ./path
  if user && user.isPremium() && !following && !followers
    .flex-container
      - content = sd.SUBJECT ? sd.SUBJECT + "s" : "blocks and channels"
      - searchee =  author.id == user.id ? "your " : author.get('username') + "'s public "
      - title = searchee + content
      include ../../../components/filter/templates/search_bar
  .channel-container( class=blocks.length ? '' : 'is-empty' )
    .grid.grid--user.flex-container
      include ../../../components/block_collection/templates/block_collection
    .channel-empty.valign-outer
      .valign-inner.center
        include ./empty
    .channel-results-container
      .grid.grid--channel-filter.flex-container
        //- rendered client side
    include ../../../components/layout/loader/templates/infinite

block scripts
  script( src= sd.ASSET_PATH + 'user' + sd.JS_EXT )

