extends ../../../components/layout/index

block body
  include ./path
  if user && user.isPremium() && !following && !followers
  .channel-container( class=blocks.length ? '' : 'is-empty' )
    .profile-contents
      - content = sd.SUBJECT ? sd.SUBJECT + "s" : "blocks and channels"
      - searchee =  author.id == user.id ? "your " : author.get('username') + "'s public "
      - title = searchee + content
      include ../../../components/blocks/container/templates/index
    .channel-empty.valign-outer
      .valign-inner.center
        include ./empty
    include ../../../components/layout/loader/templates/infinite

block scripts
  script( src=asset('/assets/user.js') )

