extends ../../../components/layout/index

block body
  include ./path
  .channel-container( class=blocks.length ? '' : 'is-empty' )
    .grid.flex-container
      include ../../../components/block_collection/templates/block_collection
    .channel-empty.valign-outer
      .valign-inner.center
        include ./empty
    #l-infinite-loader-container
      #l-loader

block scripts
  script( src= sd.ASSET_PATH + 'user' + sd.JS_EXT )

