extends ../../../components/layout/index

block styles
  link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'channel' + sd.CSS_EXT) )

block body
  .container
    include ../../../components/path/path
    if blocks
      include ../../../components/block_collection/templates/index

block scripts
  script( src= sd.ASSET_PATH + 'channel' + sd.JS_EXT )

