extends ../../../components/layout/index

block meta
  include meta
  != profileComponent.styles

block body
  .Constrain.js-profile-component
    != profileComponent.html

  if tips && tips.length > 0
    include tips

  block content

block scripts
  script( src= asset('/assets/user.js') )
  script.
    window.__APOLLO_STATE__ = !{JSON.stringify(profileComponent.state).replace(/</g, '\\u003c')};
