extends ../../../components/path/templates/path

block path
  li.path__username(class=author.isPremium() ? 'is-premium' : '')
    a(href="/" + author.get('slug'))=author.get('username')
    if author.isPremium() && !followers && !following
      a.premium-badge(href="/tools/premium")
        .premium-badge__stars ✶✶
        .premium-badge__cracker
          include ../../../public/images/premium.svg
  if followers
    li.path__sub Followers
  if following
    li.path__sub Following

block right
  if author && user && author.id == user.id
    .channel-settings.edit-profile.is-editable
      a(href="/manage") Manage channels

block metadata
  .metadata
    if user && user.isPremium() && ((user && author.id == user.id) || author.has('metadata'))
      include metadata_pockets/about
    if user
      include metadata_pockets/info
    if !following && !followers
      include metadata_pockets/view
      include metadata_pockets/sort
