extends ../../../components/path/templates/path

block path
  li.path__username
    a(href="/" + author.get('slug'))=author.get('username')
  if followers
    li.path__sub Followers
  if following
    li.path__sub Following

block right
  if author && user && author.id == user.id
    .channel-settings.edit-profile.is-editable
      a(href="/manage") Manage channels

block metadata
  .metadata
    include metadata_pockets/info
    if !following && !followers
      include metadata_pockets/view
      if author && user && author.id != user.id
        include metadata_pockets/actions
      include metadata_pockets/followers
      include metadata_pockets/following