extends ../../../components/layout/index

block body
  include ./path
  .profile
    include ./partials/_channel_groups.jade
  
  unless channels.length
    .channel-empty
      include ./empty

block scripts
  script( src=asset('/assets/profile.js') )