extends ../../../components/layout/index

block body
  .container
    include ../../../components/path/error

    if code == 404
      p Not found!
    else if code == 500
      p
        | Something has gone wrong, please contact 
        a(href="mailto:info@are.na") info@are.na 
        | if the problem persists

      p=detail
    else if code == 401
      p You aren't allow to see this
      if !user
        p Maybe you need to 
          a(href="#log_in") log in?
