= 'With '

each collaborator, i in collaborators
  a( href="/#{collaborator.get('slug')}" )
    = collaborator.get('username')

  if collaborators.length > 1 && i !== collaborators.length - 1
    if i === collaborators.length - 2
      = ' and '
    else
      = ', '
