@import '../../layout/variables'

.path
  position relative
  color textgray
  margin 6em 0 4em 10px
  text-align left
  font-weight normal

  .username
    font-weight bold

  .username:hover
    border-bottom 0

  .channel

  .active
    font-weight normal
    color hovergray

  .separator
    margin 0 0.25em
    font-weight 400

  privacy-color('.privacy-', color)

.metadata
  padding 25px 0 10px 0
  color textgray
  font-size caption + 1
  line-height 1.5

  .metadata__column
    display inline-block
    vertical-align top
    margin 0 35px 0 0
    width 200px

  .metadata__title
    width 100%

  .metadata__text
    width 100%
    font-weight normal
    color textgray

  .active
    color lightgray
    font-weight normal
    cursor normal

.unactive
  color bordergray
  
    
    
  
  

