@import '../../layout/variables'

.path
  position relative
  color textgray
  margin 6em 10px 4em 10px
  text-align left
  font-weight normal

  clearfix()

  .path__breadcrumb
    breadcrumb(character = '/', spacing = 10px, divider-color = #cdcdcd)

  h1
    margin 0
    position relative
    float left
    width auto

  .username
    font-weight bold

  .username:hover
    border-bottom 0

  .channel
    // nothing

  .active
    font-weight normal
    color hovergray

  .separator
    margin 0 0.25em
    font-weight 400

  privacy-color('.privacy-', color)

.edit-channel, edit-profile
  position relative
  float right
  width auto
  color lightgray
  font-size s_caption + 1
  line-height: 30px;

.metadata
  padding 75px 0 10px 0
  color textgray
  font-size s_caption + 1
  line-height 1.5

  .metadata__column
    display inline-block
    vertical-align top
    margin 0 50px 0 0
    width 210px

  .metadata__title
    width 100%
    color lightgray

  .metadata__text
    width 100%
    font-weight normal
    color textgray

  .metadata--selector__option
    color lightgray
    font-weight bold
    hover-color hovergray

    &.is-active
      color hovergray

.root__toggle
  position relative
  display inline-block
  height 24px
  margin 0 0 0 1px

.root--active
  position relative
  float left
  line-height 15px
  font-size s_caption + 1
  color textgray
  font-weight bold

.root--unactive
  position relative
  float left
  clear both
  line-height 15px
  font-size s_caption
  color #cdcdcd

  a
    color #cdcdcd

    &:hover
      color textgray