@import '../../layout/variables'

.path--header
  margin 6em auto 0 auto
  padding 0 10px 0 10px

.path__inner
  padding-bottom 28px

.path
  position relative
  color lightgray
  text-align left
  font-weight normal

  clearfix()

  .path__headline
    @extend h1
    margin 0
    position relative
    float left
    width auto

  &.stuck
    position fixed
    z-index header_z
    top 1px
    left 50px
    height 38px
    margin 0
    background-color backgroundgray

    .path__headline
      font-size 1em
      line-height 3.1em

    .edit-channel, .edit-profile, .channel-settings
      display none

    .root__toggle
      height auto
      margin 9px 0 0 0

      .root__toggle__item
        font-size s_caption

  .path__breadcrumb
    min-width 115px
    breadcrumb: '/' 8px lightgray

    li:after
      font-weight normal

    .path__channel
      font-weight normal
      color textgray

    li:last-child
      color textgray

    .path__sub
      font-weight normal


  privacy-color('.path__breadcrumb li.path__channel.privacy-', color)

  .username
    font-weight bold

  .username:hover
    border-bottom 0

  .channel
    // nothing

  .active
    font-weight normal
    color hovergray

  .separator
    margin 0 0.25em
    font-weight 400

.channel-settings
  position relative
  float right
  clear right
  width auto
  height 20px
  color lightgray
  font-size s_caption + 1
  line-height 20px
  font-weight bold
  margin 14px 0 0 0

.follow_button
  &:hover
    color hovergray

/*  .edit-channel__icon, .edit-channel__info-icon
    position relative
    float left
    width 18px
    height 30px
    margin 8px 4px 0 20px
    line-height 1em

    svg
      width 18px
      height 18px
      padding 0
      margin 0
      outline none
      stroke lightgray
      fill lightgray

      .iconic-cogs-lg, .iconic-info-lg
        display none

      .iconic-cogs-md, .iconic-info-md
        display none

      .iconic-cogs-sm, .iconic-info-sm
        display inline

      &:hover
        stroke hovergray
        fill hovergray
        cursor pointer
*/

.show-info
  display none

.metadata
  padding 0
  height auto
  font-size s_caption + 1
  line-height 1.5

  a
    font-weight bold
    color textgray

    &:hover
      color hovergray

  .metadata__column
    display inline-block
    vertical-align top
    margin 0 20px 0 0
    width 225px
    height auto
    min-height 80px
    max-height 163px
    overflow hidden

  .metadata__title
    width 100%
    color lightgray

  .metadata__text
    width 100%
    font-weight normal
    color lightgray

  .metadata--selector__option
    color lightgray
    font-weight bold
    hover-color hovergray

    &.is-active
      color hovergray

.root__toggle
  position relative
  display inline-block
  height 24px
  margin 1px 0 0 0

  .root__toggle__item
    color lightgray
    font-size s_caption + 1
    line-height 1.3em

    &.active
      color hovergray
      font-weight bold

@media (max-width:(block_width_mar * 3) + 30)
  .path
    .path__headline
      margin-bottom 15px

  .metadata
    display none

  .channel-settings
    float left
    clear left
    margin 4px 0 0 0

  .show-info
    display block

@media (max-width:500px)
  .path.stuck
    display none

  .root__toggle
    margin -3px 0 0 0
