.new-connection
  //- .new-connection__caption.new-connection__caption--top Connect this to...
  input.new-connection__search.input--wide(type="text", placeholder="Search channels")
  .new-connection__caption Recent channels
  .new-connection__search-results
    //- rendered by client
  button.new-connection__done-button.button--inblock.button--inblock--bottom Close
