.grid__block.grid__block--new-block.grid__block--drop-zone
  .block-padding
  .grid__block__inner
    .grid__block--new-block__add-block.grid__block--new-block__form.abs-fill
      .add-block__placeholder Drag and drop text or images you want to save.
