extends ../../../components/layout/index--bare

block vars
  - extraClasses = 'no-header no-messages no-scroll'

block body
  include ./save

block scripts
  script( src=asset('/assets/marklet.js') )
