extends ../../../components/layout/index--bare.jade

block vars
  - extraClasses = 'no-header no-messages no-scroll'

block body
  include ./save.jade

block scripts
  script( src=asset('/assets/marklet.js') )
