extends ../../../components/layout/index--bare

block vars
  - extraClasses = 'no-header no-messages'

block body
  .Marklet.js-marklet( style='display: none;' )
    include ../components/marklet/index

block scripts
  script( src= asset('/assets/marklet.js') )
