extends ../../../components/layout/layouts/blank

block meta
  != onboardingComponent.styles

block container
  #onboardingMount
    != onboardingComponent.html

block scripts
  script.
    window.__APOLLO_STATE__ = !{JSON.stringify(onboardingComponent.state).replace(/</g, '\\u003c')};
  script( src= asset('/assets/onboarding.js') )
