extends ../../../components/layout/index--info

block body
  .blog-body
    .site-header
    != html
    .index-link
      a(href="/blog") â† Blog index

block scripts
  script( src=asset('/assets/blog.js') )

