extends ../../../components/layout/index--info

block vars
  - extraClasses = 'body--home'

block body
  .home.home--blog
    include ../../home/templates/sections/posts

block scripts
  script( src=asset('/assets/home.js') )