extends ../../../components/layout/layouts/blank

block title
  |  / #{title}

block scripts
  script( src= asset('/assets/blog.js') )

block footer
  include ../../../components/logged_out_nav/templates/footer

block container
  include ../../../components/logged_out_nav/templates/header

  .Page.Page--narrow
    .BlogPost
      != html
