extends ../../../components/layout/layouts/blank
include ../../../components/blog_post/partials/category_title

block title
  |  Blog / #{title}

block scripts
  script( src= asset('/assets/blog.js') )

block footer
  include ../../../components/logged_out_nav/templates/footer

block container
  include ../../../components/logged_out_nav/templates/header

  .FullScreenCover
    .FullScreenCover__backdrop
      .FullScreenCover__inner
        iframe(
          src="https://player.vimeo.com/video/303072776?loop=1&autoplay=1&muted=1&background=1"
          frameborder="0"
        )
    .FullScreenCover__overlay
      .FullScreenCover__title
        h5.Type.Type--size-h5 CASE STUDY
        h1.Type.Type--size-h1 The North Face
        h4.Type.Type--size-h4
          | Cory Arcangel
          br
          | November 27, 2018

  .Page.Page--narrow
    .BlogPost
      article.post-content.dropcap
        != body
      if bio && bio.length > 0
        hr
        .post-author-bio
          != bio

  hr.Base
  .Page.Page--narrow
    h2.Type.Type--size-h2.Utility--align-center
      | Are.na Blog

    p.Type.Type--lh-tall.AboutParagraph
      | Learn about how people use Are.na to do work and pursue personal projects through case studies, interviews, and highlights.
    br
    .Utility--align-center
      a.Button.Button--size-lg( href='/blog' )
        | See more
