inexplicable-path-font-size = 28px
inexplicable-path-font-size-sm = 16px
empty-space-width = 0.33em
user-flair-badge-font-size = unit(16 / inexplicable-path-font-size, 'em')
user-flair-badge-font-size-sm = unit(12 / inexplicable-path-font-size-sm, 'em')
user-flair-logo-width = 0.66em

.UserFlair
  position relative
  display inline-block
  margin 0 0 0 empty-space-width
  width user-flair-logo-width
  height inexplicable-path-font-size
  vertical-align bottom

  &__badge
  &__logo
    position absolute
    top 50%
    left 0
    transform translateY(-50%)

  &__badge
    display none
    text-transform uppercase
    font-family 'Arial Narrow', 'Arial', sans-serif
    font-size user-flair-badge-font-size
    font-weight bold

    > span
      vertical-align middle

  &__logo
    width user-flair-logo-width
    height 100%

    > svg
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      width 100%
      height 100%

  // Modifiers
  &--investor
    &, &:hover, &:visited
      color colors-state-invest
      fill @color

  &--premium
    &, &:hover, &:visited
      color colors-state-premium
      fill @color

  &--toggleable
    &:hover
      .UserFlair
        &__logo
          display none

        &__badge
          display block

// Handle sticky path case
.stuck
  .UserFlair
    // Sticky path is vertically-centered using line-height
    // Don't be like sticky path.
    vertical-align middle

    &__logo
      position relative
      top -1px // because line-height centering
      transform none

    &__badge
      font-size user-flair-badge-font-size-sm
