{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "react",
    "stage-3"
  ],
  "plugins": [
    "transform-runtime",
    ["module-resolver", {
      "extensions": [".js", ".jsx"],
      "root": ["./src"]
    }],
    "transform-class-properties",
    "inline-react-svg",
    ["babel-plugin-styled-components", {
      "displayName": true
    }]
  ]
}
