.DS_Store
.cache
.idea
.env*
Procfile.*
public/assets/*
!public/assets/.gitkeep
*.sublime-project
*.sublime-workspace
node_modules
dump.rdb
/manifest.json
yarn-error.log
newrelic_agent.log

# Compiled bookmarklet code
src/apps/marklet/public
!src/apps/marklet/public/.gitkeep

# Compiled Chrome/Firefox extension code
src/extension/dist
src/extension/src/config.js

# Compiled Safari extension code
src/extension/safari-extension/Are.na for Safari/Are.na for Safari Extension/app/scripts

# Compiled server code
server.dist.js
server.dist.js.map

# Temporary
bench.rb
bench.txt

# asdf version manager config
.tool-versions
