#scripts
  != sharify.script()
  script( src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js' )
  script( src='//js.pusher.com/2.2/pusher.min.js' )
  script( src= asset('/assets/vendor.js') )
  script( src= asset('/assets/layout.js') )
  block scripts
