#scripts
  != sharify.script()
  script( src='//js.pusher.com/2.2/pusher.min.js' )
  script( src= asset('/assets/common.js') )
  script( src= asset('/assets/vendor.js') )
  script( src= asset('/assets/layout.js') )
  block scripts
