.Fieldset.js-channel-filter( data-view-mode= view_mode )
  input.Input.js-channel-filter-input(
    name='title'
    type='text'
    placeholder="Filter #{title}"
  )
  //- .channel-filter__status
  //-   .channel-filter__status__close.js-clear-input &times;
  //-   .channel-filter__status__icon
  //-     include ../../../public/images/iconic/magnifying-glass.svg
