.form__field.channel-filter(
  class="channel-filter--#{view_mode}"
)
  input.input--wide.js-channel-filter(
    name='title' type='text' placeholder="Filter #{title}"
  )
  .channel-filter__status
    .channel-filter__status__close.js-clear-input &times;
    .channel-filter__status__icon
      include ../../../public/images/iconic/magnifying-glass.svg
