.form__field.form__field__channel-filter
  input.input--wide(
    name='title' type='text' placeholder="Search #{title}"
  )
  .form__field__channel-filter--close.pointer &times;
  .form__field__channel-filter--icon
    include ../../../public/images/iconic/magnifying-glass.svg
