@import '../../variables'

body.is-loading #l-loader-container
  display block

#l-loader-container
  position absolute
  width 100%
  height 100%
  top 0
  left 0
  z-index loader_z
  pointer-events none
  display none
  opacity 0.85

@-webkit-keyframes rotate
  100%
    transform rotate(360deg)

#l-loader-container .asterisk
  animation rotate 1s infinite linear
  transform-origin 50% 50%

.asterisk
  position relative
  overflow hidden

  svg
    width 39px
    height 25px
    fill #616161
    padding-top 3px
