@require '../../variables'

#l-loader-container
  display none

body.is-loading #l-loader-container
  display block
  position fixed
  z-index loader_z
  pointer-events none

#l-loader img
	width 80px

#l-infinite-loader-container
  display none
  width 100%
  margin 150px auto
  z-index loader_z
  pointer-events none
  text-align center

  img
    width 80px

  &.is-loading
    display block
