@import '../components/layout/variables'

.container
  position absolute
  top 0
  left 0
  width 100%
  max-width 100%
  padding 0 0 0 0

.path
  display none

#layout-header
  display none

.section-1, .section-2, .section-3, .section-4
  position relative
  float left
  width: 100%
  min-height 400px
  font-size 22px
  line-height 1.6
  background-color white
  padding 2em 2.2em 2.8em 2.2em

.section-1
  background-color white

.section-2
  background-color #F2F2F2

.section-2__links
  position relative
  float left
  width 100%
  font-size 0.7em
  margin 15px 0 0 0

.section-2__images
  position relative
  float left
  width 100%
  overflow hidden
  text-align center

  img 
    position relative
    float left
    height 300px
    width 300px
    overflow hidden
    margin 5px 30px 80px 0

.section-2__activity
  position relative
  float left
  width 300px
  line-height: 25px;
  margin 0 30px 0 0

.section-3
  background-color #F5F5F5
  text-align left

  img
    width 45px
    opacity 0.75
    margin 0 1% 0 1%

  .section-3__block
    position relative
    float left
    width 20%
    margin 0 4% 0 0

  .section-3__description
    position relative
    clear both
    text-align left

.section-4
  background-color #E5E5E5

.home-logo
  display inline-block
  width 140px
  opacity 0.75

.home-mark
  display inline-block
  width 70px
  margin 0 0 0 0
  opacity 0.75

.home--small
  font-size 16px
  line-height 10px

.login
  position absolute
  top 45px
  right 40px
  padding 0 0 0 0
  font-size 21px
  z-index 199

.introduction
  padding 2em 0
  max-width 700px

// FREAK HACK IFRAME

.freak-hack-div
  overflow hidden
  height: 1000px
  margin 30px 0 0 0
  border 1px solid textgray

.freak-hack
  width 100%
  height 1200px
  margin -50px 0 0 0



