.container
  position absolute
  top 0
  left 0
  width 100%
  max-width 100%
  padding 1em 0 0 0

#layout-header 
  display none

.section-1, .section-2, .section-3, .section-4
  position relative
  float left
  width: 100%
  height 400px
  background-color white
  padding 3em 3em 3em 3em

.section-2
  background-color #F9F9F9

.section-3
  background-color #F5F5F5

.section-4
  background-color #E5E5E5

.mark
  display block
  width 60px
  opacity 0.85

.login
  position absolute
  right 3em
  padding 0 0 0 0

.introduction
  padding 2em 0
  line-height 1.5
  max-width 700px
  font-size 21px

a
  color green
