html, body
  min-height 100% !important
  height 100%
  margin 0
  padding 0

.body--home, .body--labs
  #layout-header
    position absolute
    background transparent
    color #fff

    .logo
      opacity 0.9
      svg
        fill hovergray

    .header--icon
      &:hover
        cursor default

    .layout-header__register
      padding 0 12px 0 20px

    .btn-signup
      display none

    .layout-header__or
      display none

    .layout-header__login
      color #A6A6A6

  .container
    position absolute
    height 100%

/* LABS */

.body--labs
  background-color backgroundgray
  
  .home__section--intro, .home__section--footer
    border 0
    display block
    height auto
    
    .feynman
      margin 8% 0 40px 0
    
    h1
      width 100%
      max-width 900px
      margin 20px auto 50px auto
      text-align left
    
    .labs-hint
      margin 120px auto 30px auto
      font-weight 700
    
    .labs--text
      font-size 16px
      font-weight 400
      text-align left
      line-height 20px

    .home__section--intro__inner
      display block
      width: 100%
    
    .labs__case-studies
      display flex
      flex-wrap wrap
      justify-content center
      
      .labs__case-studies__item
        font-size 16px
        width 620px
        margin 15px
        padding 0 30px 30px 30px
        text-align left
        border 0px solid #D2D2D2
        -moz-box-shadow 0px 0px 15px 0px bordergray
        -webkit-box-shadow 0px 0px 15px 0px bordergray
        box-shadow 0px 0px 15px 0px bordergray
        border 1px solid bordergray
        
        .labs__case-studies--title
          font-weight 700
          margin 40px 0 8px 0
        
        h1.labs__case-studies--title
          font-weight 400
          margin 20px 0 0 0
        
        .labs__case-studies--separator
          border-top 1px solid #D2D2D2
          margin 0 0 10px 0
          
    .labs__services
      width 100%
      max-width 900px
      margin auto
      
      h1
        margin 50px 0 6px 0
        list-style circle
      
      .labs--text
        margin-left 15px

.home__section--intro
  width 100%
  height 100%
  background-color backgroundgray
  color hovergray
  text-align center
  display table
  padding 0

  .feynman
    width 480px
    opacity 0.9

  .home-arrow
    position absolute
    bottom 2%
    left calc(50% - 8px)
    -webkit-transform rotate(-90deg)
    -moz-transform rotate(-90deg)
    -o-transform rotate(-90deg)
    -ms-transform rotate(-90deg)
    transform rotate(-90deg)
    fill #A6A6A6
    
    &:hover
      fill hovergray

  .home__section--intro__inner
    position relative
    display table-cell
    width 100%
    height 100%
    vertical-align middle

  h1
    font-size 2.1em
    font-weight normal
    color hovergray
    antialiased()

  h2:nth-of-type(1)
    margin-top 2em

.home__section--intro__inner__buttons
  margin-top 4em

  a.intro__button
    width 180px
    height 50px
    display inline-block
    text-align center
    border 1px solid hovergray
    padding 0
    margin 0 15px
    color hovergray
    font-size 1.2em
    font-weight bold
    line-height 47px
    antialiased()

    &:hover
      border 1px solid success
      color success

h1.home__section--intro__inner__copy
  color lightgray

.home__section--intro__bullets
  ol 'upper-roman'
  text-align left
  width 65%
  margin 60px auto 0
  font-size 1.3em

  li
    display inline-block
    width 50%
    margin .5em 0

.home__section--footer
  width 100%
  background-color backgroundgray
  border-top 1px solid bordergray
  padding 60px 0 60px 0

  h1
    font-size 2.1em
    font-weight normal
    text-align center
    color hovergray
    antialiased()

  a
    font-weight bold
    color hovergray

    &:hover
      color textgray

.home__section--channels
  width 100%
  background-color #fff
  padding 0 0 70px 0
  border-top 1px solid bordergray
  text-align center

  h1
    font-size 2.1em
    color hovergray
    margin 80px 0 120px 0
    font-weight normal

.home__section--channels__channels
  position relative
  float left
  width 100%
  margin 0
  padding 0

  .home__path
    position relative
    float left
    width 100%
    color textgray
    text-align center
    padding 0 10px 30px 10px
    margin 0

    li:last-child
      font-weight normal

    .breadcrumb
      position relative
      float left

privacy-color('.privacy--', color)

.home__section-channels__channels .home__path--closed:hover,
.home__section-channels__channels .home__path--public:hover
  color hovergray

.home__section-channels__images
  position relative
  float left
  width 100%
  padding 0

.home__section-channels__button
  position relative
  float left
  width 100%
  margin 0 0 40px 0
  text-align center

  .button--inblock
    position relative
    left 0
    width 200px
    margin auto
    color lightgray
    border-top 1px solid bordergray

    &:hover
      color hovergray
      border-top 1px solid textgray

@media (max-width:(block_width_mar * 4) + 19)
  html, body
    font-size 13px

  .home__section--channels__channels
    .grid
      -webkit-justify-content center
      justify-content center

      .grid__block
        max-width 220px
        min-width 220px

      .grid__block__inner
        height 220px

      .grid__block__content__image
        max-width 220px
        max-height 220px

@media (max-width:(block_width_mar * 3) + 16)
  .home__section--intro
    a.intro__button
      width 100px
      height 40px
      line-height 38px
      margin 0 10px

    h1
      font-size 1.8em

  .home__section--channels
    padding 20px 0 20px

    h2
      padding 0

  .home__section--channels__channels
    padding 0

    .home__path
      padding 0
      margin-bottom 20px

    .grid
      .grid__block
        max-width 300px
        min-width 300px

      .grid__block__inner
        height 300px

      .grid__block__content__image
        max-width 300px
        max-height 300px

  .home__section-footer
    margin 0 0 40px 0

@media (max-width:(block_width_mar * 2) + 20)
  .home__section--channels
    padding 20px 8px 20px 8px

@media (max-width:500px)
  .home__section--intro
    padding 0 15px 0 15px

    .feynman
      width 250px

    h1
      font-size 1.5em
      font-weight 100

  .home__section--channels
    padding 20px 0 70px 0

  .home__section--intro__inner__buttons
    margin-top 2em

    a.intro__button
      width 70px
      font-size 0.9em
      font-weight normal

@media (max-height:600px)
  .home__section--intro
    .feynman
      width 250px
      
  .home__path .breadcrumb li
    float none
    text-align left
