hr.Base
  height 1px
  border none
  background-color bordergray
  collapsed-margins(unit)

.Separator
  display inline-block
  width 1px
  height 0.75em
  margin 0 0.5em
  vertical-align baseline
  transform rotate(30deg)
  background-color colors-gray-light
