footer.LoggedOutFooter
  a( href='/about#labs' )
    | Work With Us
  a( href='https://dev.are.na/documentation/channels' )
    | API
  a( href='/terms' )
    | Terms
  a( href='/privacy' )
    | Privacy
