footer.LoggedOutFooter
  a( href='/about' ) About
  a( href='/blog' ) Blog
  a( href='/pricing' ) Pricing
  a( href='mailto:everyone@are.na' ) Contact
  a( href='http://store.are.na' ) Store
  a( href='https://twitter.com/AREdotNA' ) Twitter
  a( href='/terms' ) Terms
  a( href='/privacy' ) Privacy
