footer.LoggedOutFooter
  .LoggedOutFooter__sections
    section
      span Contact
      a(href="mailto:everyone@are.na") Email
      a(href="https://twitter.com/AREdotNA") Twitter
      a(href="https://www.instagram.com/aredotna/") Instagram
    section
      span Company
      a(href="/about#team") Team
      a(href="") Media Kit
      a(href="/faqs") FAQs
    section
      span Community
      a(href="/blog") Blog
      a(href="/education") Education
      a(href="/about") Projects
    section
      span Mobile
      a(href=sd.ITUNES_LINK) Download iOS App