header.LoggedOutHeader.js-logged-out-header
  a.LoggedOutHeader__logo( href='/' )
    span
      include ../../../public/images/arena-mark.svg
    strong Are.na


  .LoggedOutHeader__menu
      a( href='/pricing' data-id="pricing" ) Pricing
      a( href='/explore' data-id="explore" ) Explore
      a( href='/blog' data-id="blog" ) Blog

      if user
        a.js-log-out( href='/me/sign_out' ) Log out
      else
        a( href='/log_in' ) Log in
