header.LoggedOutHeader.js-logged-out-header
  a.LoggedOutHeader__logo( href='/' )
    span
      include ../../../public/images/arena-mark.svg

  unless sd.CURRENT_PATH === '/'
    include ../components/menu/index

  .LoggedOutHeader__cta
    if user
      a.js-log-out( href='/me/sign_out' )
        | Log out

    else
      a( href='/sign_up' )
        | Join
      = ' '
      span or
      = ' '
      a( href='/log_in' )
        | Log in
