header.LoggedOutHeader.js-logged-out-header
  a.LoggedOutHeader__logo( href='/' )
    span
      include ../../../public/images/arena-mark.svg

  include ../components/menu/index

  unless user
    .LoggedOutHeader__cta
      a( href='/sign_up' )
        | Join
      = ' '
      span or
      = ' '
      a( href='/log_in' )
        | Log in
