header.LoggedOutHeader.js-logged-out-header
  span.LoggedOutHeader__logo( href='/' )
    span
      include ../../../public/images/arena-mark.svg
    span
      | &nbsp;Are.na

  .LoggedOutHeader__cta
    a( href='/sign_up' )
      | Join
    = ' '
    | or
    = ' '
    a( href='/log_in' )
      | Log in
