header.LoggedOutHeader.js-logged-out-header
  a.LoggedOutHeader__logo( href='/' )
    span
      include ../../../public/images/arena-mark.svg
    strong Are.na

  unless sd.CURRENT_PATH === '/'
    include ../components/menu/index

  .LoggedOutHeader__menu
      a( href='/about#pricing' ) Pricing
      a( href='/explore' ) Explore
      a( href='/blog' ) Blog

      if user
        a.js-log-out( href='/me/sign_out' ) Log out
      else
        a( href='/log_in' ) Log in
