.view-menu
  // +below(block_width * 2)
  //   display none
  &__selected.iconic:before
    vertical-align middle !important
    top 0px !important
  &__dropdown
    width unit * 15
    &__option
      font-weight bold
      padding (unit / 3) unit
      border-bottom 1px solid bordergray
    &__option:last-child
      border-bottom none
    &__option:hover
      color hovergray
    &__option.iconic:before
      vertical-align middle !important
      top -1px !important

.dropdown--is_active
  .view-menu__selected
    color hovergray