// TODO: Remove completely

.form-card
  max-width (block_width * 2)
  margin (1em * 2) auto
  padding 1em
  border 2px solid colors-gray-border

  h2
  h3
    collapsed-margins(1em)
    font-size font-size-lg
    font-weight normal

  ul
  ol
  table
    collapsed-margins(1em)

  li
    margin-left 1em
    line-height 1.5
    list-style-type disc

  &__errors
    display none
    margin 0 0 1em 0
    text-align center
    font-size font-size-sm
    color red
