
.friend
  display flex
  border-bottom 1px solid colors-gray-border
  align-items center
  justify-content space-between
  padding 0.5em 0

  &:last-child
    border-color transparent

  &__avatar
    display inline-block
    margin-right 1em
    vertical-align middle

  &__follow
    text-align right
    font-weight normal
    cursor pointer
    font-weight bold
    &:hover
      color colors-gray-hover