
.view-menu.dropdown--menu.dropdown--menu--view
  .view-menu__selected.iconic.js-dropdown-trigger(data-glyph=glyph)
  .view-menu__dropdown.dropdown
    .dropdown__inner
      .view-menu__dropdown__option.iconic(data-glyph="grid-three-up" data-mode="grid") &nbsp; Thumbnail view
      .view-menu__dropdown__option.iconic(data-glyph="list" data-mode="list") &nbsp; List view