.OnboardingGuide
  .OnboardingGuide__pane
    include ../steps

    .OnboardingGuide__actions
      a.Button.js-next
        | Next

  .OnboardingGuide__pane
    p Explore shows connections and channels being made by everyone.

    .OnboardingDemo
      .OnboardingDemo__aspect
        <iframe src="https://player.vimeo.com/video/222230760?autoplay=1" width="3360" height="2100" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
