.InlineConnectIntegration
  position relative

  &__close
    position absolute
    top connect-outer-border-size
    right 100%
    padding 0.25em
    font-size font-size-lg
    line-height 1
    font-weight bold
    color colors-gray-text

  &__body
    //
