.ChannelCreate
  &__block
    display flex
    justify-content center
    flex-direction column
    align-items center
    max-width 100%
    width (block_width * 0.9)
    height @width
    margin 1em auto
    border-width 2px
    border-style solid

  &__input
    font-size font-size-h4 !important
    margin-top 1em !important
    padding 0 !important
    text-align center !important
    border-radius 0

  &__metadata
    margin-top 1em
    font-size font-size-sm
    line-height line-height-base
    text-align center
