+mobile()
  .NewChannel
    // Centers plus-sign
    margin-left 1.66em

    // Hide 'New channel' text label
    > span
      display none

  .ChannelCreate
    padding 0 1em

    &__block
      width 100%
      height (block_width * 0.75)
