@import '../../layout/variables'

#message-container
  position fixed
  bottom 12px
  right 12px
  height auto

body.no-messages #message-container
  display none

.message
  background-color backgroundgray
  border 1px solid bordergray
  width 300px
  padding 15px
  font-size s_caption + 1
  z-index header_z
  margin-top 12px

privacy-color('.message--', color)

.message__inner
  position relative
  margin -12px 0 0 0

.message__inner__close
  position absolute
  top 8px
  right -8px
  color lightgray

.message__inner__title
  font-weight bold
  padding 10px 0

.message__inner__body
  line-height 1.5

  a
    font-weight bold
    color inherit

.iconic[data-glyph]
  &.iconic-sm:before
    font-size 14px

  &.iconic-size-sm:before
    font-size 14px