.Badge
  display inline-block
  padding 0.2em 0.4em
  line-height 1
  border-radius 0.15em
  background-color colors-gray-lighter
  color white
  font-weight bold
  flex 1

  &--alert
    background-color colors-state-alert
