.gs
  margin (unit * 6) auto (unit * 10)
  text-align center
  h1, h2
    font-weight normal
    color hovergray
  h2
    margin-bottom unit * 2
  a.btn
    margin (unit * 4) auto
    display inline-block
    text-align center
    font-weight bold
    border 2px solid black
    color black
    width unit * 12
    font-size 20px
    line-height 50px
    &:hover
      background-color black
      color white
  &__body
    min-height calc(100vh \- 180px)

@require './slide.styl'