@import '../../../components/layout/variables'

#getting-started--page h1
  margin-top s_margin * 3
  margin-bottom s_margin * 6

.getting-started--column
  width 320px
  display inline-block
  vertical-align top
  padding 0
  margin 0 50px 0 50px

  img
    max-width 65%

.getting-started--column__caption
  margin-top s_margin * 2
  line-height 1.3
  text-align left
  font-size 14px
  padding 0 2px 0 2px
  text-align left
  margin 25px 0 0 0

  li
    margin 0 0 20px 0px
    list-style none
    font-size 20px
    text-align center

.getting-starte-button-container
  position relative
  width 100%
  float left
  text-align center

.getting-started--button
  width 150px
  display inline-block
  margin s_margin * 8 20px
  border-top 1px solid textgray
  padding 15px 0 0 0
  font-weight bold
  
  &:hover
    border-top 1px solid hovergray

@media (max-height:700px)
  .getting-started--column
    width 270px
    margin 0 35px 0 35px

  .getting-started--button
    margin s_margin * 3 20px

  #getting-started--page h1
    margin-top s_margin * 3
    margin-bottom s_margin * 3

  .getting-started--column__caption
    font-size 13px
    li
      margin 10px 0 10px 0px

@media (max-width:(block_width_mar * 4) + 20)
  .getting-started--column
    width 270px
    margin 0 35px 0 35px

  .getting-started--button
    margin s_margin * 3 auto

@media (max-width:(block_width_mar * 3) + 20)
  .getting-started--column
    width 190px
    margin 0 30px 40px 30px

  .getting-started--column__caption
    font-size 13px
    li
      margin 10px 0 10px 0px
