.gs-slide
  text-align center
  margin-bottom unit * 6
  &__img 
    position relative
    margin-bottom unit * 2
    img
      width 800px
      margin 0 auto
    &__nav
      position absolute
      top 50%
      cursor pointer
      svg
        height 25px
        fill lightgray
      &:hover svg
        fill hovergray
      &--right
        right unit * 2

  &__copy
    width 600px
    text-align left
    margin 0 auto !important
    line-height 1.5 !important
    font-size 18px !important