input.Input.js-input(
  type='text'
  placeholder='Add new comment'
)

.Utility--align-center
  button.Button.Button--invisible.Button--size-sm.js-button(
    type='button'
    value='submit'
  ) Add comment
