.NewComment__input.js-comment-container
  textarea.Input.Input--size-sm.js-input(
    placeholder='Add new comment'
    rows= 4
  )

  .NewComment__tip.js-tip
    | shift + enter for line break

.NewComment__submit
  button.Button.Button--invisible.Button--size-sm.js-submit(
    type='button'
    value='submit'
    disabled
  ) Add comment
