extends ../../../../components/meta_pocket/templates/meta_pocket

block vars
  - title = "Actions"
  - extraClasses = "metadata__column--mobile"
  - id = "metadata--actions"

block content
  if !user.canEditChannel(channel)
    .follow_button.pointer: a(data-type="Channel", data-id="#{channel.id}")
