extends ../../../../components/meta_pocket/templates/meta_pocket

block vars
  - title = 'Connections'
  - extraClasses = ''
  - id = 'metadata--connections'

block content
  .js-metadata--connection-list
    //- Rendered client-side

  if user
    .metadata__content__section
      a.Button.Button--size-xs.Button--compact.js-connect(
        //- Match position of connect component input
        style='margin: 5px'
        data-type='Channel'
        data-id= channel.id
      ) Connect &rarr;
