extends ../../../../components/meta_pocket/templates/meta_pocket

block vars
  - title = "Connections"
  - extraClasses = "is-readable"
  - id = "metadata--connections"

block content
  .js-metadata--connection-list

  .connect-container
      //- rendered on the client
  .metadata__content__section
    .connect_button.pointer: a(data-type="Channel", data-id="#{channel.id}") Connect
