extends ../../../../components/meta_pocket/templates/meta_pocket

block vars
  - title = "Delete"
  - extraClasses = "is-settings"
  - id = "metadata--delete"

block content
  .delete-channel: a Delete channel
