extends ../../../../components/meta_pocket/templates/meta_pocket

block vars
  - title = "Delete"
  - extraClasses = "is-settings"
  - id = "metadata--delete"

block content
  .delete-channel: a Delete channel

  .delete-channel--confirmation
    | Are you sure you want to delete&nbsp;
    strong #{channel.get('title')}
    | ? &nbsp;
    span.delete-channel--confirmation__yes: a Yes
    span.delete-channel--confirmation__no: a No
