extends ../../../../components/meta_pocket/templates/meta_pocket

block vars
  - title = "Export"
  - extraClasses = "is-settings"
  - id = "metadata--export"

block content
  .export--option(data-format="pdf"): a PDF
  .export--option(data-format="zip"): a ZIP
  .export--option(data-format="html"): a HTML
  unless channel.get('status') == 'private'
    .export--link(data-format="json"): a(href="#{sd.API_URL}/channels/#{channel.get('slug')}" target="_blank") JSON

  .export__status
