extends ../../../../components/meta_pocket/templates/meta_pocket

block vars
  - title = "Followers"
  - extraClasses = "metadata__column--mobile"
  - id = "metadata--followers"

block content
  .metadata__content__section.js-channel-follower-count
    a(href="#{channel.href()}/followers") #{channel.get('follower_count')} Followers
  if !user.canEditChannel(channel)
    .follow_button.pointer: a(data-type="Channel", data-id="#{channel.id}")
