extends ../../../../components/meta_pocket/templates/meta_pocket

block vars
  - title = "Info"
  - extraClasses = "metadata__column--mobile"
  - id = "metadata--info"

block content
  .metadata__content__section#metadata--info__description
    if channel.has('metadata')
      | #{channel.get('metadata').description}
    else
      | —
  .metadata__content__section#metadata--info__collaborators
    //- rendered on the client

  .metadata__content__section.js-channel-share
    include ../../components/share/index
