extends ../../../../components/meta_pocket/templates/meta_pocket

block vars
  - title = "Info"
  - extraClasses = "metadata__column--mobile"
  - id = "metadata--info"

block content
  if can.update || channel.has('metadata')
    .metadata__content__section
      .ChannelDescription.js-channel-description
        if channel.has('metadata')
          = channel.get('metadata').description || '—'
        else
          | —

  if channel.get('status') !== 'private'
    .metadata__content__section
      a.MetadataInfoFollowCount.js-channel-follower-count( href="#{channel.href()}/followers" )
        | #{channel.get('follower_count')} Followers

      if can.follow
        a.MetadataInfoFollowButton.follow_button(
          data-type='Channel'
          data-id= channel.id
        )

  .metadata__content__section.ChannelShare.js-channel-share
    include ../../components/share/index
