extends ../../../../components/meta_pocket/templates/meta_pocket.jade

block vars
  - title = "Share"
  - extraClasses = "is-settings"
  - id = "metadata--share"

block content
  include ../../../../components/share_link/templates/share_link.jade
