.BlockConnectionsList
  // Blocks with this URL also appear in...
  > h5
    margin 2em 0 0.5em 0
    text-align center
    font-size font-size-xs
    line-height 1
    text-transform uppercase
    color colors-gray-light
    font-weight normal
