.block-sidebar__section--connect
  margin-bottom (unit * 1.5)
  &__button
    font-size 0.8rem
    margin-top unit * 2
    &:hover
      color hovergray
  .connect-container
    position relative
    height 121px
    width 100%
    z-index 99999
    pointer-events none
    margin-top -(unit)

    &.is-active
      background #fff
      border 1px solid bordergray
      pointer-events all

    .new-connection
      padding 0

      input
        height 29px
        font-size 0.8rem

      &__caption
        display none

      &__search-results
        height 90px
        width 100%
        overflow hidden
        ul
          position relative

      &__search-result
        height 30px
        border 0px
        margin 0
        padding 0
        border-top 1px solid bordergray
        background-color transparent
        padding-left 10px
        line-height 30px

        &.is-connected
          &:hover
            .disconnect
              padding 0
              padding-left 10px
              line-height 30px

      .button--inblock--bottom
        display none

      .button--inblock--mini
        display block
        position absolute
        left -(unit)
        top 0
        width 15px
        height 30px
        line-height 14px
        font-size 22px
        margin 0
        color lightgrayplus
        padding 0
        text-align right

        &:hover
          background-color transparent
          color hovergray