.block-container
  clearfix()
  display flex
  flex-flow row nowrap
  position relative

  +below(950px)
    display block
    
.block-content
  height 100vh
  flex-grow 1
  position relative
  display flex
  align-items center
  justify-content space-between
  overflow hidden

  +below(950px)
    height 90vh
    padding 0 unit
    margin-top 0
    overflow hidden

  &__info
    position absolute
    bottom 0
    left 0
    width 100%
    padding unit 0
    text-align center
    display none
    &__title
      padding-bottom (unit / 2)
    &__date
      padding-bottom (unit / 4)
    &__source
      vertical-align bottom
    &__title, &__source, &__toggle-info
      font-weight bold
    &__date, &__source
      font-size 0.8rem
      line-height 1.2rem
      color lightgray
    &__toggle-info
      display none
      z-index 2001
      position absolute
      bottom 0
      right 0
      padding unit + 3
      font-size 0.8rem
      color lightgray
      cursor pointer
      &:hover
        color hovergray

  &.is-wide
    .block-content__info
      display block 
      &__toggle-info
        display block

.block-img
  padding 0 unit
  margin 0 auto
  
  img
    max-height 75vh
    width auto
    max-width 100%
    +below(950px)
      max-width 100%

.block-media
  position relative
  margin 0 auto

  iframe
    max-width 100%

  +below(950px)
    padding 0 unit
    max-width 100%

.block-meta
  margin-top unit * 3
  > a
    font-weight bold

.block-text
  > p
    p()
    margin-top unit

  ul
    ul()

  a
    font-weight bold

  > h1, h2, h3, h4, h5, pre
    margin unit 0

  blockquote
    margin unit 0


.block-text
  p()
  font-family font_serif
  color #333
  background-color #fff
  border 1px solid bordergray
  width 90%
  max-width 740px
  margin (unit * 2) auto
  overflow-x auto
  padding unit * 2
  text-align left
  min-height 80vh
  font-size 1.2rem
  line-height 1.7em
  max-height 75vh
  overflow scroll

  +below(800px)
    height 50vh
    border-color transparent
    padding unit

  p
    p()
    font-size 1.2rem
    line-height 1.7em

    &:first-child
      margin-top 0

    &:last-child
      margin-bottom 0

  ul
    ul: 'square'

  ol
    ol()

  hr
    rule()

  img
    max-width 100%

  > form textarea
    resize vertical
    padding unit * 2
    font-family font_serif
    line-height 1.7em

  .attr-value
    padding (unit * 2)
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    
  +below(800px)
    width 100%
    .attr-value
      padding unit

.block-attachment
  .iconic-property-fill
    fill textgray

.block-video
  video
    max-width 65%
    height auto

.block-meta--attribution
  position absolute
  bottom unit
  right unit
  color lightgray

.button--base--connect
  text-align center
  width 100%
  border-top none

  &:hover
    border-top none
    
.block-arrow
  cursor pointer
  height 100%
  min-width 10%
  opacity 0
  display none
  z-index 1
  align-items center
  justify-content center
  
  &:hover
    opacity 1

  +below(950px)
    height 90vh
    width 10vw
    position absolute
    left 0
    top 0
    display none
    &:hover 
      opacity 0
    &.block-arrow--right
      left auto
      right 0

.block-mobile-arrow 
  display none
  +below(950px)
    display block
    position absolute
    bottom (unit / 2)
    left 0
    width 100%
    text-align center
    svg
      width 25px !important
      height 25px !important
      fill lightgrayplus
      transform rotate(90deg)

.modalize .block-arrow
  display flex

  svg.iconic.iconic-md:not(.iconic-size-sm):not(.iconic-size-lg)
    width 20px
    height 20px

.js-url-connections-list h5
  text-align center
  font-weight normal
  margin unit 0
  font-size 0.7rem
  text-transform uppercase
  color lightgray

.tab--container--block
  width 100%

  .tab--container__nav
    border-bottom 1px solid bordergray

  .tab--container__nav__item
    padding 0 unit

    +below(800px)
      display inline-block
      width auto
      padding 0 (unit/2)
      h5
        font-size 0.8rem

  .tab-content
    background-color white
    min-height 30vh
    padding-bottom (unit * 3)

  .tab-content__inner
    margin unit auto

    +below(800px)
      width 90%

.block-connection-outer
  display table
  width 100%
  margin-bottom (unit / 2)

.block-new-comment-container
  margin-top unit * 2
  font-size 14px

.comment-list
  font-size 14px
  p
    p 14px

@require 'sidebar'
@require 'connect'