.block-sidebar
  width unit * 18
  height 100%
  background white
  overflow scroll
  position relative
  padding-right (unit * 2)

  &__separator
    font-size 0.8rem
    font-weight bold
    color lightgray
    border-bottom 1px solid bordergray
    margin (unit * 2) 0 unit
    padding-bottom (unit / 2)

  &__info
    &__title
      h3()
      text-align left
      margin unit auto
      line-height 1.2
      &.attribute-group
        display block

    &__date
      font-size 0.8rem
      line-height 1.3rem
      color lightgray
      > a
        font-weight bold
    
    &__source
      font-weight bold
      font-size 0.8rem
      line-height 1.2rem
      &__original
        ellipsis(200px)
        vertical-align bottom

    &__description
      p 14px
      margin-top 0
      overflow hidden

  
  &__tabs
    background #fff
    #block-tabs
      margin-top 0