.Page--examples
  &__cta, &__description
    max-width 650px
    margin 0 auto 5em

    > .Type
      text-align center

  &__example-section
    margin 1em 0 4em

  &__header
    display flex
    flex-direction row
    margin-bottom 1em

  &__button
    margin 3em 0 0
  
  &__button-load-more
    margin 0em 0 3em

.Categories
  max-width 650px
  margin 2em auto 3em
  text-align center

  h4
    display inline

.Example-channels
  .ChannelBlockGroup
    margin-bottom 4em

  .ChannelBlockGroup__header 
    margin 2em .5em 1em
    display flex
    justify-content space-between

  .ChannelBlockGroup__follow
    vertical-align middle
    > span 
      border 1px solid colors-gray-border
      border-radius .25em
      padding 0.75em 1.25em
      font-size font-size-sm
      font-weight bold
      cursor pointer
      &:hover
        border-color colors-gray-border-bold
        color colors-gray-hover


  .ChannelBlockGroup__title > h4.Type
    font-weight bold
  
  .ChannelBlockGroup__inner:hover
    opacity 1
  
  .ChannelBlockGroup__inner .Block__inner:hover .Block__inner__overlay
    display none

  .ChannelBlockGroup:last-child > .ChannelBlockGroup__divider
    display none