.Page--examples
  &__cta
    border 1px solid colors-gray-border-bold
    border-radius input-border-radius * 2
    padding 2em

  &__example-section
    margin 5em 0 10em

  &__channels
    .ChannelBlockGroup:last-child > .ChannelBlockGroup__divider
      display none
  
  &__button
    margin 3em 0 0