extends ./layout

block title
  |  / Resend confirmation

block content
  .AuthenticationForm
    p.Type.Type--lh-tall.Utility--align-center
      | You haven&rsquo;t confirmed your account yet.

    p.Type.Type--lh-tall.Utility--align-center
      | Please check your email to confirm your account and continue with Are.na.

    p.Type.Type--lh-tall.Utility--align-center
      a.js-resend-confirmation Resend my confirmation

    p.Type.Type--size-xs.Type--lh-tall.Utility--align-center
      | Contact <a href='mailto:help@are.na?subject=Account+confirmation+expired'>help@are.na</a> if you haven&rsquo;t received this email or you&rsquo;re still having trouble.
