extends ./layout

block title
  |  / Unable to complete registration

block content
  .AuthenticationForm
    p.Type.Type--lh-tall.Utility--align-center
      | We cannot find that invitation code.

    p.Type.Type--size-xs.Type--lh-tall.Utility--align-center
      | If you believe this is in error please contact <a href='mailto:help@are.na?subject=Account+confirmation+expired'>help@are.na</a>
