iconic-color(color)
  fill color
  stroke color

img.iconic
  // visibility hidden

.iconic-property-fill, .iconic-property-text
  stroke none !important

.iconic-property-stroke
  fill none !important

.iconic *
  // Main color goes here

.iconic .iconic-property-accent
  // Accent color goes here

