if channel.get('share_link')
  input.Input.Input--size-xs.Input--share.js-share-input(value="#{channel.shareHref()}" readonly)
  .js-share-unshare: a Remove public link
else
  .js-share-generate: a Create public link

