if channel.get('share_link')
  input#channel--share-input.channel--share-input(value="#{channel.shareHref()}" readonly)
  .channel--share-unshare: a Unshare
else
  .channel--share-generate: a Generate shareable link

