extends ../../../../components/layout/index--bare

block body
  .Page
    .UI
      .AddBlock.js-add-block
        include ../../../../components/add_block/index

      .AddBlock.AddBlock--list.js-add-block
        include ../../../../components/add_block/index

block scripts
  script( src= asset('/assets/ui.js') )
