extends ../../../../components/layout/index--bare

block body
  .Page
    .UI
      .Connect.js-connect
        include ../../../../components/connect/templates/index

block scripts
  script( src= asset('/assets/ui.js') )
