extends ../../../../components/layout/layouts/blank

block title
  |  / UI / Components

block scripts
  script( src= asset('/assets/ui.js') )

block container
  .Page
    .UI
      .AddBlock.js-add-block
        include ../../../../components/add_block/index

      .AddBlock.AddBlock--list.js-add-block
        include ../../../../components/add_block/index
