.footer--info
  height 300px
  text-align center
  &__menu
    position relative
    top 50%
    transform translateY(-50%)
    a
      color black
      font-weight bold
      margin 0 unit
      border-bottom none !important
    &__logo
      margin-top unit * 2
  +mobile()
    &__menu
      text-align center
      a
        display block
        margin unit (unit * 3)
      &__logo
        text-align center

