@require 'labs'
@require 'graph'

.body--static
  background-color #fff
  &__header
    margin (unit * 6) auto (unit * 3)
    text-align center
    max-width 600px
  h1
    text-align center
    antialiased()
    font-size 2rem
    line-height 1.45em
    color hovergray
    font-weight normal

  h2
    text-align left
    antialiased()
    font-size 1.5rem
    line-height 1.45em
    color hovergray
    font-weight normal
    margin (unit * 2) 0

.about-section
  max-width 600px
  margin (unit * 6) auto 0
  font-size 20px
  line-height 1.5

  &__principles
    margin-bottom 300px

  &:last-child
    margin-bottom (unit * 10)

  a
    font-weight bold

  p
    p()
    margin-bottom unit

@media (max-width:(block_width_mar * 3) + 16)
  .body--static
    p, h1
      width 90%
      margin-left 5%

    .static__img
      img
        max-width 90%
        left 5%