.AboutHeroVideo
  cover-seams()
  ratio-box(2880 / 1750)
  width 66.66%
  margin 0 auto
  outline 1px solid colors-gray-border-bold

  > iframe
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-color white

.AboutBlurbs
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content center

  &__blurb
    flex-basis 33.33%
    margin 2em 0
    padding 0 2em

    > h5
      text-align center

    > p
      line-height line-height-tall
