@import '../components/layout/variables'

.static__mark
  position absolute
  width 28px
  margin 7px 0 0 -42px
  opacity 0.90
  z-index 199
  
  &:hover 
  	opacity 0.70
  
.static__left-column
	position relative
	float left
	top 0
	left 0
	width auto
	padding 6.8em 0 0 0
	
.static__right-column
  position relative
  float right
  top 0
  right 0
  color textgray
  text-align left
  padding 7.4em 1.5em 0 0
  z-index 199

.static__menu
  position relative
  float right
  top 0
  right 0
  color textgray
  text-align left
  padding 0 2.5em 0 0
  z-index 199

.static--title
	position relative
	float left
	width 100%
	color hovergray
	margin 0 0 24px 0

.static--text
	max-width 740px
	font-size 24px
	line-height 1.3em
	margin-bottom 130px
	
	a
		font-weight bold
		
		&:hover
			color hovergray

.static__tools__frame
	border 1px solid lightgray
	padding 10px
	margin 0 0 50px 0

.static__tools__frame--premium
	border 1px solid public

#layout-header
	display none
	
body 
	background-color backgroundgray
	
