.static__graph
  width 98%
  max-width 900px
  height 100px
  margin 100px auto 200px auto
  border 0px solid lightgray
  background-color white

  .static__graph-title
    font-weight bold
    color hovergray
    text-align left
    font-size 1rem
    margin 0 0 10px 0

  .static__graph-fill
    position realtive
    float left
    height 100%

  .step-1
    background-color success
    width 6%

  .step-2
    background-color #6AD065
    width 44%

  .step-3
    background-color secondbackgroundgray
    width 50%

.static__graph-mark
  position relative
  width 1px
  background-color textgray
  margin 82px 0 0 0
  margin-left 50%
  height 42px

  &__lower
    height 84px

.mark-label
  position relative
  float left
  text-align left
  font-size s_caption + 2
  line-height 18px
  margin 45px 0 0 0
  color hovergray
  width 180px

  &__lower
    margin-top 90px

.expense
  position relative
  width 1px
  border-right 1px dashed textgray
  margin 0 0 0 0
  height 100px
  color hovergray

.expense-1
  margin -124px 0 0 80%

  .expense-label
    margin-top -160px

.expense-2
  margin 0 0 0 70%

.expense-label
  position relative
  float left
  line-height 18px
  text-align left
  width 180px
  font-size s_caption + 2
  margin-top 0
  margin 5px 0 0 8px