.AboutSection
  margin-bottom 12em

  &__buttons
    text-align center

    > .Button
      margin 0 1em

.AboutFeynman
  margin 2em 0

  > svg
    display block
    margin 0 auto
    max-width 60%
    fill colors-gray-text

@require '../components/pricing_table/index'
@require '../components/posts/index'
@require '../components/lab_posts/index'
@require '../components/store_posts/index'
