.AboutSection
  margin-bottom 12em

  &__buttons
    text-align center

    > .Button
      margin 1em

.AboutFeynman
  margin 2em 0

  > svg
    display block
    margin 0 auto
    max-width 60%
    fill colors-gray-text

.AppImg
  display block
  width 95%
  margin 0 auto

.AboutVideo
  width 100%
  position relative
  > span
    border 1px solid colors-gray-border
    display block
    ratio-box(960 / 540)
    > iframe
      position absolute
      top 0
      left 0
      width 100%
      height 100%

img.FaqImage
  margin 2em auto
  max-width layout-narrow-width

@require '../components/pricing_table/index'
@require '../components/posts/index'
@require '../components/lab_posts/index'
@require '../components/store_posts/index'
