.AboutSection
  margin-bottom 12em

  &--small
    margin-bottom 4em

  &__buttons
    text-align center

    > .Button
      margin 1em

  .Coupon
    color colors-state-premium

.AboutFeynman
  margin 2em 0

  > svg
    display block
    margin 0 auto
    max-width 60%
    fill colors-gray-text

.AppImg
  display block
  width 95%
  margin 0 auto

.EduImg
  display block
  margin 0 auto 2em
  width 100%

.AboutParagraph
  max-width 28em
  margin 1.5em 0

.AboutVideo
  width 100%
  position relative
  > span
    border 1px solid colors-gray-border
    display block
    ratio-box(960 / 540)
    > iframe
      position absolute
      top 0
      left 0
      width 100%
      height 100%

.AboutCarousel
  margin-bottom 2em

img.FaqImage
  margin 2em auto
  max-width layout-narrow-width

@require '../components/pricing_table/index'
@require '../components/posts/index'
@require '../components/store_posts/index'
