.PricingTiers
  display flex
  flex-direction row

  &__tier
    flex-basis 33.33%
    margin 0 2em

    > h5
      margin 4em auto
      text-align center
      font-weight bold

    &--premium
      &, & > *
        color colors-state-premium

  &__includes
    font-size font-size-lg
    line-height line-height-tall

    > li
      collapsed-margins(0.5em)

      > p
        font-size font-size-base
        line-height line-height-base
        font-weight bold

  @media (max-width: 48em)
    flex-direction column

    &__tier
      collapsed-margins(2em)
      width 100%

      > h5
        margin 2em auto
