.OnboardingGuide
  .OnboardingGuide__pane
    ol.OnboardingSteps
      li.OnboardingStep.OnboardingStep--active
        | <span>1.</span> Channels
      li.OnboardingStep.OnboardingStep--secondary
        | <span>1a.</span> Creating a New Channel
      li.OnboardingStep.OnboardingStep--secondary.OnboardingStep--active
        | <span>1b.</span> Searching for Existing Channels
      li.OnboardingStep
        | <span>2.</span> Connecting
      li.OnboardingStep
        | <span>3.</span> Profile and Feed
      li.OnboardingStep
        | <span>4.</span> Save to Are.na
      li.OnboardingStep
        | <span>5.</span> Find Friends

    .OnboardingGuide__actions
      a.Button.js-next
        | Next

  .OnboardingGuide__pane
    p
      | You can create your own channels and/or add
      | to channels started by other people.

    .OnboardingDemo.Placeholder( style='width: 300px; height: 300px;' )

    //- Re: justify-content space-between
    div &nbsp;
