.OnboardingGuide
  .OnboardingGuide__pane
    include ../steps

    .OnboardingGuide__actions
      a.Button.js-next
        | Next

  .OnboardingGuide__pane
    p
      | You can create your own channels and/or add
      | to channels started by other people.

    .OnboardingDemo
      <iframe width="864" height="900" src="https://www.youtube.com/embed/N9r8E4Ts8zo?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;version=3&amp;vq=hd1440" frameborder="0" allowfullscreen></iframe>
