.GroupBadge
  box-sizing border-box
  display inline-block
  text-transform uppercase
  font-weight bold
  border 1px solid
  border-radius 0.33em
  line-height 1
  user-select none
  vertical-align middle
  margin-left 0.65625em
  padding-left 0.34375em
  padding-right 0.34375em
  padding-top 0.25em
  padding-bottom 0.25em
  font-family 'Arial Narrow','Arial','Helvetica Neue','Helvetica',sans-serif
  font-size 0.625rem
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-transform scale(0.99)
  color inherit 
  border-color inherit

  &__inner
    display flex
    align-items center