.serif-text {
  font-family: serif;
  font-weight: 100;
  font-size: 16px;
  text-align: left;
  line-height: 1.6em;
}
.serif-text p {
  margin: 0.6em 0;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  padding: 0 0 0 0;
}
.path {
  display: none;
}
#layout-header {
  display: none;
}
.section-1,
.section-2,
.section-3,
.section-4 {
  position: relative;
  float: left;
  width: 100%;
  min-height: 400px;
  font-size: 22px;
  line-height: 1.5;
  background-color: #fff;
  padding: 2.5em 2.2em 2.2em 2.2em;
}
.section-1 {
  background-color: #fff;
}
.section-2 {
  background-color: #f9f9f9;
}
.section-2__links {
  position: relative;
  float: left;
  width: 27%;
}
.section-2__images {
  position: relative;
  float: left;
  width: 73%;
  overflow: hidden;
}
.section-2__images img {
  height: 300px;
  margin: 40px 25px 0 0;
}
.section-3 {
  background-color: #f5f5f5;
  text-align: center;
}
.section-3 img {
  width: 45px;
  opacity: 0.75;
  margin: 0 11% 0 11%;
}
.section-4 {
  background-color: #e5e5e5;
}
.home-logo {
  display: inline-block;
  width: 160px;
  opacity: 0.75;
}
.home-mark {
  display: inline-block;
  width: 50px;
  margin: 0 0 0px 20px;
  opacity: 0.75;
}
.login {
  position: absolute;
  top: 65px;
  right: 40px;
  padding: 0 0 0 0;
  font-size: 21px;
  z-index: 199;
}
.introduction {
  padding: 2em 0;
  max-width: 700px;
}
