extends ../../../components/layout/layouts/blank

block title
  |  / Community Guidelines

block scripts
  script( src= asset('/assets/about.js') )

block container
  include ../../../components/logged_out_nav/templates/header

  .Page.Page--narrow
    h2.Type.Type--size-h2.Utility--align-center Community Guidelines
  
    p.Type.Type--lg.Type--lh-tall
      | Are.na is an open-ended platform adaptable to different needs and styles of use. There’s no single correct way to use Are.na, nor to be a part of its community. These guidelines are intended to protect Are.na members from harmful behavior without undue restrictions on the types of content and behavior allowed on the platform.

    p.Type.Type--lg.Type--lh-tall
      | A number of members have put together channels sharing Are.na <strong><a href="https://www.are.na/alex-singh/how-do-you-use-are-na">use cases</a></strong>, <strong><a href="https://www.are.na/zach-rose/are-na-meetups">meetups</a></strong>, <strong><a href="">collections</a></strong>, and discussions of <strong><a href="https://www.are.na/sam-hart/meta-are-na">all things Are.na</a></strong>. We also provide an official channel for <strong><a href="https://www.are.na/are-na/feedback-and-feature-requests">Feedback and Feature Requests</a></strong>. See our <strong><a href="https://www.are.na/terms">Terms of Use</a></strong> for more detailed legal clarification of content and use violations.

    p.Type.Type--lg.Type--lh-tall
      | Please contact <strong><a href="mailto:help@are.na">help@are.na</strong></a> to communicate rule-breaking behavior to the team.
    
    p.Type.Type--lg.Type--lh-tall
      | Last updated: April 2018
      br
      | Members are welcome to suggest policy changes.

  hr.Base

  .Page.Page--narrow
    h4.Type.Type--size-h4.Type--lh-tall: strong What limits are there on the content I can add to Are.na?
  
    p.Type.Type--lg.Type--lh-tall
      | Unwelcome or unacceptable content includes, but is not limited to:
      ul.Type.Type--ul
        li Illegal content, per U.S. law
        li Spam or advertising
        li SEO gaming 
        li Fraudulent or deceptive links
        li Defamation
        li Copyright infringement
    
    h4.Type.Type--size-h4.Type--lh-tall: strong What qualifies as spam?
  
    p.Type.Type--lg.Type--lh-tall
      | Bulk uploading, self-promotion, and the posting of links and domain names primarily for SEO impact will be evaluated on a case-by-case basis. Posting links to phishing or malware sites is prohibited.

    h4.Type.Type--size-h4.Type--lh-tall: strong How are copyright infringements handled?
  
    p.Type.Type--lg.Type--lh-tall
      | A proper DMCA notice must be filed for any moderating actions to take place. In the case that a complaint is filed, the content in question will be assessed and, if found to violate DMCA protections, removed. Users who are found to have uploaded violating content will be provided with information surrounding the complaint, and will have the opportunity to file a DMCA counter-notice of their own.

    h4.Type.Type--size-h4.Type--lh-tall: strong Are there restrictions on nudity?
  
    p.Type.Type--lg.Type--lh-tall
      | We trust our members' common sense, and don't ban graphic or adult content. If you think your channel might be sufficiently NSFW as to offend fellow members, consider setting it to private. However, only cases of involuntary pornography, or of sexual content involving minors, will be moderated by the Are.na staff for removal. To report violations, email help@are.na and specify the offending user/s or content.

    h4.Type.Type--size-h4.Type--lh-tall: strong What constitutes prohibited or unwelcome behavior?
  
    p.Type.Type--lg.Type--lh-tall
      | Prohibited behavior includes:
      ul.Type.Type--ul
        li Harassment
        li Discrimination
        li Incitement
        li Impersonation
    p.Type.Type--lg.Type--lh-tall
      | Blocks, channels, comments, and accounts will be moderated for abuse or harassment at the discretion of the Are.na team. If you notice abuse or harassment, email help@are.na and specify the offending user/s or content.

    h4.Type.Type--size-h4.Type--lh-tall: strong What constitutes abuse or harassment?
  
    p.Type.Type--lg.Type--lh-tall
      ul.Type.Type--ul
        li Threats of harm, emotional abuse, or coercion
        li Sustained and/or graphic sexual advances
        li Hateful or discriminatory speech, imagery, symbolism, wielded at users rather than collected for research or archival purposes
        li Inciting or participating in bullying, brigading, or mobbing
        li Doxxing of personal information or private content

    h4.Type.Type--size-h4.Type--lh-tall: strong What will happen if my account is found in violation of community guidelines?
  
    p.Type.Type--lg.Type--lh-tall
      | Depending on the severity of the violation, and whether the user has committed prior violations, the Are.na team may reach out via email, remove the offending content, and/or suspend the account. If you believe your account has been unfairly suspended, or your content erroneously removed, contact the help@are.na email to appeal.

block footer
  include ../../../components/logged_out_nav/templates/footer

//- 

//- 

//- Are.na reserves the right to suspend accounts or remove content for any reason.


