extends ../../../components/layout/layouts/blank

block title
  |  / FAQs

block scripts
  script( src= asset('/assets/about.js') )

block container
  include ../../../components/logged_out_nav/templates/header

  .Page.Page--narrow
    h1.Type.Type--size-h2.Utility--align-center
      strong FAQs

    h3.Type.Type--size-h3
      | What should I use Are.na for? Why should I use it instead of other bookmarking and organization tools?
    p.Type.Type--lg.Type--lh-tall
      | People who use Are.na as a daily tool appreciate the dynamism between private and public collaboration. Content is easily connected between different topics and channels, resulting in discovery of information and organic archives.
    p.Type.Type--lg.Type--lh-tall
      | Play around for a while: adding content, connecting and discovering users is the best way to find out the platform's qualities.
    h3.Type.Type--size-h3
      | I'm lost, not sure how to use Are.na, can you help?
    p.Type.Type--lg.Type--lh-tall
      | You can #[a(href='/explore') explore] to see how other people use it, ask questions in the #[a(href='/are-na/feedback') feedback channel], look at the #[a(href='/getting-started') getting started] page or contact us.
    h3.Type.Type--size-h3
      | What are channels?
    p.Type.Type--lg.Type--lh-tall
      | A channel is a grouping of images, links, files, and texts. You can create and organize them privately, publicly and collaboratively.
    h3.Type.Type--size-h3
      | What's the difference between open, closed and private channels?
    p.Type.Type--lg.Type--lh-tall
      | Channels have privacy settings that determine who can view or add to them. When creating a channel, you can choose your privacy settings.
    p.Type.Type--lg.Type--lh-tall
      | An open channel can be added to or viewed by anyone, a closed channel is viewable by anyone but editable only by you and your collaborators, and a private channel is only viewable and editable by you and your collaborators.
    h3.Type.Type--size-h3
      | Can someone else moderate or modify my channels?
    p.Type.Type--lg.Type--lh-tall
      | A block owner can remove their blocks from any channel, as long as they can view it. Only channel owners and collaborators can update the order of a channel, change its visibility and change its title.
    h3.Type.Type--size-h3
      | What is a bookmarklet?
    p.Type.Type--lg.Type--lh-tall
      | Are.na's bookmarklet allows you to add information from your browser bar while you are out and about surfing the net. You can install it in one step #[a(href='/tools/bookmarklet') here].
    h3.Type.Type--size-h3
      | Is there a mobile app?
    p.Type.Type--lg.Type--lh-tall
      | Not yet.
    h3.Type.Type--size-h3
      | Who owns Are.na?
    p.Type.Type--lg.Type--lh-tall
      | 100% of shares are owned by the founders and advisors.
    h3.Type.Type--size-h3
      | How do you make money?
    p.Type.Type--lg.Type--lh-tall
      | Our goal is to sustain Are.na through the help of its loyal users by offering #[a(href='/tools/premium') premium tools]. We do not sell data or advertising space, more information #[a(href='/about') here].
    h3.Type.Type--size-h3
      | Do you have an API documentation?
    p.Type.Type--lg.Type--lh-tall
      | A bit out of date, you can find it here: #[a(href='http://dev.are.na') dev.are.na].
    h3.Type.Type--size-h3
      | What sites are built on Are.na's API?
    p.Type.Type--lg.Type--lh-tall
      | List of projects #[a(href='/are-na/powered-by-are-na') powered by Are.na].
    h3.Type.Type--size-h3
      | Can I suggest features?
    p.Type.Type--lg.Type--lh-tall
      | Yes, you can post suggestions, comments, bugs and complaints in our #[a(href='/are-na/feedback') feedback channel].
    h3.Type.Type--size-h3
      | Are there any restrictions on kind of content?
    p.Type.Type--lg.Type--lh-tall
      | We trust our users' common sense and have no particular graphic or adult restrictions in the name of research freedom. Our team can intervene in case of explicit criminal offense, read our #[a(href='/terms') terms and conditions] for more information.
    h3.Type.Type--size-h3
      | Can I only add content I own?
    p.Type.Type--lg.Type--lh-tall
      | Users are responsible for the content they link or upload, for research purposes we believe in the fair use of intellectual property, please credit authorship and sources when possible. Read our #[a(href='/terms') terms and conditions] for more information.
    h3.Type.Type--size-h3
      | Is there a roadmap of what you're working on?
    p.Type.Type--lg.Type--lh-tall
      | Coming soon.
    h3.Type.Type--size-h3
      | Should you thank someone?
    ul.Type.Type--lg.Type--lh-tall
      li We are grateful to our early supporters:
      li Rafael Rozendaal
      li Laurel Schwulst
      li Harm van den Dorpel
      li Anne Spalter
      li Joel Holmberg
      li Bryce Wilner
      li Adam Sammons
      li Loic Bernasconi
      li Esen Karol
      li Splnlss
      li Chris Coy
      li Mike Tully
      li Nick DeMarco
      li Csaba Osvath
      li Nick Moore
      li Zach Rose
      li David Hilmer Rex
      li David Berezin
      li Julia Panek
      li Cleopatra's US
      li Juliana Romano
      li Grace Robinson-Leo
      li Alexandros Stamatelatos
      li Robert D Matthews
      li Aslak Aamot Kjærulff
      li James Chae
      li Christopher Pappas
      li Elizabeth Sutherland
      li Sun An
    h3.Type.Type--size-h3
      | How can I contact you?
    p.Type.Type--lg.Type--lh-tall
      a( href='mailto:info@are.na' )
        | info@are.na

block footer
  include ../../../components/logged_out_nav/templates/footer
