extends ../../../components/layout/layouts/blank

block title
  |  / FAQs

block scripts
  script( src= asset('/assets/about.js') )

block container
  include ../../../components/logged_out_nav/templates/header

  .Page.Page--narrow
    h1.Type.Type--size-h2.Utility--align-center
      strong FAQs

    h3.Type.Type--size-h3
      | What should I use Are.na for?
    p.Type.Type--lg.Type--lh-tall
      | There is no right or wrong way to use Are.na. It's an open-ended space where you can organize your thoughts, projects, or research with anyone else. Play around for a while: adding content, connecting channels, and discovering new users are the best ways to get a feel for how Are.na works.
    h3.Type.Type--size-h3
      | How is Are.na different from other bookmarking and productivity sites?
    p.Type.Type--lg.Type--lh-tall
      | Built around simple collections that link together into expansive networks, Are.na represents a cooperative model for organizing media and ideas — free of ads, likes, algorithms, or distractions. Think of it as an organic archive of all kinds of knowledge, built by thoughtful people in order to learn and discover new things.
    h3.Type.Type--size-h3
      | What are channels?
    p.Type.Type--lg.Type--lh-tall
      | A channel is simply a collection of images, links, files, and texts. What it becomes is up to you and whoever you share it with. A channel can be a reading list, a research archive, a brainstorming canvas, or a mood board, but it can also be a mindmeld between collaborators, a calm headspace for your thoughts, or a poem.
    p.Type.Type--lg.Type--lh-tall 
      | You can create your own channels and make them private, public, or open to invited collaborators only.
    h3.Type.Type--size-h3
      | What's the difference between open, closed and private channels?
    p.Type.Type--lg.Type--lh-tall
      | Channels have privacy settings that determine who can view or add to them. Open channels are channels that anyone can view and add to. Closed channels can be seen by everyone, but can only be edited by invited collaborators. Private channels can only be seen or edited by invited collaborators.
    p.Type.Type--lg.Type--lh-tall
      | You can choose the privacy setting when you create a channel. If a someone else makes an open channel or invites you to their closed channel, you can connect anything you see on Are.na to it.
    h3.Type.Type--size-h3
      | Where can I see examples of active users and content?
    p.Type.Type--lg.Type--lh-tall
      | Check out these #[a(href="https://www.are.na/are-na/classic-channels") favorite channels] picked by the Are.na community or go to the #[a(href="https://www.are.na/explore") Explore] page, which shows everything the Are.na community is connecting in real time.
    h3.Type.Type--size-h3
      | How do I collaborate with other people on Are.na?
    p.Type.Type--lg.Type--lh-tall
      | To invite someone to collaborate on your channel: open the channel and type their name under “Edit Collaborators” in the channel header. If they’re not on Are.na yet, you can invite them by entering their email address.
    p.Type.Type--lg.Type--lh-tall
      | Channel owners and collaborators can update the order of a channel, change its visibility and change its title.
    img.FaqImage(src="https://d2w9rnfcy7mm78.cloudfront.net/1401809/original_cf115365cb891ba730021131366e4368.gif")
    h3.Type.Type--size-h3
      | Can I export my channels?
    p.Type.Type--lg.Type--lh-tall
      | Yes, you can export the contents of any channel in ZIP, PDF and html formats. Look for the Export menu in the channel header.
    img.FaqImage(src="https://d2w9rnfcy7mm78.cloudfront.net/1401806/original_72c94421d59560afbe88c1aeb8001935.gif")
    h3.Type.Type--size-h3
      | How do I delete a block?
    p.Type.Type--lg.Type--lh-tall
      | To remove a block from one of your channels, open the channel and hover on the block you want to remove. Click the trash icon on the top corner.
    img.FaqImage(src="https://d2w9rnfcy7mm78.cloudfront.net/1401808/original_7a00fc67159c98ea4a4254e4d5eaceee.gif")
    h3.Type.Type--size-h3
      | What is the Are.na bookmarklet?
    p.Type.Type--lg.Type--lh-tall
      | The Save to Are.na bookmarklet makes it easy to add content to any channel from your browser bar while you are out and about surfing the net. You can install it in one step #[a(href='/tools/bookmarklet') here].
    h3.Type.Type--size-h3
      | Is there an Are.na mobile app?
    p.Type.Type--lg.Type--lh-tall
      | Yes, we just released an Are.na mobile app for iPhone. You can download it #[a(href=sd.ITUNES_LINK) here].
    h3.Type.Type--size-h3
      | How do I hide my public channels and profile from search engines?
    p.Type.Type--lg.Type--lh-tall
      | #[a(href='/about#premium') Premium] members have the option to completely opt out from search engine crawlers.
    h3.Type.Type--size-h3
      | I'm still lost and I’m not sure how to use Are.na. Can you help?
    p.Type.Type--lg.Type--lh-tall
      | You can go through the #[a(href="/welcome/channels") getting started tutorial] or contact us at #[a(href="mailto:help@are.na") help@are.na]
    h3.Type.Type--size-h3
      | I'm still lost and I’m not sure how to use Are.na. Can you help?
    p.Type.Type--lg.Type--lh-tall
      | Please get in touch with us at #[a(href="mailto:help@are.na") help@are.na] and we’ll take care of it.
    h3.Type.Type--size-h3
      | Who owns Are.na?
    p.Type.Type--lg.Type--lh-tall
      | 100% of shares are owned by the founders and advisors.
    h3.Type.Type--size-h3
      | How do you make money?
    p.Type.Type--lg.Type--lh-tall
      | Our goal is to sustain Are.na through the support of our loyal #[a(href='/about#premium') Premium]  members. We do not sell members’ data or advertising space. Read more about our philosophy and mission #[a(href='/about') here].
    h3.Type.Type--size-h3
      | Do you have an API documentation?
    p.Type.Type--lg.Type--lh-tall
      | You can find our API documentation here: #[a(href='http://dev.are.na') dev.are.na]. FYI, it’s a bit out of date.
    h3.Type.Type--size-h3
      | What sites are built on Are.na's API?
    p.Type.Type--lg.Type--lh-tall
      | Here is a #[a(href='/are-na/powered-by-are-na') list] of projects powered by Are.na.
    h3.Type.Type--size-h3
      | Can I suggest features?
    p.Type.Type--lg.Type--lh-tall
      | We’d love to hear your ideas. Please post any suggestions and comments in our #[a(href='/are-na/feedback-and-feature-requests') feedback channel].
    h3.Type.Type--size-h3
      | Are there any restrictions on kind of content?
    p.Type.Type--lg.Type--lh-tall
      | We trust our members common sense, and we don't ban graphic or adult content in order to preserve their freedom to research freely. Our team will delete content from Are.na in the case of abuse, harassment, or criminal offense. Read our #[a(href='/terms') terms and conditions] for more information.
    h3.Type.Type--size-h3
      | Can I only add content I own?
    p.Type.Type--lg.Type--lh-tall
      | Users are responsible for the content they link or upload. For research purposes we believe in the fair use of intellectual property, but please credit authorship and sources. Read our #[a(href='/terms') terms and conditions] for more information.
    h3.Type.Type--size-h3
      | Is there a public product roadmap?
    p.Type.Type--lg.Type--lh-tall
      | These are the #[a(href="https://github.com/aredotna/ervell/projects/1") features we’re working on].
    h3.Type.Type--size-h3
      | Should you thank someone?
    ul.Type.Type--lg.Type--lh-tall
      li We are grateful to our early supporters:
      li Rafael Rozendaal
      li Laurel Schwulst
      li Harm van den Dorpel
      li Anne Spalter
      li Joel Holmberg
      li Bryce Wilner
      li Adam Sammons
      li Loic Bernasconi
      li Esen Karol
      li Splnlss
      li Chris Coy
      li Mike Tully
      li Nick DeMarco
      li Csaba Osvath
      li Nick Moore
      li Zach Rose
      li David Hilmer Rex
      li David Berezin
      li Julia Panek
      li Cleopatra's US
      li Juliana Romano
      li Grace Robinson-Leo
      li Alexandros Stamatelatos
      li Robert D Matthews
      li Aslak Aamot Kjærulff
      li James Chae
      li Christopher Pappas
      li Elizabeth Sutherland
      li Sun An
    h3.Type.Type--size-h3
      | How can I contact you?
    p.Type.Type--lg.Type--lh-tall
      | For general communications, send us an email at #[a(href="mailto:info@are.na") info@are.na]. For bugs and technical questions, email #[a(href="mailto:help@are.na") help@are.na].

block footer
  include ../../../components/logged_out_nav/templates/footer
