extends ../../../components/layout/index

block styles
	link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'about' + sd.CSS_EXT) )

block body
	.static__left-column
			.static__title
				strong Are.na /
			ul.static__menu
				li 
					a(href="#").active about
				li 
					a(href="#") team
				li 
					a(href="#") premium
				li 
					a(href="#") labs
				li 
					a(href="#") FAQ
				li 
					a(href="#") contact

	.static__right-column
		.static__about.static--text
			|	Arena is a platform for private and collaborative research where you can save links, images, and files as "blocks" and organize them into named "channels." People use Arena to assemble references around a topic, collect images around a theme, share ideas with collaborators, and more. 
			br 
			br
			|	We built Arena in response to feeling overwhelmed by the mass of information presented to us daily on the Internet. We wanted a tool that could help us collect and sort information as it appears. Arena enables you to build ideas over time using any content you add or come across online. We like to think of Arena as an evolving archive where people collaboratively create new concepts by combining found and original material. 

		.static__team.static--text
			| This our team.
			br
			img(src="http://www.ryanott.net/wp-content/uploads/ryan_round_avatar_360.png")
			img(src="http://www.ryanott.net/wp-content/uploads/ryan_round_avatar_360.png")

		.static__premium.static--text
			| These are the premium tools, support us.

		.static__labs.static--text
			| We also do this kind of stuff.

		.static__faq.static--text
			| Q?
			| A.

		.static__contact.static--text
			| info @ are.na

block scripts
	script( src=sd.ASSET_PATH + 'about' + sd.JS_EXT )
