extends ../../../components/layout/layouts/blank

block title
  |  / About

block scripts
  script( src= asset('/assets/about.js') )

block footer
  include ../../../components/logged_out_nav/templates/footer

block container
  include ../../../components/logged_out_nav/templates/header

  .About.Page.Page--narrow
    section.AboutSection
      h2.Type.Type--size-h2.Utility--align-center
        | Tools for Thinking, Together

      
      .AboutVideo
        span
          iframe(
            src='https://player.vimeo.com/video/227975322?autoplay=0&autopause=0'
            frameborder='0'
            allowfullscreen
          )
      br
      p.Type.Type--lh-tall.AboutParagraph
        | Are.na lets you save all kinds of content into simple, visual collections called channels. Channels and their contents can be reused by many people in different contexts, creating an interactive web of shared knowledge. 

      p.Type.Type--lh-tall.AboutParagraph
        | While Are.na brings together elements of social and productivity apps, it’s really a tool for visualizing, sharing, and building ideas together. Whether you’re making a mood board, organizing dissertation references, or just taking notes, it can help you structure your thoughts and make discoveries over time.

    section.AboutSection
      h2.Type.Type--size-h2.Utility--align-center
        | A more mindful community

      p.Type.Type--lh-tall.AboutParagraph
        | The web today is dominated by platforms which make money by addicting, surveilling, and manipulating us. We think a better online social space means starting with a different value proposition.

      p.Type.Type--lh-tall.AboutParagraph
        | Are.na’s mission is to build a member-supported community for shared knowledge and lifelong learning. Instead of distraction and fomo, it’s our goal to foster curiosity and collaboration. Because Are.na is supported by Premium members, our incentive is always to cultivate a tool and a social context that help you focus.

    section.AboutSection.AboutSection--small
      h2.Type.Type--size-h2.Utility--align-center
        | Built by artists, designers, and 
        br
        |creative entrepreneurs

      p.Type.Type--lh-tall.AboutParagraph
        | We built Are.na because we needed a better way to share projects and ideas with each other. Instead of showing off finished projects, we wanted a tool that invited other people into the creative process. Are.na is a space where every idea is a work in progress and you can always build on what your collaborators have started.

      unless user
        .AboutSection__buttons
          a.Button.Button--size-lg( href='/sign_up' )
            | Join Are.na

  hr.Base

  .About.Page
    section.AboutSection.AboutSection--small
      h2.Type.Type--size-h2.Utility--align-center
        | Our Team

      p.Type.Type--lh-tall.Utility--align-center
        h4.Type.Type--size-h4.Utility--align-center
          strong
            a( href='/charles-broskoski' )
              | Charles Broskoski
          |, Co-founder and CEO
          br
          strong
            a( href='/daniel-pianetti' )
              | Daniel Pianetti
          |, Co-founder and Product Lead
          br
          strong
            a( href='/chris-sherron' )
              | Chris Sherron
          |, Co-founder and Design Lead
          br
          strong
            a( href='/damon-zucconi' )
              | Damon Zucconi
          |, Co-founder and CTO
          br
          strong
            a( href='/christopher-barley' )
              | Chris Barley
          |, Co-founder and Marketing Lead
          br
          strong
            a( href='/leo-shaw' )
              | Leo Shaw
          |, Communications & Special Projects
          br
          strong
            a( href='/meg-miller' )
              | Meg Miller
          |, Blog Editor

  hr.Base
  About.Page.Page--narrow
    section.AboutSection.js-section( id='faqs' )
      h2.Type.Type--size-h2.Utility--align-center
        | FAQs

      p.Type.Type--lh-tall
        strong What should I use Are.na for? Why should I use it instead of other bookmarking and organization tools?

      p.Type.Type--lh-tall
        | People who use Are.na as a daily tool appreciate the dynamism between private and public collaboration. Content is easily connected between different topics and channels, resulting in discovery of information and organic archives.

      p.Type.Type--lh-tall
        | Play around for a while: adding content, connecting and discovering users is the best way to find out the platform's qualities.

      p.Type.Type--lh-tall
        strong I'm lost, not sure how to use Are.na, can you help?

      p.Type.Type--lh-tall
        | You can explore to see how other people use it, ask questions in the feedback channel, look at the getting started page or contact us.

      .AboutSection__buttons
        a.Button.Button--size-lg.js-more-faqs( href='/faqs' )
          | More FAQs

//- Charles Broskoski, Co-founder and CEO
//- Chris Barley, Co-founder and Marketing Lead
//- Damon Zucconi, Co-founder and CTO
//- Daniel Pianetti, Co-founder and Product Lead
//- Chris Sherron, Co-founder and Design Lead
//- Leo Shaw, Communications & Special Projects
//- Meg Miller, Blog Editor