extends ../../../components/layout/index

block styles
  link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'about' + sd.CSS_EXT) )

block body
  .static__left-column.flex-container
    img.static__mark(src="../images/arena-mark.svg", alt="Arena")
    .static__about.static--text
      h2.static--title--top#about-arena About
      p Are.na is a flexible platform for private and collaborative research.
      p We like to think of Are.na as an evolving archive where people collaboratively build up their ideas over time by combining found and original material.
      p There are no limitations on the subject or scope of an idea, Arena is intended to be used for pretty much any purpose.
      img.static__img(src="../images/arena-screenshot.jpg", alt="Arena")
      p Are.na is also regularly utilized by professionals to research and organize projects. Brick-and-mortar shops use it to manage inventory, art institutions use it to curate exhibitions, creative teams use it to share inspiration, and academics use it to collect references.
      p Users have created 23,591 channels and connected 302,047 blocks.

    .static__team.static--text
      h2.static--title--top#team Team
      p
        ul
          li: a(href="http://charlesbroskoski.com/_/") Charles Broskoski
          li: a(href="http://chrissherron.net") Chris Sherron
          li: a(href="http://no-plans.com") Daniel Pianetti
      p Advisors:
        a(href="/morgan-sutherland")  Morgan Sutherland,
        a(href="/damon-zucconi")  Damon Zucconi,
        a(href="/dena-yago")  Dena Yago,
        a(href="/daniel-brewster")  Dan Brewster,
        a(href="/john-michael-boling")  John Michael Boling&nbsp;
        | and
        a(href="/j-stuart-moore")  J. Stuart Moore.

    .static__premium.static--text
      h2.static--title--top#principles Principles
      p We aim at being self-sustainable, and are working to perfect and evolve the current product rather than seeking external funding.
      p We offer #[a(href="/tools#premium") premium tools]  at a fair price so that people who use Are.na regularly can contribute to the project's long-term plans:
      //  .static--highlight Total Are.na users: <strong>6520</strong>
      //  .static--highlight Supporting users needed to cover costs: <strong>290</strong>
      //  .static--highlight Currently supporting users: <strong>24</strong>
      .static__graph
        .static__graph-fill.step-1
          .static__graph-mark
            .mark-label
              | Current premium users
              br
              strong 25
        .static__graph-fill.step-2
          .static__graph-mark
            .mark-label
              strong 290
              br
              | Premium users needed to cover basic expenses
        .static__graph-fill.step-3
          .static__graph-mark
            .mark-label
              strong
              br
              | New milestones to come
        .static__graph-fill.step-4
          .static__graph-mark
            .mark-label
              strong 7100
              br
              | Total Are.na users

      p We also value transparency: we will never sell data without explicit authorization from the user. We will never show ads or join an ad network, and we're committed to retain complete control of the platform.

    .static__api.static--text
      h2.static--title--top#api API
      p Our #[a(href="http://dev.are.na/documentation/channels") API] can be used as a CMS, and to experiment with new ways of presenting and interacting with content. #[a(href="http://beta.are.na/are-na/powered-by-are-na") Here ] is a selection of public applications powered by Are.na.

    .static__roadmap.static--text
      h2.static--title--top#roadmap Roadmap
      p Here's a list of what we're working, planned features and recently completed ones:
        .static--small-text
          li Connect channel from open channel
          li Drag and drop to order blocks
          li Channel order and view settings
          li Edit profile (description and avatar)
          li Invite friends
          li Find friends
          li Infinite scrolling on /explore
          li Onboarding
          li Filter search inside channels and profiles [Premium]
          li Render svg images
          li Channel scoped comments
          li
            strike Connect block from open lightbox
          li
            strike Channel settings
          li
            strike Metadata
          li
            strike Manage channels dashboard [Premium]
          li
            strike Explore section
          li
            strike Public channels are optimized to show their content correctly on twitter and other platforms
    //.static-expandable__button
        a(href="#expand") See more

    .static__labs.static--text
      h2.static--title--top#labs Labs
      p Are.na is often used to organize educational material, research and group projects. We can offer support, workshops and tutorials to teachers and students.
      p Generally, we welcome ideas on for different uses of the platform, and we are open to collaborations such as custom archives, CMS, research and consulting. Please #[a(href="mailto:info@are.na") contact us] if you have something in mind.

    .static__faq.static--text
      h2.static--title--top#faq FAQs
      strong What should I use Are.na for? Why should I use it instead of other bookmarking and organization tools?
      p.static--half-p People who use Are.na as a daily tool appreciate the dynamism between private and public collaboration. Content is easily connected between different topics and channels, resulting in discovery of information and organic archives.
      p.static--half-p Play around for a while: adding content, connecting and discovering users is the best way to find out the platform's qualities.
      strong I'm lost, not sure how to use Are.na, can you help?
      p.static--half-p You can go through the #[a(href="#") tutorial], post in the #[a(href="http://beta.are.na/are-na/feedback") feedback channel ] or contact us below.
      strong What are channels?
      p.static--half-p A channel is a grouping of texts, images, links, embeddable media, and files. You can create and organize them privately, publicly and collaboratively.
      strong What's the difference between public, closed and private channels?
      p.static--half-p Channels have privacy settings that determine who can view or add to them. When creating a channel, you can choose your privacy settings.
      p.static--half-p An open channel can be added to or viewed by anyone, a private channel is only viewable and editable by you and your collaborators, and a closed channel is viewable by anyone but editable only by you and your collaborators.
      strong Can someone else moderate or modify my channels?
      p.static--half-p Only contributors can delete blocks, anyone can add blocks on public ones.
      strong What is a bookmarklet?
      p.static--half-p Are.na's bookmarklet allows you to add information from your browser bar while you are out and about surfing the net. You can install it in one step #[a(href="/tools#bookmarklet") here].
      strong What sites currently use arena as a CMS?
      p.static--half-p List of projects #[a(href="http://beta.are.na/are-na/powered-by-are-na") powered by Are.na].
      strong Is there a mobile app?
      p.static--half-p Not yet.
      strong Who owns Are.na?
      p.static--half-p 100% of shares are owned by the founders and advisors.
      strong How do you make money?
      p.static--half-p Our goal is to sustain Are.na through the help of its loyal users by offering #[a(href="/tools#premium") premium tools]. We do not sell data or advertising space.
      strong Can I suggest features?
      p.static--half-p Yes, you can post suggestions, comments, bugs and complaints in our #[a(href="http://beta.are.na/are-na/feedback") feedback channel].
      strong Are there any restrictions on kind of content?
      p.static--half-p We trust our users' common sense and have no particular graphic or adult restrictions in the name of research freedom. Our team can intervene in case of explicit criminal offence, read our #[a(href="/terms") terms and conditions] for more information.
      strong Can I only add content I own?
      p.static--half-p Users are responsible for the content they link or upload, for research purposes we believe in the fair use of intellectual property, please credit authorship and sources when possible. Read our #[a(href="/terms") terms and conditions] for more information.

    .static__contact.static--text
      h2.static--title--top#supporters Supporters
      p We are grateful to our supporters who donated trusting the project from the beginning:
      ul.static--small-text
        li Rafael Rozendaal
        li Laurel Schwulst
        li Harm van den Dorpel
        li Anne Spalter
        li Joel Holmberg
        li Bryce Wilner
        li Adam Sammons
        li Loic Bernasconi
        li Esen Karol
        li Splnlss
        li Chris Coy
        li Mike Tully
        li Nick DeMarco
        li Csaba Osvath
        li Nick Moore
        li Zach Rose
        li David Hilmer Rex
        li David Berezin
        li Julia Panek
        li Cleopatra's US
        li Juliana Romano
        li Grace Robinson-Leo
        li Alexandros Stamatelatos
        li Robert D Matthews
        li Aslak Aamot Kjærulff
        li James Chae
        li Christopher Pappas
        li Elizabeth Sutherland
        li Sun An
      p If you would like to donate or help the Are.na in any way feel free to contact us via email.

    .static__contact.static--text
      h2.static--title--top#contact Contact
      p.static--half-p The team is mainly based in New York City.
      p.static--no-p: a(mailto="info@are.na") info@are.na
      p.static--no-p: a(href="http://twitter.com/aredotna") Twitter
      p.static--no-p: a(href="http://instagram.com/aredotna") Instagram
      p.static: #[a.anchor(data-section="terms" href="/terms") Terms of Service] | #[a(href="/privacy") Privacy Policy]

  h3.static__menu
    ul
      li: a(href="/").static__menu__item Home
      li: a(href="/tools").static__menu__item Tools
      if !user
        li: a(href="#log_in").static__menu__item Login
        li: a(href="#sign_up").static__menu__item Register
      li: &nbsp;
      li: a.anchor(data-section="about-arena").static__menu__item.is-active About
      li: a.anchor(data-section="team").static__menu__item Team
      li: a.anchor(data-section="principles").static__menu__item Principles
      li: a.anchor(data-section="api").static__menu__item API
      li: a.anchor(data-section="roadmap").static__menu__item Roadmap
      li: a.anchor(data-section="labs").static__menu__item Labs
      li: a.anchor(data-section="faq").static__menu__item FAQ
      li: a.anchor(data-section="supporters").static__menu__item Supporters
      li: a.anchor(data-section="contact").static__menu__item Contact
      li: a.anchor(data-section="terms").static__menu__item Terms & Privacy

block scripts
  script( src=sd.ASSET_PATH + 'about' + sd.JS_EXT )
