extends ../../../components/layout/index--bare

block vars
  - extraClasses = 'body--bare body--home'

block body
  include ../../root/templates/home/sections/pitch
  include ../../root/templates/home/sections/examples
  include ./sections/principles
  include ../../root/templates/home/sections/team
  include ../../root/templates/home/sections/labs
  include ../../root/templates/home/sections/footer

block scripts
  script( src=asset('/assets/about.js') )
