extends ../../../components/layout/index--info

block vars
  - extraClasses = 'body--home no-messages body--static'

block body
  .home.home--about
    include sections/features
    include sections/diatribe
    include sections/team
    include sections/principles
    include sections/labs
    include sections/api
    include sections/contact

block scripts
  script( src=asset('/assets/home.js') )
