extends ../../../components/layout/index

block styles
	link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'about' + sd.CSS_EXT) )

block body
	a(href="/")
		img.static__mark(src="../images/arena-mark.svg", alt="Arena")
	.static__left-column
		h2.static__about.static--text
			.static--title--top#about-arena About
			|	Are.na is a flexible platform for private and collaborative research, designed to support arbitrary applications.
			br
			br
			|	We like to think of Arena as an evolving archive where people collaboratively create ideas over time by combining found and original material.
			br
			br
			| Arena is also regularly adopted by professionals to research and organize projects. Brick-and-mortar shops use it to manage inventory, art institutions use it to curate exhibitions, creative teams use it to share inspiration, and academics use it to collect references.
			br
			br
			|	Users have created 430'939 channels and connected 2'231'663 blocks.
		
		h2.static__team.static--text
			.static--title--top#team Team
			a(href="http://charlesbroskoski.com/_/") Charles Broskoski
			|  - mini bio
			br
			a(href="http://chrissherron.net") Chris Sherron
			|  - mini bio
			br
			a(href="http://no-plans.com") Daniel Pianetti
			|  - mini bio
			br
			br
			|	Advisors:
			br
			a(href="#") Morgan Sutherland,
			a(href="#")  Damon Zucconi,
			a(href="#")  Dena Yago,
			a(href="#")  Daniel Brewster,
			a(href="#")  John Michael Boling.

		h2.static__premium.static--text
			.static--title--top#principles Principles
			| We aim at being self-sustainable working to perfectionate and evolve the current product rather than seeking external funding. 
			br
			br
			|	We offer 
			a(href="#") advanced tools 
			|	at a fair price so that people who use Are.na regularly can contribute to the project's long-term plans:
			br
			br
			.static--highlight Total Are.na users: 4200
			.static--highlight Supporting users needed to cover costs: 290
			.static--highlight Total supporting users: 35
			br
			| We also value transparency: we will never sell data without explicit autorization from the user, we will never use advertisment as revenue model and we're committed to retain complete control of the platform.

		h2.static__labs.static--text
			.static--title--top#labs Labs
			| Our API can be used as a CMS and to experiment with new ways of presenting and interacting with content. Here's a selection of public applications powered by Arena.
			br
			br
			| We're open to collaborations for custom archives, CMS and stuff

		h2.static__faq.static--text
			.static--title--top#faq FAQs
			strong What's should I use Are.na for? Why should I use it instead of other bookmarking and organization tools?
			br
			| Answer
			br
			br
			strong I'm lost, not sure how to use Are.na, can you help?
			br
			| Link to onboarding tips.
			br
			br
			strong What are channels and blocks?
			br
			| Answer
			br
			br
			strong What's the difference between public, closed and private channels?
			br
			| Answer
			br
			br
			strong Can someone else moderate or modify my channels?
			br
			| Only contributors can delete blocks, anyone can add on public and closed channels.
			br
			br
			strong What is a bookmarklet?
			br
			| Answer
			br
			br
			strong What sites currently use arena as a CMS?
			br
			| Powered by Are.na link
			br
			br
			strong Who owns Are.na?
			br
			| 100% of shares are owned by the founders and advisors.
			br
			br
			strong How do you make money?
			br
			| Supporters.
			br
			br
			strong Can I suggest features?
			br
			| Feedback channel
			br
			br
			strong Are there any restrictions on kind of content?
			br
			| We trust our users' common sense and have no graphic or adult restrictions in the name of research freedom. Our team will intervene in case of explicit criminal purpose (i.e. child pornography). 
			br
			br
			strong Can I add only content I own?
			br
			| Fair use, credit, and copyright liability.

		h2.static__contact.static--text
			.static--title--top#contact Contact
			| The team is mainly based in New York City.
			br
			br
			a(mailto="info@are.na") info@are.na
			br
			a(href="http://twitter.com/aredotna") Twitter
			br
			a(href="http://instagram.com/aredotna") Instagram
			br
			br

	h3.static__menu
		a(href="#about-arena").static__menu--dark About
		br
		a(href="#team").static__menu--light Team
		br
		a(href="#principles").static__menu--light Principles
		br
		a(href="#labs").static__menu--light Labs
		br
		a(href="#faq").static__menu--light FAQ
		br
		a(href="#contact").static__menu--light Contact
		br
		if !user
			br
			a(href="/").static__menu--dark Home
			br
			a(href="#log_in").static__menu--dark Login
			br
			a(href="#sign_up").static__menu--dark Register


block scripts
	script( src=sd.ASSET_PATH + 'about' + sd.JS_EXT )
