extends ../../../components/layout/index--info

block vars
  - extraClasses = 'no-messages body--static'

block styles
  link( type='text/css', rel='stylesheet', href=asset('/assets/about.css') )

block body
  include ./sections/pitch
  include ./sections/team
  include ./sections/principles
  include ./sections/labs
  include ./sections/api
  include ./sections/contact

block scripts
  script( src=asset('/assets/home.js') )
