extends ../../../components/layout/layouts/blank

block title
  |  / About

block scripts
  script( src= asset('/assets/about.js') )

block footer
  include ../../../components/logged_out_nav/templates/footer

block container
  include ../../../components/logged_out_nav/templates/header

  .About.Page.Page--narrow
    section.AboutSection
      h2.Type.Type--size-h2.Utility--align-center
        | Tools for Thinking, Together

      .AboutFeynman
        include ../public/feynman.svg

      p.Type.Type--lh-tall
        | Our intention behind Are.na is to build a platform for creative thinking and research that is open to everyone.

      p.Type.Type--lh-tall
        | It’s a distraction-free space where you can collect anything, organize your thoughts, and develop ideas over time. It’s also a community where curiosity and collaboration are more important than algorithms and likes.

      p.Type.Type--lh-tall
        | Whether you’re writing a story, designing a product, or just exploring your interests, we believe Are.na should help you think and discover in a way that feels natural. <a href='https://www.are.na/blog/hello%20world/2017/07/06/summer-update.html'>Learn more about our thinking.</a>

      .AboutSection__buttons
        a.Button( href='/sign_up' )
          | Join Are.na

    section.AboutSection
      h2.Type.Type--size-h2.Utility--align-center
        | Your Ideas, Your Data

      p.Type.Type--lh-tall
        | Are.na is powered by members, not advertisers. We will never display ads and we will never hand over your data without your explicit permission.

      p.Type.Type--lh-tall
        | Premium members help us improve Are.na and make the platform accessible to everyone. Consider signing up for a yearly membership in order to access extra tools and privacy options.

      .AboutSection__buttons
        a.Button( href='/about#pricing' )
          | Join Premium

    section.AboutSection
      h2.Type.Type--size-h2.Utility--align-center
        | Are.na Labs

      p.Type.Type--lh-tall
        | We work with creative teams, institutions, and brands to develop custom digital projects powered by the Are.na API.

      include ../components/lab_posts/index

      .AboutSection__buttons
        a.Button( href='mailto:info@are.na' )
          | Work with us

        a.Button( href='https://dev.are.na/' )
          | Browse the API

    section.AboutSection
      h2.Type.Type--size-h2.Utility--align-center
        | Team and Collaborators

      p.Type.Type--lh-tall.Utility--align-center
        a( href='/charles-broskoski' )
          | Charles Broskoski
          br
        a( href='/daniel-pianetti' )
          | Daniel Pianetti
          br
        a( href='/chris-sherron' )
          | Chris Sherron
          br
        a( href='/damon-zucconi' )
          | Damon Zucconi
          br
        a( href='/christopher-barley' )
          | Chris Barley
          br
        a( href='/christina-badal' )
          | Christina Badal
          br
        a( href='/leo-shaw' )
          | Leo Shaw
          br
        a( href='/meg-miller' )
          | Meg Miller

    section.AboutSection
      h2.Type.Type--size-h2.Utility--align-center
        | Plans and Pricing

      p.Type.Type--lh-tall
        | Everyone can join Are.na for free and add unlimited public content. Becoming a Premium member allows you to work in complete privacy on personal or professional projects, and gives you early access to new products and features.

      include ../components/pricing_table/index

    section.AboutSection
      h2.Type.Type--size-h2.Utility--align-center
        | Blog

      p.Type.Type--lh-tall
        | See what the Are.na community is thinking about and how members are using Are.na in their own creative projects.

      include ../components/blog_posts/index

      .AboutSection__buttons
        a.Button( href='/blog' )
          | Read more&hellip;

    section.AboutSection
      h2.Type.Type--size-h2.Utility--align-center
        | Store

      p.Type.Type--lh-tall.Utility--align-center
        | Be loud, be proud, be Are.na

      include ../components/store_posts/index

      .AboutSection__buttons
        a.Button( href='http://store.are.na/' )
          | Go to store

    section.AboutSection
      h2.Type.Type--size-h2.Utility--align-center
        | Contact

      p.Type.Type--size-h4.Type--lh-tall.Utility--align-center
        | Questions? <a href='mailto:info@are.na'>We’d love to hear from you.</a>

      p.Type.Type--size-h4.Type--lh-tall.Utility--align-center
        a( href='https://twitter.com/aredotna' )
          | twitter.com/aredotna
        br
        a( href='https://instagram.com/aredotna' )
          | instagram.com/aredotna

    section.AboutSection
      h2.Type.Type--size-h2.Utility--align-center
        | FAQs

      p.Type.Type--lh-tall
        strong What should I use Are.na for? Why should I use it instead of other bookmarking and organization tools?

      p.Type.Type--lh-tall
        | People who use Are.na as a daily tool appreciate the dynamism between private and public collaboration. Content is easily connected between different topics and channels, resulting in discovery of information and organic archives.

      p.Type.Type--lh-tall
        | Play around for a while: adding content, connecting and discovering users is the best way to find out the platform's qualities.

      p.Type.Type--lh-tall
        strong I'm lost, not sure how to use Are.na, can you help?

      p.Type.Type--lh-tall
        | You can explore to see how other people use it, ask questions in the feedback channel, look at the getting started page or contact us.

      //- Render more FAQs

      .AboutSection__buttons
        a.Button.js-more-faqs( href='/faqs' )
          | More FAQs
