extends ../../../components/layout/index--bare

block vars
  - extraClasses = 'body--bare body--home'

block styles
  link( type='text/css', rel='stylesheet', href=asset('/assets/about.css') )

block body
  include ../../root/templates/home/sections/pitch
  include ./sections/principles
  include ../../root/templates/home/sections/examples
  include ../../root/templates/home/sections/team
  include ../../root/templates/home/sections/labs
  include ../../root/templates/home/sections/footer

block scripts
  script( src=asset('/assets/about.js') )
