extends ../../../components/layout/index

block styles
	link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'about' + sd.CSS_EXT) )

block body
	a(href="/")
		img.static__mark(src="../images/arena-mark.svg", alt="Arena")
	.static__left-column
		h2.static__about.static--text
			.static--title#about-arena About
			|	Arena is a platform for private and collaborative research where you can save links, images, and files as "blocks" and organize them into named "channels." People use Arena to assemble references around a topic, collect images around a theme, share ideas with collaborators, and more.
			br
			br
			|	We built Arena in response to feeling overwhelmed by the mass of information presented to us daily on the Internet. We wanted a tool that could help us collect and sort information as it appears. Arena enables you to build ideas over time using any content you add or come across online. We like to think of Arena as an evolving archive where people collaboratively create new concepts by combining found and original material.
			br
			br
			|	Arena's users created 430'939 channels and connected 2'231'663 blocks of information.

		h2.static__team.static--text
			.static--title#team Team
			a(href="#") Charles Broskoski
			| - mini bio
			br
			a(href="#") Chris Sherron
			| - mini bio
			br
			a(href="#") Daniel Pianetti
			| - mini bio
			br
			a(href="#") Morgan Sutherland
			| - mini bio
			br
			br
			|	Advisors
			br
			a(href="#") Damon Zucconi,
			a(href="#") Dena Yago,
			a(href="#") Daniel Brewster,
			a(href="#") JMB.

		h2.static__premium.static--text
			.static--title#principles Principles
			| - self-sustanability goal
			br
			| - some numbers
			br
			| - options for users to help: supporter and premium [link to tools]
			br
			| - principles

		h2.static__labs.static--text
			.static--title#labs Labs
			| - Case studies (powered by arena)
			br
			| - API [link]
			br
			| - We're open to collaborations for custom archives, CMS and stuff

		h2.static__faq.static--text
			.static--title#faq FAQs
			| Q?
			br
			| A.
			br
			| [link to tutorial]

		h2.static__contact.static--text
			.static--title#contact Contact
			| NYC
			br
			| info @ are.na

	h3.static__menu
		a(href="#about-arena").static__menu--dark About
		br
		a(href="#team").static__menu--light Team
		br
		a(href="#principles").static__menu--light Principles
		br
		a(href="#labs").static__menu--light Labs
		br
		a(href="#faq").static__menu--light FAQ
		br
		a(href="#contact").static__menu--light Contact
		br
		if !user
			br
			a(href="/").static__menu--dark Home
			br
			a(href="/tools").static__menu--dark Tools
			br
			a(href="#log_in").static__menu--dark Login
			br
			a(href="#sign_up").static__menu--dark Register


block scripts
	script( src=sd.ASSET_PATH + 'about' + sd.JS_EXT )
