extends ../../../components/layout/index

block styles
  link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'about' + sd.CSS_EXT) )

block body
  .about--page hey man whats up

block scripts
  script( src=sd.ASSET_PATH + 'about' + sd.JS_EXT )