extends ../../../components/layout/index--bare

block vars
  - extraClasses = 'body--labs'

block styles
  link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'all' + sd.CSS_EXT) )

block body
  .home__section.home__section--intro
    .home__section--intro__inner
      img.feynman(src="../images/arena-labs.png")
      h1 Are.na provides a platform that aids conducting research, formulating ideas and presenting content.
      h1 Complementary to our main product, Are.na offers custom services and tools to art institutions, researchers, commercial entities and educational programs.
      h1 We like to work on interesting projects that engage our community, or building new tools for gathering, synthesizing and archiving information.

      h1.labs-hint Case studies
    .home__section--intro__inner.labs__case-studies
      .labs__case-studies__item
        h1.labs__case-studies--title Guggenheim's Åzone Futures Market

        .column
          img.labs__screenshot(src="../images/arena-azone1.png")
          img.labs__screenshot(src="../images/arena-azone2.png")
        .column
          .labs--text Description
          .labs__case-studies--title Why Are.na?
          .labs__case-studies--text Because
          .labs__case-studies--title Links
          .labs__case-studies--text #[a(href="http://") Åzone]

      .labs__case-studies__item
        h1.labs__case-studies--title Cleopatra's

        .column
          img.labs__screenshot(src="../images/arena-cleopatra2.png")
          img.labs__screenshot(src="../images/arena-cleopatra1.png")
        .column
          .labs--text Gallery space in Greenpoint, powers their website with Are.na and used the platform for researching their selections for the White Columns Annual.
          .labs__case-studies--title Why Are.na?
          .labs__case-studies--text Are.na acts as a minimal CMS to easily showcase and archive the stream of exhibitions' information.
          .labs__case-studies--title Links
          .labs__case-studies--text #[a(href="http://www.cleopatras.us") Cleopatras.us], #[a(href="http://www.whitecolumns.org/sections/exhibition.php?id=1336") White Columns]
     
    h1.labs-hint Tools for gathering information:
    .home__section--intro__inner.labs__services
      li: h1 Gather material from other sources programmatically
      .labs--text Custom tools to i.e. algoritmically pulling tweets or images from social media, markov chain web crawlers, extended Wikipedia searches).
      li: h1 Research
      .labs--text A focus group of expert Are.na users to contribute in your research, the group can be selected, targeted or not.
    h1.labs-hint Services for synthesizing and connecting ideas:
    .home__section--intro__inner.labs__services
      li: h1 Developers' time
      .labs--text To help you build an app using Are.na's API.
      li: h1 Tracking
      .labs--text Insert your content/product/images/links into an Are.na network and study the reactions and interactions.
      li: h1 Consulting
      .labs--text Guidance from Are.na's team on the best ways to use the platform for research.
      //li: h1 Your Are.na
      //.labs--text Your own private platform and subdomain, giving access to only the users you want.
      li: h1 Custom features
      .labs--text If you have a specific feature request for your project we can look into it.
    h1.labs-hint Tools for presenting the outcome:
    .home__section--intro__inner.labs__services
      li: h1 Map / graph visualizations
      .labs--text Visualize content, channel connections and visual research.
      li: h1 Ready-to-use template for archives powered by Are.na
      .labs--text Basic CMS with themes and view options (examples: #[a(href="http://www.loganwhitephoto.com/") Logan White], #[a(href="http://www.nolayout.com") No Layout]).

    h1.labs-hint.labs-footer These are indicative examples, feel free to reach out if you have ideas or specific requests, we're always curious to hear: info@are.na
block scripts
  script( src=sd.ASSET_PATH + 'about' + sd.JS_EXT )
