extends ../../../components/layout/index--info.jade

block vars
  - extraClasses = 'no-messages body--static'

block body
  include ./sections/pricing.jade
  include ./sections/premium_features.jade
  include ./sections/principles.jade

block scripts
  script( src="https://checkout.stripe.com/checkout.js" )
  script( src=asset('/assets/home.js') )
  script( src=asset('/assets/pricing.js') )

