extends ../../../components/layout/index--bare

block vars
  - extraClasses = 'no-messages body--static'

block styles
  link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'about' + sd.CSS_EXT) )

block body
  .static--break
  .static--break
  h1.static--hint When it Changed Inc. ("Are.na") knows that you care about how your personal information is used and shared, and we take your privacy seriously. Please read the following Arena Privacy Statement. By using the are.na website or API (collectively, the "Service") you acknowledge that you accept the practices and policies outlined in this Privacy Statement.
  h1.static--hint WHAT DOES THIS PRIVACY STATEMENT COVER?
  p This Privacy Statement covers Are.na’s treatment of personally identifiable information ("Personal Information") that Are.na gathers when you access/use the Service.
  h1.static--hint WHAT PERSONAL INFORMATION DOES ARE.NA COLLECT?
  p Are.na collects information you voluntarily submit to the Service, such as, the information we collect when you register for an account - like your first and last nameand email address. As noted in our Terms of Use, the Service allows users to post and organize information, including text, graphics, images, music, software, audio, web links, files, video and other information and content. Information you elect to submit to Are.na – or any other public or quasi-public part of the Service (such as a chat forum) - may be disclosed to other users of the Service or the general public ("User Submissions"). For example – if you post content that is accessible to other Service users, such other users will have access to such content. In addition, we may automatically receive and store certain, anonymous types of information whenever you interact with the Service. Such information may include the user's IP address, domain server, and type of Internet browser. This information helps us, among other things, analyze trends and administer the Service. This information is anonymous and contains no personally identifiable data.
  h1.static--hint WHAT ABOUT CHILDREN?
  p The safety and privacy of children is extremely important to us. Every Service member must be over 13 years of age, unless Are.na expressly authorizes (in writing) such member to join the Service (in which case such member will be required to go through a special admissions process in which Are.na will communicate with, and secure the approval of, member’s legal guardian(s)). Except as expressly set forth in the preceding sentence, minors younger than 13 are prohibited from signing up or using the Service in any way. If you receive information that a member is under 13, we require the member to provide evidence of being over 13. If such evidence is not provided in a timely manner, we terminate the user’s account and nullify all personally identifiable information displaying on the site and collected from such user.
  h1.static--hint HOW DOES ARE.NA USE THE INFORMATION IT COLLECTS?
  p Provide the Service: Your information will be used primarily to provide you with the Service. Improve the Service: Your information may be used by us internally to improve the Service and develop new products, services and features. Other Uses: Your information may also be used by us as set forth in the next section.
  h1.static--hint WILL ARE.NA SHARE ANY OF THE PERSONAL INFORMATION IT RECEIVES?
  p To the limited extent we collect Personal Information – we neither rent nor sell your Personal Information to anyone. We share your Personal Information only as described below. Recipient of User Submissions: As mentioned above – your User Submissions may be shared in a public or quasi-public manner. Service Providers and Agents: We employ other companies and people to perform tasks on our behalf. For example, we may decide to use a third party payment processing company to process payments you make through the Service. In addition, parts of the Service may be hosted by a third party on our behalf. Your information may be accessed by such providers/agents, in the event that we need to share your information with them to provide our services or customer support to you. Unless we tell you differently, Are.na’s agents do not have any right to use Personal Information we share with them beyond what is necessary to assist us.Protection of Are.na and Others: We may release Personal Information when we believe in good faith that release is necessary to comply with the law; enforce or apply our conditions of use and other agreements; or protect the rights, property, or safety of Are.na, our employees, our users, or others. With Your Consent: Except as set forth above, you will be notified when your Personal Information may be shared with third parties, and will be able to prevent the sharing of this information.
  h1.static--hint CONDITIONS OF USE
  p If you decide to access or use the Service, such access and use and any possible dispute over privacy is subject to this Privacy Statement and our Terms of Use (located on our website), including limitations on damages, disclaimer of warranties, and the application of New York state law.
  h1.static--hint THIRD PARTY WEBSITES/SERVICES
  p The Site may permit you to link to other websites on the Internet, and other websites may contain links to the Site. These other websites are not under Are.na control, and such links do not constitute an endorsement by Are.na of those other websites or the services offered through them. The privacy and security practices of websites linked to or from the Service are not covered by this Privacy Statement, and Are.na is not responsible for the privacy or security practices or the content of such websites.
  h1.static--hint CHANGES TO THIS PRIVACY STATEMENT
  p Are.na may amend this Privacy Statement from time to time. Use of information we collect now is subject to the Privacy Statement in effect at the time such information is used. If we make changes in the way we use Personal Information, we will notify you by posting an announcement on our website, or via the Service, or sending you an email. Users are bound by any changes to the Privacy Statement when he or she uses the Service after such changes have been first posted.
  h1.static--hint QUESTIONS OR CONCERNS
  p If you have any questions or concerns regarding privacy, please send us a detailed message at info@are.na. We will make every effort to resolve your concerns.
  p Effective Date: July 15, 2014

  h1
    ul 
      li When It Changed Inc.
      li 26 St. James Pl #3F
      li Brooklyn, NY 11205
