extends ../../../components/layout/layouts/blank

block title
  |  / Terms

block scripts
  script( src= asset('/assets/about.js') )

block container
  include ../../../components/logged_out_nav/templates/header

  .Page.Page--narrow
    h1.PageTitle
      | Terms of Use

    h3.Type.Type--size-h3
      | Effective (July 15, 2013)
    p.Type.Type--lh-tall
      | The following terms and conditions (the "Agreement") govern all use of the are.na website and any applications (such as mobile applications) (together with the Site, the "Service") provided to you by When It Changed Inc. ("Are.na").  The Service is subject to your (the "User") acceptance without modification of all of the terms and conditions contained herein. BY USING OR ACCESSING ANY PART OF THE SERVICE, YOU AGREE TO ALL OF THE TERMS AND CONDITIONS CONTAINED HEREIN. Are.na reserves the right, at its sole discretion, to modify or replace any of the terms or conditions of this Agreement at any time. It is User’s responsibility to check this Agreement periodically for changes. User’s continued use of the Service following the posting of any changes to this Agreement constitutes acceptance of those changes. Notwithstanding the foregoing, if User is a for-fee subscriber to the Service (a “Paying Subscriber”), such changes will go into effect beginning with User’s next subscription period. This Agreement is void where prohibited by law, and the right to access and use the Service is revoked in such jurisdictions.
    h3.Type.Type--size-h3
      | SCOPE.
    p.Type.Type--lh-tall
      | The Service is a collaboration and social networking service. The Service allows users to save, organize and share text, graphics, images, music, software, audio, web links, files, video and other information and content.
    h3.Type.Type--size-h3
      | AGE RESTRICTION.
    p.Type.Type--lh-tall
      | User certifies to Are.na that if User is an individual (i.e., not a corporation) User is at least 13 years of age (provided that, if User is located in a state in which 13 is under the age of majority, then User represents he/she has the legal consent of a legal guardian to enter this Agreement).  User also certifies that he/she is legally permitted to use the Service, and takes full responsibility for the selection and use of the Service.  This Agreement is void where prohibited by law, and the right to access the Service is revoked in such jurisdictions.
    h3.Type.Type--size-h3
      | LICENSE.
    p.Type.Type--lh-tall
      | Subject to the terms and conditions of this Agreement,  User shall have a non-exclusive, non-transferrable, non-sublicensable access to the Service from User’s computer or mobile device solely for the purposes for which the Service is provided.  This license is personal to User and User will not use the Service for any direct commercial purpose (such as, charging other users for access to (or use of) the Service or access to (or use of) any of User’s information.).
    h3.Type.Type--size-h3
      | FEES.
    p.Type.Type--lh-tall
      | If User is a Paying Subscriber, User will pay Are.na the service fees in accordance with its pricing policy (if any) posted by Are.ne at the Site (“Fees”).  Are.na reserves the right to change the Fees and to institute new charges and Fees at the end of each subscription period.  Unless otherwise set forth at the Site by Are.na, or agreed to by the parties in writing, all Fees will be charged in advance.  Unpaid Fees are subject to a finance charge of 1.5% per month or the maximum permitted by law, whichever is lower, plus all expenses of collection.  Fees are non-refundable and non-cancellable except as express set forth in Are.na’s pricing policy.  User shall be responsible for all taxes associated with User’s use of the Service other than taxes based on Are.na’s net income.
    h3.Type.Type--size-h3
      | RESTRICTIONS.
    p.Type.Type--lh-tall
      | User shall not, nor permit anyone else to, directly or indirectly: (i) reverse engineer, disassemble, decompile or otherwise attempt to discover the source code or underlying algorithms of all or any part of the Service (except that this restriction shall not apply to the limited extent restrictions on reverse engineering are prohibited by applicable local law); (ii) modify or create derivatives of any part of the Service; (iii) rent, lease, or use the Service for timesharing or service bureau purposes; or (iv) remove or obscure any proprietary notices on the Service. As between the parties, Are.na shall own all title, ownership rights, and intellectual property rights in and to the Service, and any copies or portions thereof.
    p.Type.Type--lh-tall
      | In the event User submits any information to the Service, User represents and warrants that User has the full right and authority to do so (without any infringement of, or conflict with, the rights of any third party).
    h3.Type.Type--size-h3
      | USER CONTENT.
    p.Type.Type--lh-tall
      | The Service permits User to post/publish and organize, text, graphics, images, music, software, audio, web links, files, video and other information and content ("User Submissions").  User understands that their User Submissions may be made accessible to other Service Users or the general public – all as authorized (or permitted) by User.
    p.Type.Type--lh-tall
      | By submitting the User Submissions, or displaying, publishing, or otherwise posting any content on or through the Service, User hereby does and shall grant Are.na a worldwide, non-exclusive, royalty-free, fully paid, sublicenseable and transferable license to reproduce, distribute, display, and perform such User Submissions in connection with providing the Service to User. For clarity, the foregoing license grant to Are.na does not affect User’s other ownership or license rights in User’s User Submissions(s), including the right to grant additional licenses to the material in such User Submissions(s).
    p.Type.Type--lh-tall
      | User shall be solely responsible for User’s own User Submissions and the consequences of posting or publishing it. User agrees that Are.na has no liability with respect to any User Submissions, including, without limitation, User’s own User Submissions, and User hereby irrevocably release Are.na and its officers and directors, employees, agents, representatives and affiliates, from any and all liability arising out of or relating to User Submissions or any part thereof.
    p.Type.Type--lh-tall
      | In connection with User’s User Submissions, User affirms, represents, and warrants that (and that User can and will demonstrate to Are.na's full satisfaction upon its request): (i) User owns or has the necessary licenses, rights, consents, and permissions to use and authorize Are.na to use each and every image and sound contained in each such User Submissions and to enable inclusion and use of such User Submissions in the manner contemplated by the Service and this Agreement; (ii) User has the written consent, release, and/or permission of each and every identifiable individual person in the User Submissions to use the name or likeness of each and every such identifiable individual person to enable inclusion and use of the User Submissions in the manner contemplated by the Site, the Service and this Agreement; and (iii) the posting/publishing of User’s User Submissions on or through the Service or otherwise does not violate the privacy rights, publicity rights, intellectual property rights, contract rights, or any other rights of any person or entity.  User agrees to pay all royalties, fees, and other monies owing any person or entity by reason of any content posted by User to or through the Service.
    p.Type.Type--lh-tall
      | In connection with User Submissions, User further agrees that User will not: (i) publish falsehoods or misrepresentations that could damage Are.na or any third party; (ii) submit material that is unlawful, obscene, lewd, defamatory, libelous, threatening, pornographic, harassing, hateful, racially or ethnically offensive, excessively violent, or encourages conduct that would be considered a criminal offense, give rise to civil liability, violate any law, or is otherwise inappropriate or objectionable; (iii) post advertisements or solicitations of business; (iv) impersonate another person; (v) submit material that is copyrighted, protected by trade secret or otherwise subject to third party intellectual property or proprietary rights, including privacy and publicity rights, unless you are the owner of such rights or have permission from their rightful owner to post the material and to grant Are.na all of the license rights granted herein; or (vi) submit material that is unsuitable for minors in any country.  Are.na does not endorse any User Submissions or any opinion, recommendation, or advice expressed therein, and Are.na expressly disclaims any and all responsibility or liability in connection with User Submissions.
    p.Type.Type--lh-tall
      | Are.na reserves the right to decide whether a User’s Submission is inappropriate or violates this Agreement, including but not limited to: copyright infringement, violations of intellectual property law, pornography, obscene or defamatory material, or excessive length or storage size. Are.na also reserves the right, in its sole discretion, to reject, refuse to post or remove any posting (including private messages and User Submissions) by User, or to restrict, suspend or terminate User’s access to all or any part of the Site or the Service at any time, for any or no reason, with or without prior notice. Notwithstanding the foregoing, Are.na assumes no responsibility for monitoring the Service for inappropriate content, or modifying or removing such content from the Service.
    h3.Type.Type--size-h3
      | APPLICATION CONTENT.
    p.Type.Type--lh-tall
      | User agrees that the Service contains content, information and materials specifically provided by Are.na or its partners or providers and that such content is protected by copyrights, trademarks, service marks, patents, trade secrets or other proprietary rights and laws.  Except as expressly authorized by Are.na in writing, User shall not sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit or create derivative works from such content.  However, Are.na hereby grants User a limited, revocable, non-sublicensable license to view such content (excluding any software code) for User’s own, personal, non-commercial purposes; provided, that User retains all copyright and other proprietary notices contained therein.  Reproducing, copying or distributing any such content for any other purpose is strictly prohibited without the express prior written permission of Are.na.  For clarity, User will not provide (including by display) such content in a public manner or otherwise to any third party.
    h3.Type.Type--size-h3
      | MEMBER DISPUTES.
    p.Type.Type--lh-tall
      | User is solely responsible for their interactions with other Service users.  Are.na reserves the right, but has no obligation, to monitor disputes between User and other Service users.  If User has a dispute with one or more users of the Service, User shall and hereby does release Are.na (and its officers, directors, agents, subsidiaries, joint ventures and employees) from claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or in any way connected with such disputes.
    h3.Type.Type--size-h3
      | REGISTRATION; SECURITY.
    p.Type.Type--lh-tall
      | As a condition to using the Service, User will be required to register with Are.na and select a password and User name (“Are.na User ID”).  User shall provide Are.na with accurate, complete, and updated registration information.  Failure to do so shall constitute a breach of this Agreement, which may result in immediate termination of User’s account.  User may not (i) select or use as a Are.na User ID a name or trademark of another person, company, or with the intent to impersonate that person/entity; or (ii) use as a Are.na User ID a name subject to any rights of a person other than User without appropriate authorization.  Are.na reserves the right to refuse registration of, or cancel an Are.na User ID in its discretion.  User shall be responsible for maintaining the confidentiality of User’s Are.na password and other account information.  User will not allow User’s account to be used by an unauthorized third party.
    h3.Type.Type--size-h3
      | INDEMNIFICATION.
    p.Type.Type--lh-tall
      | User is responsible for all of its activity in connection with the Service. User shall defend, indemnify, and hold harmless Are.na, its affiliates and each of its, and its affiliates employees, contractors, directors, suppliers and representatives from all liabilities, claims, and expenses, including reasonable attorneys' fees, that arise from User’s (i) access to or use of any of the Services, (ii) User Submission(s), (iii) violation of any law or regulation, (iv) negligence or willful misconduct or other fault, or (v) violation of this Agreement.
    h3.Type.Type--size-h3
      | WARRANTY DISCLAIMER.
    p.Type.Type--lh-tall
      | THE SERVICE AND ALL CONTENT IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT.  ARE.NA MAKES NO WARRANTY THAT (I) THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS, OR (II) THE RESULTS OF USING THE APPLICATION WILL MEET USER’S REQUIREMENTS.  THE FOREGOING DISCLAIMER SHALL NOT APPLY TO THE EXTENT PROHIBITED BY APPLICABLE LAW.
    h3.Type.Type--size-h3
      | LIMITATION OF LIABILITY.
    p.Type.Type--lh-tall
      | IN NO EVENT SHALL ARE.NA, ITS OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, LICENSORS, VENDORS OR SUPPLIERS BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR ANY OTHER LEGAL THEORY WITH RESPECT TO THE APPLICATION: (I) FOR ANY LOST PROFITS OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER, EVEN IF FORESEEABLE, (II) FOR ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE (REGARDLESS OF THE SOURCE OF ORIGINATION), OR (III) FOR ANY DIRECT DAMAGES IN EXCESS OF (IN THE AGGREGATE) $100.00 (U.S.) (PROVIDED THAT, IF USER IS A PAYING SUBSCRIBER OF ARE.NA, SUCH CAP SHALL BE SET AT AN AMOUNT EQUAL TO THE FEES PAID BY USER TO ARE.NA FOR THE THEN-CURRENT SUBSCRIPTION PERIOD).  THE FOREGOING LIMITATIONS SHALL NOT APPLY TO THE EXTENT PROHIBITED BY APPLICABLE LAW.
    h3.Type.Type--size-h3
      | TERMINATION.
    p.Type.Type--lh-tall
      | Are.na may terminate User’s access to the Service at any time, with or without cause (and without penalty or liability). Upon termination, User will no longer access (or attempt to access) the Service.  All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, warranty disclaimers and limitations of liability.
    h3.Type.Type--size-h3
      | PRIVACY.
    p.Type.Type--lh-tall
      | Are.na's current privacy policy is (the "Privacy Policy") is incorporated by this reference.
    h3.Type.Type--size-h3
      | MISCELLANEOUS.
    p.Type.Type--lh-tall
      | The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder. Are.na shall not be liable for any failure to perform its obligations hereunder where such failure results from any cause beyond Are.na’s reasonable control, including, without limitation, mechanical, electronic or communications failure or degradation (including "line-noise" interference). If any provision of this Agreement is found to be unenforceable or invalid, that provision shall be limited or eliminated to the minimum extent necessary so that this Agreement shall otherwise remain in full force and effect and enforceable. This Agreement is not assignable, transferable or sublicensable by User except with Are.na’ prior written consent.  Are.na may transfer, assign or delegate this Agreement and its rights and obligations without consent.  This Agreement shall be governed by and construed in accordance with the laws of the state of New York, as if made within New York between two residents thereof, and the parties submit to the exclusive jurisdiction and venue of the state and Federal courts located in New York, New York.  Notwithstanding the foregoing sentence, (but without limiting either party’s right to seek injunctive or other equitable relief immediately, at any time, in any court of competent jurisdiction), any disputes arising with respect to this Agreement shall be settled by arbitration in accordance with the rules and procedures of the Judicial Arbitration and Mediation Service, Inc. (“JAMS”).  The arbitrator shall be selected by joint agreement of the parties.  In the event the parties cannot agree on an arbitrator within thirty (30) days of the initiating party providing the other party with written notice that it plans to seek arbitration, the parties shall each select an arbitrator affiliated with JAMS, in which the arbitrators shall jointly select a third such arbitrator to resolve the dispute.  The written decision of the arbitrator shall be final and binding on the parties and enforceable in any court.   The arbitration proceeding shall take place in New York, New York using the English language.  Both parties agree that this Agreement is the complete and exclusive statement of the mutual understanding of the parties and supersedes and cancels all previous written and oral agreements, communications and other understandings relating to the subject matter of this Agreement, and that all modifications must be in a writing signed by both parties, except as otherwise provided herein. No agency, partnership, joint venture, or employment is created as a result of this Agreement and User does not have any authority of any kind to bind Are.na in any respect whatsoever.

block footer
  include ../../../components/logged_out_nav/templates/footer
