extends ../../../components/layout/index

block styles
	link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'about' + sd.CSS_EXT) )

block body
	.static__left-column
		a(href="/")
			img.static__mark(src="../images/arena-mark.svg", alt="Arena")

		.static__tools.static--text
			h2.static--title Bookmarklet
			.static__tools__frame
				|	Add your bookmarklet to save stuff
			
			h2.static--title Invite Friends
			.static__tools__frame
				|	Add your friend's email or share this link to collaborate with someone. You can add three channels worth of notice below:
			
			h2.static--title Premium
			.static__tools__frame.static__tools__frame--premium
				|	Supporter and premium offers

			h2.static--title Find Friends
			.static__tools__frame
				|	Connect to Facebook or Twitter to follow or collaborate with friends. 
			
			h2.static--title Send via email
			.static__tools__frame
				| Send and email to this address to add to an Arena channel, use the subject to indicate the channel.
			
	h3.static__menu
		if !user
			br
			a(href="/").static__menu--dark Home
			br
			a(href="/about").static__menu--dark About
			br
			a(href="#log_in").static__menu--dark Login
			br
			a(href="#sign_up").static__menu--dark Register

block scripts
	script( src=sd.ASSET_PATH + 'about' + sd.JS_EXT )
