button
  border-radius 0
  border none
  background-color #000
  color #fff
  outline none

fieldset
  margin 1em 0

textarea
  resize none
  outline none
  padding 1em
  font-size 18px
  font-family Arial
  font-weight 100
  line-height 1.6
  color textgray