doctype html
html
  head
    title
      | Arena
      if channel
        | / #{channel.get('title')}
      else if author
        | / #{author.get('username')}

    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0")
    
    //- temporary G webmaster tools verification    
    meta(name="google-site-verification" content="MHUH1zW8kJ-3QMjVhTxw9U8fde5BiY0ms8wQjQWE1Ds")

    //- twitter & fb meta
    meta(name="twitter:description", content="Arena is a platform for private and collaborative research where you can save links, images, and files and organize them into collections.")
    meta(name="twitter:site", content="@aredotna")
    meta(name="twitter:title", content="Are.na/channel-name")
    meta(name="twitter:url", content="current url")
    meta(property="og:title" content="Are.na/channel-name")
    meta(property="og:description" content="Arena is a platform for private and collaborative research where you can save links, images, and files and organize them into collections.")
    meta(property="og:url" content="current url")
    if channel || author
      meta(name="twitter:card", content="gallery")
      meta(name="twitter:image0", content="last-image1.jpg")
      meta(name="twitter:image1", content="last-image2.jpg")   
      meta(name="twitter:image2", content="last-image3.jpg")   
      meta(name="twitter:image3", content="last-image4.jpg")
      meta(property="og:image" content="last-image1.jpg")
      meta(property="og:image" content="last-image2.jpg")
      meta(property="og:image" content="last-image3.jpg")
      meta(property="og:image" content="last-image4.jpg")
    else
      meta(name="twitter:card", content="summary")
      meta(name="twitter:image", content="logo.jpg")
      meta(property="og:image" content="logo.jpg")

    link(rel="shortcut icon" href="../../../../public/images/favicon.ico" type="image/x-icon")
    link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'layout' + sd.CSS_EXT) )
    block styles
  body
    #modal-container
      //- rendered by client
    #l-lightbox-container
      //- rendered by client
    include header/templates/index
    .container
      block body

    #l-loader-container
      include loader/templates/index
    #scripts
      != sharify.script()
      script( src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js" )
      script( src="//js.pusher.com/2.2/pusher.min.js")
      script( src=(sd.ASSET_PATH + 'layout' + sd.JS_EXT) )
      block scripts