doctype html
html
  head
    title
      | Are.na
      if channel
        |  / #{channel.get('title')}
      else if author
        |  / #{author.get('username')}

    link(rel="shortcut icon" href="#{sd.IMAGE_PATH}favicon.ico" type="image/x-icon")
    include ../../components/meta/templates/meta

    link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'layout' + sd.CSS_EXT) )

    block styles

  body
    #modal-container
      //- rendered by client
    #l-lightbox-container
      //- rendered by client
    include header/templates/index
    .container
      block body

    #l-loader-container
      include loader/templates/index

    #message-container

    a(data-section="#")#scroll-top &uarr;

    #scripts
      != sharify.script()
      script( src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js" )
      script( src="//js.pusher.com/2.2/pusher.min.js")
      script( src=(sd.ASSET_PATH + 'layout' + sd.JS_EXT) )
      block scripts