- colorClass = sd.IS_INVERTED ? 'is-inverted' : ''
- loggedInClass = user ? 'is-logged-in' : 'not-logged-in'
- extraClasses = ''

doctype html
html( class="#{colorClass} #{loggedInClass}" )
  head
    include modules/title
    include modules/meta
    include modules/styles

    block vars

  body( class= extraClasses )
    include header/templates/index

    .Container.js-container
      .Container__content
        block body

    //- TODO: Refactor to append/remove
    #l-loader-container.abs-fill
      include loader/templates/index

    //- TODO: Remove after campaign is over
    include ../invest_cta/index

    include modules/scrolltop
    include modules/analytics
    include modules/scripts
