@import "nib"

global-reset()

body, html
  font-family: Arial

h1 { font-size: 2em }
h2 { font-size: 1.5em }
h3 { font-size: 1.17em }
h5 { font-size: .83em }
h6 { font-size: .75em }

a
  text-decoration: none
  color: inherit

  &:hover
    opacity: 0.8

.container
  margin: 3em


// colors
closed = #ff6702
public = #10860B
private = #B60202
