@import '../../node_modules/nib'
@import '../../node_modules/jeet/stylus/jeet'

global-reset()

*
  box-sizing: border-box

body, html
  font-family: Arial

input:focus {outline: none; }

h1 { font-size: 2em }
h2 { font-size: 1.5em }
h3 { font-size: 1.17em }
h5 { font-size: .83em }
h6 { font-size: .75em }

a
  text-decoration: none
  color: inherit

  &:hover
    opacity: 0.8

.container
  margin: 3em
  padding-top: 50px

strong
  font-weight: bold


// colors
closed = #A0A0A0
public = #10860B
private = #B60202

@import '../topbar/index'