- extraClasses = ''

doctype html
html(class= sd.IS_INVERTED ? 'is-inverted' : '' )
  head
    include modules/title
    include modules/styles
    include modules/meta

    block vars

  body.body--bare( class= extraClasses )
    //- TODO: Refactor to use modalize, only thing that uses this is AuthView
    #modal-container
      //- Rendered client-side

    include header/templates/index--bare

    .Container.js-container
      .Container__content
        block body

      //- Intentionally missing footer

    //- TODO: Refactor to append/remove
    #l-loader-container
      include loader/templates/index

    include modules/analytics
    include modules/scripts
