doctype html
html
  head
    title Arena
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link( type='text/css', rel='stylesheet', href=('/assets/layout' + sd.CSS_EXT) )
    block styles
  body
    #modal-container
    include header/templates/index
    block body

    #scripts
      != sharify.script()
      script( src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js" )
      script( src=(sd.ASSET_PATH + 'layout' + sd.JS_EXT) )
      block scripts