@import '../../node_modules/nib'
@import '../../node_modules/jeet/stylus/jeet'
@import '../../node_modules/rupture/rupture'
@import '../../node_modules/axis/axis/index'
@import 'variables'

global-reset()

// edit()

*
  box-sizing border-box

body, html
  font-family font_sans
  color textgray
  antialiased()

body
  padding 0 (container_pad - 10)

.error-page
  margin-top 100px

h1
  font-size 28px
  font-size 1.750em
  text-rendering optimizelegibility
  font-weight bold
  margin .75em 0
  line-height 1.3em

h2
  font-size 24px
  font-size 1.500rem
  text-rendering optimizelegibility
  font-weight bold
  margin .4em 0
  line-height 1.3em

h3
  font-size 16px
  font-size 1rem
  text-rendering optimizelegibility
  font-weight bold
  margin 0
  line-height 1.5em

h4
  h4()

h5
  h5()
  // font-size .83em

h6
  h6()
  // font-size .75em

.breadcrumb
  breadcrumb: '/' 5px textgray

em
  font-style italic

a, .inline-link
  text-decoration: none
  color inherit
  cursor pointer
  hover-color hovergray

strong
  font-weight 700

blockquote
  border-left 3px bordergray solid
  padding-left 1em
  font-style italic

.abs-fill
  position absolute
  top 0
  left 0
  width 100%
  height 100%

.small-text
  font-size 12px

.valign-outer
  display table
  position absolute
  width 100%
  height 100%

.valign-inner
  display table-cell
  width 100%
  height 100%
  vertical-align middle
  text-align center

.pointer
  cursor pointer

.container
  center(1400px)

for i in (1..5)
  @media (min-width: (block_width_mar * i) + 20)
    .container
      center(block_width_mar * i)

@media (max-width:(block_width_mar * 3) + 30)
  .container
    center(94%)

@media (max-width:500px)
  html, body
    font-size 13px

@import 'header/index'
@import 'loader/stylesheets/loader'
@import '../iconic/stylesheets/index'
@import '../iconic/iconic-glyphs'
@import '../modal/index'
@import '../path/stylesheets/path'
@import '../forms/stylesheets/index'
@import '../feed/stylesheets/feed'
