// colors

closed                = #616161
public                = #17AC10
private               = #B60202
textgray              = #616161             // text, titles
lightgrayplus         = rgb(203, 203, 203)  // 1px borders
lightgray             = #9D9D9D             // borders, captions, timestamp
backgroundgray        = #F7F7F7             // search bar
secondbackgroundgray  = #F0F0F0             // search results, dropdown
bordergray            = #E5E5E5             // borders
hovergray             = #050505             // any hovered element

// z-index
header_z              = 4001
modal_z               = 5001
lightbox_z            = 5001

// fonts
font_sans             = 'Arial', sans-serif
font_serif            = Georgia, serif

// font sizes
s_caption             = 12px
s_feed                = 23px

// units
s_margin              = 10px
block_width           = 315px
block_width_mar       = block_width + (s_margin * 2)

topbar_h              = 50px
container_pad         = 20px

// shadows
downshadow            = 0px 4px 14px -7px rgba(0,0,0,0.1)

v-align()
  -webkit-transform translateY(-50%)
  -ms-transform translateY(-50%)
  transform translateY(-50%)

// transitions
transition(n, property = all)
  -webkit-transition property ease-in n
  -moz-transition property ease-in n
  -o-transition property ease-in n
  transition property ease-in n

// antialiased
antialiased()
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

clearfix()
  &:after
    content ""
    display table
    clear both

caret()
  display inline-block
  content ''
  width 0
  height 0
  vertical-align middle

  border-top 8px solid
  border-right 4px solid transparent
  border-left 4px solid transparent
  margin 2px 0 4px 4px

privacy-color(prefix, attr)
  colors = 'closed' closed, 'public' public, 'private' private
  for value in colors
    {prefix + value[0]}
      if attr == border-color
        border 2px solid
      {attr} value[1]

privacy-light-color(prefix, attr)
  colors = 'closed' closed, 'public' public, 'private' private
  for value in colors
    {prefix + value[0]}
      {attr} alpha(value[1], 0.1)

privacy-color-border-hover(prefix, attr)
  colors = 'closed' closed, 'public' public, 'private' private
  for value in colors
    {prefix + value[0] + ':hover'}
      {attr} alpha(value[1], 0.6)

privacy-color-hover(prefix, attr)
  colors = 'closed' closed, 'public' public, 'private' private
  for value in colors
    {prefix + value[0] + ':hover'}
      {attr} value[1]

.serif-text
  font-family font_serif
  font-weight 100
  font-size 19px
  text-align left
  line-height 1.6em

  p
    margin .6em 0
