// colors
closed = #616161
public = #17AC10
private = #B60202
textgray = #616161 //#595959        // text, titles
lightgray = #9D9D9D                 // borders, captions, timestamp
backgroundgray = #FAFAFA            // search bar
secondbackgroundgray = #F2F2F2      // search results, dropdown
bordergray = #E7E7E7                // borders
hovergray = #050505                 // any hovered element

// z-index
header_z = 4001
modal_z = 2001
lightbox_z = 2001

// fonts
font_sans = 'Arial', sans-serif
font_serif = Georgia, serif

// font sizes
caption = 12px

// units
s_margin = 10px
block_width = 315px
block_width_mar= block_width + (s_margin * 2)

topbar_h = 50px
container_pad = 25px

// shadows
downshadow = 0px 4px 14px -7px rgba(0,0,0,0.1)

// transitions
transition(n)
  -webkit-transition: all ease-in n
  -moz-transition: all ease-in n
  -o-transition: all ease-in n
  transition: all ease-in n

// antialiased
antialiased()
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

caret()
  display inline-block
  content ''
  width 0
  height 0
  vertical-align middle

  border-top 8px solid
  border-right 4px solid transparent
  border-left 4px solid transparent
  margin 2px 0 4px 4px

privacy-color(prefix, attr)
  colors = 'closed' closed, 'public' public, 'private' private
  for value in colors
    {prefix + value[0]}
      if attr == border-color
        border 2px solid
      {attr} value[1]

.serif-text
  font-family font_serif
  font-weight 100
  font-size 19px
  text-align left
  line-height 1.6em

  p
    margin .6em 0
