// colors
closed = #A0A0A0
public = #10860B
private = #B60202

// z-index
header_z = 1001
modal_z = 2001

caret()
  display inline-block
  content ''
  width 0
  height 0
  vertical-align middle

  border-top 8px solid
  border-right 4px solid transparent
  border-left 4px solid transparent
  margin 2px 0 4px 4px