extends ../../../../components/meta_pocket/templates/meta_pocket

block vars
  - title = "About"
  - extraClasses = "metadata__column--mobile"
  - id = "metadata--about"

block content
  .ProfileDescription.js-profile-description
    if author.has('metadata')
      = author.get('metadata').description
    else
      | —
