extends ../../../../components/meta_pocket/templates/meta_pocket

block vars
  - title = "About"
  - extraClasses = "metadata__column--mobile"
  - id = "metadata--about"

block content
  if author.has('metadata')
    span= author.get('metadata').description
