extends ../../../../components/meta_pocket/templates/meta_pocket

block vars
  - title = "Actions"
  - extraClasses = "is-readable show-on-mobile"
  - id = "metadata--actions"

block content
  ul
    li: a.follow_button.pointer(data-type="User", data-id="#{author.id}")
    li: a.message_button.pointer(data-type="User", data-id="#{author.id}")