extends ../../../../components/meta_pocket/templates/meta_pocket

block vars
  - title = "Info"
  - extraClasses = "is-readable"
  - id = "metadata--info"

block content
  if author.has('metadata')
    span= author.get('metadata').description