extends ../../../../components/meta_pocket/templates/meta_pocket

block vars
  - title = "Info"
  - extraClasses = "is-readable"
  - id = "metadata--info"

block content
  span= author.get('metadata').description