include ../../avatar/templates/avatar

.user.dropdown--menu.dropdown--menu--user.right
  .user-avatar.js-dropdown-trigger.dropdown--menu__padder
    +avatar(user, 'thumb')
  .dropdown.dropdown--size
    .dropdown__inner
      .dropdown__section
        a.dropdown__link.dropdown__link--profile(href="/#{user.get('slug')}") / #{user.get('username')}
        a.dropdown__link.dropdown__text--small(href="/#{user.get('slug')}/channels") My channels

        a.dropdown__link.dropdown__text--small(href="/#{user.get('slug')}/blocks") My blocks
        a.dropdown__link.dropdown__text--small(href="/settings") Settings
        a.dropdown__link.dropdown__text--small(href="/me/sign_out") Sign Out
      .dropdown__section
        a.dropdown__link.dropdown__link--feed(href="/") / Feed
      .dropdown__section
        a.dropdown__link.dropdown__link--explore(href="/explore") / Explore
      .dropdown__section.dropdown__link--tools
        a.dropdown__link(href="/tools") / Tools
        a.dropdown__link.dropdown__text--small(href="/tools/find-friends") Find friends
        a.dropdown__link.dropdown__text--small(href="/tools/bookmarklet") Bookmarklet
        a.dropdown__link.dropdown__text--small(href="/tools/send-invitation") Send invitation
        if user.isPremium()
          a.dropdown__link.dropdown__text--small(href="/manage") Manage channels
        else
          a.dropdown__link.dropdown__link--premium.dropdown__text--small(href="/pricing") Upgrade to premium

      .dropdown__section
        a.dropdown__link(href="/about") / About &amp; FAQ