@import '../../layout/variables'

.user__avatar
  position relative
  width 150px
  height 150px
  margin 1.5em auto 1.5em auto
  background-color backgroundgray
  // border-radius 50px

  .user__avatar__image
    position absolute
    left 0
    top 0
    max-width 100%
  // border-radius 50px

  .user__avatar__initials__content
    font-size 3.5em