@import '../../layout/variables'

.user__avatar--display
  position relative
  width 140px
  height 140px
  margin 0 auto 20px auto
  background-color backgroundgray
  // border-radius 50px

  .user__avatar__image
    position absolute
    left 0
    top 0
    max-width 100%
  // border-radius 50px

  .user__avatar__initials__content
    font-size 3.1em

.user__avatar--thumb
  position relative
  width 40px
  height 40px

  .user__avatar__image
    position absolute
    left 0
    top 12px
    max-width 100%

  .user__avatar__initials__content
    font-size 1.1em