@import '../../layout/variables'

.user__avatar--display
  position relative
  width 140px
  height 140px
  margin 0 auto 22px auto
  background-color backgroundgray
  // border-radius 50px

  .user__avatar__image
    position absolute
    left 0
    top 0
    max-width 100%
  // border-radius 50px

  .user__avatar__initials__content
    font-size 3.1em

.user__avatar--thumb
  position relative
  width 40px
  height 40px

  .user__avatar__image
    position absolute
    left 0
    top 12px
    max-width 100%

  .user__avatar__initials__content
    font-size 1.1em
    
@media (max-width:(block_width_mar * 3) + 30)
  .user__avatar--display
    width 120px
    height 120px
    
@media (max-width:375px)
  .user__avatar--display
    width 110px
    height 110px
  
  .dropdown
    .user__avatar--thumb
      height 30px
      width 30px
      line-height 30px
  
      .user__avatar__image, .user__avatar__initials
        top 20px
    