.Tooltip
  display none
  position absolute
  bubble top center colors-state-alert
  z-index rotate_z
  box-shadow none
  border none
  border-radius 0
  color white
  background-color colors-state-alert

  &--active
    display block

  &:hover
    color white

  &:after
    border-bottom 1em solid colors-state-alert

  // &__choice
  //   padding 0 1em
  //   font-weight bold
  //   cursor pointer
