font = json('../typography/font.json', { hash: true })

h1.Type
h2.Type
h3.Type
h4.Type
h5.Type
h6.Type
p.Type
pre.Type
ul.Type
ol.Type
  display block
  collapsed-margins(1em)

h1.Type
h2.Type
h3.Type
h4.Type
h5.Type
h6.Type
  font-weight normal

p.Type
  a
    text-decoration underline
    
  strong > a
    text-decoration none

  img
    max-width 100%
    vertical-align bottom

pre.Type
code.Type
  font-family font_mono
  background-color colors-gray-background
  color black
  border-radius input-border-radius

pre.Type
  padding 0.25em 0.5em
  line-height line-height-tall
  white-space pre
  overflow-x auto

code.Type
  padding (1em / 6) 0.25em
  font-size inherit

ul.Type
  list-style none

strong.Type
  font-weight bold



.Type
  // Reset any styles that might be inherited from the base object
  // This property can be removed once the existing UI is retired
  all initial

  antialiased()
  font-family font_sans
  color colors-gray-text
  line-height line-height-base

  // Sizes
  for key, size in font.font
    &--{key}
      font-size size

  // Line Heights
  &--lh-tall
    line-height line-height-tall

  // Stylistic Variants
  &--small-caps
    text-transform uppercase
    letter-spacing 0.0625em

  &--premium
    font-family 'Arial Narrow', 'Arial', sans-serif
