.AuthenticationForm
  width block_width_mar

  &__password
    position relative
    collapsed-margins(0.5em)

    > a
      position absolute
      top 50%
      right 1em
      transform translateY(-50%)
      font-size font-size-xs
