.new-connection
  input.new-connection__search.input--wide(type="text", placeholder="Search channels")
  .new-connection__caption Recent channels
  .new-connection__search-results
    //- rendered by client
  .block-item__bottom-buttons
    button.new-connection__done-button.button--inblock.button--inblock--bottom Close
  button.new-connection__done-button.button--inblock.button--inblock--mini ×
