.channel-empty
  @extends .flex-container
  margin (unit * 6) auto
  position relative
  top 50%
  transform translateY(-50%)
  padding (unit / 2)
  h1, h2, h3
    color lightgray
    font-weight normal
    a
      font-weight bold
