extends block

block content
  .valign-outer
    .valign-inner
      h2=block.smartTruncate(block.get('title'), 50)
      .grid__block__channel__stats
        ul.grid__block__channel__stats__list
          li by #{block.get('user').username}
          li #{block.get('length')} blocks &bull; #{block.updatedAtAgo()}

block overlay
  .button--inblock.button--inblock--left.grid__block__follow_btn &nbsp;
  .button--inblock.button--inblock--right.js-overlay-connect Connect &rarr;