extends block

block content
  if block.has('image')
    .valign--flex.halign--flex
      img(
        src="#{block.resizeImage()}"
        alt="#{block.get('description')}"
      ).grid__block__content__image

block overlay
  include ../overlay_actions
