extends block.jade

block content
  .valign--flex
    .grid__block__content__text
      != block.get('content_html')

block overlay
  .button--inblock.button--inblock--center.grid__block__connect-btn Connect &rarr;