for block in blocks
  div(class="block privacy-#{ block.get('visibility') }", style="background-image:url( #{ block.getImageSize('large') })")
    .content
      if(block.get('class') == 'Text')
        !{block.get('content_html')}
