.block
  display: inline-block
  width: 330px
  height: 330px
  margin: 1em
  background-size: contain
  background-position: center center
  background-repeat: no-repeat
  border: 1px solid transparent

  colors = 'closed' closed, 'public' public, 'private' private
  for color in colors
    &{'.privacy-' + color[0] + ':hover'}
      border: 1px solid color[1]
