input
  width 100%
  height 45px
  font-size 16px
  font-weight 400
  margin 0 0 0 0
  background-color backgroundgray
  border none
  border-bottom 0px solid lightgray
  padding 0 0 0 10px
  antialiased()

::-webkit-input-placeholder
   color lightgray

:-moz-placeholder /* Firefox 18- */
   color lightgray

::-moz-placeholder /* Firefox 19+ */
   color lightgray

:-ms-input-placeholder
   color lightgray

&:focus
  outline none
  border-bottom 0px solid lightgray

  &:focus::-webkit-input-placeholder
    color textgray

  &:focus:-moz-placeholder /* Firefox 18- */
    color textgray

  &:focus::-moz-placeholder /* Firefox 19+ */
    color textgray

  &:focus:-ms-input-placeholder
    color textgray

button
  width 100%
  height 45px
  border 0
  border-top 1px solid textgray
  outline none
  background-color white
  cursor pointer
  font-size 16px
  font-weight bold
  color textgray
  margin 20px 0 0 0
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

  &:hover
    // background-color #E7F3E4
    border-top 1px solid public
    color public
    transition(0.1s)

  &:active
    background-color white
    border-bottom 0
