input, input[type='text'], input[type='number'], input[type="search"], textarea
  font-size 1em
  font-weight normal
  margin 0 0 0 0
  color textgray
  background-color backgroundgray
  border 0px solid white
  padding 0 0 0 10px
  font-family font_sans
  antialiased()
  -webkit-appearance none

  ::-webkit-input-placeholder
     color lightgray
     font-family font_sans

  :-moz-placeholder /* Firefox 18- */
     color lightgray
     font-family font_sans

  ::-moz-placeholder /* Firefox 19+ */
     color lightgray
     font-family font_sans

  :-ms-input-placeholder
     color lightgray
     font-family font_sans

  &:focus
    outline none
    font-size 1em
    border 0px solid bordergray
    background-color secondbackgroundgray
    // transition(0.1s)

  &:focus::-webkit-input-placeholder
    color textgray

  &:focus:-moz-placeholder /* Firefox 18- */
    color textgray

  &:focus::-moz-placeholder /* Firefox 19+ */
    color textgray

  &:focus:-ms-input-placeholder
    color textgray

  &.input--wide
    width: 100%
    height 50px

  &.input--relative
    position relative
    float none
    margin 20px 0 0 0

fieldset
  margin 0.6em 0

label
  label()
  margin-right s_caption
  font-size s_caption

textarea
  resize none
  outline none
  padding 1em
  font-size 1em
  font-family font_sans
  font-weight 100
  line-height 1.6
  color textgray

button
  border 0
  outline none
  background-color transparent
  cursor pointer
  font-size 1.5em
  font-weight bold
  font-family font_sans

  &:hover
    hover-color backgroundgray

  &.button--border
    border-top 1px solid textgray

    &:hover
      background-color transparent
      border-top 1px solid hovergray
      color hovergray
      // transition(0.1s)

  &.button--wide
    width 100%
    height 45px

  &.button--relative
    position relative
    float left
    margin 40px 0 0 0

  &.button--add
    font-size 15px

  color textgray
  margin 20px 0 0 0
  antialiased()

  &:active
    background-color transparent
    border-bottom 0

.button--base
  width 93%
  height 60px
  line-height 49px
  font-size 15px
  font-weight bold
  color textgray
  padding 0
  border-top 1px solid bordergray

  &:hover
    border-top 1px solid textgray
    color hovergray
    cursor pointer

.button--inblock
  position absolute
  top 41%
  height 50px
  width 40%
  line-height 49px
  font-size 15px
  font-weight bold
  color textgray
  padding 0

  &:hover
    color hovergray
    cursor pointer

  &.button--inblock--bottom
    top auto
    bottom 0
    left 3.5%
    width 93%
    height 60px
    padding-bottom 4px
    border-top 1px solid bordergray

    &:hover
      border-top 1px solid textgray
      background-color transparent

  &.button--inblock--right
    left 50%
    margin 1%
    background-color rgba(255,255,255, 0.85)

    &:hover
      background-color rgba(255,255,255, 1)

  &.button--inblock--left
    left 8%
    margin 1%
    background-color rgba(255,255,255, 0.90)

    &:hover
      background-color rgba(255,255,255,1)

  &.button--inblock--center
    left 29%
    margin 1%
    background-color rgba(255,255,255, 0.90)

    &:hover
      background-color rgba(255,255,255, 1)

  &.button--inblock--channel
    left 8%
    margin 1%

.grid__block--user
  .button--inblock
    z-index 1

.grid__block--channel
  .button--inblock--right, .button--inblock--left
    top auto
    bottom 5px
    border-top 1px solid bordergray
    background-color transparent

    &:hover
      border-top 1px solid textgray
      background-color transparent

.grid__block--user
  .button--inblock--bottom
    position relative
    left 0
    width 140px
    height 50px
    line-height 49px
    margin 0 auto 12px auto
    border-top 1px solid lightgrayplus

