input
  font-size 1em
  font-weight normal
  margin 0 0 0 0
  color textgray
  background-color backgroundgray
  border none
  border-bottom 0px solid lightgray
  padding 0 0 0 10px
  font-family font_sans
  antialiased()

  ::-webkit-input-placeholder
     color lightgray
     font-family font_sans

  :-moz-placeholder /* Firefox 18- */
     color lightgray
     font-family font_sans

  ::-moz-placeholder /* Firefox 19+ */
     color lightgray
     font-family font_sans

  :-ms-input-placeholder
     color lightgray
     font-family font_sans

  &:focus
    outline none
    border-bottom 0
    background-color secondbackgroundgray
    transition(0.1s)

  &:focus::-webkit-input-placeholder
    color textgray

  &:focus:-moz-placeholder /* Firefox 18- */
    color textgray

  &:focus::-moz-placeholder /* Firefox 19+ */
    color textgray

  &:focus:-ms-input-placeholder
    color textgray

  &.input--wide
    width: 100%
    height 45px

  &.input--relative
    position relative
    float left
    margin 20px 0 0 0


fieldset
  margin 0.6em 0

textarea
  resize none
  outline none
  padding 1em
  font-size 1em
  font-family font_sans
  font-weight 100
  line-height 1.6
  color textgray

button
  border 0
  outline none
  background-color transparent
  cursor pointer
  font-weight bold
  color textgray

  &:hover
    background-color backgroundgray
    color red

  &.button--border
    border-top 1px solid textgray

    &:hover
      background-color transparent
      border-top 1px solid public
      color public
      transition(0.1s)

  &.button--wide
    width 100%
    height 45px

  &.button--dark
    border none
    background-color #000
    color #fff

  &.button--relative
    position relative
    float left
    margin 20px 0 0 0

  &.button--add
    font-size caption

  color textgray
  margin 20px 0 0 0
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

  &:active
    background-color transparent
    border-bottom 0
