.PricingFeatures
  display flex
  flex-direction row
  justify-content center
  margin-top 2em

.FeatureColumn
  width 15em
  margin 0 1.5em

  &__feature
    border-top 1px solid colors-gray-border
    padding 1em 0
    line-height line-height-tall
    &:last-child
      border-bottom 1px solid colors-gray-border