.PricingFeatures
  .FeatureColumn
    h4.Type.Type--size-h4.Utility--align-center
      | Save anything
    .FeatureColumn__feature
      p.Type.Type--lh-tall
        | Add web pages, images, videos, PDFs, and more.
    .FeatureColumn__feature
      p.Type.Type--lh-tall
        | Add a link or text clipping from any web page with our bookmarklet
    .FeatureColumn__feature
      p.Type.Type--lh-tall
        | Upload any file type
    .FeatureColumn__feature
      p.Type.Type--lh-tall
        | Create text notes
    .FeatureColumn__feature
      p.Type.Type--lh-tall
        | Edit titles, add descriptions, and make comments
  .FeatureColumn
    h4.Type.Type--size-h4.Utility--align-center
      | Manage content
    .FeatureColumn__feature
      p.Type.Type--lh-tall
        | Make channels open to anyone, closed to just collaborators, or completely private
    .FeatureColumn__feature
      p.Type.Type--lh-tall
        | Add unlimited blocks in public Channels
    .FeatureColumn__feature
      p.Type.Type--lh-tall
        | Connect related channels
    .FeatureColumn__feature
      p.Type.Type--lh-tall
        | Search users, public blocks and channels
    .FeatureColumn__feature
      p.Type.Type--lh-tall
        | Customize your profile page with a bio and links
  .FeatureColumn
    h4.Type.Type--size-h4.Utility--align-center
      | Collaborate
    .FeatureColumn__feature
      p.Type.Type--lh-tall
        | Find friends who are already on Are.na
    .FeatureColumn__feature
      p.Type.Type--lh-tall
        | Export Channels as PDF, ZIP, and HTML
    .FeatureColumn__feature
      p.Type.Type--lh-tall
        | Create public links to private channels
    .FeatureColumn__feature
      p.Type.Type--lh-tall
        | Live Feed of users and channels you follow
    .FeatureColumn__feature
      p.Type.Type--lh-tall
        | Invite friends and colleagues to collaborate on specific channels
