.LayoutHeaderSearch.js-layout-header-search
  .LayoutHeaderIcon
    a.LayoutHeaderIcon__logo( href= homeHref )
      include ../../primary_icon/index

      .LayoutHeaderIcon__search
        include ../../../public/images/search.svg

  input.Input.js-layout-header-search-input(
    placeholder='Search Are.na'
  )

  //- .layout-header__search__close.pointer.js-layout-header-search
  //-   | &times;

  .LayoutHeaderSearch__results.js-layout-header-search-results
    //- Rendered client-side
