ul.search__results__list
  for result in results
    if result.get('kind') != 'profile'
      li.search__results__result: a(href="/#{result.get('user').slug}/#{result.get('slug')}")
        ul.breadcrumb
          li: = result.get('user').username
          li(class="search__results__result--privacy-#{result.getVisibility()}"): = result.get('title')
    else
      li.search__results__result: a(href="/#{result.get('user').slug}")
        ul.breadcrumb
          li: = result.get('user').username
  li.search__results__result.search__results__see-all: a(href="/search/")
    | See all results