.BlogPosts, .BlogPost
  .post-category
  .post-title
    text-align left
    font-weight bold

  .post-title
    margin .25em auto 0
    cursor pointer

  .post-category
    text-transform uppercase
    font-size font-size-xs

.BlogPosts
  display flex
  flex-direction row
  flex-wrap wrap
  align-items center
  justify-content center
  margin 0 auto 4em
  max-width 60em

  &__post
    display block
    height 500px
    width 250px
    margin 1em
    color colors-gray-text
    line-height line-height-base
    &:hover
      color inherit

  &__post-image
    width 100%
    height 200px
    object-fit contain
    margin-bottom 1em

  &__excerpt
    margin 0.75em 0 1em

