include ./partials/category_title

a.BlogPosts__post.Type--size-sm( href="/blog/#{post.fields.slug}" )
  img.BlogPosts__post-image(
    srcset=srcset(post.fields.image, [250, 500, 750])
    sizes="250px"
    alt=post.fields.title
  )

  +category-title

  .BlogPosts__excerpt
    != documentToHtmlString(post.fields.previewText)

  include ./partials/date_author

