.ChannelBlockGroup
  width 100%
  &__inner
    margin 0 auto
    display flex
    justify-content flex-start
  &__divider
    border-top 1px solid bordergray
    margin 2em auto
    height 0

  for i in (1..8)
    @media (min-width:(block_width_mar * i) + 20) and (max-width:(block_width_mar * (i + 1)) + 20)
      &__inner
        width (block_width_mar * i)
      &__divider
        width (block_width_mar * i) - 20
      .Block:nth-of-type(1n+{i+1})
        display none

  +mobile()
    &__divider
      border-color transparent
      margin 0.5em auto

.ChannelBlockGroup:first-child
  .ChannelBlockGroup__divider
    margin-top 0