.ChannelBlockGroup
  width 100%
  border-top 1px solid bordergray
  padding (unit * 2) 0
  &__inner
    margin 0 auto
    display flex
    justify-content flex-start

  for i in (1..4)
    @media (min-width:(block_width_mar * i) + 20) and (max-width:(block_width_mar * (i + 1)) + 20)
      &__inner
        width (block_width_mar * i) + 20
      .Block:nth-of-type(1n+{i+1})
        display none
