.Onboarding
  //

@require 'demo'
@require 'guide'
@require 'steps'

@require '../scenes/welcome/index'
@require '../scenes/channels/index'
@require '../scenes/searching/index'
@require '../scenes/connecting/index'
@require '../scenes/profile_and_feed/index'
@require '../scenes/feed/index'
@require '../scenes/explore/index'
@require '../scenes/save_to_arena/index'
@require '../scenes/find_friends/index'

@require 'mobile'
