+mobile()
  .OnboardingGuide
    position relative
    flex-direction column

    &__pane
      flex-basis 100%
      border none

    &__actions
      position absolute
      right 0
      bottom 0
      left 0
      padding 1em
