.OnboardingSteps
  flex 1
  counter-reset section

  &__subsection
    display none

    &--active
      display block

.OnboardingStep
  padding input-v-padding 0
  border-bottom 1px solid colors-gray-border
  font-weight bold
  font-size font-size-base
  line-height line-height-base
  color colors-gray-lighter
  text-align left
  cursor default

  &__caption
    display none
    font-weight normal
    padding-left 1.5em

  > a
    color inherit

  &:before
    display inline-block
    width 1.5em
    counter-increment section
    content counters(section, '') '. '

  > ol
    counter-reset subsection
    margin-bottom -(input-v-padding)

    > li
      padding-left 1em

      &:first-child
        margin-top input-v-padding
        border-top 1px solid colors-gray-border

      &:last-child
        border-bottom 0

      &:before
        counter-increment subsection
        content ''

  &--active
    color colors-gray-hover

    > .OnboardingStep
      &__caption
        display block
        color colors-gray-text
