.OnboardingSteps
  flex 1

.OnboardingStep
  padding input-padding
  border-bottom 1px solid colors-gray-border
  font-weight bold
  font-size font-size-base
  line-height 1
  color colors-gray-lighter
  text-align left
  cursor default

  > span
    display inline-block
    width 1em

  &--active
    color colors-gray-hover

  &--secondary
    padding-left 2em

    > span
      width 1.5em
