.grid__block--new-block .grid__block__inner
  border 1px dashed lightgray

.grid__block--new-block__plus_button
  font-size 800%
  color lightgray
  transition color 0.6s

.grid__block--new-block:hover .grid__block--new-block__plus_button
  color lightgrayplus