@import '../../layout/variables'

/* add block field */

.grid__block--new-block .grid__block__inner
  background-color backgroundgray

.grid__block--new-block .grid__block__inner:hover
  border 1px solid bordergray
  cursor text

.grid__block--new-block fieldset
  margin 0

.grid__block--new-block__content-field
  opacity 0
  width 94%
  height 240px
  border 0
  margin 10px 0 0 0
  background none
  antialiased()

.grid__block__inner:hover .grid__block--new-block__content-field
  opacity 1
  background-color secondbackgroundgray

.grid__block--new-block__content-field::-webkit-input-placeholder
  font-size 22px
  line-height 1.3em
  text-align center
  padding 60px 0 0 0

.grid__block--new-block__content-field:-moz-placeholder
  font-size 22px
  line-height 1.3em
  text-align center

.grid__block--new-block__submit:hover
  color hovergray
  cursor pointer

/* add block behavior */

.grid__block--new-block__title
  color lightgray

.grid__block--new-block__form
  padding 0.2em

.grid__block--new-block__form.active
  opacity 1
  pointer-events all

.grid__block--new-block__cancel
  position absolute
  bottom 1em
  right 1em