header.HomeHeader.js-header
  span.HomeHeader__logo( href='/' )
    include ../../../public/images/arena-mark.svg
    span
      | &nbsp;Are.na

  .HomeHeader__cta
    a( href='/sign_up' )
      | Join
    a( href='/log_in' )
      | Log In
