extends ../../../components/layout/layouts/blank

block container
  include ../../../components/logged_out_nav/templates/header

  .Home.js-home
    section.HomeSection.HomeHero.js-section
      include ./sections/hero

    section.HomeSection.js-section.js-fold
      include ./sections/platform_for_organizing

    section.HomeSection.js-section
      include ./sections/connect_ideas

    section.HomeSection.js-section
      include ./sections/explore_and_collaborate

    section.HomeSection.js-section
      include ./sections/get_started

  include ../../../components/logged_out_nav/templates/footer

block scripts
  script( src= asset('/assets/home.js') )
