extends ../../../components/layout/layouts/blank

block meta
  script( type="application/ld+json" ).
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "https://www.are.na/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://www.are.na/search/{search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }

block container
  include ../../../components/logged_out_nav/templates/header

  .Home.js-home
    section.HomeSection.HomeHero.js-section
      include ./sections/hero
    section.HomeSection.js-section
      include ./sections/more
    section.HomeSection.js-section
      include ./sections/howitworks
    section.HomeSection.js-section
      include ./sections/quotes
    section.HomeSection.js-section
      include ./sections/explore
    

  include ../../../components/logged_out_nav/templates/footer

block scripts
  script( src= asset('/assets/home.js') )
