extends ../../../components/layout/layouts/blank

block meta
  include ./meta

block precontainer
  include ./sections/invest

block container
  include ../../../components/logged_out_nav/templates/header

  .Home.js-home
    section.HomeSection.HomeHero.js-section
      include ./sections/hero
    section.HomeSection.js-section
      include ./sections/more
    section.HomeSection.js-section
      include ./sections/howitworks
    section.HomeSection.js-section
      include ./sections/quotes
    section.HomeSection.js-section
      include ./sections/explore
    

  include ../../../components/logged_out_nav/templates/footer

block scripts
  script( src= asset('/assets/home.js') )
