extends ../../../components/layout/index--info

block vars
  - extraClasses = 'body--home'

block body
  .home
    include new_sections/splash.jade
    include new_sections/features.jade
    include new_sections/posts.jade

block scripts
  script( src=asset('/assets/root.js') )