meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:image", content="https://d2w9rnfcy7mm78.cloudfront.net/1823396/original_a478a524577ed32227e7b36894cbb04a.png")
meta(property="og:image" content="https://d2w9rnfcy7mm78.cloudfront.net/1823396/original_a478a524577ed32227e7b36894cbb04a.png")

script( type="application/ld+json" ).
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "https://www.are.na/",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://www.are.na/search/{search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }