meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:image", content="https://d2w9rnfcy7mm78.cloudfront.net/1819015/original_bf3404f8a3c72230a0c20a870232c2f5.jpg")
meta(property="og:image" content="https://d2w9rnfcy7mm78.cloudfront.net/1819015/original_bf3404f8a3c72230a0c20a870232c2f5.jpg")

script( type="application/ld+json" ).
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "https://www.are.na/",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://www.are.na/search/{search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }