extends ../../../components/layout/layouts/blank

block title
  |  / Register

block scripts
  script( src= asset('/assets/registration.js') )

block container
  .Registration.js-registration
    p.Type
      | We were unable to locate this registration.

    p.Type
      | Try <a href='/sign_up'>signing up</a>,
      | or <a href='/log_in'>logging in</a> if you&rsquo;ve already completed your registration.

    p.Type
      | Please contact us at <a href='mailto: info@are.na'>info@are.na</a> if you&rsquo;re having trouble.
