.Comments
  if comments
    for comment in comments.models
      include ../../../components/comments/templates/_comment

  if user
    .NewComment.js-new-comment
      include ../../../components/new_comment/templates/index
