extends block.jade

block content
  .valign-outer
    .valign-inner
      h2=block.smartTruncate(block.get('title'), 50)
      .grid__block__channel__stats
        ul.grid__block__channel__stats__list
          li by #{block.get('user').username}
          li #{block.get('length')} blocks &bull; #{block.updatedAtAgo()}

block overlay
  if !isEmbedded
    .block-item__bottom-buttons
      .button--inblock.grid__block__follow_btn &nbsp;
      .button--inblock.grid__block__connect-btn Connect &rarr;