extends block

block content
  - if(block.has('image') && block.resizeImage())
    .valign--flex.halign--flex
      img(
        src="#{block.resizeImage()}"
        alt="#{block.get('description')}"
      ).grid__block__content__image

block overlay
  .button--inblock.button--inblock--center.grid__block__connect-btn Connect &rarr;
