extends block.jade

block content
  - if(block.has('image'))
    .valign--flex.halign--flex
      img(
        src="#{block.resizeImage()}"
        alt="#{block.get('description')}"
      ).grid__block__content__image

block overlay
  .button--inblock.grid__block__source__link Source
  if user.has('id')
    .button--inblock.grid__block__connect-btn Connect &rarr;
