.grid__block.grid__block--new-block.block-item.block-item--new
  .block-padding
  .grid__block__inner
    .grid__block--new-block__add-block.grid__block--new-block__form.abs-fill
      .plus-placeholder +
      .add-block__placeholder Drop or #[span.add-block__placeholder__choose.pointer choose] files, paste a URL (image, video or link) or type text here
      fieldset
        textarea#grid__block--new-block__content-field.grid__block--new-block__content-field
      button.check.grid__block--new-block__submit.button--inblock.button--inblock--bottom Add block &rarr;