countSize = 19px

.notifications-menu
  padding-left 0
  cursor default
  &__outer
    height 50px

  &__count
    width countSize
    height countSize
    background-color lightgrayplus
    line-height countSize
    color white
    text-align center
    font-size s_caption - 1
    font-weight bold
    cursor pointer
    position relative
    top 50%
    transform translateY(-50%)

    &--has-notifications
      background-color alert

  &__empty
    font-size s_small
    text-align center

  &__dropdown
    width unit * 15

    .dropdown__inner
      padding unit
      max-height unit * 20
      overflow scroll
      padding-bottom topbar_h + unit

    .feed-group__sentence
      font-size s_caption
      text-align left
      padding 0
      padding-bottom unit

    .feed-group__sentence__username
      white-space nowrap

    &__all
      position absolute
      bottom 0
      left 0
      width (unit * 15) - 12px
      height topbar_h
      text-align center
      background-color white
      line-height topbar_h
      border 1px solid lightgray
      font-weight bold
      display block
      +below(500px)
        position static
        width 100%
