.Connect__item
  &:nth-child(2) > a
    border-top-left-radius input-border-radius
    border-top-right-radius input-border-radius

  &:last-child > a
    border-bottom-left-radius input-border-radius
    border-bottom-right-radius input-border-radius

  > a
    display block
    position relative
    margin 0 0 -1px 0
    padding input-padding
    border 1px solid colors-gray-lighter
    line-height 1
    text-align left
    font-weight normal !important
    color colors-gray-text
    overflow hidden

    &:before
      content ''
      position absolute
      top 0
      right 0
      bottom 0
      width 1em
      background linear-gradient(to left, colors-gray-background, rgba(white, 0))
      z-index 1

    &:hover
      border 1px solid colors-gray-text
      z-index 1

      &:before
        width 3em
        background linear-gradient(to left, colors-gray-background 60%, rgba(white, 0))

    &:hover
    &[data-selected]
      &:after
        display block
        content '✔'
        position absolute
        top 50%
        right 1em
        transform translateY(-50%)
        color colors-gray-light
        z-index 2

    &[data-selected]
      .Connect__item-label
        opacity 0.5

      &:hover:after
        content '×'
        font-size font-size-lg
        right 0.5em

.Connect__item-label
  display block
  white-space nowrap
