.auth-logo
  a(href="/")
    include ../../../public/images/arena-mark.svg
.auth-nav
  ul.breadcrumb
    li.auth-toggle(data-mode="login" class=mode == 'login' ? 'is-active' : ''): a Log in
    li.auth-toggle(data-mode="signup" class=mode == 'signup' ? 'is-active' : ''): a Join
