.grid__block--tip
  span
    cursor default
  .grid__block__inner
    color lightgray
    border 1px solid lightgray
    a
      font-weight bold
      line-height 1.2
  &__content
    padding unit
  &__sub-content
    position absolute
    bottom 0
    left 0
    width calc(100% \- 40px)
    margin 0 unit
    height 60px
    border-top 1px solid lightgray
    line-height 60px
    font-weight bold
  &__close
    position absolute
    top unit
    right unit
