.OnboardingGuide
  .OnboardingGuide__pane
    ol.OnboardingSteps
      li.OnboardingStep.OnboardingStep--active
        | <span>1.</span> Channels
      li.OnboardingStep.OnboardingStep--secondary.OnboardingStep--active
        | <span>1a.</span> Creating a New Channel
      li.OnboardingStep.OnboardingStep--secondary
        | <span>1b.</span> Searching for Existing Channels
      li.OnboardingStep
        | <span>2.</span> Connecting
      li.OnboardingStep
        | <span>3.</span> Profile and Feed
      li.OnboardingStep
        | <span>4.</span> Save to Are.na
      li.OnboardingStep
        | <span>5.</span> Find Friends

    .OnboardingGuide__actions
      a.Button.js-next
        | Next

  .OnboardingGuide__pane
    p Channels are the collections of content that make up Are.na

    .OnboardingDemo
      img.OnboardingDemo__mobile(
        src='https://d2w9rnfcy7mm78.cloudfront.net/1073842/original_2e497df41fbf5453fa477f2932c459ae.gif'
        alt='Creating a channel on Are.na'
      )

      video.OnboardingDemo__desktop(
        loop muted
        poster='https://d2w9rnfcy7mm78.cloudfront.net/1073591/original_470df7babe82568535f26ac2081d7c42.jpg'
      )
        source( src='https://d2br4gmjd4xnka.cloudfront.net/1073592/28656f89bdc094e5a28a62ce05c503c4.mp4', type='video/mp4' )
        source( src='https://d2br4gmjd4xnka.cloudfront.net/1073593/639652074385ba86a3659c1578273020.webm', type='video/webm' )

    //- Re: justify-content space-between
    div &nbsp;
