.OnboardingGuide
  .OnboardingGuide__pane
    include ../steps

    .OnboardingGuide__actions
      a.Button.js-next
        | Next

  .OnboardingGuide__pane
    p Channels are the collections of content that make up Are.na

    .OnboardingDemo
      <iframe width="343" height="539" src="https://www.youtube.com/embed/XmudyT6_SYI?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;version=3" frameborder="0" allowfullscreen></iframe>
