.PricingSquares
  a.Square.Square--arena(href="/sign_up")
    h4.Type.Type--size-h4 Are.na
    .Square__features
      p.Type
        | Unlimited public blocks
      p.Type
        | Up to 100 private blocks
    .Square__price Free
  a.Square.Square--premium(href="/settings/premium")
    h4.Type.Type--size-h4.Type--premium Premium
    .Square__features
      p.Type Unlimited public blocks
        br
      p.Type 
        strong Unlimited private blocks
      p.Type
        strong Hide from search engines
      p.Type
        strong Priority support
    .Square__price
      | $45 / year
      .Square__price__sub
        | or $5 / month
  a.Square.Square--teams(href="mailto:info@are.na")
    h4.Type.Type--size-h4 Teams
    //- for spacing
    .Square__features &nbsp;
    .Square__price Coming soon
