if showInvestCTA
  .InvestCTA.js-invest-cta
    strong.Type.Type--size-base 
      | Invest in Are.na.
    span.Type.Type--size-base 
      | Own a piece of your platform. Invest as little as $100 for a limited time.
    a.Button.Button--size-sm.js-view( href='https://republic.co/arena' target="_blank")
      | View Campaign
    a.InvestCTA__close.js-close
      | &times;