.InvestCTA
  position fixed
  bottom 0
  left 0
  right 0
  width 100%
  padding 1.25em

  display flex
  flex-direction row
  justify-content center
  align-items center
  text-align center
  z-index header_z + 10
  background-color colors-state-invest
  color white
  font-size font-size-base
  line-height line-height-base
  transform translateZ(1)

  &__close
    position absolute
    top 0
    right 0
    padding 0.5em 0.75em
    line-height 1
    color white
    font-size font-size-lg
    text-align center

  .Type
    color white

  > span
  > .Button
    margin 0 0.5em
  > .Button
    color white
    border-color darken(colors-state-invest, 30)

+mobile()
  .InvestCTA
    flex-direction column
