.Button
  &--blue
    background-color colors-blue-background
    border-color colors-blue-border
    color white
    &:hover
      background-color colors-blue-secondary
      border-color colors-blue-border-bold
      color white
    &:active
      background-color colors-blue-secondary
      border-color colors-blue-border-bold
      color colors-blue-light