.Button
  &--blue
    background colors-blue-background
    border-color colors-blue-border
    color white
    &:hover
      background colors-blue-secondary
      border-color colors-blue-border-bold
    &:active
      background colors-blue-secondary
      border-color colors-blue-border-bold
      color colors-blue-light