.Button
  &--public
    color colors-channel-public
    border-color lighten(@color, 75%)
    &:hover
      background-color colors-channel-public
      border-color @background-color
      color white

  &--private
    color colors-channel-private
    border-color lighten(@color, 75%)
    &:hover
      background-color colors-channel-private
      border-color @background-color
      color white

  &--closed
    color colors-channel-closed
    border-color lighten(@color, 75%)
    &:hover
      background-color colors-channel-closed
      border-color @background-color
      color white
