.Button
  // Reset any styles that might be inherited from the base object
  // This property can be removed once the existing UI is retired
  all initial
  box-sizing border-box

  antialiased()
  display inline-block
  padding button-padding
  text-align center
  font-family font_sans
  font-size font-size-base
  font-weight bold
  line-height 1
  background-color transparent
  color colors-gray-text
  border button-border-width solid lighten(@color, 75%)
  border-radius button-border-radius
  cursor pointer
  user-select none
  text-decoration none !important

  // States
  // ------
  &:hover
    border-color colors-gray-hover

  &:active
    // Annoyingly: have to set the border width/style/color here
    // because the default is overwritten in the old stylesheets using `border-bottom: 0`
    border button-border-width solid colors-gray-hover
    color lighten(@color, 50%)

  &:disabled
    opacity 0.5
    pointer-events none

  &[data-state='error']
    color colors-state-alert
    border-color lighten(@color, 75%)
    &:hover
      border-color @color

  &[data-state='loading']
    position relative
    pointer-events none
    color transparent
    &:after
      display block
      content ''
      position absolute
      top 50%
      left 50%
      width 2em
      height 2px
      background-color textgray
      transform translate(-50%, -50%)
