.Button
  &--divider
    display block
    width 100%
    border-width 1px
    padding 0.75em 1em
    border-right-color transparent !important
    border-bottom-color transparent !important
    border-left-color transparent !important
    border-radius 0

    &:hover
      background-color transparent !important
      border-top-color colors-gray-hover !important
      color colors-gray-hover !important
