.Button
  &--overlay
    // Fit 2-up on block hover
    min-width (block_width / 2.25)
    // Non-even vertical padding will visually center more accurately
    padding (button-v-padding * 1.9) (button-h-padding * 1.5)
    font-size font-size-base
    background-color colors-gray-translucent
    border none

    &:hover
      background-color white
      color colors-gray-hover

    &:active
      border none

    &[data-state='loading']
      background-color white

    &[data-state='error']
      background-color colors-gray-translucent
      color colors-state-alert
      &:hover
        background-color white
        color colors-gray-hover
