font = json('../typography/font.json', { hash: true })

.Button
  &--compact
    padding input-padding

  for key, size in font.font
    &--{key}
      font-size size
      &
      &:focus
        relative-width = size * 0.0625
        border-width relative-width
        border-width min(relative-width, 1px)
