if feed && feed.length
  include ../../feed/templates/small_feed.jade
else
  .notifications-menu__empty No notifications yet
a.notifications-menu__dropdown__all(href="/notifications") All Notifications