.notifications-menu.dropdown--menu.dropdown--menu--notifications
  .notifications-menu__count.js-dropdown-trigger 0
  .notifications-menu__dropdown.dropdown.dropdown--size
    .dropdown__inner
      include _dropdown_content