.notifications-menu.dropdown--menu.dropdown--menu--notifications.dropdown--is_active
  .notifications-menu__count.js-dropdown-trigger 0
  .notifications-menu__dropdown.dropdown
    .dropdown__inner
      include _dropdown_content