form
  //- TODO: Move up a level in the view hierarchy (reconsiders the parent)
  .Errors.js-form-errors
    //- Rendered client-side

  .Fieldset
    label.Label
      | Card info

    if customer.related().sources.length > 0
      include ./sources
    else
      .Input.js-card-element
        input.Input.Input--fill( style='display: none' )

  if customer.requiresPayment() && !customer.get('is_canceled')
    .Fieldset.js-coupon-code
      include ../coupon_code/index

  if customer.requiresPayment() && !customer.requiresPaymentMethod() && !customer.get('is_canceled')
    //- Not canceled. Needs to pay, but has a card on file already.
    button.Button.Button--divider.js-submit.js-charge
      | Upgrade to Premium
      if customer.related().sources.length > 1
        | (using #{customer.defaultSource().get('last4')})

  else if customer.requiresPayment() && customer.requiresPaymentMethod() && !customer.get('is_canceled')
    //- Not canceled. Needs to pay and doesn't have a card on file.
    button.Button.Button--divider.js-submit.js-charge
      | Upgrade to Premium

  else if customer.requiresPayment() && customer.get('is_canceled')
    //- Has previously canceled. Needs to pay, doesn't matter if there is a card on file or not.
    button.Button.Button--divider.js-submit.js-reenable
      | Continue my Premium membership ($#{customer.get('current_plan_amount')} / #{customer.get('current_plan_term')}) on
      | #{customer.formatDate('current_period_end_at', 'D MMMM, YYYY')}
