.payment-methods
  &__cards
    width 100%

  &__empty
    font-size s_normal
    text-align center


.payment-method
  font-size s_normal

  > td
    padding (unit / 4) 0

  &__card
    text-transform uppercase
    font-size s_small

    > span
      font-size s_normal
      margin 0 (unit / 4)
      font-family monospace

  &__default
  &__remove
    text-align right

    > span
      color lightgray
