extends ../../../../components/path/templates/tab_content

block vars
  - slug = "bookmarklet"

block content
  .tools__frame
    a(href="javascript:(function(){var s=document.createElement('script');s.setAttribute('type','text/javascript');s.setAttribute('charset','UTF-8');s.setAttribute('src','http://marklet.are.na/loader.js');document.documentElement.appendChild(s);})()").static__tools__bookmarklet-button Add to Are.na
    .caption Drag this button to your bookmarks bar &#10548;
    br
    | With the bookmarklet, you can easily add images, videos, links, and text to your Arena channels while surfing the web.
