extends ../../../../components/path/templates/tab_content

block vars
  - slug = "bookmarklet"

block content
  .tools__mobile-title Bookmarklet
  .tools__frame
    a.Button.Button--draggable.Button--fill( href= bookmarklet )
      | Add to Are.na

    p.Type.Type--xs.Utility--align-center
      | Drag this button to your bookmarks bar &#10548;

    p.Type
      | With the bookmarklet, you can easily add images, videos, links, and text to your Arena channels while surfing the web.
