extends ../../../../components/path/templates/tab_content

block vars
  - slug = 'find-friends'

block content
  .tab-content__title
    | Find friends

  .tab-content__frame
    .Narrow
      .ToolsFindFriends.js-find-friends
        include ../../components/find_friends/index
