extends ../../../../components/path/templates/tab_content

block vars
  - slug = "find-friends"

block content
  .tools__frame
   p Connect your Twitter account to find friends who are already on Are.na.
    .static__tools__social-button Connect to Twitter #[span(class="iconic" data-glyph="social-twitter" title="social twitter" aria-hidden="true")]