extends ../../../../components/path/templates/tab_content

block vars
  - slug = "send-invitation"

block content
  .tools__mobile-title Invite a collaborator
  .tools__frame
    p Invite as many friends and collaborators to Are.na as you'd like. Once the person you invited creates an account, you will automatically be following one another.

    form
      input.input--wide.input--relative.is-block(
        type="email" placeholder="Email" name="email" required
      )
      .invitation-errors &nbsp;
      button#send-invitation__button.auth-submit.button--wide.button--border Send Invitation

