extends ../../../../components/path/templates/tab_content

block vars
  - slug = "send-invitation"

block content
  .tools__mobile-title
    | Invite a collaborator

  .Section.Section--narrow.Section--bordered
    p.Type
      | Invite as many friends and collaborators to Are.na as you'd like. Once the person you invited creates an account, you will automatically be following one another.

    p.SendInvitation.js-send-invitation
      include ../../components/send_invitation/index
