extends ../../../../components/path/templates/tab_content

block vars
  - slug = "premium"

block content
  .tools__frame
    p By subscribing to the premium membership you'll have access to a series of tools and features we'll be adding over time.
    p It's a fundamental part of Are.na's self-sustainability goal, we're still working on some of the features (see below) but there are extra goodies for the first 50 supporters.
    if user.get('is_pro') == true
      .premium--is-premium Thank you for registering!
    else
      button.button--wide.button--border.button--add $45 / year — Activate premium &rarr;
  h2 What you get:
  .tools__frame
    h3 Bio in profile
    .premium--caption You can add a short description or links on your profile page
    img.premium--img(src="../images/arena-screenshot-bio.png", alt="Arena")
    h3 Manage channels
    .premium--caption Dashboard to browse, sort, edit and manage your channels
    img.premium--img(src="../images/arena-screenshot-manage.jpg", alt="Arena")
    h3 Quick search (coming soon)
    .premium--caption Search for blocks inside a channel
    img.premium--img(src="../images/arena-screenshot-quicksearch.jpg", alt="Arena")
  .premium--status.abs-fill
    .inner
