extends ../../../../components/path/templates/tab_content

block vars
  - slug = "premium"

block content
  .tools__frame
    p By subscribing to the premium membership you'll have access to a series of tools and features we'll be adding over time.
    //p It's a fundamental part of Are.na's self-sustainability goal, we're still working on some of the features (see below) but if you support us now by pre-ordering you'll have access to our behind the scenes and receive some goodies.
    //button.button--wide.button--border.button--add $xx / year - Activate premium &rarr;
    .premium--title Manage channels (coming soon)
    .premium--caption Dashboard to browse, sort, edit and manage your channels
    img.premium--img(src="../images/arena-screenshot-manage.jpg", alt="Arena")
    .premium--title Quick search (coming soon)
    .premium--caption Search for blocks inside a channel
    img.premium--img(src="../images/arena-screenshot-quicksearch.jpg", alt="Arena")