.channel__privacy--setting
  label Privacy
  ul.breadcrumb.toggle-group(data-key="filter")
    li: a(href="#" data-key='privacy' data-value='public').metadata--selector__option.default.is-active Open
    li: a(href="#" data-key='privacy' data-value='closed').metadata--selector__option Closed
    li: a(href="#" data-key='privacy' data-value='private').metadata--selector__option Private