extends ../../../components/layout/index

block title
  = ` / Search`

block meta
  != apollo.styles

block body
  #apolloMount.Constrain
    != apollo.html

block scripts
  script.
    window.__APOLLO_STATE__ = !{JSON.stringify(apollo.state).replace(/</g, '\\u003c')};
  script( src= asset('/assets/search.js') )
