extends ../../../components/layout/index.jade

block body
  include ./path
  if blocks
    .search-contents
      - title = "results for '" + search + "'"
      include ../../../components/blocks/container/templates/index

block scripts
  script( src=asset('/assets/search.js') )

