extends ../../../components/layout/index

block body
  include ./path
  if blocks
    .grid.flex-container
      include ../../../components/block_collection/templates/block_collection

block scripts
  script( src=asset('/assets/search.js') )

