extends ../../../components/layout/index

block body
  include ./path
  if blocks
    .search-contents
      include ../../../components/blocks/container/templates/index

block scripts
  script( src=asset('/assets/search.js') )

