// disable scroll
body.is-lightbox
  overflow hidden

#l-lightbox-container
  width 100%
  height 100%
  min-height 100%
  position fixed
  z-index header_z + 1
  top 0
  left 0
  color textgray
  background-color rgba(255,255,255, 0.96)
  opacity 0
  pointer-events none
  // transition(0.1s)

  &.is-active
    opacity 1
    pointer-events all

#l-lightbox-container_inner
  position absolute
  height 100%
  width 100%
  overflow scroll
  -webkit-overflow-scrolling touch

.lightbox__content__img
  height 100%
  text-align center
  img
    max-width 80%
    max-height 90%
    position relative
    top 50%
    v-align()

.lightbox__content__text
  position relative
  float left
  left 50%
  max-width 740px
  width 100%
  min-height 80%
  top 10%
  margin 0 0 8% -370px
  text-align left
  border 1px solid bordergray
  background-color rgba(255,255,255, 1)
  box-shadow 0px 0px 20px rgba(0,0,0,0.02)

  .lightbox__content__text__inner
    font-family Times New Roman
    height auto
    margin 0 auto
    padding 1.8em 2em 2em 2em
    font-size 1.25em
    line-height 1.6
    color hovergray
    antialiased()

.lightbox__content__media
  height 100%
  position relative
  text-align center

  iframe
    position relative
    top 50%
    v-align()

.lightbox__content__title
  position relative
  float left
  left 0
  width 100%
  margin -10px 0 0 0
  padding 25px 0 25px 0
  font-size 0.9em
  text-align center
  font-weight bold
  color textgray
  background-color secondbackgroundgray
  antialiased()

  .lightbox__content__description
    p
      position relative
      text-align left
      width 100%
      max-width 400px
      font-size s_caption
      font-weight normal
      line-height 1.5em
      left 50%
      margin-left -200px
      padding 5px 0 0 0
      color textgray

.lightbox__feed
  position relative
  float left
  width 100%
  height auto
  text-align center
  background-color backgroundgray
  margin 0 0 0 0
  padding 40px 0 40px 0

  .lightbox__feed__inner
    width 65%
    margin auto

.directional-arrows
  position absolute
  top 48%
  cursor pointer
  color white
  padding 40% 0 40%
  v-align()

  &:hover
    color hovergray

.directional-arrows--left
  left 0
  padding-left 120px
  padding-right 20%

.directional-arrows--right
  right 0
  padding-right 120px
  padding-left 20%

.lightbox--close
  display block
  position absolute
  top 12px
  right 20px
  font-size 24px
  font-weight normal
  line-height 40px
  width 40px
  height 40px
  cursor pointer
  z-index 2
  text-align center
  color lightgray

  &:hover
    color hovergray

@media (max-width:850px)
  .lightbox__content__text
    width 90%
    left 5%
    margin 0 0 18% 0

    .lightbox__content__text__inner
      padding 1.4em 1.8em 1.8em 1.8em

  .directional-arrows--left
    left 5px

  .directional-arrows--right
    right 5px

  .lightbox--close
    top 4px
    right 4px

@media (max-width:500px)
  .lightbox__content
    padding 10px

  .lightbox__feed .lightbox__feed__inner
    width 100%

  .lightbox__feed
    padding 20px 0 20px 0

