// disable scroll
body.is-lightbox
  overflow hidden

#l-lightbox-container
  width 100%
  height 100%
  min-height 100%
  position fixed
  z-index header_z + 1
  transform translate3d(0, 0, 2px)
  -webkit-transform translate3d(0, 0, 2px)
  -moz-transform translate3d(0, 0, 2px)
  -o-transform translate3d(0, 0, 2px)
  transform translate3d(0, 0, 2px)
  top 0
  left 0
  color textgray
  background-color rgba(255,255,255, 0.96)
  opacity 0
  pointer-events none
  // transition(0.1s)

  &.is-active
    opacity 1
    pointer-events all

#l-lightbox-container_inner
  position absolute
  height 100%
  width 100%
  overflow scroll
  -webkit-overflow-scrolling touch
  padding-bottom 0

#l-lightbox-loading-spacer
  min-height 100%
  display none

.is-loading #l-lightbox-loading-spacer
  display block

.lightbox__content__img
  height 100%
  text-align center

  img
    max-width 80%
    max-height 90%
    position relative
    top 50%
    v-align()
    z-index lightbox_z + 1

.lightbox__content__attachment
  svg
    clear both

.lightbox__content__text
  display flex
  flex-direction column
  position relative
  left 50%
  max-width 740px
  width 100%
  min-height 85%
  top 7%
  margin 0 0 8% -370px
  text-align left
  border 1px solid bordergray
  background-color rgba(255,255,255, 1)
  box-shadow 0px 0px 20px rgba(0,0,0,0.02)
  -moz-box-shadow 0px 0px 20px rgba(0,0,0,0.02)
  -webkit-box-shadow 0px 0px 20px rgba(0,0,0,0.02)
  z-index lightbox_z + 1

  .lightbox__content__text__inner
    flex 1
    font-family font_serif
    margin 0 auto
    color #333
    width 100%
    height 100%
    word-wrap break-word
    antialiased()

    *
      padding 0 35px
      margin 0

    textarea
      padding 0

    .attr-value
      padding 40px 0

    .attr-editor
      padding 40px 35px

    /* MARKDOWN STYLING */
    h1, h2
      font-family font_sans
      font-size 2em
      line-height 1.3em
    h2
      font-size 1.2em
      line-height 1.4em

    h3
      font-size 1.2em
      line-height 1.4em
      font-weight bold

    p
      margin-bottom 15px
      font-size 1.2em
      line-height 1.4em

    a
      font-weight bold
      padding 0

    ul
      list-style disc inside none
      margin-top 20px
      margin-bottom 30px

    li
      font-size 1.2em
      line-height 1.4em
      margin-bottom 5px
      margin-top 10px
      text-indent -1em
      padding-left 3em

    ol
      list-style decimal inside none
      margin-bottom 15px

    em, strong, blockquote, ul, ol
      padding 0

    hr
      margin 30px 35px
      border 0
      border-top 1px solid bordergray
      box-sizing none

    blockquote
      margin 15px 0 15px 35px
      border-left 1px solid bordergray
      p
        padding 0 25px 0 15px

.lightbox__content__media
  height 100%
  position relative
  text-align center

  iframe
    position relative
    width w=853px
    height (w / 1.777777)
    top 50%
    v-align()
    z-index lightbox_z + 1

.lightbox__content__footer
  position relative
  left 0
  width 100%
  border-top 1px solid bordergray
  border-bottom 1px solid bordergray
  background-color #fff
  color lightgray
  antialiased()

.lightbox__content__footer__inner
  display table
  width 90%
  max-width 880px
  min-height 120px
  margin auto
  padding 20px 0 20px 0

  .lightbox__content__footer__inner__col-1
    display table-cell
    position relative
    width 50%
    padding-right 1em

  .lightbox__content__footer__inner__col-2
    display table-cell
    position relative
    width 50%
    height 100%
    vertical-align middle

  .attribute-group
    display block
    width 100%

  .is-editing
    .attr-editor
      padding 0 0 0 6px

    input
      font-size 1em
      line-height 1.6em

    textarea
      font-size s_caption + 1
      line-height 1.5em

  .placeholder
    font-weight normal

  .lightbox__content__title
    margin 0 0 1em 0
    font-size 1em
    font-weight bold
    line-height 1.6em
    text-align left
    padding 0 6px 0 6px

  .lightbox__content__description, .lightbox__content__source
    margin 0
    padding .5em 6px
    text-align left
    font-size s_caption + 1
    font-weight normal
    line-height 1.5em
    color lightgray

    a
      font-weight bold

.lightbox__feed
  position static
  width 100%
  height auto
  text-align center
  background-color #fff
  margin 0 0 0 0
  padding 60px 0 30px 0
  z-index rotate_z

  .lightbox__feed__inner
    width 65%
    margin auto

.lightbox__feed .feed-group__sentence.is_comment
  width 550px

  .feed-group__sentence__username
    display block

.lightbox__feed .feed-group__sentence__comment
  display inline-block
  font-family font_serif
  width 550px
  font-size .8em
  line-height 1.2
  text-align left

  ol
    ol()

  p, li
    margin 15px 0

  &.attribute-group .attr-value
    &:before
      content ""

    &:after
      content ""

    p
      display block

  &:not(.attribute-group)
    &:before
      content ""

    &:after
      content ""

.lightbox__connect
  width 100%
  height 80px
  margin 0
  text-align center
  border-left 1px solid bordergray

.lightbox__connect__inner
  position relative
  margin 0 auto
  width 100%
  height 50%

  .lightbox__connect__trigger
    position relative
    width 125px
    margin auto

.lightbox__connect__container
  position absolute
  top -100px
  height 315px
  width 315px
  z-index 99999
  pointer-events none
  top -214px
  left -1px

  &.is-active
    background #fff
    border 1px solid bordergray
    pointer-events all

.directional-arrows
  opacity 0
  position absolute
  top 48%
  cursor pointer
  padding 20% 0
  max-height 100%
  v-align()

  &:hover
    opacity 1

  svg
    fill hovergray

.directional-arrows--left
  left 0
  padding-left 120px
  padding-right 20%
  z-index lightbox_z

.directional-arrows--right
  right 0
  padding-right 120px
  padding-left 20%
  z-index lightbox_z

.lightbox--close
  display block
  position fixed
  top 12px
  right 20px
  font-size 24px
  font-weight normal
  line-height 40px
  width 40px
  height 40px
  cursor pointer
  z-index lightbox_z + 2
  text-align center
  color lightgray

  &:hover
    color hovergray

@media (max-width:(block_width_mar * 4))
  .directional-arrows--left
    left 30px
    width 150px
    text-align left
    padding-right 0
    padding-left 0

  .directional-arrows--right
    right 30px
    width 150px
    text-align right
    padding-right 0
    padding-left 0

@media (max-width:980px), (max-height:600px)
  .lightbox__content__media
    iframe
      width w=640px
      height (w / 1.777777)

@media (max-width:850px)
  .lightbox__content__text
    width 90%
    left 5%
    margin 5% 0 18% 0

    .lightbox__content__text__inner
      padding 0

  .lightbox--close
    top 0
    right 0

  .directional-arrows--left
    left 1%
    width 100px

  .directional-arrows--right
    right 1%
    width 100px

  .lightbox__content__footer__inner
    max-width 100%
    width 94%

  .lightbox__content__footer__inner
    .lightbox__content__footer__inner__col-1
      width 50%

    .lightbox__content__footer__inner__col-2
      width 50%
      height 315px

      .lightbox__connect
        height 100%

        .lightbox__connect__inner
          height 100%

          .lightbox__connect__container
            top 0

@media (max-width:760px), (max-height:500px)
  .lightbox__content__media
    iframe
      width w=500px
      height (w / 1.777777)

@media (max-width:600px), (max-height:400px)
  .lightbox__content__media
    iframe
      width w=400px
      height (w / 1.777777)

@media (max-width:(block_width_mar * 2))
  .lightbox__content__footer__inner
    .lightbox__content__footer__inner__col-1
      display block
      float left
      width 100%

    .lightbox__content__footer__inner__col-2
      display block
      float left
      width 100%
      height 80px
      margin-top 20px

      .lightbox__connect
        height 100%
        border-top 1px solid bordergray
        border-left 0
        padding-bottom 20px

        .lightbox__connect__inner
          height 100%

          .lightbox__connect__container
            top -215px
            left 50%
            margin-left -162px

  .lightbox--close
    position absolute

@media (max-width:500px)
  .lightbox__content
    padding 10px

  .lightbox__feed .lightbox__feed__inner
    width 100%

  .lightbox__feed
    padding 20px 0 20px 0

  .lightbox__content__media
    iframe
      width w=310px
      height (w / 1.777777)

@import '../../new_comment/stylesheets/new_comment'
@import '../../editable_attribute/stylesheets/editable_attribute'