mobile_breakpoint = 1024px

.HomeBlog
  border-bottom 1px solid colors-gray-border

  &.HomeSection__content
    padding-bottom 5em
  
  &__cta&__cta
    margin-bottom 2em

  > .BlogPosts
    margin-bottom 2em

+below(mobile_breakpoint)
  .HomeBlog
    &__quote
      padding 0 2em
    &__copy
      font-size font-size-base
