mobile_breakpoint = 1024px

.HomeHero
  &__focus
    position relative
    padding 0 2em
    font-size font-size-h2
    margin 2em auto

  &__content
    display flex
    width 100%
    flex-direction row
    justify-content center
    align-items flex-start
    flex 1
    padding 2em 1em

  &__copy
    width 25%
    margin-right 2em
    display flex
    flex-direction column
    align-items center
    align-self center

    > h2.Type
      margin-left 0

  &__cta
    width 100%
    margin-top 2em
    > .Button--app
      display none

  
    width 100%
    iframe width 100%

  &__image
    width 60%
    align-self center
    position relative

  &__play
    background-image url(https://d2w9rnfcy7mm78.cloudfront.net/3679937/original_f9833365898aeaf17fdbb411930c6a84.png?1550587971)
    background-size contain
    background-position center center
    background-repeat no-repeat
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    opacity .7

    &:hover 
      opacity 1

  &__video
    display none
    position absolute
    width 100%
    height 100%
    top 2em
    left 0
    > span
      border 1px solid colors-gray-border-bold
      display block
      ratio-box(960 / 540)
      > iframe
        position absolute
        top 0
        left 0
        width 100%
        height 100%

  &__mobile_video
    position static
    margin-top 2.5em
    
  &__connect
    position absolute
    top (block_width / 2)
    left 50%
    transform translate(-50%, -50%)

+below(mobile_breakpoint)
  .HomeHero
    &__content
      flex-direction column
      flex-flow column-reverse
    &__copy
      width 100%
      padding 3em 1em
      margin-right 0
      > .Type, > h2.Type
        margin 0 auto
        text-align center
    &__cta
      text-align center
      > .Button
        display block
        margin 1em
    &__image
      display none
      margin-bottom 2em
    &__mobile_video
      display block