@import '../../layout/variables'

.feed-group
  margin 0
  border-top 1px dotted #eee
  padding-top 50px

.feed-group__sentence
  max-width 900px
  padding 10px
  margin auto
  text-align center
  font-weight normal
  color textgray

  a
    font-weight bold
    
    &:hover
      color hovergray

  privacy-color('.privacy--', color)

  .feed-group__timestamp
    font-size s_caption
    color textgray
    font-weight normal

@media (max-width:500px)
  .feed-group
    margin 0 0 50px 0