@require '../../layout/variables'

.feed-group
  width 100%
  margin 0 auto 0 auto
  border-top 1px solid #F2F2F2
  padding 40px 0 10px 0

.feed-group__sentence
  max-width 900px
  padding 0 10px 10px 10px
  margin auto
  text-align center
  font-weight normal
  color textgray
  word-wrap break-word

  a
    font-weight bold

    &:hover
      color hovergray

  &.is_unread, &.is_unread a
    color alert


.feed-group__sentence__comment
  display inline-block
  max-width 100%
  cursor pointer

  &:hover
    color hovergray

  &.attribute-group .attr-value
    &:before
      content "“"

    &:after
      content "”"

    p
      display inline-block

  &:not(.attribute-group)
    &:before
      content "“"

    &:after
      content "”"

.feed-group__timestamp
  font-size s_caption
  color lightgray
  font-weight normal
  text-transform uppercase

  &.is_unread
    color alert

.explore-group
  border-top 1px solid backgroundgray
  padding 40px 0 10px 0

.explore__channel
  position relative
  width 100%
  margin 0 auto 0 auto

  .explore__channel__path
    position relative
    float left
    width 100%
    color textgray
    padding 0 10px 2em 10px
    margin 0

    .breadcrumb
      position relative
      float left

    .explore__timestamp
      position relative
      float right
      font-size s_caption
      color lightgray
      font-weight normal
      line-height 12px
      padding 14px 2px 0 20px

  privacy-color('.search__results__result--privacy-', color)

.explore__channel .search__results__result--privacy-closed:hover,
.explore__channel .search__results__result--privacy-private:hover,
.explore__channel .search__results__result--privacy-public:hover
  color hovergray

.explore__channel__blocks
  position relative
  float left
  width 100%
  overflow hidden
  text-align center
  padding 0

@media (max-width:(block_width_mar * 4) + 19)
  .explore__channel .grid .grid__block:last-child
    display none

@media (max-width: (block_width_mar * 3) + 16)
  .explore__channel .grid .grid__block:last-child
    display inline-block

@media (max-width: 500px)
  .feed-group
    margin 0 0 10px 0

  .feed-group__sentence
    font-size 1.2em

  .explore__channel
    .grid
      .grid__block
        max-width 280px
        min-width 280px

      .grid__block__inner
        height 280px

      .grid__block__content__image
        max-width 280px
        max-height 280px
