@import '../../layout/variables'

.feed-group
  margin 0 0 80px 0

.feed-group__sentence
	font-size feed
  padding-bottom 1.4em
  text-align center

  .feed-group__timestamp
    padding-top 1em
    font-size caption
    color lightgray
    font-weight normal