.ExamplesHeader
  .ExamplesHeader__copy
    h2.Type.Type--size-h2.Type--lh-tall: a(href="/examples") Try following a few channels
.ExamplesCategories
  .ExamplesCategories__inner
    if categories
      for category, index in categories
        .Category(data-active= (example && category.id == example.id))
          a(href="/examples/#{category.id}")
            strong= category.title