extends ../../../components/layout/layouts/blank

block title
  |  / Examples

block scripts
  script( src= asset('/assets/examples.js') )

block container
  include ../../../components/logged_out_nav/templates/header

  .Page.Page--examples
    .Page--examples__cta
      h4.Type.Type--size-h4.Utility--align-center Try following a few channels
      p.Type.Type--lh-tall.Utility--align-center
        | Following channels is the best way to get the hang of Are.na
        br
        | Click <b>Follow</b> on any channel below to add it to your feed.
    .flex-container
      if examples
        for example in examples
          include ./example.jade
  