extends ../../../components/layout/layouts/blank

block title
  |  / Examples

block scripts
  script( src= asset('/assets/examples.js') )

block container
  include ../../../components/logged_out_nav/templates/header

  include cta

  .Examples
    include examples

    //- .Utility--align-center
    //-   a.Button.Button--size-lg.Button--border-heavy.js-load-more-examples( href='#' data-current-page=1 data-total-pages=totalPages )
    //-     | See more examples

block footer
  include ../../../components/logged_out_nav/templates/footer
