.message.message--announcement.message--public
  .message__inner
    a.message__inner__close: span(class="iconic iconic-sm" data-glyph="x" title="x" aria-hidden="true")
    .message__inner__title= message.get('title')
    .message__inner__body!= message.get('body')