.path
  color textgray
  margin-bottom 4em
  text-align left
  font-weight 400

  .username
    font-weight 700

  .username:hover
    border-bottom 2px solid black

  .channel

  .active
    font-weight 400

  .separator
    margin 0 0.25em
    font-weight 400

    colors = 'closed' closed, 'public' public, 'private' private
    for color in colors
      {'.privacy-' + color[0]}
       color: color[1]

  .privacy-public
    color public

  .privacy-closed
    color closed

  .privacy-private
    color private