mixin category-title(mainTitle)
  span.post-category
    strong= post.fields.category

  if mainTitle
    h1.Type.Type--size-h3.post-title= post.fields.title
  else
    h4.Type.Type--size-h4.post-title= post.fields.title