.import
  padding 0 (unit / 2)
  &__header
    width (unit * 30)
    padding 0 0 unit
    text-align left
    border-bottom 1px solid bordergray
    margin-bottom unit
    h3
      color lightgray
    h2
      margin 0
    p
      p()
  &__body
    width (unit * 30)
    p
      p()
    ul
      ul()
    form
      margin (unit * 2) 0
    input
      display block
      margin unit 0 (unit * 2)
      width 100%
      background white
      cursor pointer
  &__button
    width (unit * 30)
    margin (unit * 2) 0
    text-align center
    a.btn
      width 100%

@require 'bookmarks'
@require 'status'
@require 'select'