.OnboardingGuide
  .OnboardingGuide__pane
    ol.OnboardingSteps
      li.OnboardingStep
        | <span>1.</span> Channels
      li.OnboardingStep
        | <span>2.</span> Connecting
      li.OnboardingStep
        | <span>3.</span> Profile and Feed
      li.OnboardingStep
        | <span>4.</span> Save to Are.na
      li.OnboardingStep.OnboardingStep--active
        | <span>5.</span> Find Friends

    .OnboardingGuide__actions
      a.Button.Button--size-lg.js-connect-twitter
        | Find Twitter friends

      a.Button.Button--secondary.js-next
        | Start using Are.na

  .OnboardingGuide__pane
    .OnboardingFindFriends.js-find-friends
      //- Rendered client-side
