.grid__block.grid__block--new-block
  a(href="#")
    .grid__block__inner
        .grid__block__content.grid--valign-outer
          .grid--valign-inner
            h1.grid__block--new-block__plus_button +

  p.grid__block__title Add New Block