extends ../../../components/layout/index

block body
  .settings
    .settings__path
      include ./path

    .settings__content.js-settings
      include ./tabs/general
      include ./tabs/notifications
      include ./tabs/billing

block scripts
  script( src='https://js.stripe.com/v3/' )
  script( src= asset('/assets/settings.js') )
