.auth-logo
  include ../../../public/images/arena-mark.svg
.auth-nav
  ul.breadcrumb
    li.auth-toggle(data-mode="login" class=mode == 'login' ? 'is-active' : ''): a Login
    li.auth-toggle(data-mode="signup" class=mode == 'signup' ? 'is-active' : ''): a Sign up