#auth-page.vam-outer
  .vam-inner
    section#auth-body
      include ./header
      form.auth-login-email.auth-form( action='/me/sign_in' )
        input.input--wide.input--relative.is-block(
          name='email', type='email', placeholder='Email', required, autofocus= autofocus
        )
        input.input--wide.input--relative.is-block(
          name='password', type='password', placeholder='Password', autocomplete='on', required
        )
        footer.auth-form-options
          .modal-checkbox
            input( id='remember_me', name='remember_me', type='checkbox', value='1', checked )
            label( for='remember_me', data-label='Remember me' )
          .modal-forgot
            a.faux-underline.auth-toggle( data-mode='forgot', rel='nofollow' ) Forgot?

        .auth-errors &nbsp;

        button#auth-login.auth-submit.button--wide.button--border.button--relative Login