#auth-page.vam-outer
  .vam-inner
    section#auth-body
      include ./header

      form.auth-login-email.auth-form(method="POST")
        input.input--wide.input--relative.is-block(
          name='email', type='email', placeholder='Email', required, autofocus= autofocus
        )
        input.input--wide.input--relative.is-block(
          id="invitee_invite_code" name="invite_code" placeholder="Invite code (optional)" type="text"
        )

        .auth-errors &nbsp;

        button#auth-register.auth-submit.button--wide.button--border.button--relative Register