.LoggedInNavigation.js-logged-in-navigation
  .DropdownHover.js-channel-create
    include ./components/channel_create/index

  if user.isPremium() && sd.CURRENT_PATH !== '/'
    .DropdownHover.js-view-mode
      include ./components/view_mode/index

  .DropdownHover.js-notifications
    include ./components/notifications/index

  .DropdownHover
    include ./components/you/index
