.AboutPosts
  a.AboutPost( href='#' )
    .AboutPost__cover(
      style='background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/1138513/large_08fedb38b26dd20f72adf667a4a5a716.jpg")'
    )

    h3.Type
      | Hello World: Information Systems

    p.Type
      | A note from founder Charles Broskoski on why we built Are.na.

  a.AboutPost( href='#' )
    .AboutPost__cover(
      style='background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/1138509/large_9a387006373261ba591aa1247e4ab1d9.jpg")'
    )

    h3.Type
      | Focus: Kat Su, Designer at Calvin Klein

    p.Type
      | A conversation with Kat Su on how she uses Are.na for her creative work.

  a.AboutPost( href='#' )
    .AboutPost__cover(
      style='background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/1138508/large_b0b14ef728407c4b225463b7afbb075c.png")'
    )

    h3.Type
      | Case Study: Social Activism as Brand Strategy

    p.Type
      | Allyn Hughes reflects on the role of design in a new political era.
