.import
  width 60%
  margin unit auto
  &__header
    padding unit 0
    text-align left
    border-bottom 1px solid bordergray
    h3
      color lightgray
    h2
      margin 0
  &__body
    p
      p()
    ul
      ul()
  &__button
    margin (unit * 3) 0
    text-align center
    a.btn
      width 100%