extends ../../../../components/path/templates/tab_content

block vars
  - slug = "browser-2"

block content
  .import__header
    h3 Step 2 of 3
    h2 Upload your bookmarks file (.HTML)
  .import__body
    p Upload the file you exported in step 1. In the next step you will choose which bookmarks you want to connect to Are.na.