.Tips
  margin-top 2em

.Tip
  collapsed-margins(1em)
  display flex
  align-items center
  justify-content space-between
  padding 1.5em
  border button-border-width solid colors-gray-border
  border-radius button-border-radius
  cursor pointer
  background-color colors-gray-background

  &__title
    font-size font-size-lg
    line-height 1

  &__close
    padding-left 1em
    color colors-gray-lighter

    &:hover
      color colors-gray-hover
