.Tips
  //

.Tip
  collapsed-margins(1em)
  display flex
  align-items center
  justify-content space-between
  padding button-padding
  border button-border-width solid colors-gray-border
  cursor pointer

  &__title
    font-size font-size-base
    line-height 1
    font-weight bold

  &__close
    padding-left 1em
    color colors-gray-lighter

    &:hover
      color colors-gray-hover
