.BlogPosts
  //

  &__post
    display block
    collapsed-margins(8em)

    > h2
    > h5
      text-align center

    > h2
      margin 0 auto 0.5em auto

    > h5
      margin 0 auto 1.5em auto

    > img
      max-width 100%

  &__excerpt
    margin 2em 0
    font-size font-size-base
    line-height line-height-tall
    color colors-gray-text
