.BlogPost
  // Classes come through with Jekyll generated HTML
  // Not going to bother with correcting *that*
  // So for now, force things to look correct

  .post
    //

    > .post-header
      collapsed-margins(2em)

      > .post-category-title
        // No top margin because of hidden image
        margin 0 0 2em 0

        > h1
          margin 0
          text-align center
          font-size font-size-h2
          font-weight normal

      > .post-author
      > .post-meta
        text-align center
        font-size font-size-base
        line-height line-height-base

      > .post-author
        font-weight bold

    > .post-content
      margin-bottom 8em
      position relative

      a
        text-decoration underline

      ol
        ol()

      blockquote
        collapsed-margins(2em)

      p
        collapsed-margins(2em)
        font-size font-size-base
        line-height line-height-tall

      img
      iframe
        display block
        max-width 80%
        vertical-align bottom
        margin 4em auto

      img 
        max-width 100%

      .arena-iframe
        border 1px solid colors-gray-border
        box-shadow 4px 4px 4px colors-gray-background
        height 2150px !important
        margin 4em
        padding 1px

        +mobile()
          margin 4em 0
          min-width 100%
        +below(400px)
          height 2000px !important
        +below(380px)
          height 1950px !important
        +below(340px)
          height 1700px !important

      h2
        collapsed-margins(2em)

      hr
        collapsed-margins(3em)
        height 2px
        background-color colors-gray-border
        border none

      figure
        collapsed-margins(4em)
        h5
          collapsed-margins(1em)
        img, iframe, video
          collapsed-margins(2em)
        figcaption
          line-height line-height-tall
        small 
          font-size font-size-xs
