extends ../../../components/layout/index

block meta
  != apollo.styles

block body
  #apolloMount
    != apollo.html

block scripts
  script.
    window.__APOLLO_STATE__ = !{JSON.stringify(apollo.state).replace(/</g, '\\u003c')};
  script( src= asset('/assets/actions.js') )
