extends ../../../components/layout/index

block title
  |  / Error

block body
  include ../../../components/logged_out_nav/templates/header

  .Page.Page--narrow
    h2.Type.Type--size-h2.Utility--align-center
      | We are unable to handle this transfer.

    p.Type.Type--lg.Type--lh-tall
      | This token is invalid. It may have already been used. If you are experiencing difficulty transferring a channel,
      | contact us at <a href='mailto:help@are.na'>help@are.na</a>.
