.new-collaborator
  .new-collaborator__close.js-collaborator-close &times;
  input.Input.Input--size-xs.js-collaborator-input(placeholder="Search users (or enter email)")
  .new-collaborator__results.js-collaborator-results
    //- rendered on the client