extends ../../../components/layout/index

block body
  include ./path
  .tools.tabs__content
    include ./tabs/bookmarklet
    include ./tabs/bookmarklet-beta
    if user
      include ./tabs/add_via_email
      include ./tabs/find_friends
      include ./tabs/invite

block scripts
  script( src=asset('/assets/tools.js') )
