extends ../../../components/layout/index.jade

block body
  include ./path.jade
  .tools.tabs__content
    include ./tabs/bookmarklet.jade
    include ./tabs/bookmarklet-beta.jade
    if user
      include ./tabs/add_via_email.jade
      include ./tabs/find_friends.jade
      include ./tabs/invite.jade

block scripts
  script( src=asset('/assets/tools.js') )
