extends ../../../components/layout/index

block body
  .Tools
    .Tools__path
      include ./path

    .Tools__content.tabs__content
      include ./tabs/bookmarklet
      include ./tabs/add_via_email
      include ./tabs/find_friends
      include ./tabs/invite

block scripts
  script( src= asset('/assets/tools.js') )
