extends ../../../components/path/templates/path_tabs

block path
  li.path__sub Tools

block tabs
  +tab("tools", "bookmarklet", "Bookmarklet")
  +tab("tools", "find-friends", "Find friends")
  +tab("tools", "add-via-email", "Add via email")
  +tab("tools", "send-invitation", "Send invitation")
  if user.get('is_pro')
    +tab("tools", "manage", "Manage channels")
  +tab("tools", "premium", "Premium tools")