section.path
  h1
    ul.path__breadcrumb
      li.root
        a(href='/') Are.na
      
        if !channel && !author
        li
          .root__toggle
            span.root--active feed 
            span.root--unactive 
              a(href="#") explore
      //- 
      //-   li
      //-     span.root--active feed  
      //-     span.root--unactive 
      //-       span(class="iconic" data-glyph="loop" title="loop" aria-hidden="true") 
      //-       a(href="#") explore
      if author
        li.path__username
          a(href="/" + author.get('slug'))=author.get('username')
      if channel
        li.path__channel.active.channel(class="privacy-#{channel.get('status')}")
          = channel.get('title')

  if channel
    .edit-channel
      a(href="#") Edit channel

  else if author
    //- .edit-profile
    //-   a(href="#") Profile settings

  if channel
    .metadata
      if channel.has('metadata')
        .metadata__column
          .metadata__title
            | Description:
          .metadata__text
            = channel.get('metadata').description
      if channel.get('collaboration')
        #metadata--collaborators.metadata__column
          //- Rendered by client
      .metadata__column
        .metadata__title
          | Followers
        .metadata__text
          = channel.get('follower_count')

  else if author
    .metadata
      if author.has('metadata')
        .metadata__column
          .metadata__title
            | Info
          .metadata__text
            | Son of @broskoski, father of a cat. NYC.
            a(href="#")  Noway.com

      .metadata__column
        .metadata__title
          | View
        .metadata__text
          ul.metadata--selector.breadcrumb
            li: a(href="#").metadata--selector__option.is-active All
            li: a(href="#").metadata--selector__option Channels
            li: a(href="#").metadata--selector__option Blocks

      .metadata__column
        .metadata__title
          | Followers
        .metadata__text
          = author.get('follower_count')

      .metadata__column
        .metadata__title
          | Following
        .metadata__text
          = author.get('following_count')

//  if !channel && !author
    .metadata
      .metadata__column
        .metadata__title
          | View
        ul.metadata--selector.breadcrumb
          li: a(href="#").metadata--selector__option.is-active Feed
          li: a(href="#").metadata--selector__option Explore


