section#main-path.path--header.flex-container
  .path__inner.path
    .path__headline
      ul.path__breadcrumb
        li.root
          a(href=homeHref) Are.na

        block path

  .metadata--container
    block metadata
    .metadata--container__settings__done.toggle-settings-trigger: a Done
