section.path--header
  .path
    h1
      ul.path__breadcrumb
        li.root
          a(href='/') Are.na

        if !channel && !author
          li
            .root__toggle
              .root__toggle__item(class="#{path == 'feed' ? 'active' : ''}"): a(href="/") feed
              .root__toggle__item(class="#{path == 'explore' ? 'active' : ''}"): a(href="/explore") explore
        if author
          li.path__username
            a(href="/" + author.get('slug'))=author.get('username')
        if channel
          li.path__channel.active.channel(class="privacy-#{channel.get('status')}")
            = channel.get('title')

    if channel
      .edit-channel
        .edit-channel__info-icon
          include ../../../public/images/iconic/info.svg
        if user.canEditChannel(channel)
          .edit-channel__icon
            include ../../../public/images/iconic/cogs.svg

    else if author
      //- .edit-profile
      //-   a(href="#") Profile settings

  .metadata--container
    if channel
      .metadata
        .metadata__column
          .metadata__title Description
            if channel.has('metadata')
              .metadata__text= channel.get('metadata').description
            else
              .metadata__text —
        channel.get('collaboration')
          #metadata--collaborators.metadata__column
            //- Rendered by client
        .metadata__column
          .metadata__title Followers
          .metadata__text: a(href="#")= channel.get('follower_count')

    else if author
      .metadata
        .metadata__column
          .metadata__title Info
            if author.has('metadata')
              .metadata__text Son of @broskoski, father of a cat. NYC.
            else
              .metadata__text —
        .metadata__column
          .metadata__title View
          .metadata__text
            ul.metadata--selector.breadcrumb
              li: a(href="#").metadata--selector__option.is-active All
              li: a(href="#").metadata--selector__option Channels
              li: a(href="#").metadata--selector__option Blocks

        .metadata__column
          .metadata__title Followers
          .metadata__text: a(href="#")= author.get('follower_count')

        .metadata__column
          .metadata__title Following
          .metadata__text: a(href="#")= author.get('following_count')