.AboutPosts.PageNarrowBreakout
  a.AboutPost( href='https://www.are.na/lucy-siyao-liu/orthographies' )
    .AboutPost__cover(
      style='background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/1289511/large_e9633fb2e60304030f3bb831b30450b1.jpg")'
    )
    h3.Type
      strong Orthographies

    p.Type
      | A fall 2017 course taught by Lucy Siyao Liu in the Art, Culture Technology Program (ACT) at MIT. Exercises, projects, and references are all clearly organized into channels within the class channel.