.AboutPosts.PageNarrowBreakout
  a.AboutPost( href='https://www.are.na/lucy-siyao-liu/orthographies' )
    .AboutPost__cover(
      style='background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/1289511/large_e9633fb2e60304030f3bb831b30450b1.jpg")'
    )
    h3.Type
      strong Orthographies

    p.Type
      | A fall 2017 course taught by Lucy Siyao Liu in in the Art, Culture Technology Program (ACT) at MIT. Exercises, projects, and references are all clearly organized into channels within the class channel.
  
  a.AboutPost( href='https://www.are.na/emergent-culture-production-and-strategies/channels')
    .AboutPost__cover(
      style='background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/1157725/large_a301fca8a8d17c2025d251b50cb90859")'
    )
    h3.Type
      strong Emergent Culture

    p.Type
      | A class taught by Karen Wong, Deputy Director of the New Museum, at Columbia University’s Graduate School of Architecture, Planning and Preservation. The class has a dedicated Are.na account, with channels for each session containing readings and assignments.

  a.AboutPost( href='https://www.are.na/allyn-hughes/brand-concepts')
    .AboutPost__cover(
      style='background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/1238503/large_194bc68e431137d220170905-4-1bhtw97.jpg")'
    )
    h3.Type
      strong Brand Concepts

    p.Type
      | Brand Concepts was a fall 2017 Parsons class, taught by designer Allyn Hughes. Students used the channel as a resource for readings, image sharing, and a place to catalog assignments