.AboutPosts.PageNarrowBreakout
  a.AboutPost( href='https://www.are.na/lucy-siyao-liu/orthographies' )
    .AboutPost__cover(
      style='background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/1289511/large_e9633fb2e60304030f3bb831b30450b1.jpg")'
    )
    h3.Type
      strong Orthographies

    p.Type
      | A fall 2017 course taught by Lucy Siyao Liu in in the Art, Culture Technology Program (ACT) at MIT. Exercises, projects, and references are all clearly organized into channels within the class channel.
  
  a.AboutPost( href='https://www.are.na/sfpc-arena/channels')
    .AboutPost__cover(
      style='background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/785357/large_a9b4ce77bf21d4fc76bb197462d7fdd9")'
    )
    h3.Type
      strong SFPC

    p.Type
      | SFPC is an artist-run school in New York that explores intersections of code, design, hardware and theory. The school maintains channels for all kinds of information and resources.
  
  a.AboutPost( href='https://www.are.na/chris-collins/uic-nma-topics-in-new-media' )
    .AboutPost__cover(
      style='background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/438461/original_ed30ed66ea2e2fd780618bf4415aa9ee.gif")'
    )
    h3.Type
      strong Topics in New Media

    p.Type
      | This was a fall 2015 course taught by Chris Collins at the University of Illinois, Chicago. This channel is an informal site where students all shared links relevant to their coursework.