case block.get('class')
  when "User"
    include types/user.jade
  when "Channel"
    include types/channel.jade
  when "Text"
  when "Image"
  when "Link"
  when "Media"
  when "Attachment"
    include types/block.jade
  when "Block"
    include types/loading.jade
  default
    include types/placeholder.jade
