.NewChannel
  position relative
  margin-left 1.25em

  // Plus sign
  &:before
  &:after
    content ''
    display block
    position absolute
    background-color colors-gray-text
    width 10px
    height 2px
    top 50%
    left 0
    margin-left -(@margin-left)
    transform translateY(-50%)
  &:after
    transform translateY(-50%) rotate(90deg)

.ChannelCreate
  &__block
    display flex
    justify-content center
    flex-direction column
    align-items center
    width (block_width * 0.9)
    max-width 100%
    height @width
    margin 1em auto
    border 2px solid

  &__input
    font-size font-size-h4 !important
    margin-top 1em !important
    padding 0 !important
    text-align center !important
    border-radius 0

  &__metadata
    margin-top 1em
    font-size font-size-sm
    line-height line-height-base
    text-align center

.ChannelCreatePrivacy
  text-align center
  margin 1em 0
  padding 0 2em

  &__label
  &__selector
  &__caption
    line-height line-height-base !important

  &__label
    padding 0 !important
    font-size font-size-xs !important
    color colors-gray-light !important

  &__selector
    margin 0.5em 0
    font-size font-size-base
    font-weight bold
    color colors-gray-light

  &__caption
    font-size font-size-xs
    color colors-gray-light
