a.Button.Button--border-heavy.Button--fill( href="https://chrome.google.com/webstore/detail/arena/lkihjlcipnbgeokmfnpogjfflofbfhga")
  | Install the Are.na Chrome extension

p.Type.Type--lh-tall
  | Install the Chrome extension to easily add images, videos, links, and text to your Arena channels while surfing the web.

