a.Button.Button--border-heavy.Button--fill( href="https://addons.mozilla.org/en-US/firefox/addon/are-na/" target="_blank")
  | Install the Are.na Firefox extension

p.Type.Type--lh-tall
  | Install the Firefox extension to easily add images, videos, links, and text to your Arena channels while surfing the web.

