a.Button.Button--border-heavy.Button--fill( href="https://apps.apple.com/us/app/are-na-for-safari/id1497800947?ls=1&mt=12" target="_blank")
  | Install the Are.na Safari extension

p.Type.Type--lh-tall
  | Install the Safari extension to easily add images, videos, links, and text to your Arena channels while surfing the web.

