extends ../../../../components/path/templates/tab_content

block vars
  - slug = "bookmarklet"

block content
  .tab-content__title
    | Add to Are.na

  .tab-content__frame
    .Narrow
      if isChrome
        include _chrome_extension
      else if isSafari
        include _safari_extension
      else if isFirefox
        include _firefox_extension
      else
        include _bookmarklet