#modal.channel-settings
  .modal-close
    top 5px
    right 5px

  .modal-body
    width 80%

.channel-settings__inner
  text-align center

  .grid__block
    cursor default
    padding-bottom 0px
    max-width 298px
    min-width 298px
    padding-top 102%
    margin 0

  .grid__block__inner
    height 298px

  .grid__block__editable-title, .grid__block__editable-title:focus
    color inherit
    font-size 1.5em
    text-align center
    padding 0
    background secondbackgroundgray
    padding 2px
    cursor text

  .grid__block__channel__stats
    visibility visible

.channel-settings__inner__privacy
  margin-bottom 10px

  .breadcrumb li
    float none
    display inline-block


.channel-settings__inner .grid__block__connect-container
  opacity 1
