@import '../../layout/variables'


#lightbox__new-comment
  position relative
  z-index rotate_z
  padding-bottom 50px
  text-align center
  background-color #fff

  .new-comment__field
    font-size 1em
    font-weight normal
    margin 0 auto
    width 100%
    max-width 550px
    color textgray
    background-color backgroundgray
    border 0
    padding 12px 10px
    border 1px solid #fff
    
    &:hover
      background-color secondbackgroundgray
      border 1px solid bordergray
    
    &:focus
      background-color secondbackgroundgray
