@import '../../layout/variables'


#lightbox__new-comment
  position relative
  z-index rotate_z
  padding-bottom 3em
  text-align center
  background-color backgroundgray

  .new-comment__field
    font-size 1em
    font-weight normal
    margin 0 auto
    width 80%
    max-width 800px
    color #616161
    background-color #fff
    border 0
    padding 10px
