span
  .Connection__title
    = channel.get('title')
    span
      | &nbsp; #{channel.get('length')} blocks

  .Connection__author
    span by&nbsp;
    if channel.has('group')
      span
        = channel.get('group').name
        include ../group_badge/index
    else
      span= channel.get('user').username
