.Notifications
  max-height (block_width * 1.5)
  overflow-y auto
  padding 1em

.Notification
  collapsed-margins(1.25em)
  text-align left
  font-size font-size-xs
  line-height line-height-base

  a
    font-weight bold
