extends ../../../components/layout/index--bare.jade

block vars
  - extraClasses = 'no-header no-messages'

block body
  #reset-password-page.valign-outer
    .valign-inner
      section#auth-body
        .auth-logo
          include ../../../public/images/arena-mark.svg

        form.auth-login-email.auth-form(method="post")
          input.input--wide.input--relative.is-block(
            id="password" name="password" required placeholder="Password (at least 6 characters)" type="password" pattern=".{6,}"
          )
          input.input--wide.input--relative.is-block(
            id="password_confirmation" required name="password_confirmation" placeholder="Confirm password (at least 6 characters)" type="password" pattern=".{6,}"
          )

          .auth-errors &nbsp;

          button#auth-forgot.auth-submit.button--wide.button--border.button--relative Reset password

block scripts
  script( src=asset('/assets/auth.js') )
