extends ../../../components/layout/index

block vars
  - extraClasses = 'no-messages'

block body
  .path--header
    include ../../../components/settings/templates/settings.jade

block scripts
  script( src=asset('/assets/settings.js') )
