.OnboardingGuide
  .OnboardingGuide__pane
    include ../steps

    .OnboardingGuide__actions
      .OnboardingBookmarklet.Button.Button--size-lg
        a( href= bookmarklet )
          | Add to Are.na
        span
          | Drag this onto your bookmarks bar

      a.Button.Button--secondary.js-next
        | Next

  .OnboardingGuide__pane
    p
      | The Are.na bookmarklet lets you save content from any
      | web page to your channels in a few clicks.

    .OnboardingDemo
      <iframe src="https://player.vimeo.com/video/222230791?autoplay=1" width="2062" height="2044" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
