.OnboardingGuide
  .OnboardingGuide__pane
    include ../steps

    .OnboardingGuide__actions
      .OnboardingBookmarklet.Button.Button--draggable
        a.js-bookmarklet( href= bookmarklet )
          | Add to Are.na
        span
          | Drag this onto your bookmarks bar

      a.Button.js-next
        | Next

  .OnboardingGuide__pane
    .OnboardingDemo
      <iframe src="https://player.vimeo.com/video/222230791?background=1" width="2062" height="2044" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
