.OnboardingGuide
  .OnboardingGuide__pane
    ol.OnboardingSteps
      li.OnboardingStep
        | <span>1.</span> Channels
      li.OnboardingStep
        | <span>2.</span> Connecting
      li.OnboardingStep
        | <span>3.</span> Profile and Feed
      li.OnboardingStep.OnboardingStep--active
        | <span>4.</span> Save to Are.na
      li.OnboardingStep
        | <span>5.</span> Find Friends

    .OnboardingGuide__actions
      .OnboardingBookmarklet.Button.Button--size-lg
        a( href= bookmarklet )
          | Add to Are.na
        span
          | Drag this onto your bookmarks bar

      a.Button.Button--secondary.js-next
        | Next

  .OnboardingGuide__pane
    p
      | The Are.na bookmarklet lets you save content from any
      | web page to your channels in a few clicks.

    .OnboardingDemo
      video( loop muted )
        source(
          type='video/mp4'
          src='https://d2br4gmjd4xnka.cloudfront.net/1075833/ff823e3e69392b9b0d63ab07903e49cb.mp4'
        )
