.OnboardingSaveToArena
  //

.OnboardingBookmarklet
  position relative

  // Overlays "Drag this onto your bookmarks bar"
  // so that bookmark has correct title
  > a
    display block
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    color transparent

  &:after
    display block
    position absolute
    content '⤵'
    left 50%
    bottom 100%
    transform translateX(-50%) rotate(240deg)
    padding 1em
