extends ../../components/layout/index

block title
  = ' / Error'

block body
  include ./path

  .Page
    case code
      when 404
        h2.Type.Type--size-h4
          | Page not found.

      when 401
        h2.Type.Type--size-h4
          | You do not have permission to access this.

        unless user
          h2.Type.Type--size-h4
            | Maybe you need to
            = ' '
            a( href="/log_in?redirect-to=#{encodeURIComponent(sd.CURRENT_PATH)}" )
              | log in
            | ?

      default
        h2.Type.Type--size-h4
          | Something went wrong, please contact
          = ' '
          a( href='mailto:info@are.na' )
            | info@are.na
          = ' '
          | if the problem persists.

        if message
          pre.Type
            = message

        if stack
          pre.Type
            = stack
