@import '../../layout/variables'

.new-channel-dropdown__container

  .grid__block
    margin 0

  .grid__block__editable-title, .grid__block__editable-title:focus
    color inherit
    font-size 1.5em
    text-align center

  .grid__block__channel__stats
    visibility: visible

  .grid__block__privacy--setting
    font-size 13px
    font-weight bold
    text-align center
    line-height 2
    margin-bottom 15px


    label
      font-weight normal

    .breadcrumb li
      float none
      display inline-block

      a
        color #9d9d9d