@import '../../layout/variables'

.new-channel-dropdown__container

  .grid__block
    margin 0
    max-width 298px
    min-width 298px

  .grid__block__inner
    height 298px

  .grid__block--channel .grid__block__content
    padding 0

  .grid__block__editable-title, .grid__block__editable-title:focus
    color inherit
    font-size 1.5em
    text-align center
    padding 0

  .grid__block__channel__stats
    visibility visible

  .grid__block__privacy--setting
    font-size s_caption
    font-weight bold
    text-align center
    line-height 2
    margin 10px 0 15px 0


    label
      font-weight normal

    .breadcrumb li
      float none
      display inline-block

      a
        color lightgray

      a.is-active, &:hover
        color hovergray