@import '../../layout/variables'

.new-channel-dropdown__container
  border 0px

  .grid__block
    margin 0
    max-width 298px
    min-width 298px
    padding-top 102%

  .grid__block__inner
    height 298px

  .grid__block--channel .grid__block__content
    padding 0

  .grid__block__editable-title, .grid__block__editable-title:focus
    color inherit
    font-size 1.5em
    text-align center
    padding 0

  .grid__block__channel__stats
    visibility visible

  .grid__block__lower
    border 1px solid textgray
    border-top 0px
    padding-top 10px

  .grid__block__privacy--setting
    font-size s_caption
    font-weight bold
    text-align center
    line-height 2

    label
      font-weight normal

    .breadcrumb li
      float none
      display inline-block
      color lightgray

      a.is-active, &:hover
        color hovergray