#save-page
  margin (s_margin * 2) auto
  max-width block_width * 2
  padding 0 (s_margin * 2)

label.save-label
  text-align center
  margin (s_margin * 2) 0 0
  display block
  line-height 2

#save--connect
  margin (s_margin * 2) 0

  .new-connection
    padding 0

.new-connection__search-result--save.is-connected
  opacity 1 !important
  background #fff

  &:after
    position absolute
    right 6px
    content "✔"

  &:hover:after
    position absolute
    right 6px
    content "✕"