.list-item__channel
  vertical-align middle
  .list-item-cell
    font-size 0.9rem
  .list-item-cell--title
    font-weight bold
    font-size 1.3rem
    width 50%
  .list-item__channel__block-count
    font-size 0.9rem

privacy-color('.list-item__channel--privacy-', border-color)
privacy-color('.list-item__channel--privacy-', color)
