.list-item__connection
  vertical-align middle
  display block
  cursor pointer

  &:first-child
    margin-top 5px

  .list-item-cell
    font-size 0.9rem
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
  .list-item-cell--title
    font-size 1.2rem
    width 65%
  .list-item__channel__block-count
    font-size 0.7rem
    vertical-align middle

  .list-item-cell--attribution
    text-align right
    font-size 0.9rem
    a
      font-weight bold

  &.is-loading, &.is-connected
    display none

privacy-color('.list-item__channel--privacy-', border-color)
privacy-color('.list-item__channel--privacy-', color)
privacy-color-border-hover('.list-item__channel--privacy-', border-color)
