.list-item
  height 45px
  width 100%
  padding (unit / 4) (unit / 2)

.list-item-inner
  display table
  width 100%
  height 100%
  table-layout fixed

.list-item-cell
  display table-cell
  vertical-align middle

@require '_channel'
