footer.Footer
  a( href='/tools/send-invitation' )
    | Invite

  a( href='/tools' )
    | Tools

  a( href='/about' )
    | About &amp; FAQ

  a( href='http://store.are.na/', target='_blank' )
    | Store
