.Footer
  padding 1em 2em
  font-weight bold
  font-size font-size-sm
  text-align right

  > a
    display inline-block
    padding 1em

    &:last-child
      padding-right 0

  +mobile()
    text-align center
