@import '../../layout/variables'

.new-connection
  height 100%
  width 100%
  padding .6em

.new-connection__caption
  font-size s_caption
  color lightgrayplus
  margin-top 1em
  margin-bottom 1em
  text-align center

.new-connection__caption--top
  margin-top 0

privacy-color('.new-connection__search-result-', border-color)
privacy-color('.feedback-', border-color)
privacy-color('.new-connection__search-result-', color)
privacy-light-color('.new-connection__search-result-', background-color)

.new-connection__search-result
  font-size s_caption
  text-align left
  width 100%
  height 38px
  padding 1em .5em 1em .5em
  margin .7em 0 .7em 0
  border 1px solid

  &:hover
    opacity 0.7
    transition opacity 0.1s
    cursor pointer

  .breadcrumb
    position absolute

    li
      white-space nowrap
      max-width 165px
      overflow hidden
      text-overflow ellipsis

.new-connection__search-result.is-loading
  background-color #fff
  border 0

.new-connection__search-result.is-connected
  position relative
  opacity 0.3

  .breadcrumb
    display block

  &:hover
    opacity 1

    .disconnect
      display block
      position absolute
      top 0
      left 0
      background-color #fff
      width 100%
      height 100%
      padding 12px 0 0 6px
      font-weight bold
      color hovergray

.new-connection__done-button
  position absolute

.button--inblock--mini
  display none

.disconnect
  display none

/* mini connection interface */
.metadata__content
  .connect-container
    position absolute
    height 121px
    width 300px
    z-index 99999
    pointer-events none

    &.is-active
      background #fff
      border 1px solid bordergray
      pointer-events all

    .new-connection
      padding 0

      input
        height 29px

      .new-connection__caption
        display none

      .new-connection__search-results
        height 90px
        width 100%
        overflow hidden

        ul
          position relative

        .new-connection__search-result
          height 30px
          border 0px
          margin 0
          padding 6px 0 0 10px
          border-top 1px solid bordergray
          background-color transparent

          &.is-connected
            &:hover
              .disconnect
                padding 6px 0 0 10px

      .button--inblock--bottom
        display none

      .button--inblock--mini
        display block
        position absolute
        left 0
        top 0
        width 15px
        height 30px
        line-height 14px
        font-size 22px
        margin 0 0 0 -20px
        color lightgrayplus

        &:hover
          background-color transparent
          color hovergray
