@import '../../layout/variables'

.new-connection
  height 100%
  width 100%
  padding .6em

.new-connection__caption
  font-size s_caption
  color lightgrayplus
  margin-top 1em
  margin-bottom 1em

.new-connection__caption--top
  margin-top 0

privacy-color('.new-connection__search-result-', border-color)
privacy-color('.feedback-', border-color)
privacy-color('.new-connection__search-result-', color)
privacy-light-color('.new-connection__search-result-', background-color)

.new-connection__search-result
  font-size s_caption
  text-align left
  width 100%
  height 38px
  padding 1em .5em 1em .5em
  margin .7em 0 .7em 0
  border 1px solid

  &:hover
    opacity 0.7
    transition opacity 0.1s
  
  .feedback
    display none
  
  .breadcrumb
    position absolute

.new-connection__search-result.is-loading
  background-color #fff
  border 0
  .feedback
    border 1px solid
    position absolute
    padding: 13px 5px 12px 7px;
    width:94%;
    margin: -13px 10px 0 -7px;
    -webkit-animation: glow .14s ; /* Safari 4+ */
    -moz-animation:    glow .14s ; /* Fx 5+ */
    -o-animation:      glow .14s ; /* Opera 12+ */
    animation:         glow .14s ; /* IE 10+, Fx 29+ */
    display block
    font-weight bold
  
  .breadcrumb
    display none

.new-connection__search-result.is-connected
  position relative
  opacity 0.3

  .breadcrumb
    display block
  
  .feedback
    display none

@-webkit-keyframes glow
  0% {border: 1px solid; padding: 13px 5px 12px 7px; width:94%; margin: -13px 10px 0 -7px; position: absolute;}
  100% {border: 1px solid; padding: 18px 5px 17px 14px; margin: -18px 10px 0px -14px; width: 98.5%; position: absolute;}
  100% {border: 0; padding: 18px 5px 17px 14px; margin: -18px 10px 0px -14px; width: 98.5%; position: absolute;}
  
.new-connection__done-button
  position absolute

@media (max-width:(block_width_mar * 1) + 20)
  .new-connection__search-result
    padding 0.7em 0.5em 0.7em 0.5em