@import '../../layout/variables'

.new-connection
  height 100%
  width 100%
  padding .6em

.new-connection__caption
  font-size caption
  margin-top 1em
  margin-bottom 1em

.new-connection__caption--top
  margin-top 0

.new-connection__search-result
  text-align left
  padding .5em
  margin-top .5em
  margin-bottom .5em
  transition background-color 0.3s

privacy-color('.new-connection__search-result-', border-color)
privacy-color('.new-connection__search-result-', color)
privacy-light-color('.is-connected.new-connection__search-result-', background-color)
privacy-light-color('.is-loading.new-connection__search-result-', background-color)

.new-connection__done-button
  position absolute
  bottom 0
  left 0
  width 100%
  height 60px
  line-height 55px
  font-weight bold
  font-size 1em
  border-top 1px solid hovergray
  cursor pointer

  &:hover
    color hovergray