.Tab
  display inline-block
  padding 1em
  font-size font-size-base
  flex 1
  font-weight bold
  line-height 1
  color colors-gray-light
  border-bottom 1px solid colors-gray-border
  text-align center

  &[data-active]
    color colors-gray-text
    border-bottom-color colors-gray-text
