extends ../../../components/layout/index.jade

block styles
  link(rel="alternate" type="application/rss+xml" title="Are.na / Explore / Feed" href="explore/feed/rss/")

block body
  include ./explore_path

  .channel-container( class=blocks.length ? '' : 'is-empty' )
    if user && user.isPremium() && !following && !followers
    .explore-contents
      - title = "everyone's public blocks and channels"
      include ../../../components/blocks/container/templates/index
    include ../../../components/layout/loader/templates/infinite

block scripts
  script( src=asset('/assets/explore.js') )
