extends ../../../components/path/templates/path.jade

block path
  li.path__sub
    span Explore
    .path__below
      a(href="/") Feed

block metadata
  .metadata
    include metadata_pockets/view
    include metadata_pockets/sort
