extends ../../../components/layout/index--infinite

block meta
  != feedMetadata.styles

  //- Not present on /notifications
  if emptyConnectTwitter
    != emptyConnectTwitter.styles
  if noFollowingMessage
    != noFollowingMessage.styles

block body
  .Constrain.js-feed-header
    != feedMetadata.html

  if noFollowingMessage
    .Contstrain.js-no-following
      != noFollowingMessage.html

  //- Default
  .feed-container.js-feed
    //- Rendered client-side

block scripts
  script( src= asset('/assets/feed.js') )
  script.
    window.__APOLLO_STATE__ = !{JSON.stringify(feedMetadata.state).replace(/</g, '\\u003c')};
