extends ../../../components/path/templates/path

block path
  if path == 'Feed'
    li.path__sub
      span Feed
      .path__below
        a(href="/explore") Explore
  else if path == 'Notifications'
    li.path__sub
      span Notifications
