extends ../../../components/layout/index--infinite

block meta
  != homeComponent.styles

  //- Not present on /notifications
  if emptyConnectTwitter
    != emptyConnectTwitter.styles
  if noFollowingMessage
    != noFollowingMessage.styles

block body
  .Constrain.js-home-component
    != homeComponent.html

  //- Not present on /notifications
  if showEmpty
    .Constrain.js-empty-feed
      != emptyConnectTwitter.html
  else
    //- Not present on /notifications
    if noFollowingMessage
      .Contstrain.js-no-following
        != noFollowingMessage.html

    //- Default
    .feed-container.js-feed
      //- Rendered client-side

block scripts
  script( src= asset('/assets/feed.js') )
  script.
    window.__APOLLO_STATE__ = !{JSON.stringify(homeComponent.state).replace(/</g, '\\u003c')};
