extends ../../../components/layout/index--infinite

block meta
  != homeComponent.styles
  if noFollowingMessage
    != noFollowingMessage.styles

block body
  .Constrain.js-home-component
    != homeComponent.html

  if showEmpty
    .Constrain.js-empty-feed
      != emptyFeedComponent.html
  else
    if noFollowingMessage
      .Contstrain.js-no-following
        != noFollowingMessage.html

    .feed-container
      //- Rendered client-side

block scripts
  script( src= asset('/assets/feed.js') )
  script.
    window.__APOLLO_STATE__ = !{JSON.stringify(homeComponent.state).replace(/</g, '\\u003c')};
