.LoggedInNavigation
  display flex

@require '../components/channel_create/stylesheets/index'
@require '../components/notifications/index'
@require '../components/view_mode/index'
@require '../components/you/index'
