.LoggedInNavigation
  display flex

.NewChannel
.NotificationsComponent
.UserDropdownAvatar
  position relative
  display flex
  align-items center
  align-content center
  justify-content center
  padding 0 0.75em
  cursor pointer

@require '../components/channel_create'
@require '../components/notifications'
@require '../components/user_dropdown'
