if demoBlocks
  .HomeHero__focus
    .HomeHero__demo-block.js-demo-block
      - block = demoBlocks[0]
      include ../../../../components/block_v2/templates/block

    .HomeHero__connect
      a.Button.Button--overlay.js-connect( href='/sign_up' )
        | Connect →
