.HomeSection__content.HomeBlog
  .HomeSection__cta.HomeBlog__cta
    h2.Type.Type--size-h2 From our blog
  
  include ../../../../components/blog_post/index
  
  .HomeSection__cta
    a.Button.Button--size-lg.Button--border-heavy( class=button_class href='/blog' )
      | See more blog posts