.HomeSection__content
  .HomeSplit
    .HomeSplit__pane
      .HomeSplit__description
        h5.Type
          strong Make channels. Add content. Connect ideas.

        p Channels are collections of content that can hold images, websites, text, videos, and files. Connect anything you want to a channel by dragging a file from your desktop, using our bookmarklet.

    .HomeSplit__pane
      .HomeExample.HomeExample--b
        iframe(
          src='https://player.vimeo.com/video/221809766?autoplay=1&autopause=0'
          frameborder='0'
          allowfullscreen
        )

  a.HomeNext.js-next
    img( src='/images/iconic/nav-arrow-r.svg', alt='Next' )
