.home--diatribe
  h1 Connect information, together
  p.center
    img(src="images/feynman-arena.svg" class="no-border")
  p Our intention behind Are.na is to build a platform that helps people continually recontextualize information into new ideas and help us all understand the vast amount information we face on a daily basis. 
  p As a society, we should think about what mainstream tools we have for unpacking our own perspectives. Is "sharing" enough? "Likes"? What happens to the things you shared last year? And how can the tools we build today help you understand how your thinking has changed over time?
  .home--diatribe__cta.center  
    a.btn(href="/explore") Explore
