.HomeSection__content
  .HomeSplit
    .HomeSplit__pane
      .HomeSplit__description
        h5.Type
          strong Explore and collaborate with others.

        p Are.na is a community of people thinking together. Explore the entire Are.na universe, collaborate on shared channels, or work privately to organize your own thoughts.

    .HomeSplit__pane
      .HomeExample.HomeExample--c
        iframe(
          src='https://player.vimeo.com/video/223295590?autoplay=1&autopause=0'
          frameborder='0'
          allowfullscreen
        )

  a.HomeNext.js-next
    img( src='/images/iconic/nav-arrow-r.svg', alt='Next' )
