.HomeExplore
  .HomeExplore__overlay
    h2.Type.Type--size-h2 See what Are.na users are up to right now
    a.Button.Button--size-lg( href='/explore' )
      | Explore

  .HomeExplore__blocks
    - disableFilter = true
    include ../../../../components/blocks/container/templates/index
