.HomeExplore
  h2.Type.Type--size-h2
    strong See what Are.na users are up to right now:

  .HomeExplore__blocks
    - disableFilter = true
    include ../../../../components/blocks/container/templates/index
