.HomeSection__content
  .HomeSplit
    .HomeSplit__pane
      .HomeSplit__description
        h5.Type
          strong Explore and collaborate with others.

        p Are.na is a community of people thinking together. Explore the entire Are.na universe, collaborate on shared channels, or work privately to organize your own thoughts.

    .HomeSplit__pane
      img.Utility--bordered(
        width='640'
        src='https://d2w9rnfcy7mm78.cloudfront.net/1078347/original_4141e7a688cba4a5058c6384cc8c9f53.jpg'
        alt='Explore'
      )

  a.HomeNext.js-next
    img( src='/images/iconic/nav-arrow-r.svg', alt='Next' )
