.home--features
  h2 Some Are.na Features
  .home--features__row
    .home--features__row__copy
      h2.home--features__row__copy__headline Make blocks out of content
      .home--features__row__copy__text
        | On Are.na, you can make collections of images, links, text, and files. We call them blocks.
    .home--features__row__thumbnails
      a(class="image-view" href="https://d2w9rnfcy7mm78.cloudfront.net/732639/original_4e6f1d614ae5ff822e9f0f3910124521.jpg"): img(src="https://d2w9rnfcy7mm78.cloudfront.net/732643/original_6eb2fc072e10fb06cbc48a46bbee6b04.jpg")
      a(class="image-view" href="https://d2w9rnfcy7mm78.cloudfront.net/732620/original_31b190ab64413e85c35aacf7a70669d3.jpg"): img(src="https://d2w9rnfcy7mm78.cloudfront.net/732628/original_31f023dcdef295ed37773572a5ec0b72.jpg")
      a(class="image-view" href="https://d2w9rnfcy7mm78.cloudfront.net/732627/original_5af6fac99766971e1860ba581a605dc7.jpg"): img(src="https://d2w9rnfcy7mm78.cloudfront.net/732640/original_3c6b538eead30b775f6ded628ff1fd3d.jpg")
  .home--features__row
    .home--features__row__copy
      h2.home--features__row__copy__headline Many ways to collaborate
      .home--features__row__copy__text
        | Create an open channel, invite collaborators to an closed channel, or create private channels for personal refererence, it's up to you.
    .home--features__row__thumbnails
      a(class="image-view" href="https://d2w9rnfcy7mm78.cloudfront.net/732623/original_dc727f2e595e59cb435b5e1d7097292f.jpg"): img(src="https://d2w9rnfcy7mm78.cloudfront.net/732630/original_bf80260c9838f7846a66251fc0fcb229.jpg")
      a(class="image-view" href="https://d2w9rnfcy7mm78.cloudfront.net/732626/original_d2296ce8dd74f7158ea5c70ff36313e9.jpg"): img(src="https://d2w9rnfcy7mm78.cloudfront.net/732633/original_8692edd1dd86362609f5a1a4ed9d6ec2.jpg")
      a(class="image-view" href="https://d2w9rnfcy7mm78.cloudfront.net/732639/original_4e6f1d614ae5ff822e9f0f3910124521.jpg"): img(src="https://d2w9rnfcy7mm78.cloudfront.net/732642/original_ded17576c86798a402ec79248cf9e0d6.jpg")
  .home--features__row
    .home--features__row__copy
      h2.home--features__row__copy__headline A growing arsenal of tools
      .home--features__row__copy__text
        ul
          li Bookmarklet: save links, images, text while browsing
          li API: turn channels into your own CMS
          li Export channels as PDF, HTML, and ZIP

    .home--features__row__thumbnails
      a(class="image-view" href="https://d2w9rnfcy7mm78.cloudfront.net/732622/original_8883552efb09d4265919a181fe076cab.jpg"): img(src="https://d2w9rnfcy7mm78.cloudfront.net/732637/original_0a0a34d3b7ef747d90d92f361fdab527.jpg")
      a(class="image-view" href="https://d2w9rnfcy7mm78.cloudfront.net/732619/original_f5ea3cc6db29092fc59e7dd876d4e4b7.jpg"): img(src="https://d2w9rnfcy7mm78.cloudfront.net/732631/original_5a7909b6a763bdecfe3a508e0b93dd07.jpg")
      a(class="image-view" href="https://d2w9rnfcy7mm78.cloudfront.net/732624/original_5b09dd54c522cf356e0db1755d61c2f6.jpg"): img(src="https://d2w9rnfcy7mm78.cloudfront.net/732635/original_0698a980629f048f08e2cb6e6e717c5b.jpg")
  .home--features__learn-more
    a.btn(href="/about") Learn more