.home--features(id="features")
  h1 Are.na is a platform for collaborative and independent research.
  .home--features__introduction On Are.na you collect, connect and contextualize information collaboratively. People use it to save text, images, links, files, PDFs, etc into flexible containers called channels. Our users have started channels to gather materials for news articles, build business ideas, do academic research and start creative projects.
  .home--features__list
    .home--features__list__feature
      .home--features__list__feature__image
        a(class="image-view" href="https://d2w9rnfcy7mm78.cloudfront.net/854317/original_b4cb566990805a8beddad8fc0c0720da.png")
          img(src="https://d2w9rnfcy7mm78.cloudfront.net/854316/original_2b94b76f07340221f3779c0581330be4.jpg")
      .home--features__list__feature__title Gather
      .home--features__list__feature__desc Collect blocks of content (links, images, text or files) and gather them into collections called channels.
    .home--features__list__feature
      .home--features__list__feature__image
        a(class="image-view" href="https://d2w9rnfcy7mm78.cloudfront.net/854306/original_0cf3770c1d8c1983a1fd5d8587f7fad6.png")
          img(src="https://d2w9rnfcy7mm78.cloudfront.net/854308/original_f66017849cfce732dab1bfbc03dfe7c2.jpg")
      .home--features__list__feature__title Connect
      .home--features__list__feature__desc Connect blocks in infinite ways between channels
    .home--features__list__feature
      .home--features__list__feature__image
        a(class="image-view" href="https://d2w9rnfcy7mm78.cloudfront.net/854309/original_1d941c56aaef69039f74ae6baf3038b6.png")
          img(src="https://d2w9rnfcy7mm78.cloudfront.net/854315/original_38a96392ad12d52be3e3f953eb67378e.jpg")
      .home--features__list__feature__title Collaborate
      .home--features__list__feature__desc Create open call channels or invite friends to a private channel
    .home--features__list__feature
      .home--features__list__feature__image
        a(class="image-view" href="https://d2w9rnfcy7mm78.cloudfront.net/854305/original_98e86e2ff4bf2601a26ed0937473b370.png")
          img(src="https://d2w9rnfcy7mm78.cloudfront.net/854310/original_f3df54d0356dbb0c2e6b19baf6eee09c.jpg")
      .home--features__list__feature__title Privacy
      .home--features__list__feature__desc Adjust privacy and permissions on individual channels
    .home--features__list__feature
      .home--features__list__feature__image
        a(class="image-view" href="https://d2w9rnfcy7mm78.cloudfront.net/854319/original_43ef696f9ae1595067a6b4ffdc2171f0")
          img(src="https://d2w9rnfcy7mm78.cloudfront.net/854318/original_0fd1d134cfd4209ac847af26a9724e37.jpg")
      .home--features__list__feature__title API
      .home--features__list__feature__desc Use channels as your personal content management system
    .home--features__list__feature
      .home--features__list__feature__image
        a(class="image-view" href="https://d2w9rnfcy7mm78.cloudfront.net/854314/original_558b42db050898679f6aac5816cb1cbb.png")
          img(src="https://d2w9rnfcy7mm78.cloudfront.net/854311/original_d25809a822f6b047a96d3deb5be825f2.jpg")
      .home--features__list__feature__title I/O
      .home--features__list__feature__desc Add blocks with our bookmarklet, add via email, or programatically via our API. Export channels as a PDF, HTML, a ZIP file and more
  .home--features__cta
    a.btn(href="/sign_up") Sign up free