.HomeSection__content
  h2.Type.Type--size-h2
    | Get started

  .HomeSection__cta
    a.Button.Button--size-lg( href='/sign_up' )
      | Join
    a.Button.Button--size-lg( href='/about' )
      | Learn more
