.HomeSection__content
  h2.Type
    | Connect everything

  .HomeHero__focus
    .HomeHero__demo-block.js-demo-block
      - block = demoBlocks[0]
      include ../../../../components/block_v2/templates/block

    .HomeHero__connect
      a.Button.Button--overlay( href='/sign_up' )
        | Connect →

  .HomeSection__cta
    a.Button.Button--size-lg( href='/sign_up' )
      | Join
    a.Button.Button--size-lg( href='/log_in' )
      | Log In

footer.HomeSection__footer
  a.HomeToFold.js-to-fold
    | What is Are.na?
