.HomeSection__content
  h2.Type
    | Connect everything

  .HomeHero__video.Placeholder( style='width: 950px; height: 480px' )
    //-

  .HomeSection__cta
    a.Button.Button--size-lg( href='/sign_up' )
      | Join
    a.Button.Button--size-lg( href='/log_in' )
      | Log In

footer.HomeSection__footer
  a.HomeToFold.js-to-fold
    | What is Are.na?
