.HomeHero__content
  .HomeHero__copy
    h2.Type.Type--size-h2 Social media that helps you think.
    h5.Type.Type--size-h5
      | Spend less time “liking” and more time thinking. Are.na frees your mind from distraction and lets you organize your internet more mindfully.
    .HomeHero__cta
      a.Button.Button--size-lg.Button--border-heavy( href='/sign_up' )
        | Join Are.na
      a.Button.Button--size-lg.Button--app.Button--border-heavy( href=sd.ITUNES_LINK )
        | Download Are.na for iOS
  .HomeHero__image.js-to-fold.pointer
    img(src="https://d2w9rnfcy7mm78.cloudfront.net/1823396/original_a478a524577ed32227e7b36894cbb04a.png")
