.HomeSection__content
  h2.Type.Type--size-h2
    strong Connect everything.

  include _splash_blocks

  .HomeSection__cta
    a.Button.Button--size-lg( href='/sign_up' )
      | Join
    a.Button.Button--size-lg.js-to-fold
      | What is Are.na?
