.HomeSection__content.HomeHowItWorks
  .HomeSection__cta
    h2.Type.Type--size-h2 How it works

  .HomeHowItWorks__carousel.js-home-carousel
    &nbsp;
  .HomeSection__cta
    a.Button.Button--size-lg.Button--thick( href='/sign_up' )
      | Join Are.na