.HomeSection__content.HomeHowItWorks
  .HomeSection__cta
    h2.Type.Type--size-h2 How it works

  .HomeHowItWorks__carousel
    .Slide
      img(src="https://d2w9rnfcy7mm78.cloudfront.net/1586588/original_ac9783753f207990907118d62cae38bf.png")
      .Slide__copy
        | Community is more than a euphemism on Are.na. It means we don’t make money from your attention or your personal data. Community is more than a euphemism.
    .Slide.active
      img(src="https://d2w9rnfcy7mm78.cloudfront.net/1586588/original_ac9783753f207990907118d62cae38bf.png")
      .Slide__copy
        | Community is more than a euphemism on Are.na. It means we don’t make money from your attention or your personal data. Community is more than a euphemism.
    .Slide
      img(src="https://d2w9rnfcy7mm78.cloudfront.net/1586588/original_ac9783753f207990907118d62cae38bf.png")
      .Slide__copy
        | Community is more than a euphemism on Are.na. It means we don’t make money from your attention or your personal data. Community is more than a euphemism.
  .HomeSection__cta
    a.Button.Button--size-lg( href='/sign_up' )
      | Join Are.na