.HomeSection__content.HomeHowItWorks
  .HomeSection__cta
    h2.Type.Type--size-h2.Utility--align-center
      | Are.na puts all your ideas in context.

  .HomeHowItWorks__carousel.js-home-carousel
    | &nbsp;
  .HomeSection__cta
    a.Button.Button--size-lg.Button--border-heavy( class=button_class href='/sign_up' )
      | Join Are.na
