.HomeInvest
  .HomeInvest__content
    .HomeInvest__left
      h2.Type.Type--size-h2 Invest in Are.na
    .HomeInvest__right 
      h6.Type.Type--size-h6
        | We're building a member-supported community of creative thinkers. 
      h6.Type.Type--size-h6
        | For a limited time, anyone can invest as little as $100 in the future of Are.na.
      h6.Type.Type--size-h6
        | Own a piece of your platform. Help us make a better internet.
      br
      a.Button.Button--size-sm.Button--border-heavy( href='https://republic.co/arena' target="_blank" )
        | View Campaign
      