.HomeSection__content.HomeMore
  .HomeMore__left &nbsp;
  .HomeMore__copy
    .HomeMore__cta
      h2.HomeMore__headline.Type.Type--size-h2 Social media is broken
      h4.Type.Type--size-h4 Social networks depend on addicted users to sell more ads and harvest more data. If we want our attention back, we need a different model.
    .HomeMore__cta
      h2.HomeMore__headline.Type.Type--size-h2 No ads, no likes, no distractions
      h4.Type.Type--size-h4 On Are.na, your attention and data are your own. We’re making a product our members love, not making our members the product. 
    .HomeMore__cta
      h2.HomeMore__headline.Type.Type--size-h2 Helping you think
      h4.Type.Type--size-h4 Are.na transforms the hardest part of any project — developing your ideas. Discover new things without losing focus on what matters to you.
  .HomeMore__right &nbsp;