.HomeSection__content
  .HomeSplit
    .HomeSplit__pane
      .HomeSplit__description
        h5.Type.Type--size-h5
          strong Are.na is a platform for organizing your internet.

        p Are.na is a simple tool for connecting what you find and building knowledge. It’s a space where you can save anything, structure your thinking however you want, and discover new things together.

    .HomeSplit__pane
      .HomeExample.HomeExample--a
        iframe(
          src='https://player.vimeo.com/video/221811390?autoplay=1&autopause=0'
          frameborder='0'
          allowfullscreen
        )

  a.HomeNext.js-next
    img( src='/images/iconic/nav-arrow-r.svg', alt='Next' )
