.HomeSection__content
  .HomeSplit
    .HomeSplit__pane
      .HomeSplit__description
        h5.Type
          strong Are.na is a platform for organizing your internet.

        p Are.na is a simple tool for connecting what you find and building knowledge. It’s a space where you can save anything, structure your thinking however you want, and discover new things together.

    .HomeSplit__pane
      .Placeholder
