.HomeSection__content.HomeQuotes
  .HomeSection__cta.HomeQuotes__cta
    h2.Type.Type--size-h2 What people are saying
  .HomeQuotes__quotes
    a.HomeQuotes__quote(href="https://www.fastcodesign.com/90157216/this-is-what-a-designer-led-social-networking-site-looks-like")
      .HomeQuotes__icon
        img(src="https://d2w9rnfcy7mm78.cloudfront.net/1807149/original_46cd0d14fec88063fb61b5704d3fcbc3.png")
      .HomeQuotes__copy 
        | “In the groundswell of anger and suspicion toward social media platforms, #[span Are.na feels like a necessary antidote].”
        br
        | - Co.Design
    a.HomeQuotes__quote(href="https://www.artsy.net/article/artsy-editorial-creatives-flocking-artist-designed-social-network")
      .HomeQuotes__icon
        img(src="https://d2w9rnfcy7mm78.cloudfront.net/1807150/original_7d14b1f553ae180878bd802c426c4aaf.png" target="_blank")
      .HomeQuotes__copy 
        | “Are.na is building a network of content, ideas, and the people that have them. #[span By removing ads and ego-stroking ‘likes,’ Are.na frees up space for creativity.]”
        br
        | - Art.sy
    a.HomeQuotes__quote(href="https://twitter.com/willak/status/949692962795073537" target="_blank")
      .HomeQuotes__icon
        img(src="https://d2w9rnfcy7mm78.cloudfront.net/1807151/original_467984445f140a7eeafa0bec5ab62665.png" target="_blank")
      .HomeQuotes__copy
        | “Are.na is one of those rare social-ish networks that puts #[span ideas, calmness, and thoughtfulness ahead of everything else].”
        br
        | - Willa Köerner, Creative Content Director at The Creative Independent
