.HomeSection__content.HomeQuotes
  .HomeQuotes__quotes
    h2.Type.Type--size-h2.Utility--align-center Tune out the noise
    a.HomeQuotes__quote
      .HomeQuotes__icon
        img(src="https://d2w9rnfcy7mm78.cloudfront.net/1807149/original_46cd0d14fec88063fb61b5704d3fcbc3.png" alt="Co.Design logo")
      .HomeQuotes__copy 
        | “In the groundswell of anger and suspicion toward social media platforms, #[span Are.na feels like a necessary antidote].”
        br
        | - Co.Design
    h2.Type.Type--size-h2.Utility--align-center No ads, no likes, no distractions
    a.HomeQuotes__quote
      .HomeQuotes__icon
        img(src="https://d2w9rnfcy7mm78.cloudfront.net/1807150/original_7d14b1f553ae180878bd802c426c4aaf.png" alt="Artsy logo")
      .HomeQuotes__copy 
        | “Are.na is building a network of content, ideas, and the people that have them. #[span By removing ads and ego-stroking ‘likes,’ Are.na frees up space for creativity.]”
        br
        | - Art.sy
    h2.Type.Type--size-h2.Utility--align-center Spend your screen time learning
    a.HomeQuotes__quote
      .HomeQuotes__icon
        img(src="https://d2w9rnfcy7mm78.cloudfront.net/1827623/original_5f8d104fef1cf3379c088dd8006b2ebc.jpg" alt="Ben Pieratt portrait")
      .HomeQuotes__copy 
        | “#[span Are.na’s whole vibe makes you want to be smarter], dig deeper, participate in collective knowledge” 
        br
        | - Ben Pieratt, Designer and founder of Svpply
