.home--splash
  .home--splash__image
    .home--splash__image__placeholder
      img(src='https://d2w9rnfcy7mm78.cloudfront.net/855348/original_62d9ad5939a6642d5fd96b42d2957895.png')
    .home--splash__image__scroller
      img(src='https://d2w9rnfcy7mm78.cloudfront.net/855186/original_a74d3712ca208549e21f2636e5aa0aff.jpg')
  .home--splash__copy
    h1 #[span.underline Connect] blocks of content
    h1 #[span.underline Explore] ideas over time
    h1 #[span.underline Build] your own knowledge community
    .home--splash__copy__cta
      a.btn(data-client="auth" href="/sign_up") Sign up
      a.btn(href="/about") Learn more
