.home--splash
  .home--splash__image
    img(src='/images/home/hero.jpg')
  .home--splash__copy
    h1 #[span.underline Connect] blocks of content
    h1 #[span.underline Explore] ideas over time
    h1 #[span.underline Build] your own knowledge community
    .home--splash__copy__cta
      a.btn(data-client="auth" href="/sign_up") Sign up
      a.btn(href="/about") Learn more
