extends ../../../components/layout/layouts/blank

block title
  |  / Save

block container
  #apolloMount
    //- rendered on the client
 
block scripts
  script( src= asset('/assets/bookmarklet.js') )