extends ../../../components/layout/layouts/blank

block title
  |  / Save

block styles
  style(type='text/css').
    html {
      font-size: 16px !important;
    }

block container
  #apolloMount
    //- rendered on the client
 
block scripts
  script( src= asset('/assets/bookmarklet.js') )