.ChannelBlockGroup.js-channel-group(data-id=channel.id)
  .ChannelBlockGroup__inner.js-channel
    - block = channel
    include ../../block_v2/templates/block
    if channel.kind && channel.kind.blocks
      for block in channel.kind.blocks
        include ../../block_v2/templates/block
    else if channel.blocks
      for block in channel.blocks
        include ../../block_v2/templates/block

  .ChannelBlockGroup__divider &nbsp;
