.ChannelBlockGroup.js-channel-group(data-id=channel.id)
  .ChannelBlockGroup__divider &nbsp;
  .ChannelBlockGroup__inner.js-channel
    - block = channel
    include ../../block_v2/templates/block
    for block in channel.kind.blocks
      include ../../block_v2/templates/block