if channel && !following && !followers && user && user.canAddToChannel(channel) && !sd.SHARE_TOKEN && !isSearching
  - console.log('here')
  //- include ../../grid_item/templates/types/new_block
for block in blocks
  include ../../grid_item/templates/block