if channel && !following && !followers && user && user.canAddToChannel(channel) && !sd.SHARE_TOKEN && !isSearching && !isEmbedded
  include ../../grid_item/templates/types/new_block.jade
for block in blocks
  include ../../grid_item/templates/block.jade