.block-collection.block-collection--list.flex-container
  .block-collection--list__new-block
    if channel && !following && !followers && user && user.canAddToChannel(channel)
      include ../../list_item/templates/types/new_block
  .block-collection--list__filter
    if title && user && user.isPremium() && !following && !followers
      include ../../../filter/templates/search_bar
  .block-collection--list__header
    .block-collection--list__column.block-collection--list__column--thumb(data-attr="icon")
    .block-collection--list__column.block-collection--list__column--title(data-attr="title") Title
    .block-collection--list__column.block-collection--list__column--source(data-attr="icon")
    .block-collection--list__column.block-collection--list__column--follow(data-attr="action")
    .block-collection--list__column.block-collection--list__column--connect(data-attr="connect")
    .block-collection--list__column.block-collection--list__column--date(data-attr="date") Date
  .block-collection--list__contents.block-collection__contents
    include _list_contents