.block-collection.block-collection--list.flex-container.js-block-collection
  if channel && !following && !followers && user && user.canAddToChannel(channel)
    include ../../list_item/templates/types/new_block

  .block-collection--list__filter
    if title && user && user.isPremium() && !following && !followers
      include ../../../filter/templates/search_bar
  .block-collection--list__header
    .block-collection--list__column.block-collection--list__column--thumb(data-attr="icon")
    .block-collection--list__column.block-collection--list__column--title(data-attr="title") Title
    .block-collection--list__column.block-collection--list__column--comment(data-attr="comment")
    .block-collection--list__column.block-collection--list__column--source(data-attr="icon")
    .block-collection--list__column.block-collection--list__column--action(data-attr="action")
    .block-collection--list__column.block-collection--list__column--date(data-attr="date") Last updated
    .block-collection--list__column.block-collection--list__column--edit(data-attr="edit")
  .block-collection--list__contents.block-collection__contents
    include _list_contents