header#layout-header
  .logo.dropdown--menu
    .header--icon
      a(href="/").logo-icon.dropdown--menu__trigger
        include ../../../../public/images/arena-mark.svg

  unless user && user.has('username')
    .layout-header__register
      span.layout-header__login
        a(href="#log_in").btn-login Login &nbsp;
      span.layout-header__or or &nbsp;
      span
        a(href="#log_in").btn-signup Sign up