header#layout-header
  include ../../../search_bar/templates/index

  if user && user.has('username')
    include ../../../logged_in_navigation/index

  else
    .layout-header__register
      span
        span(data-client="auth" href="/log_in").btn-login Log in &nbsp;
      span or &nbsp;
      span
        span(data-client="auth" href="/sign_up").btn-signup Join
