header#layout-header
  .search
    input(type="text", placeholder="Search Arena")

  .right
    if user
      .user
        span= user.get('username')

    else
      .register
        span
          a(href="#log_in").btn-login Login
        span or
        span
          a(href="#log_in").btn-signup Sign Up