include ../../../avatar/templates/avatar

header#layout-header
  //- img(src="#{sd.IMAGE_PATH}iconic/magnifying-glass.svg", class="iconic iconic-md header--icon")
  .layout-header__search
    input#layout-header__search__input(type="text" placeholder="Search Are.na")
    .header--icon
      include ../../../../public/images/iconic/magnifying-glass.svg
    .layout-header__search__close.pointer &times;
    .layout-header__search__results
      //- rendered by client

  if user && user.has('username')
    .new-channel-dropdown.dropdown--menu
      .new-channel-btn.iconic(data-glyph="plus").dropdown--menu__trigger &nbsp;
        .new-channel-btn--caption New channel
      .dropdown.new-channel-dropdown__container
        //- rendered by client

    .logo.dropdown--menu.right
      .logo-icon.dropdown--menu__trigger
        include ../../../../public/images/arena-mark.svg
      .dropdown.dropdown--size
        a.dropdown__link.dropdown__link--user(href="/#{user.get('slug')}")
          | #{user.get('username')}
          span.dropdown__icon
            +avatar(user, 'thumb')
        .dropdown__notifications
        a.dropdown__link(href="/about/tools")
          | Tools
        a.dropdown__link(href="/about")
          | About &amp; FAQ
        a.dropdown__link(href="#")
          | Settings
        a.dropdown__link(href="/me/sign_out")
          | Sign Out
  else
    .layout-header__register
      span
        a(href="#log_in").btn-login Login &nbsp;
      span or &nbsp;
      span
        a(href="#log_in").btn-signup Sign Up

.rotate
  .rotate__text
    .iconic(data-glyph="loop-circular") 
    | Please rotate your device for an optimal Are.na experience.