header#layout-header
  //- img(src="#{sd.IMAGE_PATH}iconic/magnifying-glass.svg", class="iconic iconic-md header--icon")
  .layout-header__search
    input#layout-header__search__input(type="text", placeholder="Search Arena")
    .header--icon
      include ../../../../public/images/iconic/magnifying-glass.svg
    .layout-header__search__close.pointer &times;
    .layout-header__search__results
      //- rendered by client

  if user && user.has('username')
    .logo.dropdown--menu.right
      .logo-icon.dropdown--menu__trigger
        include ../../../../public/images/arena-mark.svg
      .dropdown.dropdown--size
        .dropdown__notification
          a(href="#") Charles Broskoski added 4 items to Color Schemes
          a(href="#") Chris Sherron added 43 items to This Is A Very Long Channel Name
          a(href="#") Charles Broskoski added 4 items to Color Schemes
        a.dropdown__link(href="/#{user.get('slug')}")
          = user.get('username')
          //- [avatar]
        a.dropdown__link(href="#")
          | Tools
          span.iconic.dropdown__icon(data-glyph="tools")
        a.dropdown__link(href="/about")
          | About &amp; FAQ
          span.iconic.dropdown__icon(data-glyph="question-mark")
        a.dropdown__link(href="#")
          | Settings
          span.iconic.dropdown__icon(data-glyph="cogs")
        a.dropdown__link(href="/me/sign_out")
          | Sign Out
          span.iconic.dropdown__icon(data-glyph="account-logout")

  else
    .register
      span
        a(href="#log_in").btn-login Login 
      span or 
      span
        a(href="#log_in").btn-signup Sign Up