header#layout-header
  .layout-header__search
    include ../../../search_bar/templates/index

  if user && user.has('username')
    include ../../../new_channel/templates/index
    if user.get('is_pro') && sd.CURRENT_PATH != "/"
      - glyph = view_mode == 'grid' ? 'grid-three-up' : 'list'
      include ../../../view_menu/templates/index
    include ../../../notifications_menu/templates/index
    include ../../../user_menu/templates/index

  else
    .layout-header__register
      span
        span(data-client="auth" href="/log_in").btn-login Login &nbsp;
      span or &nbsp;
      span
        span(data-client="auth" href="/sign_up").btn-signup Sign up
