header#main-layout-header
  .search
    input(type="text")
  .user
    if user
      span= "Hello " + user.get('username')
    else
      span
        a(href="#log_in").btn-login Login 
      span or 
      span
        a(href="#log_in").btn-signup Sign Up