include ../../../avatar/templates/avatar
header#layout-header
  .layout-header__search
    input#layout-header__search__input(type="text" placeholder="Search Are.na")
    .header--icon
      .glass-icon
        include ../../../../public/images/iconic/magnifying-glass.svg
      .logo-icon
        a(href="/")
          include ../../../../public/images/arena-mark.svg
    .layout-header__search__close.pointer &times;
    .layout-header__search__results
      //- rendered by client

  if user && user.has('username')
    .new-channel-dropdown.dropdown--menu
      .new-channel-btn.iconic(data-glyph="plus").dropdown--menu__trigger &nbsp;
      .dropdown.new-channel-dropdown__container
        //- rendered by client

    .user.dropdown--menu.right
      .user-avatar.dropdown--menu__trigger
        .notifications__flag.notifications--count
        +avatar(user, 'thumb')
      .dropdown.dropdown--size
        .dropdown__section
          a.dropdown__link.dropdown__link--profile(href="/#{user.get('slug')}") / #{user.get('username')}
          .dropdown__link.dropdown__text--small.dropdown__link--channels: #[a(href="/#{user.get('slug')}/channels") My channels]
            .dropdown__icon: #[a(href="/manage").iconic(data-glyph="cog")]
          a.dropdown__link.dropdown__text--small(href="/#{user.get('slug')}/blocks") My blocks
          a.dropdown__link.dropdown__text--small.dropdown__link--settings(href="#") Settings
          a.dropdown__link.dropdown__text--small(href="/me/sign_out") Sign Out
        .dropdown__section
          a.dropdown__link.dropdown__link--feed(href="/") / Feed
          a.dropdown__link.dropdown__text--small.dropdown__link--notifications(href="/notifications") Notifications
            | (
            .notifications--count 0
            | )
        .dropdown__section
          a.dropdown__link.dropdown__link--explore(href="/explore") / Explore
        .dropdown__section.dropdown__link--tools
          a.dropdown__link(href="/tools") / Tools
          a.dropdown__link.dropdown__text--small(href="/tools/find-friends") Find friends
          a.dropdown__link.dropdown__text--small(href="/tools/premium") Premium tools
          a.dropdown__link.dropdown__text--small(href="/tools/bookmarklet") Bookmarklet
        .dropdown__section
          a.dropdown__link(href="/about") / About &amp; FAQ

  else
    .layout-header__register
      span
        a(href="#log_in").btn-login Login &nbsp;
      span or &nbsp;
      span
        a(href="#log_in").btn-signup Sign Up