include ../../../avatar/templates/avatar
header#layout-header
  //- img(src="#{sd.IMAGE_PATH}iconic/magnifying-glass.svg", class="iconic iconic-md header--icon")
  .layout-header__search
    input#layout-header__search__input(type="text" placeholder="Search Are.na")
    .header--icon
      include ../../../../public/images/iconic/magnifying-glass.svg
    .layout-header__search__close.pointer &times;
    .layout-header__search__results
      //- rendered by client

  if user && user.has('username')
    .new-channel-dropdown.dropdown--menu
      .new-channel-btn.iconic(data-glyph="plus").dropdown--menu__trigger &nbsp;
      .dropdown.new-channel-dropdown__container
        //- rendered by client

    .user.dropdown--menu.right
      .user-avatar.dropdown--menu__trigger
        .notifications__flag.notifications--count
        +avatar(user, 'thumb')
      .dropdown.dropdown--size
        .dropdown__top
          a.dropdown__link.dropdown__link--profile(href="/#{user.get('slug')}") My profile
          a.dropdown__link.dropdown__link--notifications(href="/notifications") Notifications
            .notifications--count 0
        .dropdown__bottom
          span.dropdown__link: #[a(href="/#{user.get('slug')}/channels") My channels] (#[a(href="/manage") manage])
          span.dropdown__link: a(href="/manage")
          span.dropdown__link: a(href="/#{user.get('slug')}/blocks") My blocks
          span.dropdown__link: a(href="#") Settings
          span.dropdown__link: a(href="/me/sign_out") Sign Out

    .logo.dropdown--menu.right
      .logo-icon.dropdown--menu__trigger
        include ../../../../public/images/arena-mark.svg
      .dropdown.dropdown--size
        .dropdown__top
          a.dropdown__link(href="/") Feed
          a.dropdown__link(href="/explore") Explore
          a.dropdown__link(href="/about/tools") Tools
          a.dropdown__link.no-border(href="/about") About &amp; FAQ

  else
    .layout-header__register
      span
        a(href="#log_in").btn-login Login &nbsp;
      span or &nbsp;
      span
        a(href="#log_in").btn-signup Sign Up

.rotate
  .rotate__text
    .iconic(data-glyph="loop-circular")
    | Please rotate your device for an optimal Are.na experience.