.Color
  color-states = channel-public channel-closed channel-private state-premium

  for state in color-states
    &--{state}
      &, input
        color lookup('colors-' + state)
        border-color rgba(@color, 0.3)
