link( rel='canonical' href= canonical )
link( rel='alternate' type='application/rss+xml' title="Are.na / #{name} / Feed" href="https://www.are.na#{href}/feed/rss" )

meta( name='twitter:title', content="Are.na / #{name}" )
meta( name='twitter:url', content= canonical )
meta( name='twitter:description', content= description )

meta( property='og:title' content="Are.na / #{name}" )
meta( property='og:url' content= canonical )
meta( property='og:description' content= description )
meta( name="description" content= description )

if !is_indexable || view === 'followers' || view === 'following'
  meta( name='robots' content='none' )
