.manage__block(id=block.id data-id=block.id)
  .manage__block__title.manage__block__column
    a(href="#{block.getHref()}" class="privacy--#{block.getVisibility()}")= block.smartTruncate(block.get('title'), 50)
  .manage__block__block_count.manage__block__column
    = block.get('length')
  .manage__block__status.manage__block__column
    = block.get('status')
  .manage__block__collaborator_count.manage__block__column
    if block.get('owned_by_ids')
      = block.get('owned_by_ids').length
  .manage__block__follower_count.manage__block__column
    if block.get('followed_by_ids')
      = block.get('followed_by_ids').length
  .manage__block__export.manage__block__column
    a.manage__block__export_link Export
