extends ../../../components/layout/index

block styles
  link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'manage' + sd.CSS_EXT) )

block body
  include ./path
  if blocks
    .grid.flex-container
      include manage_block_collection

block scripts
  script( src= sd.ASSET_PATH + 'manage' + sd.JS_EXT )
