extends ../../../components/layout/index.jade

block body
  include ./path.jade
  if blocks
    .grid.flex-container
      include search_bar.jade
      include manage_block_collection.jade

block scripts
  script( src=asset('/assets/manage.js') )
