extends ../../../components/layout/index

block body
  include ./path
  if blocks
    .grid.flex-container
      include manage_block_collection

block scripts
  script( src= sd.ASSET_PATH + 'manage' + sd.JS_EXT )
