extends ../../../components/layout/index

block body
  include ./path
  if blocks
    .grid.flex-container
      include search_bar
      include manage_block_collection

block scripts
  script( src=asset('/assets/manage.js') )
