.manage__block__collection__header
  .manage__block__title.manage__block__column.manage__block__sort__link(data-sort="string" data-direction="asc") Title
  .manage__block__updated_at.manage__block__column.manage__block__sort__link(data-sort="updated_at" data-direction="asc") Last updated
  .manage__block__block_count.manage__block__column.manage__block__column--small.manage__block__sort__link(data-sort="length" data-direction="asc") Length
  .manage__block__status.manage__block__column.manage__block__sort_link(data-sort="status" data-direction="asc") Privacy
  .manage__block__follower_count.manage__block__column.manage__block__column--small.manage__block__sort__link(data-sort="follower_count" data-direction="asc") Followers
  .manage__block__export.manage__block__column Export

.manage__block__collection__contents
  for block in blocks
    include block_manage
