.form__field.form__field__manage-filter
  input.input--wide(
    name='title' type='text' placeholder='Search Channels'
  )
  .form__field__manage-filter--icon
    include ../../../public/images/iconic/magnifying-glass.svg
