@import '../layout/variables'

// Disable scroll on body when open
body.is-modal
  overflow hidden

#modal
  z-index modal_z
  transition opacity 0.25s
  opacity 0
  // Default is a simple fade in
  &[data-state='open'], &.is-open
    opacity 1
    > .modal-backdrop > .modal-dialog
      // Avoid transitioning the initial open
      transition all 0.25s, width 0
  // Slide modal dialog in
  &.is-slide-in
    > .modal-backdrop > .modal-dialog
      transform translateY(100px)
      transition transform 0.4s
    &[data-state='open'], &.is-open
      opacity 1
      > .modal-backdrop > .modal-dialog
        transform translateY(0)
        // Avoid transitioning the initial open
        transition all 0.25s, width 0, transform 0.4s

  &.is-loading
    > .modal-backdrop::before
      display block
      content ''

  &.confirm
    .modal-body
      text-align center
      padding-top 100px
      padding-bottom 100px
    h3
      margin-top 20px
      font-size 24px

// To be exported into /forms/stylesheets/
  input
    width 100%
    height 30px
    font-size 16px
    font-weight 400
    margin 0 0 20px 0
    background-color rgba(white, 0.96)
    border none
    border-bottom 1px solid lightgray
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

  ::-webkit-input-placeholder
     color lightgray

  :-moz-placeholder /* Firefox 18- */
     color lightgray

  ::-moz-placeholder /* Firefox 19+ */
     color lightgray

  :-ms-input-placeholder
     color lightgray

  &:focus
    outline none
    border-bottom 1px solid textgray

    &:focus::-webkit-input-placeholder
      color textgray

    &:focus:-moz-placeholder /* Firefox 18- */
      color textgray

    &:focus::-moz-placeholder /* Firefox 19+ */
      color textgray

    &:focus:-ms-input-placeholder
      color textgray

  button
    width 100%
    height 40px
    border 1px solid lightgray
    outline none
    background none
    cursor pointer
    font-size 16px
    font-weight bold
    color textgray
    margin 40px 0 0 0

    &:hover
      background-color backgroundgray

.modal-h1
  font-size 22px

#modal
.modal-backdrop
  position fixed
  top 0
  right 0
  bottom 0
  left 0

.modal-backdrop
  background-color rgba(white, 0.96)

#modal.has-nobackdrop > .modal-backdrop
  background-color transparent

.modal-dialog
  position fixed
  overflow-y auto
  background-color none
  width 24%
  height 70%
  border 0 solid lightgray
  background-color none
  &.is-notransition
    transition none !important

.modal-close
  position fixed
  top 10%
  right 90px
  font-size 32px
  cursor pointer
  opacity 0.8
  z-index 2
  &:hover
    opacity 1

.modal-dialog
.modal-body
  padding 1em
  transition opacity 0.25s
  &[data-state='fade-out'], &.is-fade-out
    opacity 0
  &[data-state='fade-in'], &.is-fade-in
    opacity 1

.modal-title
  font-size 21px
  font-weight 700
  margin 0 0 40px 0

.modal-forgot
  font-size 12px
  margin 10px 0 0 0

  a
    color lightgray

.modal-checkbox
  display none
