if example.channels
  .Example.js-example
    .Examples__header
      h4.Type.Type--size-h4.Utility--align-center
        strong #{example.title}
        br
        = example.description

    .ExampleChannels
      .flex-container
        for channel in example.channels
          include ../components/channel_group/index
      if example.channel_ids.length > example.channels.length
        .Utility--align-center
          a.Button.Button--size-lg.Button--border-heavy.js-load-more( href='#' data-id=example.id )
            | See more #{example.id} channels