extends ../../../components/layout/layouts/blank

block title
  |  / Examples / #{example.title}

block scripts
  script( src= asset('/assets/examples.js') )

block container
  include ../../../components/logged_out_nav/templates/header

  include cta

  .Examples
    include example

block footer
  include ../../../components/logged_out_nav/templates/footer