+mobile()
  .settings
    .tab--container
      display none

    .tab-content
      display block

      &__title
        display block
        margin 0 unit
        text-align center
        font-weight bold
        font-size s_middle
