extends ../../../components/layout/index--bare

block vars
  - extraClasses = 'no-header no-messages'

block body
  include ./path
  .channel-container
    .channel-contents
      include ../../../components/blocks/container/templates/index

block scripts
  script( src=asset('/assets/share.js') )
