extends ../../../components/layout/index--bare

block styles

  link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'share' + sd.CSS_EXT) )

block body
  include ./path
  .channel-container
    .grid.grid--channel.flex-container
      include ../../../components/block_collection/templates/block_collection


block scripts
  script( src=sd.ASSET_PATH + 'share' + sd.JS_EXT )