extends ../../../components/layout/index--bare.jade

block vars
  - extraClasses = 'no-header no-messages'

block body
  include ./path.jade
  .channel-container
    .channel-contents
      include ../../../components/blocks/container/templates/index.jade

  include ../../../components/layout/footer/templates/index--bare.jade

block scripts
  script( src=asset('/assets/share.js') )
