extends ../../../components/layout/index--bare

block vars
  - extraClasses = 'no-header no-messages'

block styles
  link( type='text/css', rel='stylesheet', href=asset('/assets/share.css') )

block body
  include ./path
  .channel-container
    .grid.grid--channel.flex-container
      include ../../../components/block_collection/templates/block_collection
  .icon-logo
    a(href="/")
      img(src="/images/arena-mark.svg", alt="Are.na")

block scripts
  script( src=asset('/assets/share.js') )
