extends ../../../components/path/templates/path.jade

block path
  li.path__username
    a(href="/" + author.get('slug'))=author.get('username')
  li.path__channel.channel(class="privacy-#{channel.get('status')}")
      a(href="/" + author.get('slug') + '/' + channel.get('slug'))= channel.get('title')