.BlockCollectionConnectIntegration
  position relative
  height 100%
  min-height block_width
  background-color white
  border-radius connect-border-radius
  box-shadow 0 0 0 connect-outer-border-size colors-gray-border

  &__border
    height @height
    min-height @min-height
    padding 0.5em
    border 1px solid colors-gray-lighter

  &__close
    position absolute
    width auto
    right 0.5em
    bottom @right
    left @right
    padding-bottom (button-v-padding * 1.5)

  .Connect
    &[data-state='active']
      border none

    &__search
      &
      &:focus
        border none

    &__header
      margin 0 0 0 0

    &__results
      border none
