.BlockCollectionConnectIntegration
  position relative
  height 100%
  padding 0.5em 0.5em 1em 0.5em

  &__close
    margin-top 1em

  .Connect
    &[data-state='active']
      border none

    &__search
      &
      &:focus
        border none

    &__header
      margin 0 0 0 0

    &__results
      border none
