.channel-container--alpha
  h2
    text-align center
    color lightgray
    font-weight normal
    padding 0 0 unit * 2
  &__focus
    border-top 1px solid bordergray
    border-bottom 1px solid bordergray
    margin 0 (unit / 2) (unit * 3)
    h5
      color lightgray
    &__inner
      padding unit 0
      text-align center
      .form__field__channel-filter
        display none
      .grid
        justify-content center
.alpha
  padding 0 (unit/2) (unit * 2)
  column-count 3
  column-gap unit * 3
  +tablet()
    column-count 2
  +mobile()
    column-count 1
    padding 0
  &__group
    padding 0 0 (unit * 2)
    break-inside avoid
    &__letter
      color lightgray
      font-weight normal
      border-bottom 1px solid bordergray
      margin-bottom 5px
      padding-bottom 5px
    &__channel
      max-width 100%
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      font-size 15px
      +tablet()
        font-size 14px