.channel-container--alpha
  h2
    text-align center
    color lightgray
    font-weight normal
    padding 0 0 unit * 2
  &__focus
    margin 0 (unit / 2) (unit * 3)
    h5
      color lightgray
    &__inner
      padding unit 0
      text-align center
      .form__field__channel-filter
        display none
      .grid
        justify-content center
        &__block
          max-width 400px

.alpha
  padding 0 (unit/2) (unit * 2)
  column-count 1
  column-gap unit * 3
  +tablet()
    column-count 1
  +mobile()
    column-count 1
    padding 0
  &__group
    padding 0 0 (unit * 2)
    break-inside avoid
    &__letter
      color lightgray
      font-weight normal
      border-bottom 1px solid bordergray
      margin-bottom 5px
      padding-bottom 5px
    .list-item__connection
      margin (unit) 0