.channel-container--infinite
  position relative
  padding-bottom 200px
  height auto
  min-height 100vh

@require '../components/index/index.styl'
@require '../components/channels/index.styl'
@require '../components/tips/index.styl'
