a.premium-badge
  position absolute
  display inline-block
  letter-spacing 0px
  font-size 13px
  line-height 19px
  padding 9px 2px 0px 9px
  antialiased()
  color success

  &:hover
    cursor pointer
    color transparent

    &:after
      content url('../images/premium.svg')
      color hovergray
      font-weight 400
      vertical-align top
      position absolute
      top 12px
      left 10px