.manage__block,
.manage__block__collection__header
  display flex
  flex-direction: row
  justify-content: space-between
  overflow: auto
  padding: 20px 0
  border-top: 1px solid #EFEFEF
  margin: 0 10px

.manage__block__collection__header
  font-weight: bold

.manage__block__column
  width: 200px
