.ConfirmableMessage
  span
    | Please check your email to confirm your account

  a.Button.Button--compact( href='mailto:help@are.na?subject=Account+confirmation+problem' )
    | Didn&rsquo;t get it?
