.ConfirmableMessage
  span
    | Please check your email to confirm your account.
    | &nbsp;

  if displayLink
    a( href='mailto:help@are.na?subject=Account+confirmation+problem' )
      | Didn&rsquo;t get it?
