.PremiumCTABlock.grid__block
  .PremiumCTABlock__message
    span
      | You&rsquo;ve reached your limit of free private blocks

  a.PremiumCTABlock__button.Button.Button--invisible( href='/settings/billing' )
    | Register for Premium
