.LoggedInNavigation.js-logged-in-navigation
  include ./components/channel_create/index

  .NotificationsComponent.js-notifications
    include ./components/notifications/index

  include ./components/user_dropdown/index
