@require '../../layout/variables'

.mention-quicksearch
  position absolute
  display none
  top -10px
  left 0px
  width 300px
  text-align left
  z-index 9001

.mention-quicksearch__content
  position absolute
  bottom 0
  width 100%
  border 1px solid bordergray

.mention-quicksearch .mention-quicksearch__user
  background-color white
  margin 0 !important

  a
    display block
    padding 12px 10px
    font-family font_sans
    font-weight normal

  &:hover, &.is-highlighted
    background-color: backgroundgray
