+mobile()
  .settings
    .tab--container
      display none

    .tab-content
      display block

      &__title
        display block
        text-align center
        font-weight normal
        font-size font-size-h3
        margin 4em 1em 1em 1em

        &:first-child
          margin-top 0
