@import '../../../node_modules/jeet/stylus/jeet'
@import '../../layout/variables'

.block-collection
  text-align center
  cf()

.block
  display inline-block
  margin 0 10px 80px 10px
  overflow: hidden
  vertical-align top

  .block__inner
    width 330px
    height 330px
    background-size: contain
    background-position: center center
    background-repeat: no-repeat
    border: 1px solid transparent
    position relative

  colors = 'closed' closed, 'public' public, 'private' private
  for color in colors
    &{'.block--channel .block--privacy-' + color[0]}
      border: 1px solid color[1]

  &.block--user .block__inner
    border 1px solid textgray

  hr
    border: 1px solid #eee

  .block__content
    line-height: 1.6
    font-size: 18px
    font-weight 100
    overflow: hidden
    text-overflow: ellipsis
    max-height: 330px
    text-align: left
    font-family serif

    img
      max-height 330px
      width auto
      max-width 330px
      vertical-align middle

    p
      margin 0.6em 0

    a
      text-decoration: underline

  .block__overlay
    opacity: 0
    pointer-events: none
    background: #fff
    background-position: center
    background-size: 40%
    background-repeat: no-repeat

    colors = 'closed' closed, 'public' public, 'private' private
    for color in colors
      &{'.block__overlay--privacy-' + color[0]}
        border: 1px solid color[1]

  &:hover .block__overlay
    opacity: 1
    pointer-events: auto

.block__title
  position relative
  font-size 12px
  font-weight 700
  text-align center
  margin 15px 0 0 0
  bottom 0
  width 100%
  white-space nowrap

.block__channel-title, .block__user-avatar, .block__image
  position absolute
  width 100%
  height 100%
  display table

.block__channel-title__inner, .block__user-avatar__inner, .block__image__inner
  display table-cell
  width 100%
  height 100%
  vertical-align middle
  text-align center

.block__text
  font-size 15px
  font-weight 400
  margin: 0.5em 0
  font-family serif

// @media (max-width: 1500px)
//   .block .block__inner
//     width 270px
//     height 270px

// @media (max-width: 1023px)
//   .block .block__inner
//     width 230px
//     height 230px

// @media (max-width: 408px)
//   .block .block__inner
//     width 200px
//     height 200px
