/* GENERAL */
.grid
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  -webkit-flex-flow row wrap
  -moz-flex-flow row wrap
  -ms-flex-flow row wrap
  flex-flow row wrap
  align-items center

.grid--feed
  -webkit-justify-content center
  justify-content center

.grid__block
  flex 1 1 285px
  -webkit-flex 1 1 285px
  -ms-flex 1 1 285px
  max-width 315px
  text-align center
  margin 0 10px 90px 10px
  position relative
  display inline-block
  background #fff
  user-select none

  &:hover
    cursor pointer

  .tooltip
    width 120px
    left -47px

.block-padding
  padding-top 100%

.grid__block__inner:hover, .grid__block__inner.is-active
  border 1px solid bordergray
  cursor pointer

  .grid__block__overlay
    opacity 1
    pointer-events all

  .grid__block__author
    visibility visible

.grid__block__inner.is-active
  border 1px dashed bordergray

body.is-mobile .grid__block__inner:hover, body.is-mobile .grid__block__inner.is-active
  .grid__block__overlay
    opacity 1

.grid__block__content
  height 100%
  width 100%

.grid__block--block .grid__block__inner, .grid__block--loading .grid__block__inner
  background-size 80px 80px
  background-image linear-gradient(
    45deg,
    rgba(bordergray, 0.5)   25%,
    transparent             25%,
    transparent             50%,
    rgba(bordergray, 0.5)   50%,
    rgba(bordergray, 0.5)   75%,
    transparent             75%,
    transparent
  )
  -webkit-animation loading 0.5s linear infinite
  animation loading 0.5s linear infinite

@keyframes loading
  from
    background-position 0 0
  to
    background-position 160px 80px

.grid__block__inner
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  border 1px solid #fff

.grid__block--placeholder.loading .grid__block__inner
  border 1px dashed bordergray

.grid__block__author
  visibility hidden

body:not(.is-mobile) .grid__block:hover
  .grid__block__author
    visibility visible

  .grid__block__title
    display none

.is-mobile .grid__block:hover
  .grid__block__author
    visibility hidden

  .grid__block__title
    display static

.grid__block__title, .grid__block__author
  color lightgray
  font-size s_caption
  font-weight bold
  text-align center
  padding 20px 0 5px 0
  left 0
  position absolute
  width 100%
  white-space nowrap
  line-height 1.2

  &:hover
    color lightgray

  svg
    position absolute
    margin -2px 0 0 7px

.grid__block__overlay
  opacity 0
  pointer-events none
  background-position center
  background-size 40%
  background-repeat no-repeat
  cursor pointer
  display flex
  justify-content center
  align-items center

.block-item__bottom-buttons
  position absolute
  width 100%
  bottom 0
  left 0
  display flex
  justify-content center

.button--inblock
  font-size 15px
  font-weight bold
  color textgray
  padding 18px 20px
  margin 1%
  background-color rgba(255,255,255, 0.85)
  cursor pointer
  width 125px
  &:hover
    color hovergray
    background-color rgba(255,255,255, 1)
  &--view
    width 150px

.grid__block--channel, .grid__block--user
  .button--inblock
    z-index 1
    border-top 1px solid bordergray
    background-color transparent

    &:hover
      border-top 1px solid textgray
      background-color transparent

.grid__block--user
  .button--inblock
    width 140px
    border-top 1px solid lightgrayplus

.grid__block__delete-block
  position absolute
  top 5px
  right 5px

  &:hover .grid__block__delete-block__confirm
    color #fff

privacy-color('.grid__block--channel .grid__block__inner--privacy-', border-color)
privacy-color('.grid__block--channel .grid__block__inner--privacy-', color)
privacy-color-border-hover('.grid__block--channel .grid__block__inner--privacy-', border-color)
privacy-color-hover('.grid__block--channel .grid__block__inner--privacy-', color)

.grid__block__content__image
  max-width 100%
  max-height 100%

.grid__block--text .valign-inner
  vertical-align top

.grid__block__content__text
  @extend .serif-text
  height 100%
  padding .8em 1em 0 1em
  p()
  overflow  hidden
  word-wrap break-word

  h1, h2
    font-size 1.3rem

  p
    p()
    margin unit auto 0


  a
    font-weight bold
    padding 0

  ul
    ul: 'square'

  ol
    ol()

  em, strong, blockquote, ul, ol
    padding 0

  hr
    rule()

  blockquote
    margin 10px 0 10px 2px
    border-left 1px solid bordergray
    p
      padding 0 25px 0 10px

.button--delete-block
  width 28px
  height 28px
  line-height 32px
  font-size 12px
  color lightgray
  display none

  &:hover
    color alert

.grid.is-editable .button--delete-block,
.grid__block.can-edit .button--delete-block,
.grid__block.can-manage .button--delete-block
  display block

/* USER */
.grid__block--user:hover
  color hovergray

  .grid__block__inner
    border 2px solid lightgray

  &:hover
    .grid__block__author
      visibility visible

    .grid__block__title
      display none

.grid__block--user .grid__block__inner
  background-color backgroundgray
  border 2px solid lightgray

  h2
    height 60px
    margin 30px 0 0 0

  &:hover
    color hovergray
    border 2px solid bordergray

/* ATTACHMENT */
.grid__block__channel--attachment-bk
  background-color #EAEAEA
  .iconic-property-fill
    fill textgray

/* CHANNEL */
.grid__block--channel
  h2
    font-weight normal
    padding 15px 12px 0 12px
    word-break break-word

  .grid__block__content, .valign-inner, .valign-outer
    width 100%

  .grid__block__inner
    border-width 2px

  .button--inblock
    color inherit
    border-color inherit

    &:hover
      color hovergray

  &:hover
    .grid__block__channel__stats
      visibility visible

.is-mobile .grid__block--channel
  &:hover
    .grid__block__channel__stats
      visibility hidden

.grid__block__channel__stats
  visibility hidden
  font-weight normal
  line-height 1.5em
  font-size s_caption + 1
  height 25px
  margin 5px 0 0 0

.grid__block__mini-feed
  display none
  font-size s_caption
  padding-top 135px
  font-weight bold
  color textgray

  span
    padding 0 5px

/* COMMENT */
.grid__block__content__comment
  height 100%
  background-color backgroundgray
  padding 0 1.1em 0 1.1em
  border-top 1px solid lightgray

  p
    @extend .serif-text
    font-size s_caption + 1
    padding 15px

/* CONNECT */
.grid__block__connect-container
  position absolute
  overflow hidden
  word-break break-word
  border 1px solid #fff
  z-index 10

.grid__block__connect-container
  pointer-events none
  opacity 0
  background-color #fff

  &.is-active
    opacity 1
    pointer-events all

// COMMENTs
.grid__block__comment-count
  position absolute
  bottom (unit / 2)
  right (unit / 2)
  width unit * 1.5
  height unit * 1.5
  line-height unit * 1.5
  font-size .8rem
  text-align center
  background-color rgba(255,255,255, 0.85)

  &:hover
    background-color rgba(255,255,255, 1)

@media (max-width:(block_width_mar * 3))
  .grid
    -webkit-justify-content center
    justify-content center

+mobile()
  .grid__block
    margin 0 0 80px 0

  .grid__block__overlay
    opacity 1

    .button--inblock
      display none

  .grid__block--text .grid__block__inner
    border 1px solid lightgrayplus

  .is-mobile .grid__block:hover .grid__block__inner .grid__block__title, .is-mobile .grid__block__title
    display static !important

@require '../../lightbox/stylesheets/lightbox'
@require '../../connect/stylesheets/connect'
