@import '../../../node_modules/jeet/stylus/jeet'
@import '../../layout/variables'

.grid
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  -webkit-justify-content
  justify-content flex-start
  -webkit-flex-flow row wrap
  -moz-flex-flow row wrap
  -ms-flex-flow row wrap
  flex-flow row wrap

.grid.grid--feed
  justify-content center

.grid__block
  flex 0 0 30%
  max-width 330px
  min-width 330px
  text-align center
  margin 0 10px 60px

// don't display non processed blocks
.grid__block--block
  display none

.grid__block--text .valign-inner
  vertical-align top

.grid__block__inner
  width 100%
  height 330px
  position relative
  overflow hidden

privacy-color('.grid__block--channel .grid__block__inner--privacy-', border-color)

.grid__block__content__image
  max-width 100%
  height auto
  max-height 330px

.grid__block__content__text
  @extend .serif-text
  padding 0.5em

  a
    font-weight 100

.grid__block__overlay
  opacity: 0
  pointer-events: none
  background: #fff
  background-position: center
  background-size: 40%
  background-repeat: no-repeat
  transition opacity 0.1s

.grid__block:hover .grid__block__overlay
  opacity 0.9
  border 1px solid lightgrayplus

.grid__block.grid__block--text:hover .grid__block__overlay
  background-color rgba(255,255,255, 0.9)

.grid__block.grid__block--channel:hover .grid__block__overlay, .grid__block.grid__block--user:hover .grid__block__overlay
  background-color rgba(255,255,255, 0.9)

// privacy-color('.grid__block__overlay--privacy-', border-color)

.grid__block__mini-feed
  font-size 12px
  padding-top 20px
  font-weight 800
  color #000

  span
    padding 0 5px

.grid__block__title
  position relative
  font-size 12px
  font-weight 700
  text-align center
  margin 15px 0 0 0
  bottom 0
  width 100%
  white-space nowrap


@import '../../lightbox/stylesheets/lightbox'