.manage__block__column 
  width: 200px
  float: left

.manage__block,
.manage__block__collection__header
  clear: both
  clear: both;
  overflow: auto;
  padding: 20px 0;
  border-top: 1px solid #EFEFEF;