.HomeExplore
  a.HomeExplore__overlay( href='/explore' )
    h2.Type.Type--size-h2 See what people on Are.na are up to right now
    .Button.Button--size-lg.Button--border-heavy( class=button_class href='/explore' )
      | Explore

  .HomeExplore__blocks
    - disableFilter = true
    - blocks = explore_blocks
    include ../../../../components/blocks/container/templates/index
