.HomeSection__content.HomeQuotes
  .HomeQuotes__quotes
    h2.Type.Type--size-h2.Utility--align-center Tune out the noise
    .HomeQuotes__quote
      .HomeQuotes__copy 
        | “In the groundswell of anger and suspicion toward social media platforms, #[span Are.na feels like a necessary antidote].”
        br
        br
        | - <a href="https://www.fastcompany.com/90166456/the-ad-free-user-owned-future-of-social-media" target="_blank">Co.Design</a>
    h2.Type.Type--size-h2.Utility--align-center No ads, no likes, no distractions
    .HomeQuotes__quote
      .HomeQuotes__copy 
        | “Are.na is building a network of content, ideas, and the people that have them. #[span By removing ads and ego-stroking ‘likes,’ Are.na frees up space for creativity.]”
        br
        br
        | – <a href="https://www.artsy.net/article/artsy-editorial-artists-teaching-internet-mindfully" target="_blank">Artsy</a>
    h2.Type.Type--size-h2.Utility--align-center Spend your screen time learning
    .HomeQuotes__quote
      .HomeQuotes__copy 
        | “#[span Are.na’s whole vibe makes you want to be smarter], dig deeper, participate in collective knowledge” 
        br
        br
        | - <a href="https://twitter.com/pieratt/status/926119085112463360" target="_blank">Ben Pieratt, Designer and founder of Svpply</a>
