h2.OnboardingWelcome__headline.Type.Type--size-h2
  | Welcome to Are.na

h2.OnboardingWelcome__subheadline.Type.Type--size-h2
  | Start creating channels, saving content, and making connections.

.OnboardingWelcome__cta
  a.Button.Button--size-lg.js-next( href='/welcome/channels' )
    | Quick Guide

  a.OnboardingWelcome__cta__skip.js-skip( href="/#{user.slug}" )
    span(class='iconic iconic-sm' data-glyph='x' title='x' aria-hidden='true')
