h2.OnboardingWelcome__headline.Type.Type--size-h2
  | Welcome

h2.OnboardingWelcome__subheadline.Type.Type--size-h2
  | You can now use Are.na to connect anything you find online, privately or with others.

.OnboardingWelcome__cta
  a.Button.Button--size-lg.js-next( href='/welcome/channels' )
    | Quick Guide

  a.OnboardingWelcome__cta__skip.js-skip( href="/#{user.slug}" )
    span(class='iconic iconic-sm' data-glyph='x' title='x' aria-hidden='true')
