mixin onboardingStepsSubsection(ids)
  ol.OnboardingSteps__subsection(
    class=( state.isActive(ids) ? 'OnboardingSteps__subsection--active' : '')
  )
    block

mixin onboardingStep(id, label, active)
  if state.isAvailable(id)
    li.OnboardingStep(
      class=(active || state.get('scene') === id ? 'OnboardingStep--active' : '')
    )
      a( href="/welcome/#{id}" )
        = label

      if block
        block

ol.OnboardingSteps
  +onboardingStep('channels', 'Channels', state.isActive(['channels', 'searching']))
    +onboardingStepsSubsection(['channels', 'searching'])
      +onboardingStep('channels', 'Creating New Channels')
      +onboardingStep('searching', 'Finding Existing Channels')

  +onboardingStep('connecting', 'Connecting')
  +onboardingStep('profile-and-feed', 'Profile and Feed', state.isActive(['profile-and-feed', 'feed', 'explore']))
    +onboardingStepsSubsection(['profile-and-feed', 'feed', 'explore'])
      +onboardingStep('profile-and-feed', 'Profile')
      +onboardingStep('feed', 'Feed')
      +onboardingStep('explore', 'Explore')

  +onboardingStep('save-to-arena', 'Save to Are.na')
  +onboardingStep('find-friends', 'Find Friends')
