mixin onboardingStepsSubsection(ids)
  ol.OnboardingSteps__subsection(
    class=( state.isActive(ids) ? 'OnboardingSteps__subsection--active' : '')
  )
    block

mixin onboardingStep(id, label, active)
  if state.isAvailable(id)
    li.OnboardingStep(
      class=(active || state.get('scene') === id ? 'OnboardingStep--active' : '')
    )
      a( href="/welcome/#{id}" )
        = label

      if block
        block

ol.OnboardingSteps
  +onboardingStep('channels', 'Channels', state.isActive(['channels', 'searching']))
    +onboardingStepsSubsection(['channels', 'searching'])
      +onboardingStep('channels', 'What’s a channel?')
        .OnboardingStep__caption
          | Channels are the collections of content that make up Are.na. They can be open to everyone, closed to collaborators only, or completely private.

      +onboardingStep('searching', 'Finding and adding to channels')
        .OnboardingStep__caption
          | Create your own channels or share them with other members. You can add anything you see on Are.na to any open channel.

  +onboardingStep('connecting', 'Connecting')
    .OnboardingStep__caption
      | You can add almost anything to a channel. Drag and drop files, paste a link, or try the Are.na bookmarklet. Once you’re on Are.na, just click “Connect” on anything to add it to another channel.

  +onboardingStep('profile-and-feed', 'Browsing Are.na', state.isActive(['profile-and-feed', 'feed', 'explore']))
    +onboardingStepsSubsection(['profile-and-feed', 'feed', 'explore'])
      +onboardingStep('profile-and-feed', 'Profile')
        .OnboardingStep__caption
          | Your profile shows all of your channels and connections in one place.

      +onboardingStep('feed', 'Feed')
        .OnboardingStep__caption
          | Your feed shows new connections by everyone you follow on Are.na.

      +onboardingStep('explore', 'Explore')
        .OnboardingStep__caption
          | Explore shows connections and channels made by everyone on Are.na, in real time.

  +onboardingStep('save-to-arena', 'Save to Are.na')
    .OnboardingStep__caption
      | The Are.na bookmarklet lets you save content from any web page to your channels in a few clicks.

  +onboardingStep('find-friends', 'Find Friends')
