.channel-privacy
  font-size s_caption
  font-weight bold
  line-height 1.5

  &__description
    font-weight normal
    padding 0 0 (unit / 2) 

  label
    font-weight normal

  .breadcrumb li
    float none
    display inline-block
    color lightgray

    &:hover
      color hovergray
