.channel__privacy--setting
  font-size s_caption
  font-weight bold
  text-align center
  line-height 2

  label
    font-weight normal

  .breadcrumb li
    float none
    display inline-block
    color lightgray

    a.is-active, &:hover
      color hovergray