.block-collection--list
  width 100%
  &__header, .block-item
    display flex
    font-size s_small
    color textgray
    display -webkit-box
    display flex
    flex-direction row
    justify-content left
    align-items center
    position relative
  &__header
    color lightgray
    border-bottom 1px solid bordergray
  &__column
    width 200px
    padding (unit / 2)
    vertical-align middle
    font-size s_small
    &--thumb
      text-align center
      max-width 80px
      flex 1
    &--title
      min-width 500px
      flex 5
    &--source
      min-width 100px
      flex 1
      cursor pointer
    &__source:hover
      color hovergray
    &--follow
      min-width 100px
      flex 1
    &--connect
      min-width 100px
      flex 1
    &__connect, &__follow
      font-weight bold
      @extend .inline-link
    &--date
      min-width 100px
      flex 2
    &__comment-count
      position relative
      margin-left (unit / 2)
      vertical-align text-bottom
    &__comment-count:after
      content attr(data-count)
      position absolute
      top 0px
      left 0px
      font-size 9px
      width 100%
      text-align center
      color white
    &__user
      .user__avatar
        margin 0 auto
        background backgroundgray
      .user__avatar--thumb .user__avatar__image
        top 0
    &__user-icon
      color lightgray
    .connect-container
      margin-top -(unit)
    img
      max-width unit * 2
      max-height unit * 2
      margin 0 auto
    a
      font-weight bold
    &:last-child
      padding-right 0px
    &[data-attr="icon"]
      text-align center
    &__small
      font-size s_caption
      padding-top 10px
    &__channel-icon
      width unit * 2
      height unit * 2
      border 3px solid black
      margin 0 auto
      &.privacy--closed
        border-color closed
      &.privacy--public
        border-color public
      &.privacy--private
        border-color private

  &__row
    border-bottom 1px solid bordergray
    cursor pointer
    height (unit * 3)
    &--placeholder
      border-bottom 1px dotted bordergray
    &--loading
      background-size 80px 80px
      background-image linear-gradient(
        45deg,
        rgba(bordergray, 0.5)   25%,
        transparent             25%,
        transparent             50%,
        rgba(bordergray, 0.5)   50%,
        rgba(bordergray, 0.5)   75%,
        transparent             75%,
        transparent
      )
      -webkit-animation loading 0.5s linear infinite
      animation loading 0.5s linear infinite
    &:hover
      background-color secondbackgroundgray

@keyframes loading
  from
    background-position 0 0
  to
    background-position 160px 80px

@require 'new_block'