.block-collection--list
  &__column
    &--new-field
      flex 6
      padding (unit) unit !important
      color lightgray
      &__placeholder
        //
      &__field
        //
    &--new-button
      flex 1
      text-align center
      background-color secondbackgroundgray
      padding (unit) unit !important
      color lightgray
      button
        margin-top 0
        font-size s_small