input.Connect__search.Input(
  placeholder='Type Channel Name'
)

.Connect__header
  | Recent Channels

.Connect__channels
  a( href='#' )
    span
      | Joe Moe
      span.Separator
      span.Color--private
        | Private Channel
  a( href='#' )
    span
      | Joe Moe
      span.Separator
      span.Color--public
        | Public Channel
  a( href='#' )
    span
      | Joe Moe
      span.Separator
      span.Color--closed
        | Closed Channel
