extends ../../../../components/path/templates/tab_content

block vars
  - slug = 'general'

block content
  .tab-content__title
    | General

  .tab-content__frame
    .Page
      section.Section
        .Images
          .avatar-uploader.js-avatar-uploader

          .custom-badge-uploader.js-custom-badge-uploader
            //- rendered client side

        .js-user-settings
          //- rendered client side