.Dropdown
  position relative
  width block_width
  border 1px solid colors-gray-lighter
  outline-border(dropdown-border-width, colors-gray-border, dropdown-border-radius)
  background-color white

  .Button--divider
    margin 0 1em
    width auto
