.dropdown--menu
  cursor pointer
  padding 0 unit 0 0
  position relative

.dropdown--menu--user
  padding 0 unit 0 0

.dropdown
  position fixed
  display none
  top topbar_h
  right 0
  margin 0
  padding 14px 12px 0 0
  font-size 0.9em
  text-align left
  border-radius 0px
  z-index 3001
  background-color transparent

  &.dropdown--size
    width 310px
    right 0

.dropdown__inner
  border 1px solid lightgray
  background-color #fff

.dropdown__section
  font-size 1.2em
  padding 18px 20px 12px 20px
  border-top 1px solid secondbackgroundgray

.dropdown__link
  display block
  font-weight bold
  line-height: 1.5em;
  padding-bottom 6px

  &:not(.dropdown__link--channels):hover
    a
      color hovergray

.dropdown__text--small
  padding 0 0 0 11px
  font-size 13px
  line-height 1.9em
  color lightgray

.dropdown__link--profile
  border 0

.dropdown__link--premium
  color success

.dropdown__link--notifications
  &.has-notifications
    .notifications--count
      color alert

  .notifications--count
    position relative
    display inline

.dropdown__icon
  float right
  height 100%
  color #CACACA

  .iconic[data-glyph]:before
    font-size 14px

.dropdown--is_active
  .dropdown
    display block

  &:after
    position absolute
    width 300px

  .dropdown--menu__padder:after, .dropdown--menu__padder:before
    content ''
    display block
    width (unit * 1.5)
    height (unit * 1.5)
    position absolute
    top (unit * 1.5)

  .dropdown--menu__padder:after
    margin-left -(unit * 1.5)

  .dropdown--menu__padder:before
    right 0px