.DropdownSection
  position relative
  display block
  font-weight bold
  line-height 1
  margin 0 0 -1px 0
  border-bottom 1px solid colors-gray-lighter
  text-align left
  color colors-gray-text

  > .DropdownItem
    border-bottom none
    margin 0
