.Registration
  display flex
  flex-direction column
  align-items center
  justify-content center
  width 100%
  height 100vh

  &__logo
    collapsed-margins(fieldset-margin)

    // **
    > span:first-child
      display inline-block
      position relative
      font-size font-size-base
      width @font-size * 2
      height @font-size
      top 0.125em

      > svg
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        fill colors-gray-text

  &__form
    width block_width_mar
