.AboutPricingTable
  display flex
  flex-direction row

  &__tier
    flex-basis 50%

    &:first-child
      margin-right 0.5em
    &:last-child
      margin-left 0.5em

  &__header
    margin 1em 0
    line-height line-height-tall

    > h3
      margin 0
      font-weight bold
      font-size font-size-h3
      line-height 1
      text-align center

    > p
      margin 0.5em 0
      font-size font-size-base
      text-align center

  &__includes
    font-size font-size-base
    padding 1em 0 0 0

    > h4
      text-transform uppercase
      margin 0
      line-height line-height-tall

    > ul
      margin 0 0 1em 1em

      > li
        list-style-type disc
        color colors-gray-light
        line-height line-height-base

  // States
  &__tier
    &--premium
      &
      & *
      ul > li
        color colors-state-premium
