.AboutPricingTable
  .AboutPricingTable__tier
    header.AboutPricingTable__header
      h3.Type Basic
      p.Type FREE

    if user && !user.isPremium()
      button.Button.Button--size-lg.Button--fill( disabled )
        | Your current plan
    else if user && user.isPremium()
      button.Button.Button--size-lg.Button--fill( disabled )
        | Join Basic
    else
      a.Button.Button--size-lg.Button--fill( href='/sign_up' )
        | Join Basic

    .AboutPricingTable__includes
      h4.Type
        | Content

      ul
        li Add links to web pages, images, videos, PDFs, and even selected text using the bookmarklet
        li Upload any file type
        li Create text notes
        li Edit titles, add descriptions, and make comments

      h4.Type
        | Manage

      ul
        li Organize content Blocks within Open, Closed, or Private Channels
        li Add up to 100 Blocks in Private Channels
        li Add unlimited Blocks in public Channels
        li Connect related Channels

      h4.Type
        | Search

      ul
        li Search users, public Blocks and Channels

      h4.Type
        | Collaborate

      ul
        li Find friends who are already on Are.na
        li Export Channels as PDF, ZIP, and HTML
        li Create public links to Channels
        li Live Feed of users and channels you follow
        li Invite friends and colleagues to collaborate on specific Channels

      h4.Type
        | Customize

      ul
        li Profile page with customizable bio and links

      h4.Type
        | Support

      ul
        li Customer support via e-mail

  .AboutPricingTable__tier.AboutPricingTable__tier--premium
    header.AboutPricingTable__header
      h3.Type Premium
      p.Type
        | $5 / month or $45 / year

    if user && user.isPremium()
      button.Button.Button--size-lg.Button--fill.Color--state-premium( disabled )
        | Your current plan
    else
      a.Button.Button--size-lg.Button--fill.Color--state-premium(
        href=(user && user ? '/settings/billing' : '/sign_up')
      )
        | Join Premium

    .AboutPricingTable__includes
      h4.Type
        | Privacy

      ul
        li Unlimited Private Blocks
        li Hide from search engines

      h4.Type
        | Access

      ul
        //- TODO: [premium_2] Delete/alter copy
        li Early access to new products and features (mobile app coming this month)
