.LoggedOutCTA
  span
    | Are.na is a platform for collaborative research

  a.Button.Button--compact( href='/?ref=learn' )
    | Learn More

  a.LoggedOutCTA__close.js-close
    span.iconic.iconic-sm(
      data-glyph='x'
      title='x'
      aria-hidden='true'
    )
