.lo-cta
  .lo-cta__inner
    | Are.na is a platform for collaborative research
    a.lo-cta__inner__btn(href="/?ref=learn") Learn More
  .lo-cta__close: span(class="iconic iconic-sm" data-glyph="x" title="x" aria-hidden="true")