.LoggedOutCTA
  display flex
  flex-direction row
  justify-content center
  align-items center
  text-align center
  position fixed
  z-index header_z
  top 100%
  width 100%
  padding 1em
  border-top 1px solid colors-gray-border
  background-color white
  color colors-gray-text
  transition transform 100ms
  font-size font-size-lg
  line-height line-height-base
  transform translateZ(0)

  > .Button
    margin-left 2em

  &--visible
    transform translateY(-100%) translateZ(0)

  &__close
    position absolute
    top 0
    right 0
    line-height 1
    padding 1em
    color colors-gray-text
    font-size font-size-sm
    cursor pointer

    .iconic[data-glyph].iconic-sm:before
      font-size font-size-sm

    &:hover
      color colors-gray-hover

+mobile()
  .LoggedOutCTA
    flex-direction column

    > .Button
      margin-top 1em
      margin-left 0

.no-banner .LoggedOutCTA
  display none
