.block-collection
  for block in blocks
    div(class="block")
      .block__inner(class="block--privacy-#{ block.get('visibility') }", style=(block.has('image') ? "background-image:url( #{ block.getImageSize('display') })" : ""))
        .block__content.abs-fill
          - if(block.get('class') == 'Text')
            != block.get('content_html')
        .block__overlay.abs-fill(style=(block.has('image') ? "background-image:url( #{ block.getImageSize('display') })" : ""))
        p.block__title= block.get('title')