case block.get('class')
  when "User"
    include types/user.jade
  when "Channel"
    include types/channel.jade
  when "Media"
    include types/embed.jade
  when "Image"
    include types/image.jade
  when "Link"
    include types/link.jade
  when "Attachment"
    include types/attachment.jade
  when "Text"
    include types/text.jade
  default
    include types/block.jade