.manage__block__collection_header
  .manage__block__title.manage__block__column Title
  .manage__block__block_count.manage__block__column Length
  .manage__block__status.manage__block__column Status
  .manage__block__collaborator_count.manage__block__column Collaborators
  .manage__block__follower_count.manage__block__column Followers

for block in blocks
  include block_manage
