if block.get('class') === 'Link' || block.get('class') == 'Media'
  button.Button.Button--overlay.js-overlay-source
    | Source

if user.has('id')
  button.Button.Button--overlay.js-overlay-connect
    | Connect &rarr;
