constrain()
  for i in (1..8)
    @media (min-width: (block_width_mar * i) + unit)
      center(block_width_mar * i)

  @media (max-width: (block_width_mar * 3) + unit)
    // TODO: I'm not positive this does anything...
    center(90%)

.HTML
  &--font-size-invariant
    // 500px as defined in `layout/index.styl`
    // TODO: Remove the need for this
    @media (max-width: 500px)
      font-size font-size-root

  &--disabled-scrolling
    width 100%
    height 100%
    overflow hidden

.Container
  width 100%
  display flex
  min-height 100vh
  flex-direction column

  &__content
    flex 1

.Constrain
  constrain()

  &--narrow
    max-width (block_width_mar * 2)

.Page
  constrain()
  margin topbar_h auto
  padding 1em 0

  &--narrow
    max-width (block_width_mar * 2)
    padding 1em

.Blocks
  // Blocks have margins of `0 10px`
  // In collections of them, pull out the left and
  // right sides to be flush with the container
  margin-right -(unit / 2)
  margin-left -(unit / 2)
