@require '../../layout/legacy_variables'

grid-block-size = 19.5em
grid-block-gutter = 1em
layout-page-gutter = 2em
layout-narrow-width = grid-block-size * 2

layout-block-constrain()
  for i in (1..8)
    // Calculate the number of blocks that can fit with a `grid-block-gutter` gap between them
    layout-block-constrained-width = (grid-block-size * i) + ((i - 1) * grid-block-gutter)

    // Breakpoints for every constrained width
    @media (min-width: layout-block-constrained-width + (layout-page-gutter * 2))
      width layout-block-constrained-width
      margin-left auto
      margin-right auto
