extends ../../../../components/path/templates/tab_content

block vars
  - slug = 'billing'

block content
  .tab-content__title
    | Plan &amp; Billing

  .tab-content__frame
    .Narrow
      section.Section.js-premium-cta
        include ../../components/premium_cta/index

      section.Section.js-your-plan
        include ../../components/your_plan/index

      //- TODO: [premium_2] Delete this
      if user.get('is_premium')
        h5.Type.Type--size-h5: span.Color--state-premium
          | New Premium features (starting August 23, 2017)

        include ../../components/premium_cta/features

      if user.get('is_premium') && !customer.get('is_canceled') && !customer.get('is_lifetime')
        section.Section.js-cancel-plan
          include ../../components/cancel_plan/index
