extends ../../../../components/path/templates/tab_content

block vars
  - slug = 'billing'

block content
  .tab-content__title
    | Plan &amp; Billing

  .tab-content__frame
    | Plan &amp; Billing content
