extends ../../../../components/path/templates/tab_content

block vars
  - slug = 'billing'

block content
  .tab-content__title
    | Plan &amp; Billing

  .tab-content__frame
    .Narrow
      section.Section.js-premium-cta
        include ../../components/premium_cta/index

      section.Section.js-your-plan
        include ../../components/your_plan/index

      if user.get('is_premium') && !customer.get('is_canceled') && !customer.get('is_lifetime')
        section.Section.js-cancel-plan
          include ../../components/cancel_plan/index
