extends ../../../../components/path/templates/tab_content

block vars
  - slug = 'group_billing'

block content
  .tab-content__title
    | Group Billing

  .tab-content__frame
    .js-group-billing-component
      //- Rendered client-side