extends ../../../../components/path/templates/tab_content

block vars
  - slug = 'notifications'

block content
  .tab-content__title
    | Email Notifications

  .tab-content__frame
    | Email Notifications content
