extends ../../../../components/layout/index--bare

block vars
  - extraClasses = 'body--home'

block body
  include ./sections/landing
  include ./sections/pitch
  include ./sections/examples
  include ./sections/team
  include ./sections/labs
  include ./sections/footer

block scripts
  script( src=asset('/assets/root.js') )

  //- FB PIXEL
  script( type="text/javascript" ).
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1787430764872684');
    fbq('track', 'PageView');
  noscript
    img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1787430764872684&ev=PageView&noscript=1")
