header.LoggedOutHeader.js-logged-out-header
  a.LoggedOutHeader__logo( href='/' )
    span
      include ../../../../public/images/arena-mark.svg
    strong Are.na

  unless sd.CURRENT_PATH === '/'
    include ../components/menu/index

  .LoggedOutHeader__menu
      a( href='/pricing' data-id="pricing" ) Pricing

      a( href='/examples' data-id="examples" ) Examples

      a( href='/blog' data-id="blog" ) Blog

      if user
        a.js-log-out( href='/me/sign_out' data-id="log-out") Log out
      else
        a( href='/sign_up' data-id="sign-up") Sign up
        a( href='/log_in' data-id="log-in") Log in
