extends ../../../components/layout/index--bare

block vars
  - extraClasses = 'no-header no-messages'

block styles
  link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'getting_started' + sd.CSS_EXT) )

block body
  #getting-started--page
    .getting-started--container
      h1 Using Are.na
      .getting-started__column1
        .getting-started__column--inner
          img(src="../images/channel.png", alt="Channel")
        .getting-started__column--inner
          img(src="../images/block2.png", alt="Block")

      .getting-started__column2
        .getting-started__column--inner
          p #[strong Channels are collections of content.]
          p They can be #[span.privacy--public open] (anyone can see and add), #[span.privacy--closed closed] (anyone can see it, only you and your collaborators can add), #[span.privacy--private private] (only you and your collaborators can see and add).
        .getting-started__column--inner
          p #[strong Blocks are the content you connect to channels.]
          p A block can be a file or an image you upload, raw text, a link to a website, an embed (Vimeo, YouTube, SoundCloud, etc), a pdf, etc. A connection is made when a person puts a block in a channel.

    .getting-started--button.button--wide #[a(href="/explore") Start exploring &rarr;]
