extends ../../../components/layout/index--info

block vars
  - extraClasses = 'no-messages body--static'

block body
  .gs
    h1 Are.na / Getting Started
    .gs__body
      include ./slides/1-channels.jade
      include ./slides/2-blocks.jade
      include ./slides/3-connections.jade
      include ./slides/4-users.jade
      include ./slides/5-feed.jade
    .gs__profile
      a.btn(href="/") Go to your profile