extends ../../../components/layout/index--bare

block vars
  - extraClasses = 'no-header'

block styles
  link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'getting_started' + sd.CSS_EXT) )

block body
  #getting-started--page.valign-outer
    .valign-inner
      h1 Using Are.na

      .getting-started--column
        img(src="../images/channel.png", alt="Channel")

        .getting-started--column__caption
          li #[strong Channels are collections of content.]
          | They can be #[strong.privacy--public public] (anyone can see and add), #[strong.privacy--closed closed] (anyone can see it, only you and your collaborators can add), #[strong.privacy--private private] (only you and your collaborators can see and add).

      .getting-started--column
        img(src="../images/block.png", alt="Block")

        .getting-started--column__caption
          li
            #[strong Blocks are the content you connect to channels.]
          | A block can be a file or an image you upload, raw text, a link to a website, an embed (Vimeo, YouTube, SoundCloud, etc), a pdf, etc.

      .getting-started--column
        img(src="../images/connection.png", alt="Connection")

        .getting-started--column__caption
          li #[strong A connection is made when a person puts a block in a channel.]
          | Blocks can have an infinite number of connections and connections can be made to private and public channels.

      .getting-starte-button-container
        a.getting-started--button.button--wide(href="/explore") Start Exploring &rarr;
        a.getting-started--button.button--wide(href="/tools/find-friends") Find Friends &rarr;