// Base styles
@require '../components/layout/legacy_variables'
@require '../components/ui/variables'
@require '../components/layout/index'

// Component styles (in order of specificity)
@require '../components/ui/index'
@require '../components/block_collection/stylesheets/block_collection'
@require '../components/blocks/index'
@require '../components/connect/stylesheets/index'
@require '../components/image/index'
@require '../components/mention_quicksearch/stylesheets/mention_quicksearch'
@require '../components/comments/stylesheets/index'
@require '../components/modalize/stylesheets/index'
@require '../components/tooltip/stylesheets/index'
@require '../components/channel_visibility/stylesheets/channel_visibility'
@require '../components/connection_list/stylesheets/index'
@require '../components/connection_text_list/index'
@require '../components/filter/index'
@require '../components/block_v2/stylesheets/index'
@require '../components/logged_in_navigation/stylesheets/index'
@require '../components/add_block/index'
@require '../components/new_comment/index'
@require '../components/logged_out_nav/stylesheets/index'
@require '../components/premium_cta_block/index'
@require '../components/logged_out_cta/index'
@require '../components/searchable_input/index'
@require '../components/blog_post/index'
@require '../components/group_badge/index'

// remove asap
@require '../components/temp_channel_block_group/index.styl'

// App styles (in order of specificity)
@require '../apps/manage/stylesheets/index'
@require '../apps/getting_started/stylesheets/index'
@require '../apps/import/stylesheets/index'
@require '../apps/getting_started/stylesheets/index'
@require '../apps/about/stylesheets/index'
@require '../apps/examples/stylesheets/index'
