span.block-item.block-item--new.block-collection--list__row.block-collection--list__row--new(
  class="needsclick"
)
  .block-collection--list__column.block-collection--list__column--new-field
    .block-collection--list__column--new-field__field
      fieldset
        textarea.block-collection--list__column--new-field__textarea
    .block-collection--list__column--new-field__placeholder
      | Drop or #[span.pointer choose] files, paste a URL (image, video or link) or type text here
  .block-collection--list__column.block-collection--list__column--new-button
    button Add block &darr;

