include ../../../../avatar/templates/avatar.jade

.block-collection--list__row.block-item(
  id=block.id
  data-id=block.id
)
  .block-collection--list__column.block-collection--list__column--thumb
    .block-collection--list__column__user
      +avatar(block, 'thumb')
  .block-collection--list__column.block-collection--list__column--title
    a(href="#{block.getHref()}")= block.smartTruncate(block.title(), 50)
  .block-collection--list__column.block-collection--list__column--source
    .block-collection--list__column__user-icon
      .iconic(data-glyph="person-genderless")
  .block-collection--list__column.block-collection--list__column--action
    .block-collection--list__column__follow
      //- renderered on the client
  .block-collection--list__column.block-collection--list__column--date
    | #{block.updatedAtAgo()}
  .block-collection--list__column.block-collection--list__column--edit
    //- nothing