.AddBlock__hover
  textarea.Input.js-input( required )
    //-

  span
    | Drop or <a class='js-choose'>choose</a> files, paste a URL
    | (image, video, or link) or type text here

  .AddBlock__tip
    | shift + enter for line break

button.AddBlock__button.Button.Button--invisible.js-button( disabled )
  | Add block
