extends ../../../components/layout/index

block body
  include ./path
  .import.flex-container.tabs__content
    include ./tabs/browser
    include ./tabs/browser-2
    include ./tabs/pinboard
    include ./tabs/pocket

block scripts
  script( src=asset('/assets/import.js') )
