extends ../../../components/layout/index.jade

block body
  include ./path.jade
  .import.flex-container.tabs__content
    .import__header
      h3 Step 1 of 3
      h2 Export your bookmarks as an HTML file
    .import__body
      p To import your links to Are.na, start by exporting your bookmarks as an HTML file. 
      p We currently support importing data from Pinboard, Pocket, Diigo, Delicious and browser bookmarks.
      ul
        li: a.pointer(href="https://support.google.com/chrome/answer/96816?hl=en" target="_blank") Instructions for Chrome
        li: a.pointer(href="https://support.mozilla.org/t5/Basic-Browsing/Export-bookmarks-to-Safari/ta-p/3442" target="_blank") Instructions for Firefox
        li: a.pointer(href="http://in5stepstutorials.com/safari/export-safari-bookmarks-to-chrome-firefox-html-file.php" target="_blank") Instructions for Safari
        li: a.pointer(href="https://pinboard.in/howto/#export" target="_blank") Instructions for Pinboard links
        li: a.pointer(href="https://getpocket.com/export" target="_blank") Instructions for Pocket links

    .import__button
      a.btn(href="/import/upload") Next step &#10142;

block scripts
  script( src=asset('/assets/import.js') )
