extends ../../../components/path/templates/path_tabs

block path
  li.path__sub: span Import

block tabs
  +tab("import", "browser", "From browser bookmarks")
  +tab("import", "pocket", "From Pocket")
  +tab("import", "pinboard", "From Pinboard")
