.Connect__create
  display none
  position relative
  line-height 1
  padding input-padding
  color colors-channel-private
  border 1px solid colors-gray-lighter
  margin 0 0 -1px 0
  text-align center
  cursor pointer

  &:hover
    border 1px solid colors-gray-text
    z-index 1
