.Button
  &--divider
    display block
    width 100%
    padding button-padding
    border-top-width button-border-width
    border-right-width 0
    border-bottom-width 0
    border-left-width 0
    border-radius 0

    &:hover
      background-color transparent !important
      border-top-color colors-gray-hover !important
      color colors-gray-hover !important

    &:active
      border-top-color colors-gray-light !important
      border-right-width 0
      border-bottom-width 0
      border-left-width 0
      color colors-gray-light !important
