.metadata--container
  padding 0
  height auto
  font-size s_caption + 1
  
  a  
    font-weight bold
    color textgray
    
    &:hover
      color hovergray

.metadata--container__settings__done
  text-align center
  padding s_margin * 2 0
  display none

.settings-is-active .metadata--container__settings__done
  display block

.metadata__column
  display inline-block
  vertical-align top
  margin 0 20px 0 0
  width 225px
  height auto
  max-height 163px
  min-height 80px
  overflow hidden
  padding-bottom 10px
  line-height 1.5
  color textgray

  &:hover
    color hovergray

  &.is-settings
    display none
  
  &.is-expanded
    max-height none

  .channel__privacy--setting
    text-align left
  
  .metadata--selector__option--public
    color public

  .metadata--selector__option--private
    color private
  
  .metadata--selector__option--closed
    color closed

.settings-is-active .metadata__column.is-settings
  display inline-block

.metadata__title
  width 100%
  color lightgray

.metadata__text, .metadata__content
  width 100%
  font-weight normal
  color lightgray

.metadata--selector__option
  color lightgray
  font-weight bold
  hover-color hovergray

  &:hover
    color hovergray
  
  &.is-active
    color hovergray
    
    &:hover
      cursor default
    
.metadata__expand
  display none
  position absolute
  bottom 0
  width inherit
  height 40px
  font-weight bold
  background-color rgba(255,255,255,0.9)
  cursor pointer
  text-align center
  line-height 42px
  font-size s_caption + 1

  &:after
    content 'See all'

  &:hover
    color hovergray

  &.metadata__expand--text:after
    content 'Hide'