.Connect[data-state='active']
  border 5px solid colors-gray-border
  border-radius 0.25em

  .Connect
    &__header
      display none

    &__search
    &__channels
      border none

    &__channels
      margin-top -1px
