.Connect
  position relative
  font-size font-size-sm

  &__search
    box-shadow inset 0 0 0 1px colors-gray-light
    // Use border to inset the same amount as the wrapper
    border 5px solid white
    font-size @font-size
    &:focus
      border @border

  &__header
    text-align center
    color colors-gray-light
    margin 1em 0 0.5em 0
    cursor default

  &__channels
    border 5px solid colors-gray-border
    border-radius 0.25em
    background-color white

    > a
      position relative
      display block
      line-height 1
      padding input-padding
      border 1px solid colors-gray-light
      margin 0 0 -1px 0

      &:hover
        border 1px solid colors-gray-text
        z-index 1

      &[data-selected='true'] > span
        opacity 0.5
