extends ./layout

block title
  |  / Forgot password

block content
  form.AuthenticationForm.js-form( action='#{sd.API_URL}/accounts/passwords/forgot', method='post' )
    .Fieldset
      input.Input(
        name='email'
        type='email'
        placeholder='Email'
        required
        autofocus
      )

    .Errors.js-errors
      //-

    button.Button.Button--divider.js-submit
      | Reset password
