extends ../../../components/layout/layouts/blank

block meta
  != apollo.styles

block container
  #apolloMount
    != apollo.html

block scripts
  script.
    window.__APOLLO_STATE__ = !{JSON.stringify(apollo.state).replace(/</g, '\\u003c')};
  script( src= asset('/assets/auth.js') )
