.block-sidebar__section.block-sidebar__section--connect
  - s = connections.length === 1 ? '' : 's'
  - connectionLabel = connections.length === 0 ? 'Loading Connections…' : (connections.length + ' Connection' + s)

  .block-sidebar__separator#tab-connection-count
    = connectionLabel

  .js-connections-list
    for channel in connections
      .block-connection-outer
        include ../../../../components/connection_list/index

  .js-url-connections-list
    //- Rendered client-side

  if user
    .block-sidebar__section--connect__button
      .Button.Button--size-sm.js-connect
        | Connect &rarr;
