if connections && connections.length
  - s = connections.length == 1 ? '' : 's'
  .block-sidebar__separator(id="tab-connection-count") #{connections.length} Connection#{s}
  for channel in connections
    .block-connection-outer
      include ../../../../components/list_view/templates/_connection
  
  .tab-url-connections-list
    //- rendered on the client

