- s = connections.length === 1 ? '' : 's'
- connectionLabel = connections.length === 0 ? 'Loading Connections…' : connections.length + ' Connection' + s

header.BlockSidebar__header.js-connection-count
  = connectionLabel

.BlockConnectionsList.js-connections-list
  if connections.length
    for channel in connections
      include ../../../../components/connection_list/compact
  else
    include ../../../../components/connection_list/placeholder

.BlockConnectionsList.js-url-connections-list
  //- Rendered client-side

.BlockConnect
  if user && user.has('username')
    .Button.Button--size-sm.js-connect
      | Connect &rarr;
  else
    a.Button.Button--size-sm( href='/sign_up?ref=connect' )
      | Connect &rarr;