- function isActive(path) {
-   path = path.replace(/\/$/, ''); // Strip trailing slash
-   var currentPath = sd.CURRENT_PATH.replace(/\/$/, ''); // Strip trailing slash
-   return path === currentPath;
- };

- function activeState(path) { return sd && sd.CURRENT_PATH && isActive(path) ? 'active' : 'inactive'; };
