@import '../variables'

#layout-header
  position fixed
  top 0
  left 0
  height topbar_h
  line-height topbar_h
  width 100%
  background-color backgroundgray
  padding 0
  display flex
  justify-content space-between
  z-index header_z

  .header--icon svg
    width 50px
    height 50px
    line-height 1
    padding 15px
    outline none

    & *
      stroke textgray
      fill textgray

  .layout-header__search
    flex-grow 3
    position relative

    input#layout-header__search__input
      width 100%
      height 50px
      font-size 1em
      border none
      outline 0
      font-weight normal
      padding 0 container_pad 0 (container_pad / 2)

      &:focus
        background-color secondbackgroundgray
        transition(0.1s)

    .layout-header__search__results
      position absolute
      left 0
      width 100%
      display none
      box-shadow downshadow
      background secondbackgroundgray

    &.is-active .layout-header__search__results
      display block

    .search__results__list
      list-style-type none

    .search__results__result
      padding 4px 0 4px container_pad
      font-size 1em
      border-top 1px solid bordergray

    .layout-header__search__close
      position absolute
      right 20px
      font-size 22px
      top 0
      display none
      color lightgray

      &:hover
        color textgray

    &.is-loading .layout-header__search__close, &.is-active .layout-header__search__close, &.has-results .layout-header__search__close
      display block


  .right
    text-align right
    margin 0

  .logo
      padding 0 container_pad 0 container_pad

    .logo-icon svg
      display inline-block
      fill lightgray
      width 25px
      height 50px

    .logo-icon:hover
      svg
        fill hovergray

.dropdown--menu
  cursor pointer

.dropdown
  display none
  position absolute
  font-size 1em
  top topbar_h
  z-index 3001
  background-color secondbackgroundgray
  box-shadow downshadow

  &.dropdown--size
    width 300px
    right 0

  .dropdown__link
    display block
    padding 4px container_pad 4px container_pad
    border-top 1px solid bordergray

  .dropdown__notification a
    display block
    height 59px
    font-size caption
    padding 12px container_pad 0 container_pad
    border-top 1px solid bordergray
    line-height 18px
    background-color backgroundgray
    color private

    &:hover
      color hovergray

.dropdown--is_active .dropdown
  display block

.dropdown--menu__trigger:after
  content " ▾"
  color lightgray
  font-size caption
  vertical-align top
  margin-left 0.3em