@import '../variables'

#layout-header
  position fixed
  top 0
  left 0
  height topbar_h
  line-height topbar_h
  width 100%
  background-color backgroundgray
  padding 0
  display flex
  justify-content space-between
  z-index header_z
  transform translate3d(0, 0, 0)

  &.is-active, .has-results
    z-index header_z + 2

    .header--icon
      display none

.layout-header__search:hover .header--icon svg *
  fill hovergray
  stroke hovergray

.header--icon
  position absolute
  left 0
  top 0
  width 40px

  svg
    width 46px
    height 46px
    line-height 2em
    padding 18px 15px 12px 15px
    outline none

    .iconic-magnifying-glass-lg
      display none

    .iconic-magnifying-glass-md
      display none

    .iconic-magnifying-glass-sm
      display inline

    & *
      stroke lightgray
      fill lightgray

.layout-header__search
  flex-grow 3
  position relative

input#layout-header__search__input
  width 100%
  height 50px
  font-size 1em
  border none
  outline 0
  font-weight normal
  padding 0 container_pad 0 topbar_h
  background-color backgroundgray

  &:focus
    background-color secondbackgroundgray

.layout-header__search__results
  position absolute
  left 0
  width 100%
  display none
  background secondbackgroundgray

.layout-header__search.is-active
  .layout-header__search__results
    display block
  .header--icon
    display none

.search__results__list
  list-style-type none

.search__results__result
  padding 4px 0 4px 50px
  font-size 1em
  font-weight bold
  border-top 1px solid bordergray
  cursor pointer

  &:hover, &.is-active
    background-color backgroundgray

    li
      color hovergray

.search__results__see-all
  background-color bordergray

privacy-color('.search__results__result--privacy-', color)

.layout-header__search__close
  position absolute
  left 16px
  font-size 31px
  top 1px
  display none
  color lightgray

  &:hover
    color textgray

.is-active .layout-header__search__close, .has-results .layout-header__search__close
  display block

.layout-header__register
  padding 0 container_pad 0 container_pad
  a
    font-weight bold

.right
  text-align right
  margin 0

.logo-icon.dropdown--menu__trigger
  height topbar_h
  padding 0 22px 0 22px

.logo
  &.has-notifications .logo-icon
    svg
      fill alert

  .logo-icon svg
    display inline-block
    fill textgray
    width 25px
    height topbar_h

  .logo-icon:hover, &.dropdown--is_active .logo-icon
    svg
      fill hovergray

.dropdown--menu .user__avatar--thumb
  width 30px
  opacity 0.95

  &:hover
    opacity 1

  .user__avatar__image
    top 10px
    opacity 50%

.user-avatar
  &.has-notifications .notifications__flag
    display block

.notifications__flag
  display none
  position absolute
  width 18px
  height 18px
  margin 10px 0 0 12px
  font-size 11px
  color white
  line-height 18px
  font-weight bold
  text-align center
  z-index header_z
  background-color alert

.new-channel-dropdown
  display inline-block
  margin-right 20px

  .dropdown--menu__trigger:after
    content ""

.new-channel-btn
  height topbar_h
  font-size 13px
  line-height 53px
  color textgray
  border 0px solid bordergray
  text-align center
  margin 0 0 0 15px
  font-weight bold

  &:before
    font-size 11px !important
    top 0px !important

.dropdown--is_active .new-channel-btn, .new-channel-btn:hover
  border 0px solid lightgray
  color hovergray
  cursor pointer

.new-channel-btn--caption
  display inline-block
  vertical-align top
  margin -1px 0 0 6px

.dropdown--menu
  cursor pointer

.dropdown
  position absolute
  display none
  top topbar_h
  right 0
  margin 14px 12px 0 0
  font-size 0.9em
  text-align left
  border-radius 0px
  border 1px solid bordergray
  z-index 3001
  background-color secondbackgroundgray

  &.dropdown--size
    width 300px
    right 0

.dropdown__top
  background-color secondbackgroundgray
  
  .dropdown__link
    line-height 4em
    border-bottom 1px solid bordergray

.dropdown__bottom
  background-color bordergray
  padding 12px 0 12px 0
  font-size 0.9em

.dropdown__link
  display block
  padding 0 14px 0 14px
  line-height 2.6em
  font-weight bold
  border 0
  
  span
    color lightgray
  
  &:hover
    span
      color hovergray

  &.no-border
    border 0

.dropdown__link--notifications
  &.has-notifications
    color alert

  .notifications--count
    text-align right
    position relative
    float right

.dropdown__icon
  float right
  height 100%

/* 
  .dropdown__notifications
    width 100%
    height 160px
    overflow scroll
    -webkit-overflow-scrolling touch
    margin 0
    border-top 1px solid bordergray
    background-color secondbackgroundgray
    cursor default
    padding-top 10px

    .feed-group__sentence
      font-size s_caption
      margin 0
      color textgray

      a
        color textgray

        &:hover
          color hovergray

    .feed-group__sentence.is_unread
      color alert

      a
        color alert

    .feed-group__timestamp
      padding-top 5px
      text-align center
      color lightgray

  .dropdown__link--small
    line-height 3em
    font-size 12px
    font-weight normal
    color lightgray
    text-align center

    &:hover
      color lightgrayplus  
*/

.dropdown--is_active .dropdown
  display block

.dropdown--menu__trigger:after
  content ""

@media (max-width:410px)
  #layout-header
    position fixed

    li
      line-height 30px

  .logo-icon.dropdown--menu__trigger
    height topbar_h
    padding 0 15px 0 15px

  .layout-header__search__results
    position fixed
    overflow scroll
    width 100%
  input#layout-header__search__input
    padding 0 container_pad 0 40px

  .layout-header__register
    width 185px

  .new-channel-btn--caption
    display none
    
  .dropdown
    border 0
    border-bottom 1px solid lightgrayplus
  
    &.dropdown--size
      width 100%
      height auto
      margin 0

  .dropdown__icon
    float left
    margin-right 20px
    margin-left 5px

  .new-channel-dropdown__container
    width 100%
    height auto
    margin 0