case block.get('class')
  when "User"
    include types/user
  when "Channel"
    include types/channel
  when "Media"
    include types/embed
  when "Image"
    include types/image
  when "Link"
    include types/link
  when "Attachment"
    include types/attachment
  when "Text"
    include types/text
  when "Tip"
    include types/tip
  default
    include types/block