if block.get('class') === 'Link' || block.get('class') == 'Media' || block.get('attachment').extension === 'mp3' || block.get('attachment').extension === 'pdf'
  button.Button.Button--overlay.js-overlay-source
    | Source

if user.has('id')
  button.Button.Button--overlay.js-overlay-connect
    | Connect &rarr;
