- attachmentExtension = block.get('attachment') && block.get('attachment').extension

if block.get('class') === 'Link' || block.get('class') == 'Media' || attachmentExtension === 'mp3' || attachmentExtension === 'pdf'
  button.Button.Button--overlay.js-overlay-source
    | Source

if user.has('id')
  button.Button.Button--overlay.js-overlay-connect
    | Connect &rarr;
