.iconic.iconic-size-sm.edit-button(data-glyph="pencil")
.iconic.iconic-size-sm.delete-button(data-glyph="trash")
.tooltip
  | Are you sure?
  a.tooltip__choice(data-choice='destroy') Yes
  a.tooltip__choice(data-choice='cancel') No
.iconic.iconic-size-sm.check-button(data-glyph="check")