.OnboardingGuide
  .OnboardingGuide__pane
    include ../steps

    .OnboardingGuide__actions
      a.Button.js-next
        | Next

  .OnboardingGuide__pane
    p Your feed shows new connections by everyone you follow on Are.na.

    .OnboardingDemo
      <iframe src="https://player.vimeo.com/video/222230774?autoplay=1" width="1680" height="1050" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
