.OnboardingGuide
  .OnboardingGuide__pane
    ol.OnboardingSteps
      li.OnboardingStep
        | <span>1.</span> Channels
      li.OnboardingStep
        | <span>2.</span> Connecting
      li.OnboardingStep.OnboardingStep--active
        | <span>3.</span> Profile and Feed
      li.OnboardingStep.OnboardingStep--secondary
        | <span>3a.</span> Profile
      li.OnboardingStep.OnboardingStep--secondary.OnboardingStep--active
        | <span>3b.</span> Feed
      li.OnboardingStep.OnboardingStep--secondary
        | <span>3c.</span> Explore
      li.OnboardingStep
        | <span>4.</span> Save to Are.na
      li.OnboardingStep
        | <span>5.</span> Find Friends

    .OnboardingGuide__actions
      a.Button.js-next
        | Next

  .OnboardingGuide__pane
    p Your feed shows new connections by everyone you follow on Are.na.

    .OnboardingDemo
      video( loop muted )
        source(
          type='video/mp4'
          src='https://d2br4gmjd4xnka.cloudfront.net/1075834/b411d6ac221b73bedf53e9b286674b18.mp4'
        )
