.CollaboratorItem__representation
  .CollaboratorItem__avatar(
    data-initials= collaborator.initials()
  )
    img(
      src= collaborator.get('avatar_image').display
      alt= collaborator.initials()
      onerror='this.style.display="none"'
    )

  .CollaboratorItem__metadata
    .CollaboratorItem__name
      = collaborator.get('username')

    .CollaboratorItem__status
      = collaborator.get('hidden_email')

if isAddable
  .CollaboratorItem__actions
      button.Button.Button--size-xs.js-add
        | Add
