.Checkbox
  display flex
  align-items center
  justify-content center
  collapsed-margins(1em)

  &__check
    line-height 0
    margin-right 0.5em

    input[type='checkbox'] {
      appearance checkbox
    }

  &__label
    line-height 1
