.Label
  // Reset any styles that might be inherited from the base object
  // This property can be removed once the existing UI is retired
  all initial
  box-sizing border-box

  appearance none
  display inline-block
  margin input-padding
  font-family font_sans
  font-size font-size-sm
  antialiased()
  color colors-gray-text
  cursor default
