.HomeExample
  width 100%
  cover-seams()

  > iframe
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-color white

  &--a
    ratio-box(2880 / 1750)
    outline 1px solid colors-gray-border-bold

  &--b
    ratio-box(3286 / 1942)
    transform translateZ(0)

  &--c
    ratio-box(2604 / 1588)
    outline 1px solid colors-gray-border-bold
