.HomeHeader
  position fixed
  transform translateZ(0)
  display flex
  flex-direction row
  justify-content space-between
  top 0
  right 0
  left 0
  padding 1em
  font-size font-size-lg
  line-height 1
  z-index 1

  &__logo
    cursor default

    > span
      opacity 1
      transition opacity 250ms

    > svg
      position relative
      top 0.125em
      width auto
      max-height @font-size
      fill colors-gray-text

  &__cta
    opacity 0
    transition opacity 250ms

    &:hover
      opacity 1

    > a
      display inline-block
      padding 0 1em
      font-weight bold
