.HomeHero
  &__focus
    position relative
    padding 0 2em
    font-size font-size-h2
    margin 2em auto

  &__copy
    width 30%
    

  &__connect
    position absolute
    top (block_width / 2)
    left 50%
    transform translate(-50%, -50%)
