.HomeHero
  //

  &__focus
    position relative
    padding 2em

  &__demo-block
    display flex
    justify-content flex-start
    width block_width

    > .Block
      margin 0 0 block-b-margin 0

      // Hide default overlay buttons (Source / Connect)
      .Block__inner__overlay
      // Hide timestamp
      .Block__caption__meta__timestamp
        display none

      // Only display captions on hover
      .Block__caption
        display none
      &:hover
        .Block__caption
          display block

    &--hover
      opacity 0.5

      // :'(
      .Block__inner
        border-color colors-gray-border
      .Block__caption
      .Block__caption__meta
        display block !important
      .Block__caption__title
        display none

  &__connect
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    margin-top -(block-b-margin / 2)
