mobile_breakpoint = 1024px

.HomeHero
  &__focus
    position relative
    padding 0 2em
    font-size font-size-h2
    margin 2em auto

  &__content
    display flex
    width 100%
    flex-direction row
    justify-content center
    align-items flex-start
    flex 1
    padding 2em 1em

  &__copy
    width 25%
    margin-right 2em
    display flex
    flex-direction column
    align-items center
    align-self center

  &__cta
    width 100%
    margin-top 2em
    > .Button--app
      display none

  &__image
    width 60%
    align-self center
    
  &__connect
    position absolute
    top (block_width / 2)
    left 50%
    transform translate(-50%, -50%)

+below(mobile_breakpoint)
  .HomeHero
    &__content
      flex-direction column
      flex-flow column-reverse
    &__copy
      width 100%
      padding 0 1em
      margin-right 0
    &__cta
      text-align center
      > .Button
        display block
        margin 1em
    &__image
      display none
      margin-bottom 2em