mobile_breakpoint = 1024px

.HomeHowItWorks.HomeSection__content
  padding 1em 0 4em

.HomeHowItWorks
  border-top 1px solid colors-gray-border
  border-bottom @border-top

  &__carousel
    width 100%