mobile_breakpoint = 1024px

.HomeHowItWorks.HomeSection__content
  padding 1em 0 5em

.HomeHowItWorks
  border-top 1px solid colors-gray-border
  border-bottom @border-top

  &__carousel
    height 600px
    width 100%

+below(mobile_breakpoint)
  .HomeHowItWorks
    &__carousel
      height 400px