.Home
  img
    max-width 100%
    vertical-align bottom

@require './explore'
@require './hero'
@require './more'
@require './howitworks'
@require './quotes'
@require './section'
@require './responsive'
