.Home
  //

  img
  iframe
    max-width 100%
    vertical-align bottom
    // Hover artificating on Vimeo embeds
    transform translateZ(0)

  &--active
    .HomeHeader
      &__logo
        > span:last-child
          opacity 0

      &__cta
        opacity 1

@require './example'
@require './header'
@require './hero'
@require './next'
@require './section'
@require './split'
@require './to_fold'
@require './responsive'
