.home
  a.btn
    display inline-block
    text-align center
    font-weight bold
    border 2px solid black
    color black
    width unit * 9
    font-size 20px
    line-height 50px
    &:hover
      background-color black
      color white
    &--white
      border 2px solid white
      color white
      background-color transparent
      &:hover
        background-color white
        color textgray

  &--splash
    width 100%
    height 60vh
    margin-top topbar_h * 2
    position relative
    overflow hidden
    &__image
      position absolute
      top 50%
      right (unit * 3)
      transform translateY(-50%)
      width 50vw
      cursor pointer
      img
        box-shadow 0px 0px 20px rgba(68,68,68,0.1)
        max-width 100%
    &__copy
      position relative
      top 50%
      transform translateY(-50%)
      width (unit * 34)
      padding 0 (unit * 3)
      color black
      h1
        font-weight normal
        font-size 50px
    +below(1100px)
      height auto
      &__copy
        width 100%
        position static
        transform none
        text-align center
        margin-bottom (unit * 4)
        padding 0 (unit)
      &__image
        position static
        width 100%
        transform none
        margin-top unit
        img
          display block
          width 70%
          margin 0 auto
      +mobile()
        &__copy h1
          font-size 30px

  &--features
    max-width 900px
    margin (unit * 3) auto (unit * 4)
    font-size 16px
    &__learn-more
      text-align left
      padding (unit * 4) 0 (unit * 2)
      a.btn
        width 300px
        +mobile()
          width 100%
    h2
      text-align center
      font-weight normal
      color black
      margin-top 0
    &__row
      padding-top unit * 3
      &__copy
        display inline-block
        width 350px
        padding-right unit * 2
        vertical-align top
        line-height unit
        h2
          text-align left
          padding-bottom unit
        ul
          ul()
          padding-left 0
      &__thumbnails
        display inline-block
        width 550px
        img
          width 170px
          border 1px solid bordergray
          margin-right (unit / 2)
          &:hover
            border-color textgray
    +below(900px)
      margin-top (unit * 4)
      padding unit
      &__row
        &__thumbnails
          max-width 100%
          white-space nowrap
          overflow-x scroll
          margin-top unit
          padding unit 0
    +mobile()
      &__row
        &__copy
          width 100%
          padding-right 0

  &--posts
    &__headline
      text-align center
      font-weight normal
      color black
      margin-top 0
      margin-bottom unit * 2
    &__post
      background-position center center
      background-size cover
      height 590px
      h1
        font-size 50px
        line-height 60px
        font-weight normal
        margin 0
      &__overlay
        background-color rgba(0,0,0,0.35)
        width 100%
        height 100%
        &__content
          position relative
          top 50%
          transform translateY(-50%)
          color white
          text-align center

      +below(900px)
        height 390px
        h1
          font-size 30px
          line-height 40px
