.HomeMore
  &.HomeSection__content
    display flex
    flex-direction row
    position relative
    align-items stretch

  &__left, &__right
    flex 1
    background-size contain
    background-position center center
    background-repeat no-repeat

  &__left
    background-image url('https://d2w9rnfcy7mm78.cloudfront.net/1807276/original_fa89261f516897fae8d94dc3da63ace9.png')

  &__right
    background-image url('https://d2w9rnfcy7mm78.cloudfront.net/1807275/original_4962fd8ad8a1d8bfa889bcc1d82aeb54.png')

  &__copy
    flex 1
    width 470px

  &__cta
    margin-bottom 100px

  &__headline
    text-align center