.HomeNext
  position absolute
  bottom 0
  height 4em
  transform rotate(90deg)
  padding 1em
  opacity alpha(transparentify(colors-gray-text))

  > img
    max-height 100%
    max-width 100%

  &:hover
    opacity alpha(transparentify(colors-gray-hover))
