.HomeQuotes
  margin-bottom 6em

  &__cta
    margin-bottom 2em

   &__quote
    display flex
    flex-direction row
    width 100%
    margin 3em 0

  &__icon
    width 120px
    margin-right 1em
    text-align center

    > img 
      width 50%

  &__copy
    font-family 'Courier New', Courier, monospace
    font-weight bold
    font-size font-size-sm
    line-height line-height-tall
    max-width 475px

    > span 
      background-color rgb(255, 244, 107)