+below(1224px)
  // .Home
  //   //

  // .HomeHeader
  //   //

  // .HomeSection
  //   //

  .HomeSplit
    &__description
      max-width 100%

    &__pane > .Placeholder
        width 100%

+mobile()
  // .Home
  //   //

  // .HomeHeader
  //   //

  // .HomeSection
  //   //

  .HomeSplit
    flex-direction column

    &__pane
      collapsed-margins(1em)
      width 100%

      > .Placeholder
        width 100%

    &__description
      max-width 100%
