extends ../../../components/layout/layouts/blank

block scripts
  script( src= asset('/assets/about.js') )

block container
  include ../../../components/logged_out_nav/templates/header

  .Page.Page--narrow
    h2.Type.Type--size-h2.Utility--align-center Forms

    p.Type.Type--lg.Type--lh-tall
      ul.Type.Type--ul
        li <a href="https://s3.amazonaws.com/arena_static/Form+C+_When+It+Changed+Inc_unexecuted-2-SIGNED.pdf">Form C - 2018</a>
        li <a href="https://s3.amazonaws.com/arena_static/Form+C-AR+When+It+Changed+Inc._FINAL+2019.pdf">Form C-AR - 2019</a>
        li <a href="https://s3.amazonaws.com/arena_static/Form+C-AR+When+It+Changed+Inc._FINAL+2020.pdf">Form C-AR - 2020</a>


block footer
  include ../../../components/logged_out_nav/templates/footer
