extends ../../../components/layout/layouts/blank

block title
  | &nbsp;/ Roadmap

block meta
  != apollo.styles
  meta(name="twitter:title", content="Are.na / Roadmap")
  meta(name="twitter:url", content="#{sd.APP_URL}/roadmap")
  meta(property="og:title" content="Are.na / Roadmap")
  meta(property="og:url" content="#{sd.APP_URL}/roadmap")
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:image", content="https://d2w9rnfcy7mm78.cloudfront.net/1376369/large_11947b3f606f755fcbb21a4d31629638.jpeg?1509248320")
  meta(property="og:image" content="https://d2w9rnfcy7mm78.cloudfront.net/1376369/large_11947b3f606f755fcbb21a4d31629638.jpeg?1509248320")
  meta(name="twitter:description", content="Welcome to the Are.na roadmap. Here you can see what we’ve shipped recently, what we’re building next, and how we’re doing as a company.")
  meta(property="og:description" content="Welcome to the Are.na roadmap. Here you can see what we’ve shipped recently, what we’re building next, and how we’re doing as a company.")
  meta(name="Description" content="Welcome to the Are.na roadmap. Here you can see what we’ve shipped recently, what we’re building next, and how we’re doing as a company.")

block scripts
  script( src= asset('/assets/about.js') )

block footer
  include ../../../components/logged_out_nav/templates/footer

block container
  include ../../../components/logged_out_nav/templates/header
  
  #apolloMount
    != apollo.html

block scripts
  script.
    window.__APOLLO_STATE__ = !{JSON.stringify(apollo.state).replace(/</g, '\\u003c')};
  script( src= asset('/assets/about.js') )