.home-section.home-section--footer
  .home-section__inner
    h1.home-header
      a(href="mailto:info@are.na") info@are.na
    h1.home-header
      a(href="https://twitter.com/AREdotNA") Twitter
    h1.home-header
      a(href="https://www.instagram.com/aredotna/") Instagram
    h1.home-header.home-header__light
      a(href="/about/faqs") FAQs
    h1.home-header.home-header__light
      a(href="/getting-started") Getting Started
    h1.home-header.home-header__light
      a(href="/about/terms") Terms of Service
    h1.home-header.home-header__light
      a(href="/about/privacy") Privacy Policy
