.home-section.home-section--landing
  .home-section__inner
    .home-section__inner__diagram
      include ../../../../../public/images/feynman-arena.svg
    br
    h1.home-header.home-header__wide Fig.1 Forgotten facts can be recreated by triangulating from known facts
    .home-section__inner__buttons
      span.intro__button(data-client="auth" href="/sign_up") Sign up
      span.intro__button(data-client="auth" href="/log_in")  Login
      a.intro__button(href="/about") About
    img(
      data-src="#{sd.IMAGE_PATH}iconic/nav-arrow-l.svg"
      class="iconic iconic-sm home-arrow pointer"
      data-multiplier="1"
    )
