.home-section
  .home-section__inner
    h1.home-header Are.na is the simplest way to manage ideas
    br
    br
    h1.home-header.home-header__light clean and minimal interface
    h1.home-header.home-header__light no ads, social media buttons or algorithms
    h1.home-header.home-header__light multiple privacy settings
    h1.home-header.home-header__light supports most file types, URLs and embeds
    h1.home-header.home-header__light public API to show content offsite
    h1.home-header.home-header__light export collections as HTML, PDF or ZIP
    img(
      data-src="#{sd.IMAGE_PATH}iconic/nav-arrow-l.svg"
      class="iconic iconic-sm home-arrow pointer"
      data-multiplier="2"
    )
