.home-section.home-section--team.home-section__extended
  .home-section__inner
    .home-section--team__team
      h1.home-header Team
      br
      br
      ul
        li: h1.home-header.home-header__light: a(href="/charles-broskoski") Charles Broskoski
        li: h1.home-header.home-header__light: a(href="/daniel-pianetti") Daniel Pianetti
        li: h1.home-header.home-header__light: a(href="/chris-sherron") Chris Sherron
      br
    .home-section--team__advisors
      h1.home-header.home-header__light Advisors:
      h1.home-header.home-header__light.home-header__inline
        a(href="/morgan-sutherland")  Morgan Sutherland
        | ,
      h1.home-header.home-header__light.home-header__inline
        a(href="/damon-zucconi")  Damon Zucconi
        | ,
      h1.home-header.home-header__light.home-header__inline
        a(href="/dena-yago")  Dena Yago
        | ,
      h1.home-header.home-header__light.home-header__inline
        a(href="/daniel-brewster")  Dan Brewster
        | ,
      h1.home-header.home-header__light.home-header__inline
        a(href="/john-michael-boling")  John Michael Boling
        | &nbsp;and
      h1.home-header.home-header__light.home-header__inline
        a(href="/j-stuart-moore")  J. Stuart Moore
        | .
    br
    br
    br
    .home-section--team__labs
      h1.home-header Labs
      br
      br
      .home-section__inner__align-left
        h1.home-header.home-header__light
         | The Are.na team offers development and API consulting for professional applications
        br
        br
        h1.home-header.home-header__light
          | Right now, we are working on #[a(href="http://knightfoundation.org/grants/201551668/") a tool for exploring hypertext connections], with generous support from the #[a(href="http://knightfoundation.org") Knight Foundation].
        br
        br
        h1.home-header.home-header__light
          | Our most recent collaboration was with the #[a(href="http://guggenheim.org") Guggenheim Museum] to build the #[a(href="http://azone.guggenheim.org/") Azone Futures Market].
        br
        br
        h1.home-header.home-header__light
          | #[a(href="mailto:info@are.na") Contact us] if you'd like to learn more.

    img(
      data-src="#{sd.IMAGE_PATH}iconic/nav-arrow-l.svg"
      class="iconic iconic-sm home-arrow pointer"
    )
