
#save-page
  margin (s_margin * 2) auto
  max-width block_width * 2
  padding 0 (s_margin * 2)

.save-page__close
  position absolute
  top (s_margin * 2)
  left (s_margin * 2)
  color textgray

label.save-label
  text-align center
  margin (s_margin * 2) 0 0
  display block
  line-height 2

#save-content
  background-color white
  font-size 1.2rem

#save-tabs
  .grid__block
    margin-bottom 0
    border 2px dashed bordergray
  .grid__block--new-block .add-block__placeholder
    top 20%
  .flex-container
    max-width 100%

#save--connect
  margin s_margin

  .new-connection
    padding 0

.new-connection__search-results
  overflow hidden

.new-connection__search-result--save
  .breadcrumb
    position static !important

.new-connection__search-result--save.is-connected
  opacity 1 !important
  background #fff

  &:after
    position absolute
    right 6px
    top 12px
    content "✔"

  &:hover:after
    content "✕"

.is-saving .new-connection__search-result--save.is-connected
  background-size 80px 80px
  background-image linear-gradient(
    45deg,
    rgba(bordergray, 0.5)   25%,
    transparent             25%,
    transparent             50%,
    rgba(bordergray, 0.5)   50%,
    rgba(bordergray, 0.5)   75%,
    transparent             75%,
    transparent
  )
  -webkit-animation loading 0.5s linear infinite
  animation loading 0.5s linear infinite

.tab--container--save
  .tab--container__nav
    position relative
    width 100%

  .tab--container__nav__item
    padding 0 unit

    +below(800px)
      display inline-block
      width 50%
      padding 0 (unit/2)
      margin-right 0

@keyframes loading
  from
    background-position 0 0
  to
    background-position 160px 80px

#save--connect .new-connection__done-button.button--inblock.button--inblock--bottom
  position absolute
  bottom 0px
  left 0px
  width 100%
