.Utility
  &--align-left
    text-align left

  &--align-center
    text-align center

  &--align-right
    text-align right

  &--bordered
    border 1px solid colors-gray-border

.Placeholder
  background-color colors-gray-light
