section#main-path.channel-embed__header
  .path__inner.path
    .path__headline
      .channel-embed__header__title
        ul.path__breadcrumb
          li.channel-embed__header__title__author: a(href="/#{author.get('slug')}")= author.get('username')
          li.channel-embed__header__title__channel: a(href="/#{author.get('slug')}/#{channel.get('slug')}" class="privacy--#{channel.get('status')}")= channel.get('title')
      .channel-embed__header__logo
        a(href="/")
          include ../../../public/images/arena-mark.svg