if followers
  h2 No followers yet
else
  h2 Nothing here yet...
  h2 Go to #{channel.get('user').username}'s #[a(href="/#{channel.get('user').slug}") profile] or #[a(href="/explore") explore] recent public channels from other users