extends ../../../components/layout/index

block styles
  link( type='text/css', rel='stylesheet', href=('/assets/channel' + sd.CSS_EXT) )

block body
  .container
    include ../../../components/path/path
    include ../../../components/block_collection/block_collection

block scripts
  script( src='/assets/channel' + sd.JS_EXT )