extends ../../../components/layout/index.jade

block styles
  link(rel="alternate" type="application/rss+xml" title="Are.na / #{channel.get('title')} / Feed" href="#{channel.href()}/feed/rss/")

block body
  include _path.jade
  .channel-container
    .channel-contents
      - locals.title = channel.get('title')
      include ../../../components/blocks/container/templates/index.jade
    .channel-empty
      include _empty.jade

  if user
    .channel__filedrop.flex-container

  #l-infinite-loader-container
    #l-loader

block scripts
  script( src=asset('/assets/channel.js') )
