extends ../../../components/layout/index

block styles
  link(rel="alternate" type="application/rss+xml" title="Are.na / #{channel.get('title')} / Feed" href="#{channel.href()}/feed/rss/")

block body
  .channel
    include _path
    .channel-container
      .channel-contents
        - title = channel.get('title')
        include ../../../components/blocks/container/templates/index
      .channel-empty
        include _empty

    if user
      .channel__filedrop.flex-container

    #l-infinite-loader-container
      #l-loader

block scripts
  script( src=asset('/assets/channel.js') )
