extends ../../../components/layout/index

block styles
  link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'channel' + sd.CSS_EXT) )

block body
  include ../../../components/path/templates/path
  .grid(class= user && user.id == channel.get('user').id ? 'is-editable' : '')
    if channel && !following && !followers && user && user.canAddToChannel(channel)
      include ../../../components/new_block/templates/new_block
    include ../../../components/block_collection/templates/block_collection

  if user
    .channel--drop-zone.abs-fill
      .channel--drop-zone__progress.progress.abs-fill
      .inner
        h1.channel--drop-zone__instructions Drop files here to add to #{channel.get('title')}
        h1.channel--drop-zone__feedback Uploading file(s)...
      include ./filedrop

block scripts
  script( src=sd.ASSET_PATH + 'channel' + sd.JS_EXT )