extends ../../../components/layout/index

block styles
  link(rel="alternate" type="application/rss+xml" title="RSS Feed for #{channel.get('title')}" href="#{channel.href()}/feed/rss/")

block body
  include ./path
  if user && user.isPremium() && !following && !followers
    .flex-container
      - title = channel.get('title')
      include ../../../components/filter/templates/search_bar
  .channel-container
    .grid.grid--channel.flex-container(class= user && user.id == channel.get('user').id ? 'is-editable' : '')
      if channel && !following && !followers && user && user.canAddToChannel(channel)
        include ../../../components/new_block/templates/new_block
      include ../../../components/block_collection/templates/block_collection

    .channel-empty.valign-outer
      .valign-inner.center
        include ./empty

    .channel-results-container
      .grid.grid--channel-filter.flex-container
        //- rendered client side

  if user
    .channel__filedrop.flex-container

  #l-infinite-loader-container
    #l-loader

block scripts
  script( src=sd.ASSET_PATH + 'channel' + sd.JS_EXT )