extends ../../../components/layout/index

block styles
  link(rel="alternate" type="application/rss+xml" title="Are.na / #{channel.get('title')} / Feed" href="#{channel.href()}/feed/rss/")

block body
  include ./path
  if user && user.isPremium() && !following && !followers
    .flex-container
      - title = channel.get('title')
      include ../../../components/filter/templates/search_bar
  .channel-container
    .channel-contents
      include ../../../components/blocks/container/templates/index
    .channel-empty.valign-outer
      .valign-inner.center
        include ./empty

  if user
    .channel__filedrop.flex-container

  #l-infinite-loader-container
    #l-loader

block scripts
  script( src=asset('/assets/channel.js') )
