extends ../../../components/path/templates/path

block path
  li.path__username
    a(href="/" + author.get('slug'))=author.get('username')
  li.path__channel.channel(class="privacy-#{channel.get('status')}")
    if (followers || following)
      a(href="#{channel.href()}")= channel.get('title')
    else
      span(id="attribute-title_#{channel.id}")= channel.get('title')
  if followers
    li.path__sub Followers
  if following
    li.path__sub Following

block metadata
  .metadata
    include meta_pockets/description
    include meta_pockets/collaborators
    if user
      include meta_pockets/actions
      unless channel.get('status') == 'private'
        include meta_pockets/followers
      include meta_pockets/privacy
      include meta_pockets/share
      include meta_pockets/export
      include meta_pockets/delete

    if channel
      #metadata__column-manage.metadata__column.metadata__column--right(class= (user && user.canEditChannel(channel)) ? 'is-editable' : '')
        .toggle-settings-trigger.pointer: a Manage channel