extends ../../../components/path/templates/path

block path
  li.path__username
    a(href="/" + author.get('slug'))=author.get('username')
  li.path__channel.channel(class="privacy-#{channel.get('status')}")
      a(href="/" + author.get('slug') + '/' + channel.get('slug'))= channel.get('title')
  if followers
    li.path__sub followers
  if following
    li.path__sub following

block right
  if channel
    .channel-settings(class= (user && user.canEditChannel(channel)) ? 'is-editable' : '')
      a.toggle-settings-trigger.pointer Admin

block metadata
  .metadata
    include meta_pockets/description
    include meta_pockets/collaborators
    include meta_pockets/actions
    if channel.get('status') != 'private'
      include meta_pockets/followers
    include meta_pockets/privacy
    include meta_pockets/share
    include meta_pockets/export
    include meta_pockets/delete