extends ../../../components/path/templates/path

block path
  li.path__username
    a(href="/" + author.get('slug'))=author.get('username')
  li.path__channel.channel(class="privacy-#{channel.get('status')}")
      a(href="/" + author.get('slug') + '/' + channel.get('slug'))= channel.get('title')
  if followers
    li.path__sub followers
  if following
    li.path__sub following

block right
  if channel
    .channel-settings.show-info
      a(href="#") Show info
  if user && user.canEditChannel(channel)
    .channel-settings.edit-channel
      a.channel-settings__trigger(href="#") Edit channel
  else
    .channel-settings.follow_button.pointer
      a(data-type="Channel", data-id="#{author.id}")

block metadata
  .metadata
    .metadata__column
      .metadata__expand
      .metadata__title Description
        if channel.has('metadata')
          .metadata__text= channel.get('metadata').description
        else
          .metadata__text —
    .metadata__column#metadata--collaborators
      .metadata__expand
      .metadata__title
        | Collaborators
      .metadata__text
        //- rendered on the client
    if channel.get('status') != 'private'
      .metadata__column
        .metadata__title Followers
        .metadata__text: a(href="/" + author.get('slug') + '/' + channel.get('slug') + '/' + 'followers')= channel.get('follower_count')