.about-section.about-section--api
  h2.center API
  p Our public API can be used to both reading and writing data to and from Are.na.
  p Find out more at our #[a(href="https://dev.are.na") developer site].
