.about-section.about-section--labs
  h2.center Labs
  p The Are.na team offers development and API consulting for professional applications.
  p We recently launched a beta version of a tool for exploring hypertext connections called #[a(href="http://pilgrim.are.na") Pilgrim], with generous support from the #[a(href="http://knightfoundation.org") Knight Foundation].
  p Before that, our most recent collaboration was with the #[a(href="http://guggenheim.org") Guggenheim Museum] to build the #[a(href="http://azone.guggenheim.org/") Azone Futures Market].
