.about-section.about-section--labs
  h1 Labs
  p The Are.na team offers development and API consulting for professional applications.
  p Right now, we are working on #[a(href="http://knightfoundation.org/grants/201551668/") a tool for exploring hypertext connections], with generous support from the #[a(href="http://knightfoundation.org") Knight Foundation].
  p Our most recent collaboration was with the #[a(href="http://guggenheim.org") Guggenheim Museum] to build the #[a(href="http://azone.guggenheim.org/") Azone Futures Market].
