.about-section.about-section--pitch
  h1 About Are.na
  img(src="https://d2w9rnfcy7mm78.cloudfront.net/771163/original_30781f133683dce8e428ce974f5ec03e.jpg" class="no-border")
  p On Are.na, you organically combine images, links, files and texts into collections (we call them channels). Use it collaboratively, publicly or privately. Once you get the hang of it, its dead-simple to use for just about any idea.
  p Think of it as a connected archive of human knowledge.
  img(src="images/feynman-arena.svg" class="no-border")
