.about-section.about-section--pitch
  h1 About Are.na
  img(src="https://d2w9rnfcy7mm78.cloudfront.net/771163/original_30781f133683dce8e428ce974f5ec03e.jpg" class="no-border")
  p On Are.na you collect, connect and contextualize information collaboratively. People use it to save text, images, links, files, PDFs, etc into flexible containers called channels. Our users have started channels to gather materials for news articles, build business ideas, do academic research and start creative projects. 
  p Our intention behind starting Are.na is to build a platform that helps people continually recontextualize information into new ideas and help us understand the vast amount information we face on a daily basis. 
  p As a society, we need to think about what mainstream tools we have for unpacking our own perspectives. Is "sharing" enough? "Likes"? What happens to the things you shared last year? And can the tools we build today help you understand how your thinking has changed over time?
  p Think of Are.na as a connected archive of human knowledge.
  img(src="images/feynman-arena.svg" class="no-border")
