.about-section.about-section--pitch
  h2.center About Are.na
  img(src="images/feynman-arena.svg")
  p On Are.na, you organically combine images, links, files and texts into collections (we call them channels). Use it collaboratively, publicly or privately. Once you get the hang of it, its dead-simple to use for just about any idea.
  p Think of it as a connected archive of human knowledge.
