.about-section.about-section--features
  h2.center Some premium features
  .premium-features
    .premium-features__feature
      .premium-features__feature__image
        a(class="image-view" href="https://d2w9rnfcy7mm78.cloudfront.net/732625/original_301dd572eb65b962f3b27b620f96a1bf.jpg")
          img(src="https://d2w9rnfcy7mm78.cloudfront.net/732636/original_e0baa62088c8ded41903d08223362ccc.jpg")
      .premium-features__feature__title List View
      .premium-features__feature__desc Great for channels where you need to scan titles, text, or URLs
    .premium-features__feature
      .premium-features__feature__image
        a(class="image-view" href="https://d2w9rnfcy7mm78.cloudfront.net/732638/original_5211c620d9ce9210b209d6e25641cc68.jpg")
          img(src="https://d2w9rnfcy7mm78.cloudfront.net/732641/original_bc884de1274c73e18d709716de535831.jpg")
      .premium-features__feature__title Quick Search
      .premium-features__feature__desc Search content within channels to narrow down what you're looking for
    .premium-features__feature
      .premium-features__feature__image
        a(class="image-view" href="https://d2w9rnfcy7mm78.cloudfront.net/732629/original_ae36c57704df1e8d535748a78c2b718b.jpg")
          img(src="https://d2w9rnfcy7mm78.cloudfront.net/732634/original_9411421551051827c3fcf99dde8c00ef.jpg")
      .premium-features__feature__title Manage Channels
      .premium-features__feature__desc Manage all the details of your channels in one place