.about-section.about-section__principles
  h1 Transparency
  p We value transparency and we aim at being self-sustainable. We will never sell data without explicit authorization from the user. We will never display ads or join an ad network, and we're committed to retain complete control of the platform.
  p We partly rely on our premium users who have access to a #[a(href="/tools/premium") series of extra features] for a yearly subscription.
  .static__graph
    .static__graph-title
      | Expenses, goals and revenue for the year 2016
    .static__graph-fill.step-1
      .static__graph-mark
        .mark-label
          | Premium users
    .static__graph-fill.step-2
      .static__graph-mark.static__graph-mark__lower
        .mark-label.mark-label__lower
          | Labs projects, store, grants and donations
      .expense.expense-1
        .expense-label
          | $20,000
          br
          | Basic infrastructure costs
    .static__graph-fill.step-3
      .expense.expense-2
        .expense-label
          | $70,000
          br
          | Part-time
          br
          | salaries