.home-section
  .home-section__inner
    h1.home-header We value transparency and we aim at being self-sustainable. We will never sell data without explicit authorization from the user. We will never display ads or join an ad network, and we're committed to retain complete control of the platform.
    br
    h1.home-header We partly rely on our premium users who have access to a #[a(href="/tools/premium") series of extra features] for a yearly subscription.
    br
    .static__graph
      .static__graph-fill.step-1
        .static__graph-mark
          .mark-label
            | Total premium users
            br
            strong 65
      .static__graph-fill.step-2
        .static__graph-mark
          .mark-label
            strong 250
            br
            | Premium users needed to cover basic expenses
      .static__graph-fill.step-3
        .static__graph-mark
          .mark-label
            strong
            br
            | New milestones to come
      .static__graph-fill.step-4
        .static__graph-mark
          .mark-label
            strong 9200
            br
            | Total Are.na users
    img(
      data-src="#{sd.IMAGE_PATH}iconic/nav-arrow-l.svg"
      class="iconic iconic-sm home-arrow pointer"
      data-multiplier="1"
    )
