.about-section.about-section--team
  h1 Team
  p
    ul
      li: a(href="/charles-broskoski") Charles Broskoski
      li: a(href="/daniel-pianetti") Daniel Pianetti
      li: a(href="/chris-sherron") Chris Sherron
  p
    span Advisors:
    a(href="/damon-zucconi")  Damon Zucconi
    | ,
    a(href="/dena-yago")  Dena Yago
    | ,
    a(href="/daniel-brewster")  Dan Brewster
    | ,
    a(href="/john-michael-boling")  John Michael Boling
    | ,
    a(href="/morgan-sutherland")  Morgan Sutherland
    | &nbsp;and
    a(href="/j-stuart-moore")  J. Stuart Moore
    | .