.channel-embed
  &__header 
    &__logo svg
      padding-top 5px
      width 27px
      height 30px
      fill textgray
    .path__inner
      padding (unit / 2) 0
      border-bottom 1px solid bordergray
      margin 0 10px unit
    .path__headline
      margin-bottom 0
      font-size 1.25rem
      display flex
      float none
      align-items center
      justify-content space-between
  @media (min-width:(block_width_mar * 3) + 20) and (max-width:(block_width_mar * 4) + 20)
    .block-collection
      .block-item:nth-of-type(1n+6):not(.grid__block--embedded)
        display none
  @media (min-width:(block_width_mar * 2) + 20) and (max-width:(block_width_mar * 3) + 20)
    .block-collection
      .block-item:nth-of-type(1n+4):not(.grid__block--embedded)
        display none
  @media (min-width:0) and (max-width:(block_width_mar * 2) + 20)
    .block-collection
      .block-item:nth-of-type(1n+3):not(.grid__block--embedded)
        display none
    .path__headline
      font-size 1rem