.channel-container
  padding 32px 0 0 0
  border-top 1px solid backgroundgray

  .flex-container:before, .flex-container:after
    display none

.channel--drop-zone
  display none
  background-color rgba(255,255,255, 0.96)
  z-index lightbox_z

  &.is-droppable
    display block

  .abs-fill, &.abs-fill
    position fixed

  .inner
    pointer-events none
    position fixed
    top 50%
    width 100%
    text-align center
    v-align()

  .channel--drop-zone__progress
    width 0px
    background-color rgba(221, 221, 221, 0.35)

  input[type='file']
    display none

  h1
    font-weight normal

  .channel--drop-zone__feedback
    display none

  .channel--drop-zone__instructions
    display block

  &.is-uploading

    .channel--drop-zone__feedback
      display block

    .channel--drop-zone__instructions
      display none

.collaborators__edit
  display none

.is-editing
  .collaborators__edit
    display block

  .collaborators__read
    display none

  .collaborators__edit__result__remove
    font-size 10px
    margin-right 6px
    color alert
    cursor pointer

    &:before
      top -1px
      font-size 8px

  .collaborators__edit__result
    color hovergray
    font-weight bold

.collaborators__new-collaborator
  padding-top 3px

#new-collaborator__search, .new-collaborator__results
  display none

.is-active
  #new-collaborator__search, .new-collaborator__results
    display block

  .new-collaborator__results__result
    background #fff
    padding 6px
    font-weight bold
    cursor pointer
    width 151px

  .new-collaborator__results__result:hover
    background-color lightgrayplus
    color hovergray

  .new-collaborator__result__add
    font-size 10px
    margin-right 6px
    color hovergray

    &:before
      top -1px
      font-size 8px

  #new-collaborator__search
    padding 3px

  .new-collaborator__results
    position absolute
    z-index 9999

  .new-collaborator__add
    display none
