.channel-container
  padding-top unit
  position relative

  .flex-container:before, .flex-container:after
    display none

  .channel-empty
    display none

  &.is-empty .channel-empty
    display table

.channel--drop-zone
  -webkit-transform translateY(-1000%)
  -ms-transform translateY(-1000%)
  transform translateY(-1000%)
  background-color rgba(255,255,255, 0.96)
  z-index lightbox_z

  &.is-droppable
    -webkit-transform translateY(0)
    -ms-transform translateY(0)
    transform translateY(0)

  .abs-fill, &.abs-fill
    position fixed

  .inner
    pointer-events none
    position fixed
    top 50%
    width 100%
    text-align center
    v-align()

  .channel--drop-zone__progress
    width 0px
    background-color rgba(221, 221, 221, 0.35)

  input[type='file']
    display none

  h1
    font-weight normal

  .channel--drop-zone__feedback
    display none

  .channel--drop-zone__instructions
    display block

  &.is-uploading

    .channel--drop-zone__feedback
      display block

    .channel--drop-zone__instructions
      display none

.collaborators__edit
  display none

.export__status
  color alert

.delete-channel--confirmation
  color alert
  display none

  &.is-active
    display block

  .delete-channel--confirmation__no
    margin 0 0 0 6px

#metadata--info__description
  width 100%

  .attr-value p
    margin-bottom (unit / 2)

#metadata--description, #metadata--info
  .attribute-group textarea
    font-size 12px

    &:focus
      height 80px

  span
    margin-right 6px
    color textgray

  span:hover
    hovergray

#metadata--info__collaborators span
  color lightgray

.collaborators__edit
  display block

.collaborators__edit__result__remove
  font-size 10px
  margin-right 6px
  color alert
  cursor pointer

  &:before
    top -1px !important
    font-size 8px !important

.collaborators__edit__result
  color hovergray
  font-weight bold

#new-collaborator__search, .new-collaborator__results
  display block

.new-collaborator__results__result
  background #fff
  padding 6px
  font-weight bold
  cursor pointer
  width 151px

.new-collaborator__results__result:hover
  background-color secondbackgroundgray
  color hovergray

  .new-collaborator__result__add
    color hovergray

.new-collaborator__result__add
  font-size 10px
  margin-right 6px
  color textgray

  &:before
    top -1px !important
    font-size 7px !important

#new-collaborator__search
  padding 3px

.new-collaborator__results
  position absolute
  z-index 9999

.new-collaborator__add
  display none

#metadata--connections, #metadata--container
  position relative

#metadata--connections
  overflow-y visible

#metadata__column-manage
  display none

.connect_button a
  color textgray

#metadata__column-manage
  .toggle-settings-trigger
    width 14px
    float right
    margin 4px 4px 0 0
    svg
      width 14px
      height 14px
      fill lightgray
    &:hover
      svg
        fill hovergray

#metadata--connections
  word-break break-word

#metadata__column-manage.is-editable
  position absolute
  top 0
  right 0
  padding-top 0

.form__field__channel-filter
  height 51px
  width 100%
  position relative

  input
    background #fff
    width 100%
    margin 0
    padding-left 50px

  input:focus
    background backgroundgray

  &__icon
    position absolute
    left 0
    top 0
    padding 11px
    max-width 40px
    max-height 50px

    svg
      height 30px
      width 20px

      .iconic-magnifying-glass-lg
        display none

      .iconic-magnifying-glass-md
        display none

      .iconic-magnifying-glass-sm
        display inline

      & *
        stroke lightgray
        fill lightgray

  &__close
    position absolute
    left 16px
    font-size 31px
    top 10px
    display none
    color lightgray

  &--list
    font-size 13px
    border-bottom 1px dotted bordergray
    .form__field__channel-filter__icon
      padding 18px
      svg
        height 15px

.form__field__channel-filter.is-active
  .form__field__channel-filter--close
    display block
  .form__field__channel-filter--icon
    display none


.channel-results-container
  position absolute
  top 0
  left 0
  width 100%
  padding-top 32px
  display none

  &.is-active
    display block
