.channel-container
  padding-top unit
  position relative

  .flex-container:before
  .flex-container:after
    display none

  .channel-empty
    display none

  &.is-empty .channel-empty
    display block

.channel
  .metadata--container
    padding-bottom 0

.channel--drop-zone
  transform translateY(-1000%)
  background-color rgba(255,255,255, 0.96)
  z-index lightbox_z

  &.is-droppable
    transform translateY(0)

  .abs-fill, &.abs-fill
    position fixed

  .inner
    pointer-events none
    position fixed
    top 50%
    width 100%
    text-align center
    v-align()

  .channel--drop-zone__progress
    width 0px
    background-color rgba(221, 221, 221, 0.35)

  input[type='file']
    display none

  h1
    font-weight normal

  .channel--drop-zone__feedback
    display none

  .channel--drop-zone__instructions
    display block

  &.is-uploading

    .channel--drop-zone__feedback
      display block

    .channel--drop-zone__instructions
      display none

.export__status
  color alert

.delete-channel--confirmation
  color alert
  display none

  &.is-active
    display block

  .delete-channel--confirmation__no
    margin 0 0 0 6px

.channel-results-container
  position absolute
  top 0
  left 0
  width 100%
  padding-top 32px
  display none

  &.is-active
    display block

@require './embed.styl'
