.Connection
  display block
  collapsed-margins(0.5em)
  border 2px solid
  cursor pointer

  &__item
    display flex
    align-items center
    justify-content space-between
    padding button-padding

  &__info
    align-items baseline
    display flex
    margin-right 0.5em

  &__info
  &__title
  &__author
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

  &__title
  &__author
    line-height line-height-base

  &__title
    font-size font-size-base

  &__blocks
  &__author
    font-size font-size-xs

  for visibility in 'public' 'closed' 'private'
    &[data-visibility=\'{visibility}\']
      color lookup('colors-channel-' + visibility)
      border-color rgba(@color, colors-border-alpha)
      &:hover
        border-color @color

  &[data-visibility='placeholder']
    cursor default
    color colors-gray-light
    border-color rgba(@color, colors-border-alpha)
    &:hover
      border-color @color
