borderColor(color)
  rgba(color, 30%)

.Connection
  margin unit 0
  border 2px solid
  cursor pointer
  display block

  // Colors
  &[data-visibility='private']
    border-color borderColor(colors-channel-private)
    color colors-channel-private
    &:hover
      border-color colors-channel-private
  &[data-visibility='public']
    border-color borderColor(colors-channel-public)
    color colors-channel-public
    &:hover
      border-color colors-channel-public
  &[data-visibility='closed']
    border-color borderColor(colors-channel-closed)
    color colors-channel-closed
    &:hover
      border-color colors-channel-closed

  // Structure
  &__inner
    display table
    width 100%
    height 100%
    table-layout fixed
    padding (unit / 2)

    &__left, &__right
      display table-cell
      vertical-align middle
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
    &__left
      width 65%
      overflow hidden
      &__title
        font-size font-size-lg
      &__block-count
        vertical-align middle
        font-size font-size-xs
    &__right
      width 35%
      text-align right
      font-size font-size-xs
      