.Connect__search
  font-size font-size-xs
  box-shadow inset 0 0 0 1px colors-gray-lighter

  // Use border to inset the same amount as the wrapper
  border connect-outer-border-size solid white
  &:focus
    border @border
