.BlockCollectionConnectIntegration__border
  .BlockCollectionConnectIntegration__body.js-render
    //- Rendered separately

  .BlockCollectionConnectIntegration__close.Button.Button--divider.Button--size-sm.js-close
    | Close
