.LoggedOutHeader
  position fixed
  transform translateZ(0)
  display flex
  flex-direction row
  justify-content space-between
  top 0
  right 0
  left 0
  padding 1em
  font-size font-size-base
  line-height 1
  z-index 1

  // **
  &__logo
    // height primary-icon-height

    &:hover
      > span > svg
        fill colors-gray-hover

  &__cta
    > a
      display inline-block
      font-weight bold

    // "Join"
    > a:first-child
    // "or"
    > span
      visibility hidden

  // States
  &--active
    .LoggedOutHeader
      &__cta
        // "Join"
        > a:first-child
        // "or"
        > span
          visibility visible

// Since the hamburger nav is not present on the index,
// it's not necessary to toggle out the logo
html:not([data-path='/'])
  +below(logged-out-nav-breakpoint)
    .LoggedOutHeader
      background-color white
      padding 1em

      &__logo
        display none

// No hiding shenanigans when we're logged in
html[data-logged-in]
  .LoggedOutHeader__cta > a
    visibility visible
