h2.feed-group__sentence.is_comment
  span.feed-group__sentence__username
    a(href="/#{comment.get('user').slug}" class="username")=comment.get('user').username
    span :
    span &nbsp;
  .feed-group__sentence__comment!=comment.getHtml()
  .feed-group__timestamp=comment.createdAtAgo()
