.channel-empty.valign-outer
  .valign-inner
    h1 No activity on your feed yet
    h1 Try using the #[a(href="/tools/find-friends") find friends tool ]  or #[a(href="/explore") exploring ] to view recent public channels from other users.
