.channel-empty
  h1 No activity on your feed yet
  h1 Try using the #[a(href="/tools/find-friends") find friends tool ]  or the #[a(href="/explore") explore page ] to find users or channels to follow.
