.channel-empty
  h2 No activity on your feed yet.
  h2 Try using the #[a(href="/tools/find-friends") find friends tool ]  or the #[a(href="/explore") explore page ] to find users or channels to follow.
