@import '../../node_modules/jeet/stylus/jeet'

.block-collection

.block
  column(1/4, cycle: 4)
  margin-bottom: 70px;
  height: 300px
  padding: 1em
  background-size: contain
  background-position: center center
  background-repeat: no-repeat
  border: 1px solid transparent
  overflow: hidden
  position: relative

  colors = 'closed' closed, 'public' public, 'private' private
  for color in colors
    &{'.privacy-' + color[0] + ':hover'}
      border: 1px solid color[1]
